[2016-04-21 21:12] david-mcmahon opened #2 "Improve pre-release reporting dashboard"
[relnotes](https://github.com/kubernetes/release/blob/master/relnotes) has a mechanism for generating a release preview that is currently used internally at Google, but it would be great to expose this externally so the whole community can keep a regular eye on a release all along the way until it is cut.  The report provides the following:

- Preview of the release notes that will ship with a rel

[2016-05-26 17:33] bgrant0607 opened #3 "Create a client tool release"
Addon components get updated in Kubernetes clusters by updating manifests referring to new image tags. The images don't need to be bundled directly with the Kubernetes release because they are just pulled from the registry.

Tools, however, typically can't be pulled in that way. However, we would like to make it easy for users to get popular tools. [Helm](https://github.com/kubernetes/helm) is a p

[2016-05-26 17:33] bgrant0607 commented on #3
cc @pwittrock

[2016-05-26 17:38] pwittrock commented on #3
Would this include upgrading bundled tools when upgrading releases?

[2016-05-27 23:29] bgrant0607 commented on #3
@pwittrock We'd ship the latest release of each tool. We don't provide an installer. The distros do that.

[2016-06-14 16:45] david-mcmahon opened #7 "Get mocked (not pushed) releases running continuously"
We want the release process to run continuously on Jenkins or elsewhere so we can validate the final state before pushes occur.

cc @lavalamp

[2016-06-14 22:59] david-mcmahon opened #10 "Write the "sync new release branch to master" tool"
See https://github.com/kubernetes/release/blob/master/docs/branching.md for details.

[2016-06-15 06:00] lavalamp opened #13 "Make PRs, *don't* push directly to master during release process"
It really confuses the build cop and could interfere with what they're doing at the moment.

[2016-06-15 20:32] david-mcmahon commented on #13
We talked offline about this some:
* infra errors/gotchas by their nature have more impact than bugs in the product
* Release velocity would be significantly reduced by inserting unecessary roadblocks into the process
* Non-atomic (some changes to branch now and some to master later) changes could introduce unforeseen issues
* Continuous integration / testing of release is on the releng roadmap.

[2016-06-15 20:38] lavalamp commented on #13
And as I said:
* Build cop needs to be aware this script is being run and that it is going to push commits to master. The human running the script should not run the script if the build cop is putting out a fire.
* The submit queue's current test is technically invalidated by this push to master.

[2016-06-15 20:47] david-mcmahon commented on #13
Identifying the things pushed to master during a release
* [mungedocs](https://github.com/kubernetes/release/blob/master/anago#L722)
* [update the base.go file](https://github.com/kubernetes/release/blob/master/anago#L239)
* [CHANGELOG.md](https://github.com/kubernetes/release/blob/master/anago#L269)
* [tags](https://github.com/kubernetes/release/blob/master/anago#L379)

[2016-06-17 18:11] david-mcmahon commented on #13
Concerns over the release process and pushing to master should be discussed in this issue.
These actions are currently expressed in code and should be addressed there as well.

Releases happen at least every 2 weeks and push tags and minimal changes to up the master as part of it.  Lets get any concerns addressed and fixed in the code.

This [comment](https://github.com/kubernetes/release/issues/1

[2016-06-17 22:21] david-mcmahon commented on #13
Note: There are releases coming up at least one a week for the next few weeks.  If we want to do something to address this, let's do it sooner than later.

[2016-06-17 22:34] lavalamp commented on #13
Unfortunately I really don't have time to wrap my head around that bash-- I'm doing too many things.

@fabioy is the next build cop. Fabio, do you have time to look at this?

@david-mcmahon more thoughts:

* I glanced at the code and didn't see any verify scripts getting called, but I probably missed it. I also don't trust running the scripts locally to be a good proxy for whether they will fail i

[2016-06-17 22:36] fabioy commented on #13
@lavalamp Yeah, I can take a look at this. I'll try to get the context from this issue, else I'll ping David... :)

[2016-06-17 23:07] david-mcmahon commented on #13
Let's look more closely at each commit to master:
* [mungedocs](https://github.com/kubernetes/release/blob/master/anago#L722) - Dependent .go sources updated and update-munge-docs.sh run to handle the generated files
* [update the base.go file](https://github.com/kubernetes/release/blob/master/anago#L239) - gitMajor, gitMinor values tied closely to the tag that is pushed at the same time.  These s

[2016-06-17 23:25] david-mcmahon commented on #13
Another thought on the CHANGELOG.md.  While it's certainly customary and desirable to have a CHANGELOG in the root directory that reflects release notes/changes, we could go back to publishing those solely on the github releases page or in another repo altogether (kubernetes.github.io? @johndmulhausen)
My concerns there are discoverability, inconvenience, release note public/process churn and rela

[2016-06-18 00:53] lavalamp commented on #13
I can buy that the base.go change is necessary and safe in addition to the
tags change.

.md file changes are scarier on account of our mungers...

On Fri, Jun 17, 2016 at 4:25 PM, David McMahon <notifications@github.com>
wrote:

[2016-06-24 21:03] #10 closed

[2016-06-25 00:23] david-mcmahon opened #17 "Release note targeting for multiple branches"
There's no way to target different release note states for multiple branches due to the fact that the release note state is based on the one source PR, not the individual cherry-picks.

For example, #27861 seems like a good release note for 1.3 but we don't want it as a relnote for 1.2.5 (since it was rolled back).

The fix probably entails checking the cherry-pick for a release note state and let

[2016-06-25 14:56] erictune commented on #17
Can the release note generator detect rolled back changes?

On Fri, Jun 24, 2016 at 5:23 PM, David McMahon <notifications@github.com>
wrote:

[2016-06-27 19:09] david-mcmahon opened #18 "Allow for staged release steps for milestone releases"
This came up today as we're approaching the 1.3 release.  There's not much time to do anything (carefully) for this release, but for 1.4 lets collect the requirements here for allowing for a staged release process, if needed.

This is related to the timing of press announcements and PM engagements as we approach a release.  To move ahead here we'll need to collect some requirements.

@aronchick

[2016-06-28 00:37] david-mcmahon commented on #17
@erictune No.  I had considered adding that, but then our canonical method for exposing release notes is through labeling and that single interface provides more flexibility in deciding what should or should not be captured as a release note (rollback spanned releases, rollback itself was relevant for capturing the fact that a feature didn't make it in a release, etc).  Adding more moving parts he

[2016-07-01 22:03] david-mcmahon opened #25 "Post-1.3 Release Note ideas"
- [ ] Update branch CHANGELOG.md with a link to master (the canonical place for release notes)
- [ ] Capture human-generated release note items such as Major Themes, etc somewhere so they can be pulled into the CHANGELOG at release time for 1.X.0 releases.
  - Is this a file in root like CHANGELOG-DRAFT-1.4.md (that gets deleted upon inclusion into CHANGELOG at release time? Or is it a link to kub

[2016-07-02 00:45] erictune opened #26 "Stars in multiline release note"
https://github.com/kubernetes/kubernetes/pull/28132
has a multiline release note, which renders as this in the CHANGELOG.md:

---
* If you use one of the kube-dns replication controller manifest in `cluster/saltbase/salt/kube-dns`, i.e. `cluster/saltbase/salt/kube-dns/{skydns-rc.yaml.base,skydns-rc.yaml.in}`, either substitute one of `__PILLAR__FEDERATIONS__DOMAIN__MAP__` or `{{ pillar['federation

[2016-07-02 00:53] david-mcmahon commented on #26
Yes I wrestled with this trying to normalize a very varied stream of notes entered by folks.
The rule I settled on is that newlines get stars because more often than not that worked out for formatting.

If a continuous line is desired, edit the PR to make the change and we'll regenerate.

[2016-07-08 23:19] david-mcmahon opened #31 "Continuous releases using some CI engine"
We want releases to happen more or less automatically by:
- Determining the state of tree and testing (getting a binary signal)
- Producing alpha releases based on this criteria automatically
- Producing regular staged patch (1.X.X) releases that can be triggered for push by a human with a single step when automated state is good and eyeballed state confirms.

[2016-07-09 00:04] david-mcmahon opened #32 "Enhance release staging dashboard and make external"
The beginnings of a very useful dashboard exist at https://x20web.corp.google.com/~djmm/k8s-master.html (internal only).  What else does it need?

* [ ] Make it external
* [ ] Make it prettier
* [ ] Based on testing state and the last good git hash that would be chosen for a release, cross out the release notes that would get missed if we released today(now).
* [ ] ???

Closing.  Dup of #2

[2016-07-09 00:18] #32 closed

[2016-07-09 00:31] erictune commented on #32
Having release notes for the current candidate seems useful.  Need some
experience with it to know if anything else is needed.

On Fri, Jul 8, 2016 at 5:19 PM, David McMahon <notifications@github.com>
wrote:

[2016-07-09 00:37] david-mcmahon commented on #32
Yes, thanks. Please add any suggestions to #2.

[2016-07-19 16:47] mikedanese opened #37 "package kubelet and cni plugins in RPMs"
We should have seperate RPMs for cni plugins and kubelet. They should depend on a compatible docker version. They should be built and published during the release process.

cc @dgoodwin

[2016-07-20 13:00] ingvagabund commented on #37
@mikedanese @dgoodwin can you be more descriptive what is intent of this PR?

[2016-07-20 13:05] dgoodwin commented on #37
I'm just starting to look into this, but I think I should check that everyone is in agreement it's worth doing and make sure I understand the goals.

Kubernetes RPMs are available out of the box today with Fedora / RHEL / CentOS and have had a lot of effort put into them. They originate from a relatively large specfile that builds from source and applies relevant patches for the distros, sub-packa

[2016-07-20 15:19] ingvagabund commented on #37
So the task here is to provide a general rpm for various distributions that will fetch the kubelet (and possibly other binaries) from kubernetes/kubernetes releases?

Kubernetes supports rkt as well. It would make more sense to have a requirement on a virtual provide (e.g. ``container-tech``) that would by provided by installed ``docker``, ``docker-engine``, ``rkt`` or any other container technolo

[2016-07-20 20:17] detiber commented on #37
I see there being two options that we have here.

1) Publishing a repo specific for this use case, for which I would probably recommend distributing through COPR.
2) Working with the upstream SIGs for Fedora/CentOS to align release schedules through their channels.

Granted #2 wouldn't support other RPM-based distros...

[2016-07-21 18:50] david-mcmahon opened #38 "Add in-release-X.Y.Z labels to issues at release time"
A way to inform issues/pulls that the item has been fixed in-release-X.Y.Z.

[2016-07-22 23:54] #26 closed

[2016-07-29 19:04] castrojo opened #44 "Investigate using snap packages"
http://snapcraft.io/

It  would be nice to have atomic operations for packaging as well as the ability to publish to an edge channel (perhaps per commit in master?), rollbacks, and other features.

I can find someone to help mentor.

[2016-07-29 21:05] mikedanese commented on #44
cc @mansoorj @kelseyhightower

[2016-07-29 21:05] mikedanese commented on #37
cc @mansoorj @kelseyhightower

[2016-08-02 16:19] rothgar commented on #44
Sadly these cross-distro packaging solutions have almost as many variations as their distro specific packaging managers.

- [AppImage](http://appimage.org/)
- [Flatpak](http://flatpak.org/)
- [Nix](https://nixos.org/nix/) <- not exactly the same

What is the scope or desire for using snap (or similar) to package Kubernetes releases? Easier installation?

I don't understand the benefit of snap over

[2016-08-02 17:29] castrojo commented on #44
Chuck covered this in the sig-cluster-lifecycle call so I'll add the responses here as well as clarify some of the other ones we mentioned since we were running out of time:

- Atomic commits are becoming increasingly important to our users, it would be nice to give people a bare-metal end-to-end kubernetes deployment with transactional packaging (including rollback).
  - In the future people can

[2016-08-02 17:47] rothgar commented on #44
I'm ignorant about the release process. Reading through some of this repo didn't explain the following questions so maybe someone can help

- Are other packages built from the official kubernetes release? (deb, rpm) I thought it was only static binaries and .tar.gz that was produced.
- If other packages are automatically created, how do those packages get pushed into their respective repos for the

[2016-08-02 17:50] rothgar commented on #44
@castrojo Thanks for including the notes. This makes a lot of sense to me if docker is bundled with the snap. It could easily keep compatible version of docker + kubelet together.

I have not tried snap myself so I'll need to play with how it works if I have docker on the host and then install/run a snap isolated docker daemon on the same system.

[2016-08-02 21:56] chuckbutler commented on #44
@rothgar You'll have to ensure the docker socket is inside the sandbox, or make a privileged snap and then it's the exact same principal as having a bootstrap docker daemon vs a workload docker daemon. The separate daemon approach was mentioned in the running kubernetes in docker guides.

[2016-08-03 00:02] david-mcmahon commented on #44
@rothgar This repo was setup to hold the release automation tooling wrapping the build tooling that exists in kubernetes/kubernetes and to handle all of the pushing, notifying, and release notes gathering around kubernetes releases.

It is expected that functionality will grow with contributions and we will use this repo to hold all things release and packaging related.

The build scripts in kuber

[2016-08-03 15:55] errordeveloper commented on #44
cc https://github.com/kubernetes/kubernetes/issues/26093

[2016-08-03 15:55] errordeveloper commented on #37
cc https://github.com/kubernetes/kubernetes/issues/26093

[2016-08-03 18:29] chuckbutler commented on #44
Ah! This is very helpful @errordeveloper. Thanks for the detailed callout of what we'll need to consider for the snaps. I'll take this list and confer with some of the snappy devs to ensure we can accommodate this list.

We'll spike on a first draft of what this looks like on Friday, and see where we end up. That'll give us a good first go at where we fell down if so, and what would need to be don

[2016-08-08 12:25] dgoodwin commented on #37
Just getting back from vacation but an update of where things were before, in meeting we discussed and decided that yes, there is a desire for upstream k8s to publish an RPM as part of the build process. I've got a spec file working, we discussed how it would be built and integrated into the release process on slack as it requires RPM tooling to do so, and decided a Docker container to build would

[2016-08-09 19:22] zmerlynn opened #51 "release/latest-*.txt are invalid builds"
Something (probably Anago?) is trashing the "latest.txt" files in the `release` gsutil bucket and making them useless for Jenkins. It's probably been happening for a while, but only the upgrade tests actually care, and they've been woefully ignored.

This is not supposed to produce a build that doesn't exist in GCS:
[code]

I'm going to shift the Jenkins builds over to the CI versions instead, but

[2016-08-09 19:22] zmerlynn commented on #51
cc @fabioy @maisem

[2016-08-09 19:26] zmerlynn commented on #51
Actually, even `gs://kubernetes-release-dev/ci/latest-1.2.txt` wrong right now, which is what Jenkins was attempting to pull.

[2016-08-09 19:32] zmerlynn commented on #51
Oh, sorry! `v1.2.7-beta.0` exists in `gs://kubernetes-release-dev/ci`. It's getting pushed to the wrong place.

[2016-08-09 19:41] zmerlynn commented on #51
False alarm. These releases totally exist, in both buckets.

[2016-08-09 19:52] zmerlynn commented on #51
I see what's wrong now.

[code]

We launch the `release` version in GKE (because `alpha` and `beta` releases come from the release bucket), and it's missing the `extra` directory.

[2016-08-09 20:13] zmerlynn commented on #51
I've manually corrected the `v1.3.5-beta.0` and `v1.2.7-beta.0` release directories. I'm leaving this bug open for analysis/tool correction.

[2016-08-10 00:51] #51 closed

[2016-08-18 00:41] david-mcmahon opened #56 "Produce signed binaries/artifacts for releases"

[2016-09-07 20:22] david-mcmahon opened #65 "FIx github auth for all the tooling"
The handling of github authentication is much like the rest of the tooling prereqs in this repo.  It should be a no-assumed-knowledge, guided process that handholds the user to getting their auth set up correct so they can get on with their lives (the running of the tool).

We make a few attempts to get auth set up correctly.
- https://github.com/kubernetes/release/blob/master/lib/gitlib.sh#L118
-

[2016-09-10 00:35] david-mcmahon opened #70 "relnotes can't determine a last release on a new branch"
It has to do with the github::last_releases() and how github's release page is our canonical source for releases.  We currently treat a branch event as a non-release event, so github's release page won't show a new branch beta tag as a release.  We either need to treat beta.0's as releases (probably best) or workaround the fact beta.0 is not a release.

cc @pwittrock @ixdy

[2016-09-10 00:54] pwittrock commented on #70
Betas as releases makes sense to me since we are doing that for alphas.

[2016-09-10 01:53] pwittrock opened #72 "Script waits until very end to fail because sendgmr isn't installed"
It should check for this at the start

Announcing k8s v1.4.0-beta.1 to pwittroc...
Checking required system packages: FAILED
PREREQ: Missing prerequisites: sendgmr Run the following and try again:

sudo goobuntu-add-repo sendgmr && sudo apt-get update
sudo apt-get install sendgmr

Exiting...

[2016-09-10 01:54] pwittrock opened #73 "Requires external repo for sendgmr"
We shouldn't require adding external repos

[2016-09-10 01:58] pwittrock opened #74 "Got 403 when trying to get a release for release-1.4"
07800600576: Preparing
Post https://gcr.io/v2/kubernetes-release-test/hyperkube-arm64/blobs/uploads/: token auth attempt for registry: https://gcr.io/v2/token?
account=oauth2accesstoken&scope=repository%3Akubernetes-release-test%2Fhyperkube-arm64%3Apush%2Cpull&service=gcr.io request failed with
status: 403 Forbidden
anago::logrun(): .
anago::release::docker::release(): /usr/local/google-cloud-sdk/

[2016-09-10 05:18] david-mcmahon commented on #74
Can you attach a full log?

[2016-09-10 15:57] pwittrock commented on #74
Yes I will do that.  I will need to scp them from my machine this afternoon.

[2016-09-10 17:39] pwittrock commented on #74
[anago.log](https://github.com/kubernetes/release/files/465538/anago.txt)

[2016-09-10 19:03] pwittrock commented on #74
Looks like the issue is pushing to gcr.io.  If I run the script as the production user then it tells me to switch to my personal gcloud user, but then it fails to push to gcr.  Is this because I am running in mock mode?

** /usr/local/google-cloud-sdk/bin/gcloud docker push gcr.io/kubernetes-release-test/kube-proxy:v1.4.0-beta.1**
The push refers to a repository [gcr.io/kubernetes-release-test/kub

[2016-09-10 19:09] pwittrock commented on #74
It looks like the production user only gets activated when running in nomock, and I do not have permissions to write to the mock registry

[code]

Log Line

anago::release::docker::release(): Send docker containers to gcr.io/kubernetes-release-test...

So it is just trying to push as me.  I am going to try to run in nomock mode to see if solves the problem.

[2016-09-10 19:12] pwittrock opened #76 "Cannot cut 1.4 beta because releases restricted to certain users"
────────────────────────────────────────────────────────────────────────────────
CHECK CREDENTIALS
────────────────────────────────────────────────────────────────────────────────

Checking for valid github credentials: OK
Releases restricted to certain users!

Signal ERR caught!

[2016-09-10 19:21] pwittrock commented on #76
If I manually hack around the whitelist I get this failure:

Checking writability to kubernetes-release: FAILED

[2016-09-10 20:19] #76 closed

[2016-09-10 20:19] #72 closed

[2016-09-10 20:21] pwittrock commented on #74
I tried updating the script to always change the user and pushing the images still fails...

[2016-09-10 20:26] david-mcmahon commented on #74
Looks like you need permission to gcr.io/kubernetes-release-test.
There's also a bug that this isn't checked in the prereqs.

[2016-09-10 20:30] pwittrock commented on #74
How do I get that :P

[2016-09-19 19:05] lukemarsden opened #91 "deb packages should auto-start kubelet"
In SIG-cluster-lifecycle, we discussed and agreed that we should adhere to local conventions with our packages.

In Debian-based distributions, this means auto-starting daemons when you install them.

– https://lists.debian.org/debian-devel/2012/06/msg00047.html

In the case of the kubelet, it should result in the kubelet entering a crashloop until `kubeadm` or an administrator has given it workin

[2016-09-19 19:07] lukemarsden commented on #91
I think we just need to bundle a `postinst` script which runs `systemctl enable kubelet && systemctl start kubelet`.

[2016-09-20 00:17] errordeveloper commented on #91
@lukemarsden please reopen, we need follow up on @mikedanese's comment https://github.com/kubernetes/release/pull/92#issuecomment-248128897.

[2016-09-20 11:05] rustyrobot opened #97 "Should kubelet depend on kubectl and kubernetes-cni?"
Kubelet debian package [depends on](https://github.com/kubernetes/release/blob/master/debian/xenial/kubelet/debian/control#L13) `kubectl` and `kubernetes-cni`.

1. Should it depend on `kubectl`? It looks like an optional dependency and is not required to be installed on each minion.
2. Should it depend on `kubernetes-cni`? What we currently have there? If `kubelet` can work without `kubernetes-cni

[2016-09-20 11:35] dgoodwin commented on #97
I'm quite new to all this but my current understanding was that on a typical node you will install kubelet, but have no need for kubectl on those hosts, so they should not depend on each other at all.

I'm not really familiar with CNI or the networking, but I thought it was an optional component and kept it off the kubelet deps for time being.

[2016-09-20 11:46] pires commented on #97
`kubelet` doesn't have such dependencies, so I'm in favor of removal.

[2016-09-20 12:45] lukemarsden opened #98 "kubeadm deb must systemctl daemon-reload"
Because the kubeadm deb drops in some kubelet configuration, we must:
[code]
in its postinst configure step, otherwise kubelet starts up with no flags and doesn't crashloop, so `kubeadm` setup fails.

[2016-09-20 15:10] mikedanese commented on #97
I think we should depend on kubernetes-cni, but I don't think we should depend on kubectl. kubernetes-cni is basically required for core networking functionality like running flannel. e.g. we depend on socat even though port forwarding is an "optional" feature. kubectl on the other hand should only be installed on the master.

We need to do a pass and figure out how we can make the rpms and debs f

[2016-09-20 15:14] luxas commented on #97
for me:
`kubelet` should depend on `kubernetes-cni`, but not `kubectl`
`kubeadm` should depend on both `kubectl` and `kubelet`

[2016-09-20 15:21] luxas commented on #97
Why not?

I see kubectl as a not-so-heavy-dep, and the most of users want it on their machines.
If they're installing kubeadm which is a CLI tool, kubectl CLI tool is handy to have as well.

[2016-09-20 15:22] #91 closed

[2016-09-20 15:22] errordeveloper commented on #97
@rustyrobot the instructions in kubeadm docs will refer to kubectl (e.g.
for installing network add-on), so it would be sort of sub-optimal to not
pull it in.

@luxas I recall you have captured all kubelet deps, has that been reflected
in out package specs?

On Tue, 20 Sep 2016, 16:16 Evgeny L, <notifications@github.com> wrote:

[2016-09-20 15:26] luxas commented on #97
Documented here: https://github.com/kubernetes/kubernetes/issues/26093#issuecomment-240157695

I think I covered the most of them already: https://github.com/kubernetes/release/blob/master/debian/xenial/kubelet/debian/control#L13

[2016-09-21 15:03] #97 closed

[2016-09-21 23:09] david-mcmahon commented on #38
ref https://docs.google.com/spreadsheets/d/1MeTQbtSiTCoQ74zjEGRI1rXRSP0Tzmo9-kMJSK_HGoA/edit#gid=0

[2016-09-22 07:39] errordeveloper opened #113 "CNI cosmetics"
# Paths

We've had to put CNI bits in `/opt`, as there was no way to tell kubelet to look in other places. As of kubernetes/kubernetes#32151 (already in 1.4), we can pass `--cni-bin-dir=` as well as `--cni-conf-dir=` to kubelet. I makes sense to put the plugins into `/usr/lib/cni` or `/usr/lib/kubelet/cni/bin` or `/usr/libexec/cni` - anything other then `/opt` is good. The reason for this is that

[2016-09-23 21:09] david-mcmahon opened #114 "Dynamic disk space check for anago"
Right now the anago release tool has a disk check in it to make sure we have enough disk to do a full release build, but it's static and the state of Kubernetes (and how big it is) is wildly in flux

I'd like to dynamically set the disk requirements based on a recent continuous build directory (cross-build?).

Looking for a number like this:

[code]
##

Some thoughts from the seeding email thread:

[2016-09-26 19:18] luxas commented on #98
This is fixed

[2016-09-26 19:18] #98 closed

[2016-09-26 19:23] ixdy opened #118 "release notes and changelog all TBD on official release"
Not sure what happened, but the official announcement for 1.4.0 had a bunch of TBDs/TODOs - see [the email](https://groups.google.com/d/msg/kubernetes-dev/EaBh47mzpVk/5mXeXHYeGgAJ) and [CHANGELOG](https://github.com/kubernetes/kubernetes/blob/0e22d072a3de75429a19edc196999b33bc71d05b/CHANGELOG.md#v140).

@pwittrock has the `anago.log` and will upload it somewhere so we can analyze.

[2016-09-26 19:25] david-mcmahon opened #119 "Incorporate draft release notes into relnotes generation at release time"
It looks like we went a new route with release notes for 1.4.  We'll need to make sure we get these new steps and process integrated into the e2e workflow so that 1.5 Just Works.

cc @spiffxp @erictune @pwittrock @ixdy

[2016-09-26 19:27] david-mcmahon commented on #118
WAI.  dup of #119

[2016-09-26 19:27] #118 closed

[2016-09-26 19:31] david-mcmahon commented on #119
Some options:
* Detect the draft in CHANGELOG.md and update it
* I earlier suggested building up the draft release notes in the wiki and then publishing (at release time) directly from there (scripted).
  * This provides the additional benefit of ease of editing and submitting and visibility on the lead up to the release
  * Easy to automate API to extract formatted text from wiki

[2016-09-26 19:34] david-mcmahon commented on #119
Czars and release notes maintainers past and present, please make your preference heard or make alternate suggestions.

[2016-09-26 20:37] pwittrock commented on #119
Using a gist or wiki page and requiring an argument which is the link to the release notes SGTM

[2016-09-26 21:08] erictune commented on #119
Wiki would be fine.

Need to clarify in what the exact logic would be.
- Does wiki contents get injected in between the "Downloads" and "Previous Relases included In" sections?
- Why is there no "Changelog since" section in the minor releases, and is one needed and if so how does it work.
- Should "Features" section be generated (@spiffxp what do you do?)

[2016-09-26 21:21] spiffxp commented on #119
I used a pre-release version of https://github.com/github/hub and used the `hub issues` command with a pile of bash to generate a starter list.  Updates were made manually since then.

One of the confusing things was that I couldn't just look at the v1.4 milestones, since some feature owners had bumped them up to v1.5 to track the next iteration, eg: planning to have an alpha-in-1.4 feature turn i

[2016-09-26 21:28] spiffxp commented on #119
Many of the features repo issues were less than helpful for determining what the feature actually was, and what had actually been done.  if we're going to put in these massive checklists, we need to actually use them, or make them small enough that they don't scare people away

Some people linked to kubernetes.github.io PR's, others linked to the final (but not actually deplpoyed) site; this gener

[2016-09-26 22:37] #70 closed

[2016-09-26 22:53] david-mcmahon opened #122 "Track/record features for release notes"
Moved from https://github.com/kubernetes/kubernetes/issues/23070

Currently, PRs having release-note label is automatically included as part of the release notes. This process does not work for big features though.
We need to track issues that represent features as well and include a gist from those issues in the release notes.

cc @vishh @spiffxp @pwittrock @erictune

[2016-09-26 22:54] david-mcmahon commented on #122
From email to kubernetes-dev:

One thing that was clear is that most people didn't know what should go into the release notes. In a number of cases, I had to ask specific people to add specific items to specific sections. The only way I could do that is I knew what was in the release and how the release notes should be organized.

We need a template for release notes, guidelines for what belongs i

[2016-09-26 23:32] spiffxp commented on #122
ref #119 for how I manually did it for v1.4.0

[2016-09-28 23:37] ixdy opened #128 "Latest release tag on github is wrong"
Looking at https://github.com/kubernetes/kubernetes/releases, the current "latest release" is v1.3.8, which was built 21h ago, rather than v1.4.0, which was built 2 days ago.

I'm guessing this is because v1.3.8 is newer, and the "latest" tag is automatically applied by GitHub? Is there any way to fix this?

cc @pwittrock @fabioy

[2016-09-28 23:40] david-mcmahon commented on #128
v1.3.8 is the latest chronologically.  Maybe this is WAI?  I can't seem to find guidance on what the "latest release" label is supposed to indicate.

[2016-09-28 23:41] zmerlynn commented on #128
I'm pretty sure this is WAI, without altering the date on the annotated tag: http://stackoverflow.com/questions/22822586/swap-latest-release-on-github

[2016-09-28 23:45] ixdy commented on #128
it might be working-as-implemented, but as a user trying to download the latest version of Kubernetes, it's unhelpful.

[2016-09-30 17:37] luxas commented on #113
cc @kubernetes/sig-cluster-lifecycle

I think `/etc/cni/bin` or just `/opt/cni/bin` (as it is now) are my preferred locations, as they have to work on CoreOS as well (where `/usr/` is `ro`)

About naming, `kubernetes-basic-cni` sgtm, if we think we have to change it

[2016-09-30 17:38] luxas commented on #37
This is now fixed. Yay!

[2016-09-30 17:38] #37 closed

[2016-09-30 17:39] luxas commented on #44
Any progress on this?

[2016-09-30 19:34] chuckbutler commented on #44
We did some initial investigation. There is a docker plug being written that will unblock this effort.

But today it's still a no go

[2016-10-07 22:35] jessfraz opened #136 "dont error out at end when there is no permission to push to the branch"
example:

[code]

[2016-10-07 22:39] david-mcmahon commented on #136
Thanks for the report.  What was the original command line?

[2016-10-07 22:40] jessfraz commented on #136
anago release-1.4 --buildversion=v1.4.1-beta.0.63+90a2226c1bc505 --nomock

[2016-10-07 22:43] david-mcmahon commented on #136
Try running without the --nomock flag to make sure you can get through a run.

I added you to the auth page for the branch to allow pushes.

I'll send a fix for this issue shortly that checks the correct auth.

[2016-10-07 22:45] jessfraz commented on #136
ya I did and that worked

On Fri, Oct 7, 2016 at 3:43 PM, David McMahon <notifications@github.com>
wrote:

[2016-10-07 22:46] jessfraz commented on #136
Thanks!!!

On Fri, Oct 7, 2016 at 3:45 PM, Jessica Frazelle <jessfraz@google.com>
wrote:

[2016-10-07 22:47] david-mcmahon commented on #136
@jessfraz you did what?  Were you able to complete a non-mock run?  You should also have hit the auth issue in mock mode (up until a few minutes ago when I added you to administrators for that branch).

[2016-10-07 22:50] jessfraz commented on #136
I was able to complete a non-mock run because it used --dry-run, it all
looked good

On Fri, Oct 7, 2016 at 3:47 PM, David McMahon <notifications@github.com>
wrote:

[2016-10-07 22:51] jessfraz commented on #136
Sorry I just meant it worked without the flag `--nomock`

[2016-10-07 22:54] david-mcmahon commented on #136
Very troubling that --dry-run would behave differently when pushing.  That means we have no way to validate auth/perms before we allow the release to happen.  I'm going to remove you from the branch again.  Can you send me the output of this?

[code]

[2016-10-07 22:59] jessfraz commented on #136
[code]

[2016-10-12 11:15] mattymo commented on #65
What would you like to see improved? Open a browser automatically to https://github.com/settings/tokens if there is no token set?
If it's set and doesn't work, advise the user to ensure there is a token created the current set of information?

This process can't be automated internally without the user actually logging in.

[2016-10-12 11:28] mattymo commented on #113
I think `cni` should definitely be in the package name, with the (searchable) package description being `Kubernetes container network interface standard plugins`. Deciding over calling the plugins basic, standard, or so on is not too important to me.

Secondly, it would be nice to make a search tree (overrideable by --cni-bin-dir) to meet these requirements. No decent RPM/DEB packager wants to use

[2016-10-12 11:50] mattymo commented on #114
Solving this problem in terms of comparing against local recent builds (which may or may have not been successful) is probably not the best approach. A safe value is $LAST_BUILD * 1.5. If your 32G size is representative of a complete build, then we should set the new disk check to 48GB (or round up to 50GB).

But I definitely agree with you @david-mcmahon that it is nice to have a structured metad

[2016-10-12 18:58] david-mcmahon commented on #114
Getting a value from a *successful* recent build should be fine.  We could even average the last N + 10% or something.  The fine tuning is easy once the mechanism is in place.

[2016-10-12 19:07] david-mcmahon commented on #65
`anago` and other tools run via the command-line.  We need to:

* Understand the different auth mechanisms github uses
* Figure out which ones are used most commonly
* Have a check (as early in the script/process as possible) that validates all the necessary auth pathways (mostly push to various branches).
* The workflow should assume zero knowledge of github auth mechanisms and the user should si

[2016-10-12 22:13] saad-ali opened #140 "Announce step stuck"
Ran `./anago master`. All steps completed successfully, except ANNOUNCE RELEASE got stuck for a very long time making no progress. Terminated with `ctrl-c`:

[code]

From `/tmp/anago.log`:
[code]

[2016-10-12 22:29] ixdy commented on #140
Did you use the security layer?

[2016-10-12 22:30] david-mcmahon commented on #140
@ixdy He did not.  I'm working out how to make that more obvious in the flow.

[2016-10-13 01:02] saad-ali opened #142 "check_acls() not working correctly"
I followed the instruction to set up security layer. The new security layer check passes. But the ACL check fails:

[code]

As a sanity check, I modified the anago script to print out the `USER` and `ACL_LIST`:
[code]

Looks like something is wrong with this script:
[code]

[2016-10-13 18:43] #142 closed

[2016-10-13 21:05] david-mcmahon opened #146 "Reduce curl hits to github API"
Ivan Žužak <support@github.com> said:

No, there's no GitHub API that allows you to do exactly what you want, but there's still a way you can help yourself and both speed things up + reduce the number of API calls. Instead of hitting the API over and over again, add a webhook to the project which notifies you when a label has been added or removed from an issue or pull request: http://developer.gi

[2016-10-13 22:42] saad-ali commented on #140
Re-opening. Ran into this again trying to do a `nomock` push of `v1.5.0.alpha.1` resulting in a partial push of the release. @david-mcmahon is investigating.

[2016-10-16 08:20] davidopp opened #154 "Make it possible to build a patch release without building a Beta"
@jessfraz noticed when building 1.4.3 that the release scripts also built a 1.4.4-beta0. Assuming that building the beta slows down the overall process (i.e. these are not completely identical), it would be good to have a "fast" mode that skips the beta when you're in a rush.

cc/ @janetkuo

[2016-10-16 08:30] davidopp commented on #154
And even if they are identical, it pushes them separately, which makes it take more time. So there is definitely *some* time to be saved by being able to only build one release.

[2016-10-16 15:40] jessfraz opened #155 "Changelog problems"
While doing the 1.4.3 release it errored out on the Changelog, so then I re-ran it with `--noclean` and I realized now it basically did the changelog twice: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md. I will submit a PR to fix it up. Not sure if that is avoidable though.

[2016-10-16 19:32] david-mcmahon commented on #155
anago is not re-entrant ready.  Definitely ensure you can run a mock release prior to running a real release.  We can pick up the pieces if a real release fails in the middle, but it's easier if we just make sure it runs a successful mock first.   Still we can encounter issues with real releases.  If that happens, please forward logs and details to me so I can resolve.  cc @ixdy

[2016-10-16 19:35] david-mcmahon commented on #154
This is by (original) design.  It's possible to skip the beta builds in those cases, but we'd have to turn off the consumers too.  I believe GKE has some automated rollouts and expect there to be a beta.0 when a  new X.Y.Z official release is cut.  @alex-mohr @roberthbailey

[2016-10-16 19:54] jessfraz commented on #155
makes sense! thanks!

On Sun, Oct 16, 2016 at 2:32 PM, David McMahon <notifications@github.com>
wrote:

[2016-10-16 20:48] dawidmalina opened #156 "Oficial kube-proxy packege"
It would be very nice to have oficial package with kube-proxy. I can provide pull request for this if needed.

[2016-10-17 02:31] roberthbailey commented on #154
1.4.4-beta.0 is a tag that we apply immediately after cutting a 1.4.3 release. This keeps the semantic name on the 1.4 release branch when testing CI builds *ahead* of 1.4.3 so that everything being tested at that point follows the correct semantic versioning rules. AFAIK it's just a tag applied to git which takes no extra time.

@zmerlynn

[2016-10-17 05:55] davidopp commented on #154
I think @jessfraz said that the release script pushes the patch release and beta release separately. I might be mis-remembering though.

[2016-10-17 06:24] jessfraz commented on #154
I builds the artifacts and pushes them to gcr and gcs for both the major
release and the beta.

On Sun, Oct 16, 2016 at 10:55 PM, David Oppenheimer <
notifications@github.com> wrote:

[2016-10-17 06:41] roberthbailey commented on #154
That must have changed with the release automation.

[2016-10-17 10:45] mattymo commented on #146
I will take this on. Can you assign me?

[2016-10-17 14:47] wallrj opened #159 "Document where to find RPM and Debian packages for unreleased versions of Kubernetes"
I want to install Kubernetes 1.5.0-alpha1 on a Centos-7.

The getting-started guide shows me where the stable RPM repo is:
- http://kubernetes.io/docs/getting-started-guides/kubeadm/

...so I go poking around for an unstable repo and find one at
- https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64-unstable

...but it seems to have the same versions of packages as the stable repo.

[

[2016-10-17 18:08] ixdy commented on #159
cc @mikedanese @luxas

[2016-10-17 18:16] ixdy commented on #156
cc @mikedanese @luxas

[2016-10-17 18:19] mikedanese commented on #156
I don't think we want this. Our supported mechanism for deploying kube-proxy is in a container.

[2016-10-17 18:24] mikedanese commented on #159
Every so often we tag a snapshot of unstable as the stable repo. There haven't been any pushes to rpm unstable since we tagged it as stable. The debian repo however has had new builds pushed to unstable since it was tagged.
[code]

[2016-10-17 19:05] #146 closed

[2016-10-17 19:15] dawidmalina commented on #156
Ok I understand. Motivation for having kube-proxy as native service is because I would like to disable privileged mode via kubelet `--allow-privileged=true`. Can you guys guide me what is the best approach? Or I should rather convinced myself that privilidged pod in my cluster are ok?

[2016-10-17 19:21] #155 closed

[2016-10-17 19:28] david-mcmahon commented on #154
@roberthbailey the betas have always been pushed at the same time as the official.
Before the automation was in place and I was still doing things manually, I forgot to push a beta once and got a stern talking to from Ike.  Apparently it broke the GKE CI.  I don't know if that requirement is still in place, but if not we certainly could skip building and publishing betas.

[2016-10-17 21:57] mikedanese opened #162 "keep apt.kubernetes.io up to date"
The packages deployed to apt.kubernetes.io stable should match the version:

[code]

and unstable should match:

[code]

cc @luxas @krousey

[2016-10-18 01:35] ixdy opened #164 "anago mock mode should check for push access to gcr.io/kubernetes-release-test"
I'm getting lots of failures late in the mock workflow:

[code]

etc.

[2016-10-21 09:22] techtonik opened #167 "Upload readable release notes/changelog to gcsweb"
Would be very convenient to see https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#changelog-since-v143 here http://gcsweb.k8s.io/gcs/kubernetes-release/release/v1.4.4/

[2016-10-22 20:52] david-mcmahon commented on #154
So again, this is a very simple change on the release side.  The issue is making sure we're not breaking anyone.

[2016-10-24 15:24] errordeveloper opened #170 "bashism in debian posinst script"
[code]

[2016-10-24 15:34] errordeveloper opened #171 "Race condition when scripting kubeadm deb installs, kubelet initializes normally before it uses the kubeadm dropin"
This breaks pre-flight checks. I only tested on Debian. Seems like the package create these, and not kubelete itself, but we should check.

[2016-10-24 15:41] pesho commented on #171
The current check (directory is not empty) is too broad, I've had to skip preflight checks because of it. A better approach would be to only check for the presence of files which `kubeadm` generates, and ignore other files within these directories.

[2016-10-24 18:13] errordeveloper commented on #171
@dgoodwin I'm seeing this on CentOS also, I think it's kubelet and not the packages... We should probably allow empty directory for the time being.

@pesho I see what you are saying, but I don't see a good reason to do this right now, as files we manage tend to evolve.

[2016-10-24 18:19] dgoodwin commented on #171
@marun hit this, we thought it was newer versions of rpm causing the difference in Fedora where the problem was surfacing, and CentOS where I was not.

Agreed we probably should be more tolerant in pre-flight checks, given a point raised on slack today that cloud-config.json by default must life in /etc/kubernetes, this too causes a problem, so I'm tempted to agree with @pesho that we should be ch

[2016-10-24 19:23] dgoodwin commented on #171
Will try to look into this first thing tomorrow.

[2016-10-24 20:43] luxas commented on #170
Hmm, didn't we say we're using bash for all those scripts?

cc @mikedanese

@errordeveloper feel free to send a PR to update to bash

[2016-10-25 12:20] dgoodwin commented on #171
@errordeveloper I can reproduce but it does appear to be the rpm, and not kubelet. i.e. I can yum install, /etc/kubernetes/manifests appears, if I remove it and start kubelet it does not. Re-install rpms and it's back. All tests done with 1.5.0-1.alpha.1.409.714f816a349e79 from unstable.

[2016-10-25 13:33] errordeveloper commented on #171
@dgoodwin as you asked:
[code]

[2016-10-25 13:34] errordeveloper commented on #171
@dgoodwin I also looked at kubelet code, and doesn't appear to call mkdir for the manifest path, it does for some other things, but not this.

[2016-10-25 14:02] dgoodwin commented on #171
Yeah it's the rpm for sure, it even claims ownership of it, not sure how this was missed. Regardless given the complaints about cloud providers requiring /etc/kubernetes/cloud-config.json, I'm going to make both the pre-flight checks and reset stop assuming ownership of all of /etc/kubernetes and instead just clean out manifests, pki, and delete the admin/kubelet.conf files.

[2016-10-25 18:21] errordeveloper commented on #171
SGTM

On Tue, 25 Oct 2016, 15:02 Devan Goodwin, <notifications@github.com> wrote:

[2016-10-25 18:44] david-mcmahon opened #173 "Add check/sync to ensure anago is up to date"
Recent invocations of anago have created incomplete releases.  This is likely due to running older copies of the tooling.  Add a check and sync to ensure the user is using the most up to date copy.

ref https://github.com/kubernetes/kubernetes/issues/34099

[2016-10-25 20:04] luxas commented on #171
@dgoodwin Great if you fix the preflight checks, be sure to ping me on it when ready!

[2016-10-26 00:57] #173 closed

[2016-10-26 01:00] #140 closed

[2016-10-26 01:08] david-mcmahon commented on #7
closing dup of #31

[2016-10-26 01:08] #7 closed

[2016-10-26 01:27] #73 closed

[2016-10-26 16:44] luxas commented on #171
This will be fixed with https://github.com/kubernetes/kubernetes/pull/35632

[2016-10-26 18:49] david-mcmahon commented on #164
Any clever one-liners to check writable access to a gcr.io repo? @mikedanese @kubernetes/test-infra-maintainers

[2016-10-26 18:53] mtaufen commented on #164
Maybe a bit messy but could you create a dummy image in there that is just for testing write access, and "push" to it to test?

[2016-10-26 18:55] david-mcmahon commented on #164
@mtaufen we might have to go that route.  Hoping for some lighter way.  Unfortunately I don't see any --dry-run options to docker. @jessfraz

[2016-10-26 19:12] spxtr commented on #164
Can probably do a `gsutil acl get` call or `defacl` to check.

[2016-10-26 19:15] #170 closed

[2016-10-27 08:41] nlamirault opened #178 "Kubelet debian package installation failed on RPI 3 / HypriotOS"
i've got an error on installing kubelet on RPI3 :

Platform: RPI3
OS: HypriotOS 1.1.0

[code]

[2016-10-27 09:21] nlamirault commented on #178
With ths fix :

[code]

It seems working :

[code]

[2016-10-27 11:07] luxas commented on #178
Yes thanks, it has been fixed with https://github.com/kubernetes/release/pull/175

[2016-10-27 11:07] #178 closed

[2016-10-31 13:02] dgoodwin commented on #171
PR merged, this can be closed now.

[2016-10-31 13:13] luxas commented on #171
Thanks

[2016-10-31 20:16] zmerlynn commented on #164
Parsing the ACL is obnoxious, in part because sometimes the IDs get munged. In addition, you'd then have to check for group access in many legit cases. It's not that hard to verify you can write to the `appspot` bucket, though, by just doing a 'gsutil cp' to somewhere in there - it's just kind of ugly. (You could even just name it `/access-check` and rewrite the object every time.)

[2016-11-01 09:49] codablock commented on #171
I'm currently working with a custom built master version of kubeadm and the pre-flight checks still fail for /var/lib/kubelet.

When doing a "kubeadm reset", the contents of /var/lib/kubelet disappear as expected.
"kubeadm init" then complains that kubelet is not running (it was running before reset) which requires me to start the kubelet service manually. After starting the kubelet service, the /

[2016-11-01 09:51] luxas commented on #171
Just wait some hours, we will probably release the new version today which has these fixes in it

[2016-11-01 09:55] codablock commented on #171
@luxas I'm using a custom built kubernetes master from today. Is the kubeadm tool developed in a different repository? As #35632 got merged a few days ago, I'd expect the fix to be in my local build already?

[2016-11-01 10:04] codablock commented on #171
Some additional info: I'm on CentOS 7.2. Kubelet is also from latest master.

Contents of /var/lib/kubelet after service start:
[root@ma-kub8ms0 devops]# find /var/lib/kubelet/
/var/lib/kubelet/
/var/lib/kubelet/pods
/var/lib/kubelet/plugins

[2016-11-01 12:19] dgoodwin commented on #171
/var/lib/kubelet was still expected to be empty, if crash looping kubelet is now creating those directories that will indeed still trigger a pre-flight check error.

However I cannot reproduce, I compiled kubelet off master this morning:

[code]

Init then works fine.

Are you using the standard systemd config where we crash loop until kubeadm writes a config, or is your kubelet actually running?

[2016-11-01 12:42] codablock commented on #171
kubelet was indeed running while I had these problems. At this time I did not have the kubeadm RPM package installed. Now I'm installing it before overwriting the kubeadm binary with my custom built binary.

After checking the systemd config as hinted by @dgoodwin I assume the missing /etc/systemd/system/kubelet.service.d/10-kubeadm.conf being the cause due to the RPM package not being installed.

[2016-11-01 13:18] dgoodwin commented on #171
This was part of how kubeadm was designed to work, we need to configure kubelet before it can fully launch, services tend to start on install in Debian, and we didn't really want to have kubeadm execution go do things specific to systemd mid-way through. There was a lot of discussion but we landed at crash looping waiting for our config to appear. That is the behavior out of the box with the packa

[2016-11-01 13:41] codablock commented on #171
Additional pre-flight checks would have helped me. So, thumbs up :)

[2016-11-01 22:03] dawidmalina commented on #156
@ixdy @mikedanese even if you will not use this package directly I think it would be good idea to have this package in oficial repository. I will prepare Pull Request just give me green light:)

[2016-11-03 04:13] jicki opened #188 "kube-dns clusterip"
[root@k8s-master ~]#kubectl get svc --namespace=kube-system
NAME                   CLUSTER-IP     EXTERNAL-IP   PORT(S)         AGE
kube-dns               **10.0.0.10**      <none>        53/UDP,53/TCP   2d

[root@k8s-master ~]#cat /etc/systemd/system/kubelet.service.d/10-kubeadm.conf
[Service]
Environment="KUBELET_KUBECONFIG_ARGS=--kubeconfig=/etc/kubernetes/kubelet.conf --require-kubeconfig=true

[2016-11-03 04:15] colemickens commented on #188
What is the question?

[2016-11-03 04:16] colemickens commented on #188
What is the question? (edit: sorry, just saw it finally -- the cluster ip in the kubeadm conf differs from the actual service clusterip in the cluster.)

[2016-11-03 17:54] SEJeff opened #190 "spec files for "building" rpms of kube-{controller-manager,scheduler,apiserver}"
There is a great [kubelet spec file](https://github.com/kubernetes/release/blob/master/rpm/kubelet.spec) for building rpms for the kubelet. It would be nice to have the same for these:

* kube-apiserver
* kube-scheduler
* kube-controller-manager

[2016-11-03 19:43] ixdy opened #191 "handle release tags as versions correctly"
It seems like when a new release is tagged, the release scripts can't parse the version correctly.
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build-1.3/138
[code]

The issue seems to be that there's no `.#commits+sha` at the end of the version string, since there are no additional commits on the tag, but https://github.com/kubernetes/release/blob/master/lib/gitlib.

[2016-11-03 19:51] david-mcmahon commented on #191
Yes, push-build.sh introduced a new use for that regex.  I'll have a look.

[2016-11-03 19:52] ixdy commented on #191
This isn't the first time we've run into issues like this... https://github.com/kubernetes/kubernetes/issues/24535 and https://github.com/kubernetes/kubernetes/pull/24825 also reference it.

I'm still not sure what's doing the wrong thing. :)

[2016-11-03 19:53] ixdy commented on #191
Both the 1.3 and 1.4 builds are broken on Jenkins because of this.

[2016-11-03 21:09] david-mcmahon commented on #191
Those earlier issues were related, but I think the issue here is that we shifted the push activity to the release repo but the release repo never had to validate versions sans `+sha`.  So this was just an oversight/bug at the time we moved to `push-build.sh`, so the regex needs to be made CI friendly.

[2016-11-05 00:16] #191 closed

[2016-11-05 16:51] david-mcmahon opened #196 "Lightweight arg parser needs to bark about invalid flags"
I'd really like to [K.I.S.S. and lightweight on the arg parsing](https://github.com/kubernetes/release/blob/master/lib/common.sh#L493), but we should find a way to detect invalid flags too.  I fear this might be the straw that bloats things, but let's have a look.

[2016-11-06 22:33] techtonik commented on #196
http://docopt.org/ ?

[2016-11-07 00:36] david-mcmahon commented on #196
@techtonik not exactly what I was thinking as 'lightweight', but will look closer...

[2016-11-07 10:43] autostatic commented on #188
I had the same issue. After updating the kubelet package from the Google Kuberntes repo from 1.4.3 to 1.4.4 on Ubuntu 16.04 new pods could not resolve anything. Turned out that someone or something decided to change the cluster-dns IP in `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` from 100.64.0.10 to 10.96.0.10. After changing this back and restarting the Kubelet services everything wo

[2016-11-07 20:42] dawidmalina commented on #156
Ok. I will try proxy in docker.

[2016-11-07 20:42] #156 closed

[2016-11-09 22:28] cjcullen opened #200 "push-build.sh should support dirty branches for dev pushes"
VER_REGEX will fail to match `*-dirty` versions of kubectl, so the script fails if I built kubernetes from a dirty branch.

Unless there is a good reason to not allow developer testing from dirty branches, I think we should add back support for that flow.

[2016-11-09 22:28] cjcullen commented on #200
@spxtr

[2016-11-09 22:31] cjcullen opened #201 "Confusing logging in push-build.sh"
Logging a phrase that ends in a colon at the beginning of a long-running operation makes it look like the script is waiting on user input.

For example:
[code]
feels like I am supposed to respond, until the `OK` happens and the script starts up again.

@spxtr

[2016-11-09 22:49] ixdy commented on #200
Probably fine, though we will want to enforce that official release and CI builds are clean.

[2016-11-09 23:22] cjcullen opened #203 "push-build.sh should have a `--release-suffix` flag."
It'd be nice to be able to easily push a developer build to the `/ci/` directory somewhere that I am confident won't get in the way of jenkins. Something like `/ci/v1.6.0-alpha.0.123+abc123-cjcullen`. Bonus points if that also spit out some helper commands for creating/updating clusters at that version.

[2016-11-09 23:27] ixdy commented on #203
I'd rather we create a separate directory than `/ci/` for developer builds. IMO `/ci/` should be used only for output from our CI build systems, as its name implies...

[2016-11-10 13:08] catalinpan opened #204 "CentOS 7 - kubelet package requirements iproute2 and mount?"
Hi,

I have tried to build the deployment rpms from master branch but on CentOS 7 I cannot install the packages as the dependecies are not found.
The changes have been added on below commit

https://github.com/kubernetes/release/commit/7c9fb0f4445b692f2466b51af0bca0908c800cf8#diff-c8126c3004cef03f9bb0d3352adb80a8R27

yum provides */iproute2    shows **iproute** as package which containes iproute2

[2016-11-14 02:00] pennpeng commented on #204
I met the same problem!!!!!
"-> Processing Dependency: mount for package: kubelet-1.4.4-2.x86_64
--> Processing Dependency: iproute2 for package: kubelet-1.4.4-2.x86_64
---> Package socat.x86_64 0:1.7.2.2-5.el7 will be installed
--> Finished Dependency Resolution
Error: Package: kubelet-1.4.4-2.x86_64 (kubernetes)
           Requires: iproute2
Error: Package: kubelet-1.4.4-2.x86_64 (kubernetes)

[2016-11-14 02:04] resouer commented on #204
@luxas Could you please take a look?

[2016-11-16 01:39] ixdy commented on #201
This could probably be "..." instead of ":".

@david-mcmahon WDYT?

[2016-11-16 01:47] david-mcmahon commented on #201
`Statement: STATUS` is the common logging style throughout this ecosystem.

That said, `push-build.sh` is somewhat of a standalone tool used by kubernetes proper.  Feel free to experiment with logging/messaging.  If we find something better here, we can retrofit the rest of k/r too.

[2016-11-16 02:13] saad-ali opened #211 "Checking writability and ACLs on... FAILED"
I am running in to this error while running anago:
[code]

The problem appears to be that even if I select the k8s.prod account in gcloud, when anago runs it switches to my google account at some point, and then this check fails.

Before running anago:
[code]

After running anago:
[code]

This may be caused by PR https://github.com/kubernetes/release/pull/206

CC @ixdy @david-mcmahon

[2016-11-16 02:15] ixdy commented on #211
I'm pretty sure this is expected, see https://github.com/kubernetes/release/pull/206#issuecomment-260787970.

What does `/tmp/anago.log` say?

[2016-11-16 02:16] ixdy commented on #211
You probably just need to run `gsutil defacl ch -u AllUsers:R gs://kubernetes-release-saadali`.

[2016-11-16 02:19] saad-ali commented on #211
Yep, that was it. Thanks @ixdy! Closing

[2016-11-16 02:19] #211 closed

[2016-11-18 20:26] #204 closed

[2016-11-18 20:30] ixdy commented on #204
fix merged into kubernetes/release; I'm not sure what needs to be done to get this published.

[2016-12-07 09:05] sebgoa opened #219 "Getting kompose rpm in the repo"
Hi, we have kompose rpms on different repos (EPEL testing, openshift origin).

Is it possible to get `kompose` in the official k8s repo (like `kubedadm`) ?

I think it would be great for users to have a single repo they can pull things from.

https://github.com/kubernetes-incubator/kompose/issues/328

[2016-12-07 09:51] errordeveloper commented on #219
cc @mikedanese

[2016-12-07 09:51] errordeveloper commented on #219
I fully support this and happy to help with reviews etc.

[2016-12-07 09:53] errordeveloper commented on #219
From my point of view, any incubator projects should be able to reach their audience, package repos help a lot.

[2016-12-07 16:13] mikedanese commented on #219
This sounds good to me. Please also include a deb.

[2016-12-08 03:02] tonyjames3212 opened #222 "Illegal char '-' (0x2d) in: Version: 1.5.0-beta.2"
Hi,i am new to k8s.There is an error when i building the rpm packages in a Docker container with `./docker-build.sh` in Centos7:
[code]
And i try to modify kubelet.spec like this:
[code]
Then the building works.But im not sure if there will be any other problems.
@luxas can u help me?

[2016-12-08 03:11] ixdy commented on #222
Changing the `-` to `.` breaks the semantic version compatibility though (http://semver.org/).

Reading the [Fedora docs](https://fedoraproject.org/wiki/Packaging:Versioning), it seems like we might need to put the `-beta.2` in `Release:`, which is kinda gross. (I'm also not sure how `RPM_RELEASE` really fits into the semver.)

[2016-12-12 04:09] jicknan opened #226 "rpm/docker-build.sh: Error: Failed to synchronize cache for repo 'fedora'"
code version:

* e028c143849c363aec49614c675a1f0eae3c0ee0

the error message:

[code]

[2016-12-12 07:15] #119 closed

[2016-12-12 17:19] dawidmalina commented on #162
When we can expect packages for kubernetes v1.4.7?

[2016-12-12 17:21] luxas commented on #162
The stable packages are going to be updated to v1.5.0 today or tomorrow

[2016-12-12 18:47] dawidmalina commented on #162
I understand 1.5.0 when it will be released but what with 1.4.x branch? Are you going to abandoned it? Does it mean that you will only publish cherry picked versions not all released versions? What are the criteria (which version will be put to apt.kubernetes.io)?

[2016-12-12 18:50] dawidmalina commented on #162
What are the reasons to have only limited set of packages?

[2016-12-13 02:41] aoxn opened #228 "Yum repository pool is empty, Why?"
## kubelet yum source mirror fail

When i try to mirror ```http://yum.kubernetes.io/repos/kubernetes-el7-x86_64``` for kubelet and kubadm release to my own repository, i get 404 errror.  Then I found yum/pool directory is empty, Could anyone take a look at this?

[code]

[2016-12-13 02:41] spacexnice commented on #228
@ncdc @willb Could you take a look?

[2016-12-13 04:21] willb commented on #228
@spacexnice Sorry, I can't help with that repository.  But I bet someone who can will see this issue!

[2016-12-13 05:56] luxas commented on #228
I clearly see some packages here: https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/filelists.xml

But I'm not familiar with the rest of the rpm packaging process.

cc @dgoodwin

[2016-12-13 22:56] dawidmalina commented on #162
Any update?

[2016-12-13 23:13] mikedanese commented on #162
1.5.0 has a security vulerability so we are waiting for v1.5.1. We have not yet fixed this issue so our deb versions don't follow release versions to the tee. We hope to fix that. That's why this issue is open.

[2016-12-14 03:28] spacexnice commented on #228
@luxas  @dgoodwin The file filelist.xml is in there, but not the pool directory which should contain the actual file.

[2016-12-14 09:18] Slahser commented on #228
@spacexnice you can direct download rpm by concat `location` [here](https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/primary.xml) with `https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64` over the wall.

![screen shot 2016-12-14 at 17 14 13](https://cloud.githubusercontent.com/assets/3760744/21176302/10e8de84-c221-11e6-94c1-fc35b2e315a3.png)

[2016-12-14 11:42] spacexnice commented on #228
Thanks! @Slahser  @luxas

[2016-12-14 13:16] spacexnice commented on #228
@Slahser  Does k8s yum | apt  source ```https://packages.cloud.google.com/yum```  has the willing to open rsync port to let ```mirrors.aliyun.com`` do file synchronize?    Since k8s source does not open rsync port or have any file timestamp or opening pool directory , we can not do a standard file synchronization.

[2016-12-15 20:33] EmbeddedAndroid opened #232 "Centos7: ARM/ARM64 Support (Multiarch)"
Hi,

I've been using the .spec file in this repo to produce and test ARM64 rpm packages for kubernetes[0]. I'd like to get rid of this forked work, and include it in the official .spec file. Is there interest in building rpms for multiple architectures? If so, I can send a PR to enable multiarch, and by default build packages for x86_64/ARM/ARM64. I'd also volunteer to test and maintain the ARM/AR

[2016-12-15 22:06] dawidmalina opened #234 "apt.kubernetes.io should keep old versions"
It would be very desired to have all or at least last few releases would be available in the repository.

[2016-12-16 11:18] Slahser commented on #228
theres a delay between release and repo.
you should build the release and modify the KUBE_VERSION to 1.5.1
i have try your pr in 1.5.1,works fine.

[2016-12-16 14:39] luxas commented on #228
1.5.1 is released already

[2016-12-18 13:42] luxas commented on #162
Sent https://github.com/kubernetes/release/pull/237 to fix this

[2016-12-18 13:45] luxas commented on #232
Cool, I wrote on http://kubernetes.io/docs/getting-started-guides/kubeadm/ under the multiarch section that we could do that if there's interest for rpms as well.

We've had it from the start with the debs, you can use that script as a reference.
Cheers!

[2016-12-19 18:50] EmbeddedAndroid commented on #232
Excellent! Thanks for the response, and the pointer to the documentation about multiarch requests! I'll send a PR referencing this issue.

[2016-12-19 18:50] #232 closed

[2016-12-20 08:17] autostatic commented on #162
I see there are new updates available but those are packages from the 1.5 branch. Would it be possible to also add updated 1.4 packages? Thanks in advance.

[2016-12-20 08:51] #222 closed

[2016-12-20 15:04] Starefossen commented on #234
Yes, this hit me today as well....

[2016-12-20 15:23] luxas commented on #162
yes, that version of kubeadm is stable. ref https://github.com/kubernetes/kubeadm/issues/70

in time for v1.6, we'll sync up the releases with the core

[2017-01-03 23:18] jbeda commented on #171
We just hit this (@captainshar) when trying to script ubuntu.  Using latest packages (v1.5.1) kubeadm failed due to empty directories under `/var/kubelet`.  It is unclear what created those directories.  No mention in the kubelet logs (it is crash looping as expected).

We will work around this by having the scripted stuff do a `kubeadm reset` before running `kubeadm init`.  But it shouldn't be ne

[2017-01-04 09:58] luxas commented on #171
@jbeda It's a race condition with the debs when scripting the install it seems.
Somehow the kubelet service has just enough time to start the kubelet normally (`/usr/sbin/kubelet` with no params), that makes kubelet create its directories **before** the kubeadm-specific service file kicks in an makes kubelet crashloop.

@dgoodwin Did you ever find a solution to this?

[2017-01-04 09:59] luxas commented on #171
(What we're talking about now is not the same issue as above, but since people have chosen this thread to talk about, let's continue)

[2017-01-05 09:17] ingvagabund opened #242 "[rpm] Replace /opt/cni with /usr/libexec/cni"
Based on packaging guidelines [1], the ``/opt/cni`` directory can not be used to store additional binaries without fpc ticket successfully resolved:

## Limited usage of /opt, /etc/opt, and /var/opt

/opt and its related directories (/etc/opt and /var/opt) is reserved for the use of vendors in the FHS. We have reserved the fedora name with LANANA for our use. If a package installs files into /opt

[2017-01-09 08:43] jsi-rl commented on #234
Is there a apt repo for the archives ? I need to deploy
kubeadm 1.5.0-alpha.2-421-a6bea3d79b8bba-00
kubectl	1.4.4-00
kubelet	1.4.4-01

[2017-01-09 17:16] ixdy commented on #234
cc @luxas @errordeveloper @mikedanese

[2017-01-09 21:59] luxas commented on #162
@mikedanese Can you create the nightly channel yet so this issue will be fully fixed?

Stable and unstable are already tracking latest and stable.txt, so the original issue is fixed I think.

[2017-01-09 22:03] mikedanese commented on #162
Nightly debs are available for amd64 but not published. you can curl them and dpkg -i followed by a apt-get install -f. Doing more then that is not high on my priority list right now.

[2017-01-09 22:06] luxas commented on #162
I mean I implemented that nightly functionality for all arches and everything in #237, so could you just make those deb repos (only for kubernetes-xenial is totally ok also) and say to your deb CI script that it will also upload the nightly channel that already is generated?

[2017-01-09 22:06] mikedanese commented on #162
Ok, I see. I can do that.

[2017-01-09 22:09] luxas commented on #162
Thank you

[2017-01-12 21:05] dawidmalina commented on #234
There is a new release 1.5.2 should we expect that 1.5.1 packages will be deleted?

[2017-01-19 19:37] luxas commented on #162
@mikedanese ping on a nightly channel for debs (not super-priority, but went through my issues and found this)

[2017-01-20 20:02] enisoc opened #249 "jobResultsCache.json only keeps one entry"
I was investigating why `find_green_build` keeps failing (which is blocking me from cutting 1.6 alpha), and I found that `jobResultsCache.json` only has one entry for each job.

I think it's because `hack/jenkins/upload-to-gcs.sh` expects the JSON file to come back verbatim [as it's printed](https://github.com/kubernetes/kubernetes/blob/a988f71ef06d5b1c128a6e7f28600f69e3b46c4a/hack/jenkins/upload-

[2017-01-20 20:49] ixdy commented on #249
We don't use upload-to-gcs.sh anymore.

This might be a bug in [bootstrap.py](https://github.com/kubernetes/test-infra/blob/master/jenkins/bootstrap.py#L329-L368). cc @kubernetes/test-infra-maintainers

[2017-01-20 21:07] fejta commented on #249
@enisoc when do you need to cut a 1.6 alpha branch?

[2017-01-20 21:31] enisoc commented on #249
@ixdy Oops, thanks for the correction. :)

@fejta I don't have a specific deadline, but it looks like the first meeting of the 1.6 release team will be at the end of next week (Jan 27). I'd like to have the alpha cut working in mock mode by then so I'm locked and loaded.

[2017-01-20 21:39] ixdy commented on #249
@enisoc no worries, it's confusing, and the infrastructure is in a state of flux. even I'm not entirely sure where it's used right now.

[2017-01-23 11:09] marccarre commented on #234
I guess the motivation may be to keep most folks on the latest version, which simplifies development, testing, and many other things, but this then means that:

* one cannot rebuild a server configured with an older version, and
* one cannot add new servers to an existing cluster,

*unless* all versions of Kubernetes are backward compatible -- which is probably going to be a bigger pain in the lon

[2017-01-23 11:36] errordeveloper commented on #234
I think we might want to create virtual repos within our repo, e.g.
[code]

[2017-01-23 11:56] Starefossen commented on #234
Yes, please! That would simplify things at our end 😄👍🏼

[2017-01-24 00:32] ixdy opened #250 "support reading binary output from bazel-bin/"
Currently we assume that release tars are under `$KUBE_ROOT/_output/release-tars`, binaries are under `$KUBE_ROOT/_output/release-stage`, and that we can locally stage things to `$KUBE_ROOT/_output/gcs-stage`.

With Bazel builds, the release tars are under `$KUBE_ROOT/bazel-bin/build/release-tars`, the binaries are under `$KUBE_ROOT/bazel-bin/...` (not one central location), and it's not clear whe

[2017-01-24 00:33] ixdy commented on #250
cc @spxtr @mikedanese

[2017-01-26 20:16] dawidmalina commented on #234
Can you guys tell us when this new and desired feature can be implemented?

[2017-01-26 20:55] enisoc commented on #249
I was able to confirm that it's a bug in `bootstrap.py` by modifying it to run locally and directly calling `append_result()`. The fix should be https://github.com/kubernetes/test-infra/pull/1726.

[2017-01-26 22:32] #249 closed

[2017-01-26 23:23] enisoc commented on #249
I think it's working!

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/jobResultsCache.json

[2017-01-27 23:33] enisoc opened #253 "Changelog compares against wrong release tag"
I ran `anago master` to test the `v1.6.0-alpha.1` cut in mock mode, and got the following release notes:

https://groups.google.com/forum/#!topic/kubernetes-release/3eb9iTb58hk

The changelog shows all changes since `v1.5.0-alpha.2`, so it includes many items that already made it into `v1.5.0`.

cc @ixdy @calebamiles @ethernetdan

[2017-01-27 23:56] enisoc opened #254 "Support cutting Release Candidates"
@ixdy @calebamiles @ethernetdan

For 1.6, we will need the ability to cut Release Candidates with anago. Our tentative schedule places the first RC cut on March 28.

[2017-01-30 10:20] alexlist commented on #162
Hi,

would you mind providing

1) a working source apt repo for Ubuntu Xenial

https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/source/Sources exists but is empty

2) both binary and source reops for Debian jessie anytime soon?

https://packages.cloud.google.com/apt/dists/kubernetes-jessie/main/binary-amd64/Packages exists but is empty
https://packages.cloud.google.com/apt/dists/

[2017-01-30 12:13] alexlist opened #255 "Build Debian/Ubuntu packages from source instead of downloading binaries"
I looked at the manual package building process described in
https://github.com/kubernetes/release

The build process is using a Docker container that downloads binaries from dl.k8s.io and generates packages including these binaries. That's not the preferred way to create Debian/Ubuntu packages, the preferred way is to build from source, so one can be sure that the resulting binary is actually fro

[2017-01-30 14:52] GheRivero commented on #171
There is "race condition" when kubelet starts: Most of the times, it dies before doing anything because of the missing /etc/kubernetes/kubelet.conf (expected behaviour)

Jan 30 15:46:00 node3 systemd[1]: Started kubelet: The Kubernetes Node Agent.
Jan 30 15:46:00 node3 kubelet[21771]: I0130 15:46:00.455213   21771 feature_gate.go:181] feature gates: map[]
Jan 30 15:46:00 node3 kubelet[21771]: erro

[2017-01-30 21:58] ixdy commented on #254
For more context: we expect to have at least one RC release (i.e. v1.6.0-rc.1) after the last beta release before the final GA release (v1.6.0), so tooling needs to understand how to handle this. (It probably just requires updating a few regexes to support "rc". An open question is whether the RC # should start at 0 or 1.)

[2017-01-31 17:07] mikedanese commented on #250
done?

[2017-01-31 19:26] ixdy commented on #250
nope, not yet. `push-build.sh` still won't handle bazel-built artifacts correctly.

[2017-02-03 00:07] #253 closed

[2017-02-03 19:43] pipejakob commented on #200
How about a flag to enable dirty pushes that makes it obvious it shouldn't be used for releases, such as `--dev` or `--allow-dirty`?

Happy to take this on myself, as I've been bitten by this in my development cycle.

[2017-02-03 22:08] ixdy commented on #200
@pipejakob sgtm

[2017-02-10 19:29] #200 closed

[2017-02-13 16:13] errordeveloper opened #259 "kubeadm postinst should not fail when systemd is missing"
There should be a condition [around configuration](https://github.com/kubernetes/release/blob/bbbf4fb1721362d31c06ffccc95775ff7a2c6acc/debian/xenial/kubeadm/debian/postinst#L25-L26), there are cases where you'd want to install the package and configure it manually afterwards, there no good way of skipping this configuration.

[2017-02-13 16:30] errordeveloper commented on #259
I'd make a PR now, but not sure what is the best way of check for that in this particular context. Any suggestions are welcome.

[2017-02-14 09:40] Starefossen commented on #228
@luxas any thoughts on when 1.5.2 will be available?

[2017-02-16 01:25] xiaoping378 commented on #228
now should be v1.5.3

[2017-02-16 04:55] saad-ali opened #261 "Release notes should link to node binaries"
The release process builds and publishes node binaries, but does not link to them in the CHANGELOG along with the server and client binaries:
* kubernetes-node-linux-amd64.tar.gz
* kubernetes-node-linux-arm64.tar.gz
* kubernetes-node-linux-arm.tar.gz
* kubernetes-node-windows-amd64.tar.gz

See https://github.com/kubernetes/kubernetes/pull/41531 for example.

Suggest that the release notes generato

[2017-02-16 14:48] Starefossen opened #263 "Update official yum repository"
The official yum repository for Kubernetes is still at v1.5.1.
Also, there it would be nice if older versions was also available and not just the newest one.

[2017-02-16 15:04] idvoretskyi commented on #263
@Starefossen "/you/yum/" in the title :)

[2017-02-16 15:08] Starefossen commented on #263
Sorry, fixed. Thanks for noticing 👍🏼😄

[2017-02-16 22:21] ixdy commented on #228
not sure who owns the yum repository - @mikedanese?

[2017-03-03 00:54] geekofalltrades commented on #234
Is the expectation here that users are going to build the debs themselves and host them in their own apt repository?

1.5.3 still isn't up in the official repo, but once it is, for our use-case, I'm going to need 1.5.2 to remain there, as well.

[2017-03-03 04:42] jbeda commented on #234
With the switch to rbac on by default for kubeadm for 1.6, we need to allow users to be pinned to an old version.

I'm happy to help make this happen. What needs to be done? @luxas @mikedanese @ixdy @errordeveloper

[2017-03-04 16:23] jbeda commented on #203
It should be possible to override all paths for custom buckets so that these tools are useful for folks that are not Googlers.

[2017-03-04 16:27] jbeda opened #268 "Community support for building releases (anago)"
It should be possible and documented for privileged developers to create "unofficial" releases that mirror the official release process.  This should include container images, debs/rpms and release download locations.

Not only will this let others contribute to these tools, but it will allow those working on install tools (like kubeadm) to test the entire flow before we integrate everything at re

[2017-03-05 22:29] jbeda commented on #268
I'll update this comment as I find issues:

Issues:
 * [ ] _annoying_ `--basedir` defaults to `/usr/local/google/$USER`.  This is a goobuntu-ism that shouldn't be in this script.

[2017-03-05 22:41] jbeda opened #270 "k8s.gcr.io VDF (Vanity Domain Flip): Move official container images to K8s Infra"
### Google Infra --> K8s Infra tasks (ordered by priority):

- [x] Ensure that `k8s-artifacts-prod` GCR is a superset of google-containers (aka backfiling; this has already been [done](https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io/manifests/DO-NOT-MODIFY-legacy-backfill) and is easy to check before VDF happens)
- [x] Fix auditor's ability to handle child images in fat manifests ([iss

[2017-03-05 23:00] ixdy commented on #270
Yep, this is something that @timstclair and I are looking into.

[2017-03-06 18:47] timstclair commented on #270
We're expecting to have a proposal out in the next week or two that will address this.

[2017-03-06 19:54] zmerlynn commented on #270
Please include me. We have internal infrastructure that handles the replication of `google-containers` to non-US regions.

[2017-03-06 22:04] mwielgus commented on #268
This will be also needed for the process described in https://github.com/kubernetes/community/pull/126.

[2017-03-07 19:00] fejta commented on #203
Hasn't this been fixed? The `--stage=gs://foo/ci/whatever` flag will send this suffix var to `push-build.sh`
/assign @ixdy

[2017-03-07 22:08] mwielgus opened #272 "Anago tries to push images to kubernetes-release-test"
Anago tries to push images to kubernetes-release-test. It fails due to missing permissions.
[code]
If this is a required step then it should stop the whole process and ideally the permissions (whose?) should be validated at the very beginning of the process. If not then it should be removed.

cc: @ixdy @david-mcmahon

[2017-03-07 22:16] ixdy commented on #272
#164

[2017-03-07 22:36] mwielgus opened #273 "Delete draft release question is misleading"
It is not obvious how to answer this the below question.
If I say "Y" will the tool recreate the release as "final" or not?

[code]

cc: @ixdy @david-mcmahon

[2017-03-07 22:38] ixdy commented on #273
was this a mock or nomock run?

[2017-03-07 22:47] mwielgus commented on #273
Regular run https://github.com/kubernetes/test-infra/issues/1795

[2017-03-07 22:48] mwielgus commented on #273
The final release was NOT created after answering Y. The message is totally broken.

[2017-03-07 22:53] mwielgus commented on #273
Ok. My fault - i missed that it was a mock run.

[2017-03-07 23:57] mwielgus opened #274 "Mock/Nomock runs should be clearly distinguishable."
Currently it is quite easy to miss --nomock flag to the release, spend couple hours building and pushing images to temp location and then learn that the command was wrong. Think of something like

[code]
 at the very beginning and later, at the build confirmation.

cc: @david-mcmahon @ixdy

[2017-03-08 00:00] mwielgus opened #275 "Lack of ACL for kubernetes-release should have a cleaner message."
[code]
I don't think anyone should actually change the ACL for gs://kubernetes-release. The problem most likely is in Google group membership.

cc: @david-mcmahon @ixdy

[2017-03-08 02:21] mwielgus opened #276 "Print github author name and email on build confirmation"
Anago force-push a commit with release changes. It may happen that the github default author is not correct.

I was doing a release on a brand-new, clean, Google-internal virtual machine to avoid any possible pollution and didn't set the username at all. As a result the commit went under mwielgus@mwusa.hot.corp.google.com.

cc: @david-mcmahon @ixdy

[2017-03-08 02:22] mwielgus commented on #276
ref: https://github.com/kubernetes/kubernetes/commit/d5df405bb10488e6b39983b7ef89da3cd3998476

[2017-03-08 08:09] ixdy commented on #276
oops. yeah, there should definitely be a `git email` check in `check_prerequisites`.

[2017-03-08 20:03] ixdy commented on #273
closing this in favor of #274.

[2017-03-08 20:03] #273 closed

[2017-03-08 20:37] #272 closed

[2017-03-09 00:06] ixdy commented on #203
I think this a slightly different request - `--gcs-suffix` adds a suffix to `/ci`, not to the version string. For example, we use `-cross` so that cross-builds upload to `/ci-cross/vFoo`, and we use `/${JOB_NAME}` all over to upload PR artifacts into `/ci/${JOB_NAME}`.

I think GKE expects artifacts in `/ci/vFoo-blah/` so `--gcs-suffix` doesn't really help.

[2017-03-09 00:07] ixdy commented on #203
@jbeda push-build.sh already has a `--bucket` flag.

[2017-03-09 00:51] fejta commented on #203
In that case want to support this by teaching people to use `/ci/cjcullen/v1.6.0-alpha.0.123+abc123` and not support increase complexity in the space of possible version names.

[2017-03-09 15:37] liggitt opened #278 "kubeadm: Promote secured kubelet settings to rpm/stable conf"
need to follow up https://github.com/kubernetes/release/pull/264 and update these files as well:

https://github.com/kubernetes/release/blob/master/rpm/10-kubeadm.conf

https://github.com/kubernetes/release/blob/master/debian/xenial/kubeadm/channel/stable/etc/systemd/system/kubelet.service.d/10-kubeadm.conf

Not sure how that is coordinated between this repo and cutting kubeadm 1.6

[2017-03-12 22:34] jbeda opened #281 "K8s packages should be hosted on community infra"
It is clear the apt repository for the k8s packages are shared with other google repositories.

[code]
[code]

[2017-03-12 22:37] jbeda opened #282 "kubeadm package has 1.7 version"
See https://packages.cloud.google.com/apt/dists/kubernetes-xenial-unstable/main/binary-amd64/Packages

[code]

[2017-03-12 22:38] jbeda opened #283 "kubeadm 1.6+ should require new kubelet"
RBAC and such require 1.6+.

[2017-03-14 10:39] mikedanese commented on #234
How many point and major releases do we want to keep around? Do we want to keep around multiple point releases of a major release? What if a deb has known security vulnerabilities?

[2017-03-14 12:07] errordeveloper commented on #234
I'd say keep everything, but it doesn't have to be all in the same package stream, e.g. we can have an archive channel.

Perhaps archive channel would be a good answer to this?

[2017-03-14 12:08] mikedanese commented on #228
I'm deleting off topic questions about rpm releases. Please stay on topic.

Since https://packages.cloud.google.com is a shared yum repo I'm fairly certain you don't want to mirror terabytes of packages. It would be better if you more precisely crawled the repo with the method that @Slahser pointed out.

[2017-03-14 14:17] liggitt commented on #278
still not updated, is there a PR open to do this?

[2017-03-14 17:05] jbeda commented on #282
Is this something that you can take on @mikedanese?  Let me know if I can help out.

cc @luxas

[2017-03-14 17:07] luxas commented on #282
@jbeda This is natural, it's the current HEAD

This is what I'll update with the stable deb/rpm v1.6 release

[2017-03-14 17:08] mikedanese commented on #282
I agree with @luxas that this is by design. Unstable contains nightly builds.

[2017-03-14 17:13] jbeda commented on #282
I'm confused then.  The other packages in the same repo have 1.6 beta versions.

[code]

I'd expect these to be consistent.

[2017-03-14 17:20] mikedanese commented on #282
Hehe, ok. I see why in build.go this is the case but I don't know what the reasoning for making it that way was. I'll let @luxas answer. Which do we want?

[2017-03-14 18:52] jbeda commented on #282
Personally, I'd love to have packages that are "prerelease" as we are building a new release.

We kind of need ~3 tracks right?
1 stable
2 unstable -- upcoming releases.  Either major or point releases.  Not sure how to talk about that.
3 head/nightly/ci -- the latest from the CI system

Are we overloading/merging 2 and 3?

[2017-03-14 19:19] luxas commented on #282
@jbeda That's exactly how I've implemented it for the debs.

The only problem here is that at the time I wrote this code, I had to make kubeadm unstable the latest CI build, due to that officially released builds weren't available back then IIRC.
That's a thing I'm gonna fix soon, when bumping stable to v1.6

I think we should also consider a 4. legacy/previous/archive channel.

[2017-03-15 01:32] mikedanese commented on #162
1. The problem is that we don't build debian packages from source and it would be a significant change to our buildsystem to do so. @luxas might have some thoughts.
2. Jessie is tricky because they don't enable the memory cgroup by default which we can't run without and requires a kernel boot parmeter to change.

[2017-03-16 06:35] apsinha commented on #234
Maybe two archives one with all the stable major releases (e.g., 1.4.8 or whatever the best and latest point release for 1.4 was) and one with everything?

[2017-03-16 15:59] luxas commented on #283
Implemented in https://github.com/kubernetes/release/pull/285

[2017-03-16 16:01] luxas commented on #270
Please include me as well, I have been thinking about this for some time as well, but haven't just had the time to focus fully on trying to make a change here (not that I have the permissions to do so either but :smile:)

[2017-03-16 16:43] jbeda commented on #234
Sorry for not responding earlier. This got lost in the noise.

I'm thinking at least 2 major versions.  Perhaps 2-3 minor versions for each.

But, at the end of the day, is there a reason not to keep them all?  What is the argument against?

[2017-03-16 19:36] luxas commented on #282
Now fixed at HEAD

[2017-03-16 19:36] #282 closed

[2017-03-16 19:40] luxas commented on #281
I totally agree @jbeda! We just took the fast route initially with @mikedanese publishing the debs on Google infra

I guess this transition will take some time as it will be a breaking change for consumers.
But we should probably spin up a community (CNCF) hosted infra for both binaries and packages, and gradually move to it during 2017 or so.

Other thoughts @ixdy @timstclair @dankohn @bgrant0607

[2017-03-16 19:44] thockin commented on #281
No disagreement.  We need (at least):

* a budget
* a way to get CNCF to pay for infra
* a process for who gets to access/sysadmin this stuff

And maybe:

* hire a sysadmin or 2

For now, Google is paying for it.

On Thu, Mar 16, 2017 at 12:40 PM, Lucas Käldström <notifications@github.com>
wrote:

[2017-03-16 19:50] luxas commented on #281
Yup, I know, somebody's gotta pay :)
And it shouldn't go unsaid that I'm really happy Google is paying for it and maintaining it now, making it actually possible for us to publish binaries easily and quickly, but long-term this belongs to the independent foundation.

That's why I pinged Dan on this, I think he has insight into what CNCF can do here.
Also related is the shift from gcr.io/google_con

[2017-03-16 19:53] thockin commented on #281
The gcr and gcs changeovers will be interesting to figure out, but luckily
we have a channel to those teams :)

On Thu, Mar 16, 2017 at 12:50 PM, Lucas Käldström <notifications@github.com>
wrote:

[2017-03-16 20:23] dawidmalina commented on #234
I also agree that we should have all in archive chanel and latest stable with stable chanel and next pre release in unstable chanel.

[2017-03-17 00:38] dankohn commented on #281
Just to confirm that CNCF is willing to take on the budget responsibility for this. Our preference would be to have companies that are contributing to Kubernetes continue to fulfill the sysadmin responsibilities, but once it is off Google infrastructure, non-Google sysadmins would be welcome.

Our strong preference would also be for someone from the Kubernetes community to take the lead scoping ou

[2017-03-17 03:24] thockin commented on #281
Dan, eventually we will have to have a conversation about sysadmins for the
rest of the kube infrastructure - from the website, to the test infra, to
the myriad little things we run to serve the community.  I am a poor
sysadmin at best. :)

On Thu, Mar 16, 2017 at 5:38 PM, Dan Kohn <notifications@github.com> wrote:

[2017-03-17 08:38] lukasz-bielinski commented on #234
i think this is somehow related https://github.com/kubernetes/release/issues/281

[2017-03-17 08:41] Starefossen commented on #234
The reason for having all versions available is the cases where someone pins to a particular version (like me) and then tries to set up new k8s nodes... having it all break since the particular version was no longer available.

[2017-03-17 16:59] enisoc commented on #254
Fixed by https://github.com/kubernetes/release/pull/280.

[2017-03-17 16:59] #254 closed

[2017-03-20 15:13] #278 closed

[2017-03-20 22:09] ixdy opened #287 "support pagination on all GitHub API calls"
GitHub API calls such as [listing tags](https://github.com/kubernetes/release/blob/dfd87f85ae8d05322b02412322469b84708ffc0b/anago#L571) are subject to pagination, but we don't handle it.

The `relnotes` utility actually handles pagination [in one place](https://github.com/kubernetes/release/blob/master/relnotes#L162-L173), though in a kinda weird way.

We should probably create a wrapper in `lib/g

[2017-03-21 06:43] wbtxd2004 opened #290 "Can't find v1.6.0"
when I run docker-build.sh in rpm directory, got these errors:

[code]

How to fix this error?

[2017-03-21 16:48] rutsky commented on #290
I believe Kubernetes v1.6.0 is not yet released.

[2017-03-21 18:32] ixdy commented on #290
Correct. #285 probably should not have been merged yet.

[2017-03-22 01:10] wbtxd2004 commented on #290
I changed the source url manually in kubelet.spec , succeed~

[code]

[2017-03-22 08:56] wbtxd2004 opened #292 "kubeadm 1.6+ Validating kernel version"
I runned
[code]
but I got errors like this:
Log file created at: 2017/03/22 16:43:40
[code]

my kernel version is 3.1 before, then I updated it to 4.4.55, it also not work well, which kernel version is support?

[code]

[2017-03-23 00:58] #292 closed

[2017-03-24 00:39] bgrant0607 commented on #281
Like https://github.com/kubernetes/k8s.io, prow, mungegithub, ...

[2017-03-26 17:22] miry commented on #290
@wbtxd2004 I think you need to change it 2 places:
because rpm spec does not support `-` in the version.

Line1:  `%global KUBE_VERSION 1.6.0-rc.1`
Line6:  `Version: 1.6.0`

[2017-03-27 22:56] geekofalltrades commented on #162
I would love to upgrade to 1.5.6 then 1.6.0 over the next couple days, but the latest version in the apt repo is still 1.5.2...

[2017-03-28 15:22] marccarre opened #296 "APT repository contains 1.5.2 instead of 1.5.4/1.5.5"
**What happened**:

When installing Kubernetes packaging using `apt` as per [these intructions](https://kubernetes.io/docs/getting-started-guides/kubeadm/), one gets versions `1.5.2` at the moment (see [here](https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/binary-amd64/Packages)) under Ubuntu Xenial:
[code]

**What you expected to happen**:

Either get `1.5.4` as it was happenin

[2017-03-28 17:07] mikedanese commented on #44
Fyi, snap support proposed in #293

[2017-03-28 19:47] geekofalltrades commented on #162
For anyone looking for a workaround, I just successfully ran the deb build myself: https://github.com/kubernetes/release/blob/master/README.md#for-debian

I was able to build only for Xenial amd64 (I only need that, rather than all builds) by running `docker run --volume="$(pwd)/debian:/src" debian-packager -arch amd64 -distros xenial`.

My company happens to have an internal reprepo apt repositor

[2017-03-28 22:16] coeki opened #298 "Kubelet spec contains an error in line 123"
Hi,

Small typo in the kubelet.spec, fails to build rpm.

    error: bad date in %changelog: Wed Tue 28 2017 Lucas Käldström <lucas.kaldstrom@hotmail.co.uk>

Changing this to:

     %changelog: Wed Mar 28 2017 Lucas Käldström <lucas.kaldstrom@hotmail.co.uk>

fixed it.

[2017-03-29 02:24] calebamiles opened #299 "release note generation mangles markdown links"
Comparing the [final version of the release notes](https://github.com/kubernetes/kubernetes/blob/0a13fef494c938d42252e8a6bab7f6273dd91b37/CHANGELOG.md) with [the draft](https://github.com/kubernetes/features/blob/master/release-1.6/release-notes-draft.md) [2] it was noted that markdown links will be rendered incorrectly due to what looks like an automated link to PR. The link generation is also su

[2017-03-29 04:38] minz1027 opened #300 "chvclrhvfjvd"

[2017-03-29 04:38] #300 closed

[2017-03-29 08:37] 4admin2root opened #301 "error: bad date in %changelog"
file : /rpm/kubelet.spec

%changelog
* Wed Tue 28 2017 Lucas Käldström <lucas.kaldstrom@hotmail.co.uk>
- Bump CNI version to v0.5.1.

It should be :
%changelog
* Tue Mar 28 2017 Lucas Käldström <lucas.kaldstrom@hotmail.co.uk>
- Bump CNI version to v0.5.1.

[2017-03-29 13:25] ekozan commented on #290
when we will have 1.6.0 ???

[2017-03-29 13:56] luxas commented on #290
v1.6.0 is released

[2017-03-29 13:56] #290 closed

[2017-03-29 16:10] loskultos commented on #234
i agree. in automatic provision scenarios of new nodes not having old versions causes real trouble

[2017-03-29 18:01] dawidmalina commented on #234
We've just had this trouble today when adding more nodes:(

[2017-03-29 19:27] loskultos commented on #234
For alle that were in real trouble today like me...

I had luck and could restore the deb files from the apt cache of a three day old node. Installation by dpkg and after that an apt-get update and apt-get -f install to satisfy the broken dependenccies saved me

[2017-03-29 19:28] jbeda commented on #234
@mikedanese -- I thought you had this? Can you restore these?

[2017-03-29 20:04] mikedanese commented on #234
It was not possible to keep the old kubeadm because it was a 1.6.0-alpha which sorted higher then 1.6.0 so it would have taken priority over the stable release. This should not happen again moving forward since an alpha will never been in the stable repo.

[2017-03-29 20:23] #296 closed

[2017-03-29 20:27] #283 closed

[2017-03-29 20:35] jbeda commented on #234
Here is what is currently hosted on the repo.

[code]

We have the old versions of CNI, kubelet and kubectl.  I also see a `1.5.6-00` for `kubeadm`.  Did you hack something up Mike?

In any case, users can download the old kubeadm from https://storage.googleapis.com/kubernetes-release/release/v1.5.6/bin/linux/amd64/kubeadm.

[2017-03-29 20:43] mikedanese commented on #234
Joe, the most recent version of kubeadm (and only version before yesterday) was `1.6.0-alpha.0.2074-a092d8e0f95f52` which I wasn't able to keep around because it sorted higher the `1.6.0`. That deb is available from here:

https://packages.cloud.google.com/apt/pool/kubeadm_1.6.0-alpha.0.2074-a092d8e0f95f52-00_amd64_0206dba536f698b5777c7d210444a8ace18f48e045ab78687327631c6c694f42.deb

I expect that

[2017-03-29 20:59] jbeda commented on #234
I suspect that is what broke folks.  But I'm a bit confused because it looks like there is a 1.5.6 package.  Perhaps that is because we built 1.5.6 after we changed up the version numbers in this repo?

https://apt.kubernetes.io/pool/kubeadm_1.5.6-00_amd64_7bb1e4c1e387ce4fa6eab884f8b6d5ff3f491c1a9c404ad4fd4039a31d344ed3.deb

[2017-03-29 21:58] #301 closed

[2017-03-29 22:27] geekofalltrades commented on #234
[code]

Sweet! Thanks!

[2017-03-30 03:07] jbeda commented on #234
Thanks @mikedanese.  I think the best we can do at this point is document this someplace.  I'm going to file a docs bug on this.

[2017-03-30 03:09] #234 closed

[2017-03-30 03:25] mkumatag opened #303 "bogus date in kubelet.spec changelog"
While building rpm packages, I've seen a warning message like below:

`warning: bogus date in %changelog: Fri Dec 6 2016 Lucas Käldström <lucas.kaldstrom@hotmail.co.uk>-1.5.0-beta.2`

This is happening because the date mentioned `Dec 6 2016` falls on Tue. I'll be sending the PR to fix this small typo. -Thanks.

[2017-03-30 03:37] mkumatag commented on #303
submitted PR https://github.com/kubernetes/release/pull/304

[2017-03-30 05:22] #303 closed

[2017-03-30 06:57] mkumatag commented on #298
/cc @ixdy this issue can be closed, as fix went into #302

[2017-03-30 07:16] #298 closed

[2017-03-30 13:37] sdake opened #305 "RPMs should be gated with kubeadm and then tagged"
This repository builds kubeadm RPMs, however nothing is gated as evidenced by the chaos caused during the release of 1.6 of kubernetes.  Constantly gating the built RPMS would validate their correctness.

In upstream kolla-kubernetes (http://github.com/openstack/kolla-kubernetes) we do gate the Kubernetes generated RPMs - perhaps there is something useful to be learned from our gating tools.

We h

[2017-03-30 15:58] mikedanese commented on #305
What does gating mean?

[2017-03-30 15:59] kfox1111 commented on #305
There were several issues with the handling of the issues in 1.6.0.
rpms treat release-0 as less then release-0.alpha. final releases should be release-1
rather then fix 1, the solution used was to delete the alpha rpm. That doesn't work for several reasons:
  1. people have cached copies
  2. people have installed the alpha, then the system wont ever try and downgrade
  3. if deleted, you can nev

[2017-03-30 16:00] kfox1111 commented on #305
@mikedanese Some kind of automated job that blocks release until the artefacts are tested for functionality.

[2017-03-31 00:28] coeki opened #306 "1.6.0 kubelet changed behaviour for cgroups on Centos"
Somehow the rpm's for Centos, fedora and rhel for the 1.6.0 release make the cgroup-driver between docker and the kubelet different. Docker has cgroup-driver=systemd, kubelet has cgroup-driver=cgroupfs.

A quick fix to building the rpm's would be to add

`Environment="KUBELET_CGROUP_ARGS=--cgroup-driver=systemd"`

to the 10-kubeadm.conf file.

Not seeing this on ubuntu, so not sure about the real

[2017-03-31 00:33] coeki commented on #306
ah forgot to mention in regard to https://github.com/kubernetes/kubernetes/pull/43835 and https://github.com/kubernetes/kubernetes/issues/43815

[2017-03-31 00:41] liggitt commented on #306
cc @derekwaynecarr

[2017-03-31 01:27] silentred commented on #306
Agree. Now I have to edit kubelet config by hand.

[2017-04-01 00:55] mikedanese commented on #306
@dgoodwin

[2017-04-01 04:41] mikedanese commented on #306
I don't have much experience with el derivatives but it seems like the resolution here is that we can either align kubelet with the docker default cgroup driver or vica versa. I'm not sure what the implications are either way so I would be happy to have someone with more familiarity weigh in.

cc @kubernetes/sig-node-misc

[2017-04-01 19:12] ivdimitro commented on #292
My kubeadm init stopped at the same point in fully updated Centos 7.
I see you closed the issue. What was the solution?
`uname -r
3.10.0-514.10.2.el7.x86_64`

[2017-04-03 16:45] yujuhong commented on #306
I think it's required to configure docker and kubelet to use the same cgroup driver, but @derekwaynecarr is the right person to answer.

[2017-04-03 18:27] vishh commented on #306
If the docker cgroup driver is `systemd` set kubelet to use that as well.

[2017-04-07 07:11] fabiand commented on #234
@mikedanese to summarize: Generally speaking you would keep older releases i nsome repoditory, just for 1.6.0 it did not work out, because the NVR was broken?

[2017-04-07 18:39] Seb-Solon opened #310 "kubelet and kubernetes-cni packages depencies"
Hi,

The rpm package of  kubernetes-cni depends on kubelet and the rpm package of kubelet depend on kubernetes-cni as described here https://github.com/kubernetes/release/blob/master/rpm/kubelet.spec

This makes a circular dep. Do you agree guys that we can remove the dependency of kubelet from the kubernetes-cni package? If so I can do a PR for you.

It looks like it is fine for debian if I look

[2017-04-13 09:14] mkumatag opened #312 "Publish kubeadm packages for ppc64le platform"
Recently I've submitted 2 PR to enable and generate kubeadm packages for deb and rpm package, please generate those packages and push to http://apt.kubernetes.io and http://yum.kubernetes.io respectively.

PR references:
https://github.com/kubernetes/release/pull/308
https://github.com/kubernetes/release/pull/309

[2017-04-13 09:14] mkumatag commented on #312
/cc @mikedanese

[2017-04-15 01:47] bgrant0607 commented on #219
See also #3

[2017-04-15 01:48] bgrant0607 commented on #219
People also run clients on at least Mac and maybe Windows

[2017-04-16 15:07] luxas commented on #312
@mikedanese please push the packages that are missing

[2017-04-20 08:26] #261 closed

[2017-04-21 12:48] Seb-Solon commented on #310
Is this legit guys?

[2017-04-21 15:34] gtaylor commented on #281
I saw some things mentioned about what needs to be done, but they aren't super concrete for me. Does anyone feel comfortable outlining the first few steps in starting this process? Links to examples of related docs that might show how things are done would be especially useful.

[2017-04-23 05:17] thockin commented on #281
We are looking at making a new GCP "organization" for kubernetes stuff to
be hosted.  CNCF will pick up th ebillm but we have to run it (as it should
be).

On Fri, Apr 21, 2017 at 8:34 AM, Greg Taylor <notifications@github.com>
wrote:

[2017-04-23 15:33] gtaylor commented on #281
Sounds reasonable. I'm around if help is needed!

On Apr 22, 2017 10:17 PM, "Tim Hockin" <notifications@github.com> wrote:

[2017-04-26 18:39] #306 closed

[2017-04-27 02:32] 4admin2root opened #317 "it is unnecessary to process config files which starting with ."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kubelet manifests
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG

[2017-04-27 18:00] mikedanese commented on #312
Sorry for the delay, filed an internal ticket to get these new repos online.

[2017-05-03 17:46] ixdy commented on #18
Embargoed security releases are another example.

[2017-05-03 17:48] ixdy commented on #203
I think #286 fixed this by adding `--version-suffix`.

[2017-05-03 17:48] #203 closed

[2017-05-03 20:20] david-mcmahon commented on #154
Closing this.  There is the larger issue of what downstream (GKE) expects before anything can happen with this task.

[2017-05-03 20:20] #154 closed

[2017-05-04 22:31] #274 closed

[2017-05-09 11:39] kargakis opened #321 "Track cherry-pick times into release branches"
Not sure if this issue falls in this repo or somewhere else.

I have had cherry-picks waiting as long as one month (eg. https://github.com/kubernetes/kubernetes/pull/43979) and I was wondering if this is expected and if tracking cherry-pick times is something we want to do.

No @kubernetes/sig-release-feature-requests group yet

[2017-05-15 17:34] timothysc opened #324 "Use native packaging .spec & .debs"
Almost done with CNI, and will put up for fedora review, then I have an update for fedora packages to include a kubernetes-kubeadm sub-package.

/cc @dgoodwin @ingvagabund @mikedanese

[2017-05-15 21:54] timothysc commented on #324
CNI review - https://bugzilla.redhat.com/show_bug.cgi?id=1451124

+ I have packaging sub-package for kubeadm once that is done.

[2017-05-16 18:34] enisoc opened #326 "Verify test breaks on release branch after each version bump"
The [version bump](https://github.com/kubernetes/kubernetes/commit/00fb653e406a4b5bbac71a10c3e330afef960f13) committed on the release branch by anago breaks `make verify`.

To fix it, I have to run `hack/update-all.sh` afterward. Probably anago should run this after bumping the version, before committing the change.

[2017-05-16 23:31] david-mcmahon commented on #326
That seems like a new requirement.  Did this not come up during the last release on the release-1.6 branch?  Do you have any details/logs on what exactly failed?

[2017-05-16 23:42] enisoc commented on #326
It came up during the 1.6 release, but I didn't know it was unexpected. I just always ran update-all after a release cut because the fast-forward script did it. If this is new, I guess it's because update/verify changes/checks some things it didn't used to.

Gubernator is not loading for me right now, but this URL should contain an example:

https://k8s-gubernator.appspot.com/build/kubernetes-jenk

[2017-05-17 18:05] mikedanese commented on #324
How do we coordinate this with releases?

[2017-05-17 18:28] #275 closed

[2017-05-17 18:48] timothysc commented on #324
I'm going to setup triggers on tags to push updates.

[2017-05-18 14:27] timothysc commented on #324
@mikedanese I could also push the full .spec files back such that you can mock build and then your packages will be up to guidelines.  Right now the binary .specs files gives pause to those in the know, b/c they can't full reproduce from .srpm files.

I could PR back to this repo once all channels are updated and the instructions would need to be cleaned up too.

[2017-05-18 21:54] timothysc commented on #324
/cc @marcoceppi @castrojo

[2017-05-22 11:34] mkumatag commented on #312
@mikedanese any updates on internal ticker filed to get repos online?

[2017-05-22 14:57] mikedanese commented on #312
Isn't this done?

[2017-05-22 14:57] #312 closed

[2017-05-23 01:20] david-mcmahon opened #332 "Expand anago's mock capabilities to work against private repos"
[anago attempts to ensure (using --dry-run) that the user can write directly to kubernetes/kubernetes](https://github.com/kubernetes/release/blob/master/anago#L943).  This is currently and for the foreseeable future a requirement, but it precludes anyone who does not have these special permissions from even running a full mock of a release.  There are two issues:
* A release manager mock does want

[2017-05-24 17:20] timothysc commented on #324
I'll try to update the kube-spec tool.  The channeled on is kind of a mess.

[2017-05-29 15:33] luxas commented on #312
Thanks @mikedanese!

[2017-05-30 04:22] mkumatag commented on #312
Thanks @mikedanese @luxas..

[2017-05-30 20:25] caesarxuchao opened #335 "Update the test matrix in lib/releaselib.sh"
The tests [matrix](https://github.com/kubernetes/release/blob/master/lib/releaselib.sh#L106) might not be up-to-date. @dchen1107 @krzyzacy what are the other tests we need for 1.7?

[2017-05-30 20:28] krzyzacy commented on #335
for 1.6 we had https://github.com/kubernetes/test-infra/issues/2029, maybe @dchen1107 we should make one for 1.7, or it need to go into some documentation somewhere?

[2017-05-31 04:14] bgrant0607 commented on #3
cc @monopole

[2017-06-01 01:29] kaybinwong commented on #226
so what the solution for this issue, anybody fix it?

[2017-06-01 22:58] mml opened #337 "Share public Google Calendar that has all release dates and deadlines on it"
Makes it easy for contributors to plan their contributions, code reviews, etc.  Once published, it'll be important to make sure that timeline changes are reflected on it, because folks (I at least) will be relying on it to be authoritative to plan their days and nights.

cc @calebamiles

[2017-06-01 23:01] calebamiles commented on #337
Calendar updated for 1.7 [available now](https://calendar.google.com/calendar/embed?src=coreos.com_regcvcrgvq98lua2ikijg1g1uk%40group.calendar.google.com&ctz=America/Los_Angeles) [1]

1. https://calendar.google.com/calendar/embed?src=coreos.com_regcvcrgvq98lua2ikijg1g1uk%40group.calendar.google.com&ctz=America/Los_Angeles

[2017-06-01 23:24] #337 closed

[2017-06-05 22:24] david-mcmahon commented on #335
dup of https://github.com/kubernetes/test-infra/pull/2967

[2017-06-05 22:24] #335 closed

[2017-06-09 17:53] jimmyjones2 commented on #263
+1 It's also missing the latest releases of older branches - eg 1.4.12 was released less than 2 months ago, but there are no packages in the repo

[2017-06-09 20:54] david-mcmahon opened #340 "Store release-blocking jobs in a central place for /release, /test-infra and others"
The values [here](https://github.com/kubernetes/release/blob/master/lib/releaselib.sh#L104) need to be moved somewhere central so that updating names happens once and Just Works everywhere.

https://github.com/kubernetes/test-infra/blob/bdaf001/testgrid/config/config.yam looks like the canonical source, but it's also quite a bit larger than the current list.

See also: https://groups.google.com/d/

[2017-06-14 20:45] timothysc opened #342 "We build 1.8.0-alpha which does not include 1.7 bits"
There are a number of weird deployment issues that come into play on version checks with this.
kubernetes/kubernetes#47438

IMO we should never do this.

/cc @dchen1107

[2017-06-15 16:17] spiffxp commented on #342
@kubernetes/sig-release-feature-requests

[2017-06-15 20:38] dclaar opened #346 "anago fails checking cloud account/auth"
Anago checks for authorization twice, one of which depends on parsing the output of `gcloud auth list`, which appears to have changed. With the gcloud version noted below, the command returns:
[code]
Which no longer matches the "- name" test (there's no dash).

One option is to use:
[code]
Which only shows the user names.

Another option would be to drop the first part altogether, since the second

[2017-06-15 21:17] dclaar commented on #346
The following code, which checks the active user, could use:
--filter=status:ACTIVE

[2017-06-15 22:20] grodrigues3 opened #348 "Break Release Notes Down By Sig"
The release team's goal was to achieve better visibility into the 1.7 release by:

Enforcing that all issues in the milestone have sig/ labels
Enforcing that all non-trivial PRs in the milestone have associated issues
As a result, we should be able to guarantee that all PRs are associated with a sig (not actually true since these policies started around code freeze), but can we try to generate rel

[2017-06-15 22:24] david-mcmahon commented on #348
Yes, release notes are currently organized by the different release-note-* labels.  There's no reason the notes cannot be further organized by additional (sig) labels.  And you can continue to sort them into the higher level general/action-required with sig sub groupings or however you like.

[2017-06-15 23:10] spiffxp commented on #340
I'm not sure testgrid's config should be considered the canonical source, it might just be the best thing we have today? /cc @fejta

[2017-06-15 23:19] david-mcmahon commented on #340
@spiffxp I'm less concerned about where *the* canonical list is sourced, just that we need one, because today have significant drift between what the release process has been gating on for the last year and a half and what is currently evolving on testgrid.  No matter where we keep the config, testgrid and release both need to consume it.

[2017-06-16 00:06] david-mcmahon commented on #346
Yep, I just updated my gcloud and they changed the output format, so
attempting to use their --format seems like a good plan.
The trouble is the auth list is used in two ways. 1) to determine what
accounts are auth'd and 2) ensuring an ACTIVE one.  Now I remember that's
why I didn't use --format because I needed the whole picture.
Go ahead and play with it to see how we can get that whole picture

[2017-06-16 16:25] spiffxp commented on #340
Agreed, just hoping we're not talking about closing out this issue once the testgrid config is consumed.  That's a good first step but feels like tech debt.

[2017-06-17 00:18] #346 closed

[2017-06-19 18:35] #340 closed

[2017-06-20 18:25] caesarxuchao opened #353 "branchff should disallow fast-forward release-1.x if tag 1.(x+1).0.alpha.1 exists"
Not sure if the description is accurate.
I don't know why the 1.8.0.alpha.0 doesn't cause the same problem. Is it because we have 1.7.0.beta.0 right after we made 1.8.0.alpha.0, so that the latest tag is still 1.7.0.beta.0?

[2017-06-20 18:48] dchen1107 commented on #353
@kubernetes/kubernetes-release-managers

[2017-06-21 16:54] #353 closed

[2017-06-26 09:52] luxas commented on #310
This line is indeed wrong: https://github.com/kubernetes/release/blob/master/rpm/kubelet.spec#L39
Feel free to send a PR

Sorry that I haven't seen this earlier, but I'm not watching the release repo...

[2017-06-30 11:33] jimmycuadra opened #358 "anago: Push deb/rpm packages as part of the release process"
/etc/apt/sources.list.d/kubernetes.list:

[code]

In a shell:

[code]

It seems that has happened with previous releases: https://github.com/kubernetes/release/issues/263. This should be added to a release checklist, or ideally, automated.

[2017-06-30 17:49] caesarxuchao opened #360 "run relnotes with --htmlize-md causes nested linking"
Caused https://github.com/kubernetes/kubernetes/pull/48328

Caused by one of these sed: https://github.com/kubernetes/release/blob/master/relnotes#L461-L463

[code]

@david-mcmahon could you help take a look?

[2017-06-30 18:00] caesarxuchao opened #361 "anago should give user a second chance to run prodaccess"
[Sending mail](https://github.com/kubernetes/release/blob/master/anago#L1091) requires that the user has run prodaccess. Although anago checks for the prerequisites at the beginning of the script, prodaccess could have expired when anago reaches the sending mail step. Instead of exiting, anago could ask user to run prodaccess and retry.

Alternatively, if anago records all the global variables in

[2017-06-30 19:50] enisoc opened #364 "New branches should be protected and restricted"
As a policy, we set release branches as "protected" (can't be force-pushed or deleted) and "restricted" (only repo admins can push to it, not all repo writers).

It would be nice to have some automation for this at the time when the branch is created, although I don't know if the GitHub API makes that easy. We often forget to do this for a while - for example I just now applied protection to `rele

[2017-06-30 20:17] spiffxp commented on #364
I think the API gives us the event we'd need to find out the branch was created, and write access to what we'd need to protect the branch
- https://developer.github.com/v3/activity/events/types/#createevent
- https://developer.github.com/v3/repos/branches/#update-branch-protection

Could probably be done as a prow plugin

[2017-06-30 20:24] caesarxuchao opened #365 "anago should push debs/rpms"
These two scripts might do the job, we should include them in anago.

https://github.com/kubernetes/release/blob/master/debian/jenkins.sh
https://github.com/kubernetes/release/blob/master/rpm/entry.sh

cc @mikedanese

[2017-06-30 20:25] david-mcmahon commented on #365
@mikedanese is this something we can/should do at this point?  It seems this has been separate as we worked out the kinks, but it should be mature enough to include in-line in the standard release workflow now, yes?

[2017-06-30 20:32] caesarxuchao commented on #365
Those scripts build the packages, but we rely on an internal tool `rapture` to publish the packages.

[2017-07-01 00:35] caesarxuchao opened #367 "relnote should note include "action required", etc."
If draft is used, these [lines](https://github.com/kubernetes/release/blob/master/relnotes#L403-L424) should be skipped.

[2017-07-01 17:40] praseodym commented on #358
v1.7.0 packages are now available: https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/binary-amd64/Packages

[2017-07-09 11:45] #365 closed

[2017-07-10 18:06] david-mcmahon commented on #365
Regardless of the publishing mechanism, It looks like  there are a number of prepublishing steps, mostly manual, sometimes delayed.  Everything up to the publish button like updating version numbers can/should be done in the workflow automation.  Because, why not?   Where best to track those steps/actions?

[2017-07-10 23:19] mikedanese commented on #365
@david-mcmahon those manual steps go away when we can switch fully to bazel:

https://github.com/kubernetes/kubernetes/blob/master/build/debs/BUILD

We are lacking cross platform support which should land in a month or two

[2017-07-11 00:55] david-mcmahon commented on #365
Ah, ok thanks for the explanation.  Just wanting to make sure we're tracking this initiative (integrating deb build/deploy to standard workflow) somewhere.

[2017-07-11 00:58] ixdy commented on #365
note that I don't expect to switch fully to bazel before k8s 1.9.

[2017-07-12 01:52] justlooks opened #374 "i compile rpm package ,get v1.6.4, not v1.7"
because v1.7 release recently, and i want to try ,but i find the output of components package is 1.6.4 ,why?
#  cd release/rpm/output/x86_64/
 ls -l
total 39276
-rw-r--r-- 1 root root  8215186 Jul  7 15:58 kubeadm-1.6.4-0.x86_64.rpm
-rw-r--r-- 1 root root  8627266 Jul  7 15:58 kubectl-1.6.4-0.x86_64.rpm
-rw-r--r-- 1 root root 15500046 Jul  7 15:58 kubelet-1.6.4-0.x86_64.rpm
-rw-r--r-- 1 root root

[2017-07-13 19:22] #367 closed

[2017-07-16 11:38] tsaarni opened #378 "deb packages for Ubuntu 17.04 zesty"
I would like to request deb packages on apt.kubernetes.io for bootstrapping Kubernetes with kubeadm on Ubuntu 17.04 Zesty.

[2017-07-16 18:48] tsaarni commented on #378
I realized that server packages are currently available *only* for xenial so I suppose it is not very likely that zesty *server* binaries would be added on the apt repository.

But I found out how to build packages myself.  Here is a change on my private fork at https://github.com/tsaarni/kubernetes-release/commit/8e931d7b161d6e80425c8e4af3e1daebef957d4c

[2017-07-17 09:20] fanhongli opened #379 "Executing(%prep): /bin/sh -e /var/tmp/rpm-tmp.LKORBi"
Executing(%prep): /bin/sh -e /var/tmp/rpm-tmp.LKORBi
+ umask 022
+ cd /root/rpmbuild/BUILD
+ $'\r'
/var/tmp/rpm-tmp.LKORBi: line 40: $'\r': command not found
error: Bad exit status from /var/tmp/rpm-tmp.LKORBi (%prep)

[2017-07-17 09:29] wojtek-t opened #380 "./relnotes script has hidden assumption that "upstream repo" is called "origin""
I couldn't make the ./relnotes script work in my environment successfully due to the assumption that the "upstream" repo is called origin.

So I finally changed the script as following:
[code]

and it started working for me.

We should get rid of this assumption and make it possible to e.g. configure it with flag or sth like that.

[2017-07-17 19:27] david-mcmahon commented on #380
Is there a way we can dynamically set the upstream remote in this case?  `relnotes` is used from different types of repo clones (forks, etc) with different remotes.  It'd be great to find a way to make this Just Work vs. more flags.

[2017-07-17 20:27] wojtek-t commented on #380
Maybe some kind of "git remove -v" + grep ?

[2017-07-17 20:35] ixdy commented on #380
You can steal [this function](https://github.com/kubernetes/kubernetes/blob/d20414e2b639ef1188e36722381f7719c6e28077/hack/lib/util.sh#L431-L437) from `kubernetes/hack/lib`.

[2017-07-19 02:10] #374 closed

[2017-07-23 02:29] jimmycuadra commented on #358
There still seems to be a problem with the repositories getting updated when a new Kubernetes release is made. v1.7.2 was released 2 days ago but the apt repo still has only v1.7.1.

[2017-07-24 21:20] luxas commented on #162
This will happen when https://github.com/kubernetes/sig-release/issues/10 is implemented.
To publish these packages is not a priority. You can build them yourself easily with docker though

[2017-07-24 21:20] #162 closed

[2017-07-31 15:57] PeterGrace opened #385 "kubeadm RPM package does not treat 10-kubeadm.conf as a config file"
In our deployment, we have a custom service IP range that is different from the default of 10.96.0.0.  As a result, we have to hand-edit `10-kubeadm.conf` to set `--cluster-dns` to be a different value for kubelet startup.

When kubeadm is upgraded, `10-kubeadm.conf` is overwritten with the package default, rather than saving as .rpmnew or some other method of preserving changes.  My understanding

[2017-07-31 17:58] bgrant0607 opened #387 "Release bundles contain a lot of cruft"
This should get much better once we delete docs and examples from the kubernetes repo, but the release also just shouldn't contain those directories any longer.

[2017-08-01 23:18] #164 closed

[2017-08-04 17:40] pipejakob opened #391 "Update kubeadm.conf for k8s >= 1.8"
There was a [PR](https://github.com/kubernetes/release/pull/386) to update this repository's `kubeadm.conf` to match the copy used by bazel builds in the [kubernetes repo](https://github.com/kubernetes/kubernetes/blob/898b1b333068430edfa29b6f7b17dbab458c1846/build/debs/kubeadm-10.conf). Unfortunately, this commit needed to be rolled back because its changes should only apply to Kubernetes versions

[2017-08-04 21:08] pipejakob commented on #391
I chatted with @mikedanese about this, and in the longer-term, we would really like deb/rpm building to be done exclusively by bazel, and to kill this duplicated `release` logic. That won't realistically happen until 1.9 or later, though.

[2017-08-04 21:30] luxas commented on #391
@pipejakob What's blocking it?

[2017-08-07 17:20] pipejakob commented on #391
I believe we're still lacking support for cross builds in bazel, and that's something that the bazel team is working on. We can use our bazel builds now to build debs/rpms for the current local architecture, but not all the others.

[2017-08-07 20:14] luxas commented on #391
@pipejakob Ah yeah, that's right.
I was first thinking if there was a blocker on our side...

[2017-08-22 02:28] feiskyer opened #395 "1.7.4 RPMs not found"
1.7.4 RPMs not found in repo <https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64>.

When will it be available? I thinks it should be released together with binaries.

[2017-08-22 07:38] wojtek-t commented on #395
Should be fixed now.

[2017-08-22 07:38] #395 closed

[2017-08-22 07:40] feiskyer commented on #395
@wojtek-t Cool. Thanks

[2017-08-23 01:54] david-mcmahon opened #396 "Anago needs to check for github branch restrictions"
A recent alpha release was pushed and the tag went, but the branch push failed due to newer branch restriction ACLs at what appears to be the github level.  The check we use to verify that someone is able to push before getting too far "git push -q --dry-run origin master" will return OK, but then fail when the actual non dry-run push occurs.

Need to figure out how to ask github about branch rest

[2017-08-23 02:42] david-mcmahon commented on #396
https://developer.github.com/v3/repos/branches looks promising, but there's not much in the way of descriptions.  it's not clear which one of those would return the "I'm authenticated as user via a token.  Do I have access to the named branch?"

[2017-08-23 03:02] david-mcmahon commented on #396
@enisoc You don't appear to have this issue, but according to https://github.com/kubernetes/kubernetes/settings/branches/master, only kubernetes-admins have access to push and you are not on that list and neither is anyone else who is creating releases.

Who set up the branch restrictions originally who might understand these ACLs?

[2017-08-23 03:22] david-mcmahon commented on #396
@shawnajean (from github) was helpful enough to explain that there's no simple endpoint for this kind of check and it requires a bit more parsing and constructing to figure out if a user is on the list or in a group, but given the disconnect between what the master branch restriction page is telling us and who actually has permission to push to these branches, it means we need to figure out that b

[2017-08-23 17:25] enisoc commented on #396
Perhaps we could create a dummy branch with the same authorized users as master, but that allows force push. Then in the check phase, do a real push to the dummy branch, then a force push to undo it. The undo push prevents the accumulation of useless cruft in the main repo.

[2017-08-23 17:31] david-mcmahon commented on #396
That may be an option, but it adds moving parts to the process and a maintenance burden to maintain the additional branch with the same permissions.  I could see that easily getting out of sync too.

My plan for now is to assume (yuk) that kubernetes-release-managers is authoritative and then check that whoever or whatever is running anago is in that list.  Unless there's some way to connect the f

[2017-08-25 03:20] #396 closed

[2017-09-05 14:19] bgrant0607 commented on #281
Note that kubernetes-charts and kubernetes-helm are GCP projects to which non-Googlers have access. Maybe we should set up more such projects for relatively independent subprojects.

[2017-09-06 19:43] david-mcmahon commented on #364
cc @abgworrall

[2017-09-06 20:11] david-mcmahon commented on #154
@ihmccreery Can you add some context here?  I remember one time before the automation (anago), we didn't push one of these tagged (but unreleased) releases and something fell over.  What was that again and is that still the case today?

[2017-09-12 20:11] mattymo opened #406 "kubeadm v1.8 does not mount /etc/kubernetes"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.8.0-beta1

**Environment**:
- **

[2017-09-13 18:52] enisoc opened #407 "Committing openapi-spec versioned files: FAILED"
While trying to cut 1.6.10, this step seems to fail because the files don't change:

[code]

[2017-09-13 18:58] david-mcmahon commented on #407
Assuming this was a mock?  I'll have a fix in a couple of hours if that's ok - on the road.

[2017-09-13 19:59] enisoc commented on #407
It was a nomock run. I'm bypassing that step for now; I checked the swagger files and they already have the right version.

[2017-09-14 22:49] #407 closed

[2017-09-15 04:59] pekfi opened #409 "kubectl, kubelet binaries v1.6.9 doesn't exist on kubernetes repository"
yum search kubectl
 ======================================================= N/S matched: kubectl =======================================================
 kubectl-1.5.4-0.x86_64 : Command-line utility for interacting with a Kubernetes cluster.
 kubectl-1.6.0-0.x86_64 : Command-line utility for interacting with a Kubernetes cluster.
 kubectl-1.6.1-0.x86_64 : Command-line utility for interacting with

[2017-09-15 18:14] enisoc commented on #326
This seems to have come back:

https://github.com/kubernetes/kubernetes/pull/52526
https://github.com/kubernetes/kubernetes/pull/52559

Could you take a look?

[2017-09-16 05:25] david-mcmahon commented on #326
@enisoc apologies.  [The (latest) fix](https://github.com/kubernetes/release/pull/408) landed earlier today but after those releases.

[2017-09-16 05:25] #326 closed

[2017-09-21 19:08] pipejakob commented on #409
Hey @pekfi, in order to give us an idea of priority, can you let us know the impact of this specific release being missing? I'm not saying it's expected, but I'm wondering if this is something you casually noticed and wanted to point out, or if it's actively blocking you. Thanks!

[2017-09-22 05:34] pekfi commented on #409
Hi @pipejakob, I would like to update 1.6.X to greater then 1.6.7 asap. This is a requirement of my customer. I do not want to update to 1.7.X at the moment. I found the binaries in the tarball of kubernetes v.1.6.9, why is it not released on the kubernetes.repo ? Thanks Peter

[2017-09-27 22:25] kad opened #415 "Publish produced from bazel builds deb and rpm packages"
I would like to discuss possibility to improve release scripts and CI jobs to be able to publish
packages produced during bazel builds for all branches.

I would like to propose also list of repositories that would be matching labels that are used in CI (latest-1.x, stable-1.x, etc).

Naming convention I suggest to use: `kubernetes-$distro-$arch-$ci_label`

For example, for RPMs it would be someth

[2017-09-28 06:25] kad commented on #391
#413 seems to be closing that issue, isn't it ?

[2017-09-28 17:32] pipejakob commented on #391
Yup. The deb changes were in https://github.com/kubernetes/release/pull/413 and rpm changes in https://github.com/kubernetes/release/pull/414. Closing.

[2017-09-28 17:32] #391 closed

[2017-09-29 06:48] jimmycuadra commented on #358
Any update on getting this part of the release process fixed? 1.8 has been released by the apt repo isn't updated.

[2017-09-29 16:27] luxas commented on #358
This will be done very soon, I hope you understand @jimmycuadra that after a 14+ hour day for most of us (and unexpected problems with the pushing process), this part was deferred a couple of hours to today. Will be done in the coming hours.

If you want to dig into the releasing scripts in this repo, feel free to, this is open source :wink:

cc @jdumars

[2017-09-29 19:40] luxas commented on #358
This is now done, both debs and rpms are pushed.

[2017-09-29 21:22] jimmycuadra commented on #358
I apologize that my tone made this issue sound demanding—that's not what I intended. I just wanted to track the fact that updates to the apt repo are not currently automated or tied to the release process of the binaries, so there is no way for people installing/updating k8s through the apt repo to know when it's actually ready besides just trying and seeing if an update is found.

I think this is

[2017-09-29 21:26] luxas commented on #358
ok, I can reopen this then. I think @timothysc is planning to do this for v1.8, right?

[2017-09-29 21:30] jdumars commented on #358
@jimmycuadra , I wasn't at all concerned about tone or anything.  This is a very important part of the release process, and has been something that's slipped off the radar many times.  As @luxas said, @timothysc has generously offered to look into the effort required to get this done.  So, we basically have a dream team of engineering solving this now.  How cool is that?

[2017-09-30 16:03] praseodym commented on #358
I'm not seeing deb packages for v1.7.6 and v1.7.7. It would be great if these could be released as well!

Also, because Docker versions 1.12.6, 1.13.1, and 17.03.2 are newly validated for Kubernetes 1.8, maybe these versions could be added to the apt repository? Currently only docker-engine 1.11.2 is available there.

[2017-10-02 04:03] liggitt opened #427 "changelog generation should write to file per release-branch"
In order to keep changelog files from growing without bound, and to make it easier to see what is changing in a given release stream, the changelog files are being split per release branch.

However, anago is still generating new point release notes in the main CHANGELOG file. It should target release notes for tag `x.y[...]` to `CHANGELOG-x.y.md` (creating it if needed)

[2017-10-02 17:28] enisoc commented on #427
PR is out for review: #421

[2017-10-02 17:39] liggitt commented on #427
amazing, the time-traveling PR opener strikes again :)

[2017-10-02 23:09] kongslund commented on #409
Given the [vulnerability in DNSMasq](https://security.googleblog.com/2017/10/behind-masq-yet-more-dns-and-dhcp.html) which has been fixed in 1.5.8, 1.6.11, 1.7.7, and 1.8.0, I would hope that Debian and RPM packages for those versions will be published soon.

[2017-10-02 23:57] #427 closed

[2017-10-04 19:35] david-mcmahon opened #431 "Sync CHANGELOG-x.y.md files to branches in release workflows."
Up til now, CHANGELOG as a single file has had its canonical location on master.  With the recent introduction of #421 to split up CHANGELOG per branch, it now makes sense to sync the branch specific CHANGELOG to the branch as well.

[2017-10-06 23:30] #431 closed

[2017-10-10 17:25] lareeth commented on #409
What's the expect process to upgrade to the latest version of 1.5, 1.6 or 1.7 if these rpms are not available? This is blocking us from upgrading, as we choose the rpm version when provisioning a server, and we cant provision newer than 1.6.7.

[2017-10-10 19:36] enisoc commented on #409
@wojtek-t I heard that you helped with getting RPMs pushed for 1.7. What's the process here?

[2017-10-11 23:48] colemickens commented on #358
Not to keep piling on (this is something I'd like to circle back on eventually and help with as well), but `kubernetes-cni` is alos behind the releases from the containernetworking plugins repository. Not sure if it's supposed to be updated as there are new CNI releases. Also, not sure if releases for CNI are managed through this repo, but I'm assuming `kubernetes-cni` package issues go here at le

[2017-10-13 16:48] luxas commented on #358
@colemickens CNI releases are tied to a specific k8s release. We're bumping the CNI version in v1.9 to v0.6: https://github.com/kubernetes/kubernetes/pull/51250#issuecomment-336502529

[2017-10-13 20:41] timothysc commented on #358
@luxas lets enqueue this for @kubernetes/sig-cluster-lifecycle-feature-requests next week.

[2017-10-18 05:57] xiangpengzhao commented on #299
xref: https://github.com/kubernetes/release/issues/360

[2017-10-18 14:19] bgrant0607 commented on #299
cc @kubernetes/sig-release-bugs

[2017-10-18 14:35] xiangpengzhao commented on #299
I will try to understand the scripts. @david-mcmahon any ideas?
BTW, we had this issue both in 1.7 (https://github.com/kubernetes/kubernetes/pull/48328) and 1.8 (https://github.com/kubernetes/kubernetes/pull/53286). Hope we don't meet this in the future releases...

[2017-10-18 17:40] enisoc commented on #299
For 1.9, I'm hoping to switch to the new Go implementation (#434).

@jennybuckley @roycaihw Does the new implementation still exhibit this problem?

[2017-10-18 18:13] david-mcmahon commented on #299
Good point @enisoc. Once this gets submitted and we integrate with `anago`, we can close this issue.

[2017-10-18 18:32] roycaihw commented on #299
@enisoc @david-mcmahon Yes, I think it still exhibit the problem. HTML-izing markdown file is kind of complicated, and the Go implementation relies on the same sed command as #360 pointed out.

[2017-10-18 23:43] #299 closed

[2017-10-20 09:19] xiangpengzhao commented on #360
fixed by #445
/close

[2017-10-20 09:19] #360 closed

[2017-10-28 15:14] luxas commented on #415
@kad are you interested in helping with a program that would push debs/rpms in a apt-get/yum-compatible manner to some GCS bucket?

I think the general style above looks very good; except that I think we should have it to be
kubernetes(-xenial)(-ci) with `stable`, `stable-1`, `stable-1.8`, etc. as the sub-repos.

[2017-10-28 19:08] kad commented on #415
@luxas I'm interested to help here, but I have no idea how this publishing is implemented now :(
I fear that we need some googler for that task.

Regarding sub-repos: I'm not sure if GCS bucket support different ways if sub-repos.
Because in case of RPMs, sub repos are just directory structure, but in case of debs, it can be one pool but different dists for different branch. Something like:
`deb h

[2017-10-31 05:59] rareshornet commented on #228
If anyone needs to mirror the rpms using cobbler u can do that by adding the package names in the RPM list as vobbler repo add --name=CentOS-7-x86_64-kubernetes-update --mirror-locally=True --keep-updated=True --mirror="http://yum.kubernetes.io/repos/kubernetes-el7-x86_64" --rpm-list="kubeadm kubelet kubectl"

This will download only latest packages

after this you can reserve the repo as rsync wi

[2017-11-03 16:19] kubadawczynski opened #455 "Lack of kubectl/kubelet binaries from version 1.6.8 to 1.6.12 in xenial repo"
There is a lack of kubectl/kubelet binaries from version 1.6.8 to 1.6.12 in xenial repo (http://apt.kubernetes.io) except 1.6.11

[code]
[code]

[2017-11-03 18:38] dawidmalina commented on #455
Same issue is with yum repository in which lack of this packages. Personally i can live without 1.6.8 till 1.6.10. But i don't understand why we still don't have the latest version 1.6.12

[2017-11-03 18:40] dawidmalina commented on #409
Looks like this issue is related to https://github.com/kubernetes/release/issues/455

[2017-11-03 23:09] enisoc commented on #455
I've pushed 1.6.12 just now. Sorry for the delay.

We're trying to bring more automation into this process, but it currently takes quite a bit of manual work per version. Because of that, I'd like to avoid having to back-fill 1.6.8 - 1.6.10, unless someone has a good reason to need them. Usually, we recommend always staying on the latest patch release of a given minor branch.

[2017-11-03 23:27] #455 closed

[2017-11-04 00:32] enisoc commented on #409
I've pushed packages for the latest 1.6 patch release, 1.6.12. I also pushed the latest 1.7.10, and am working on 1.8.2.

This is still a time-consuming manual process, but we are working on adding some automation to help reduce the delay from release to deb/rpm packages being available. Thank you for your patience.

[2017-11-04 00:32] #409 closed

[2017-11-04 00:39] lareeth commented on #409
Is there anything we can do to help with the automation? I found it easy to modify the build to allow you pass in the version at build time, I then was able to create a build pipeline for each release from 1.5 to 1.8. You would just need to keep each pipeline minor release number parameter up to date.

[2017-11-04 01:00] enisoc commented on #409
The actual building of the packages is pretty well automated already. The manual steps involve signing and pushing them to the official k8s repositories. Currently, these repos are hosted by Google, and the process to push to them involves Google-internal tools.

More details here:

https://github.com/kubernetes/release/issues/281
https://github.com/kubernetes/release/issues/358

[2017-11-05 14:56] duanzonglong opened #456 "rpm failed"
[root@localhost x86_64]# rpm -ivh kubelet-1.8.0-1.x86_64.rpm
error: Failed dependencies:
        kubernetes-cni >= 0.5.1 is needed by kubelet-1.8.0-1.x86_64
[root@localhost x86_64]# rpm -ivh kubernetes-cni-0.5.1-1.x86_64.rpm
error: Failed dependencies:
        kubelet is needed by kubernetes-cni-0.5.1-1.x86_64

[2017-11-06 09:17] #456 closed

[2017-11-15 18:26] enisoc opened #461 "ERROR: (gcloud.config.set) argument VALUE: Must be specified."
The cross-build job is broken, seemingly due to a recent change in releaselib.sh:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-cross-build/3849

[code]

[2017-11-15 19:00] #461 closed

[2017-11-16 17:45] bamb00 commented on #395
Hi,  I'm a newbie.  I want to retrieve the 1.7.4 rpm from the url above.  How would I go about of doing that?

Thanks in Advance.

[2017-11-23 18:38] pwittrock opened #469 "Build kubectl binary with cgo enabled"
cgo is required for certain go std libraries to work.  See [this](https://inconshreveable.com/04-30-2014/cross-compiling-golang-programs-with-native-libraries/) article for details.

This breaks kubectl name resolution for some cases.  See kubernetes/kubectl#48 for details.

[2017-11-29 01:33] ixdy commented on #469
This starts to get tricky in a hurry; e.g. if you want to want to include `kubectl` in a container, and it's been built with cgo, you now need to make sure you have the correct libc in your container. Similarly, some older linux distributions may have a libc that is too old.

[2017-11-29 23:11] enisoc opened #470 "Generated docs checked in on release branch"
The release-1.9 branch has generated docs checked in:

https://github.com/kubernetes/kubernetes/blob/release-1.9/docs/admin/cloud-controller-manager.md

This is causing `hack/verify-generated-docs.sh` to fail on the branch.

The release-1.8 branch has only the boilerplate checked in:

https://github.com/kubernetes/kubernetes/blob/release-1.8/docs/admin/cloud-controller-manager.md

Which state is c

[2017-11-29 23:13] enisoc commented on #470
For previous branches, it looks like `verify-generated-docs.sh` passed because we would run `update-generated-docs.sh`, which clobbers the generated docs placed there by anago when first creating the branch:

https://github.com/kubernetes/kubernetes/commits/release-1.8/docs/admin/cloud-controller-manager.md

[2017-11-30 01:06] enisoc opened #471 "find_green_build picks wrong secondary build"
One of the secondary jobs on the `release-1.9` branch has been mistakenly building from `master` (https://github.com/kubernetes/test-infra/issues/5727). I would have expected `find_green_build` to fail to find any matching green run for that secondary job, but instead it was marked as `PASSED` with a build number that doesn't match:

[code]

Due to the misconfigured job, [run number 202](https://k

[2017-11-30 18:26] enisoc opened #472 "[release-1.9] find_green_build commit count doesn't match CI build"
On the release-1.9 branch, the latest primary build from HEAD is:

[code]

However, `find_green_build` gives a different commit count since the `v1.9.0-beta.0` tag for the same commit:

[code]

[2017-12-01 06:58] BenTheElder commented on #469
Has anyone mentioned a critical part besides DNS? As far as I've heard there's some hand waving about "critical parts" but it seems this is only DNS so far in my (limited) experience. Perhaps another option is that we can "just" get a better pure-go DNS implementation?

[2017-12-01 07:01] chrislovecnm commented on #469
@BenTheElder we have to shut off cgo DNS in kops for macosx, it was causing problems.   Go implementation is working much better. Will need to test that issue.

@pwittrock Was that issue address in go 1.9?  I will take a look when I have a chance

[2017-12-01 22:47] enisoc opened #473 "[anago] Add/Update CHANGELOG breaks bazel build"
Specifically removing the unversioned `CHANGELOG.md` stub file breaks the bazel build. I wonder if including this stub file is even useful. Should we symlink CHANGELOG.md to the versioned file on the branch?

Example:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/periodic-kubernetes-bazel-build-1-9/143

[code]

[2017-12-01 22:55] ixdy commented on #473
The stub by itself is not useful, no, since the real changelogs are not embedded in the rpms.

We could either symlink or update the BUILD files per-branch to point to the correct changelog. I don't think there's a good way to automatically detect the right changelog.

[2017-12-01 22:58] enisoc commented on #473
For now I'm going to restore the stub, just to unbreak things.

[2017-12-06 22:20] david-mcmahon commented on #470
We've [been here before](https://github.com/kubernetes/kubernetes/issues/44533) and that issue covers the gist of the problem though we never fully sorted it out.

The *-generated-docs.sh scripts are poorly named.  Those generate and verify the stubs only.

`hack/generate-docs.sh` creates real docs on the branches (currently) at branch time (and at branch fast-forward time since `branchff` overwri

[2017-12-10 21:02] fabriziopandini opened #479 "Stage on a public repository binary, debs, rpm and docker images for alpha/beta releases"
It would be really useful for testing if, when cutting a alpha/beta release, the corresponding binary, debs and rpm will be staged on a public bucket (e.g. `gs://kubernetes-release-dev/bazel/v1.9.0-beta.2`), while corresponding debs published on a public docker registry (e.g. `gcr.io/kubernetes-ci-images/`)

cc @luxas

[2017-12-11 11:54] fasaxc opened #480 "Ubuntu 17.10 (GCE image) broken in-pod DNS due to systemd-resolved"
(Aware that 17.10 may not be supported yet, I'm using the xenial packages...)

Installing a cluster with kubeadm on GCE's ubuntu-1710 images, I hit the issue described here:

https://github.com/kubernetes/kubernetes/issues/45828

It seems that the Ubuntu 17.10 images (at least those used on GCE) include the problematic `systemd-resolved` installation.

Kubeadm version
[code]

[code]

[code]

Runni

[2017-12-11 16:43] fabriziopandini commented on #479
I noticed that this issue is somehow related to https://github.com/kubernetes/release/issues/415

[2017-12-11 18:08] ixdy commented on #479
Yeah, currently the official build process is not using bazel, and the non-bazel build process generates rpms and debs out-of-band, somewhat manually. 1.9 is too far along for any meaningful progress here, but it might be possible to improve the rpm/deb situation for 1.10.

[2017-12-11 18:58] dashpole opened #481 "Branchff Fails During `Merge and Update` step."
[code]

It worked just fine on Thursday before the most recent release.

[2017-12-16 07:25] roberthbailey commented on #17
/sig release

[2017-12-18 19:37] ixdy commented on #190
I think the plan is to use Bazel for building these RPMs? @kad

[2017-12-18 22:42] david-mcmahon commented on #65
Release process eventually moving to container builder, the issues raised here are no longer relevant/pressing.

[2017-12-18 22:42] #65 closed

[2017-12-18 22:44] david-mcmahon commented on #122
cc @kubernetes/sig-release-bugs @roycaihw

[2017-12-18 22:50] david-mcmahon commented on #136
Addressing the specific issue of [branch auth based on repo admin, that has been resolved](https://github.com/kubernetes/release/blob/master/lib/gitlib.sh#L84).

[2017-12-18 22:50] #136 closed

[2017-12-18 23:47] david-mcmahon commented on #74
Auth issue, worked out at the time.
Since then a check has been added to validate access to kubernetes-release-test as well.

[2017-12-18 23:47] #74 closed

[2017-12-19 20:37] david-mcmahon commented on #31
Targeting 2018Q1 for this using [GCB](https://cloud.google.com/container-builder/).

[2017-12-20 21:48] ixdy commented on #250
This is fixed.

[2017-12-20 21:48] #250 closed

[2017-12-22 06:36] david-mcmahon commented on #270
cc @javier-b-perez

[2017-12-22 11:46] luxas commented on #270
Progress: https://github.com/kubernetes/kubernetes/pull/54174

/remove-lifecycle stale

cc @thockin @ixdy

What are the next steps here?
To start moving over images to a specific Kubernetes suborg gradually and/or updating refs in all other repos as well?

[2017-12-22 21:23] gtirloni commented on #305
I think this was addressed in the last few releases, wasn't it?

[code]

[2017-12-24 00:15] cblecker commented on #268
/remove-lifecycle stale
This is still relevant.

[2017-12-27 12:51] sdake commented on #305
@gtirloni I can't say for sure.  The basic issue I filed was that kubelet and friends are not run inside any type of CI against the built RPMs.  The fact that the RPMs are present (i.e. history is not lost) is a bit orthogonal to the actual issue.  However, some folks did pile on and indicate the lack of historic RPMs was a real problem for the general kubernetes-consuming community.

That said, e

[2018-01-02 19:53] david-mcmahon commented on #361
Requirement for this is going away / mitigated by the upcoming 'release from GCB' effort.

[2018-01-02 19:53] #361 closed

[2018-01-02 20:02] david-mcmahon commented on #348
cc @roycaihw, @enisoc @jdumars

[2018-01-02 21:06] jdumars commented on #348
/remove-lifecycle stale

[2018-01-03 22:58] david-mcmahon commented on #18
Progress has been made here.  Releases can now be staged, handling ~80% of the workload of a release, in preparation for the final release step.

[2018-01-05 01:22] gtirloni opened #495 "kubelet 1.9.1 RPM package is not signed"
Output from yum:

[code]

[code]

[2018-01-05 22:36] enisoc commented on #495
/assign @mbohlool

@gtirloni Can you try again? I think @mbohlool has pushed new packages to fix this.

[2018-01-07 21:46] gtirloni commented on #495
All good, thank you!

/close

[2018-01-07 21:46] #495 closed

[2018-01-09 21:38] mikedanese commented on #281
/lifecycle frozen

[2018-01-11 02:00] david-mcmahon commented on #471
If prow is configured wrong, `find_green_build` doesn't know that and will just grab the named ("1.9") job.
`find_green_build` *could* scan the json contents for a version that doesn't match here.  There could also be a test on prow config changes that verifies that jobs names somehow match the named branches in the config.

[2018-01-11 09:41] arunm8489 commented on #306
#yum install -y kubelet kubeadm kubectl docker
Jst try installing docker 1.12...iam not getting solution with docker 1.17ce.( i think its not supported with kubelet)
Make swap off by #swapoff -a
Now reset kubeadm by #kubeadm reset
Now try #kudeadm init
after that check #systemctl status kubelet
for me it worked

[2018-01-13 00:37] mithrav commented on #2
/remove-lifecycle stale

[2018-01-16 17:46] david-mcmahon commented on #25
The major items here are now covered by recent updates to the tooling and process.  Closing.

[2018-01-16 17:46] #25 closed

[2018-01-16 22:47] ixdy commented on #128
/close

[2018-01-16 22:47] #128 closed

[2018-01-16 23:23] enisoc commented on #471
Those sound like good checks to prevent this in the future.

BTW, aside from the misconfiguration, is it expected that the build number for a secondary job (711) could be different from the build number for the primary job (713) and still be considered "PASSED"? I would have thought those build numbers have to match.

[2018-01-17 20:03] kad commented on #190
Yes, eventually we want that bazel builds will produce packages.

[2018-01-17 21:43] mbohlool opened #498 "Examples in gcbmgr --help are wrong"
e.g. it said in the example section that to stage a 1.9 release you should run this command

[code]

while the correct command is:

[code]

[2018-01-17 23:27] david-mcmahon commented on #498
Thank you for filing this, @mbohlool!  PR out to you.

[2018-01-18 02:18] #498 closed

[2018-01-18 03:24] david-mcmahon opened #500 "anago needs to ensure active GCP user is not a role account"
If starting anago with a non regular user account, assumptions are made and things fall over.
Add a check for this.

[code]

cc @mbohlool

[2018-01-18 09:39] mbohlool opened #501 "Release note generation ignores automatic cherrypick release notes"
While releasing 1.9.2 I realized that some of the CPs does not show up in the release notes. It look like release notes on CPs are completely ignored and if the parent PR does not have release note they would not show up in the release note. I would suggest we improve this process by using CP release note or fail on these type of PRs. Difference between release note labels or even release note str

[2018-01-18 16:33] enisoc commented on #501
I agree we should improve the automation here. FYI section 2 in [the playbook](https://github.com/kubernetes/sig-release/blob/master/release-process-documentation/release-team-guides/patch-release-manager-playbook.md#cherrypick-requests) summarizes the current logic used.

[2018-01-18 20:08] david-mcmahon opened #502 "Staging of a branch creation session currently broken due to recent changes"
New branches created with --stage don't set WORKDIR correctly( because JENKINS_BUILD_VERSION not set)

cc @calebamiles @mbohlool

[2018-01-18 20:10] david-mcmahon opened #503 "anago: new branch creation fails with a "not at HEAD" warning"
cc @calebamiles

[2018-01-18 20:12] david-mcmahon opened #504 "anago: locally staged mock builds are accessible to --nomock release runs"
Need to guard against this as the links in the staged release notes are pointing to the `-$USER` GCS bucket.

cc @mbohlool

[2018-01-18 23:43] #503 closed

[2018-01-18 23:54] david-mcmahon commented on #502
False alarm. Closing.

[2018-01-18 23:54] #502 closed

[2018-01-22 13:45] errordeveloper commented on #171
@luxas should we keep this open? if so, does it still belong to this repo?

[2018-01-22 13:47] errordeveloper commented on #219
@sebgoa would you rather keep this open or we can let it rot?

[2018-01-22 13:48] errordeveloper commented on #44
/close

Closing in favour of #293.

[2018-01-22 13:48] #44 closed

[2018-01-22 13:51] errordeveloper commented on #259
/remove-lifecycle rotten

On Sat, 20 Jan 2018 at 05:56 fejta-bot <notifications@github.com> wrote:

[2018-01-22 21:13] bgrant0607 commented on #3
/remove-lifecycle stale
/lifecycle frozen

[2018-01-24 01:27] david-mcmahon commented on #332
Closing.  The release process is moving to GCB and these requirements are no longer a priority.

[2018-01-24 01:27] #332 closed

[2018-01-24 13:45] dawidmalina opened #510 "yum.kubernetes.io doesn't contains v1.8.7"
Repository yum.kubernetes.io doesn't contains v1.8.7

[code]

[2018-01-24 16:46] enisoc commented on #510
/assign @jpbetz

Joe, was there a problem with the RPM publishing for 1.8.7? It looks like DEBs are there.

[2018-01-24 17:50] jpbetz commented on #510
Yes, I had some credentials expire during the publish and then got distracted. I'll sort out the issues now and get the debs published.

[2018-01-24 18:26] jpbetz commented on #510
RPMs published.

[2018-01-24 18:26] #510 closed

[2018-01-26 20:03] kfox1111 commented on #305
/remove-lifecycle rotten

[2018-01-30 20:02] ixdy commented on #56
/lifecycle frozen
/remove-lifecycle rotten

This is still worth doing, though we probably need someone to own it and draft a design.

[2018-01-30 20:02] ixdy commented on #56
cc @kubernetes/sig-release-feature-requests

[2018-02-02 19:07] kargakis commented on #364
/remove-lifecycle stale
/assign @fejta

[2018-02-02 19:07] kargakis commented on #364
/remove-help

@fejta is already soaking a branchprotector job in test-infra.

[2018-02-02 19:09] kargakis commented on #406
@mattymo please reopen in the [kubeadm repo](https://github.com/kubernetes/kubeadm)

cc @kubernetes/sig-cluster-lifecycle-bugs

/close

[2018-02-02 19:09] #406 closed

[2018-02-02 19:11] kargakis commented on #305
/lifecycle frozen

[2018-02-02 19:12] kargakis commented on #259
@errordeveloper please reopen in the kubeadm repo

/close

[2018-02-02 19:19] kargakis commented on #259
Sorry, this may more make sense for this repo

/reopen

[2018-02-05 01:35] #321 closed

[2018-02-13 14:45] x13n commented on #281
What about images that are actually google-specific (e.g. [Stackdriver integration ones](https://github.com/GoogleCloudPlatform/k8s-stackdriver)), should they also use the new domain? Right now all manifests using them are referring to k8s.gcr.io.

[2018-02-14 06:06] #13 closed

[2018-02-14 08:08] #17 closed

[2018-02-15 20:43] #38 closed

[2018-02-16 05:52] #159 closed

[2018-02-16 07:54] #167 closed

[2018-02-16 14:00] #188 closed

[2018-02-16 14:00] #196 closed

[2018-02-16 20:06] #201 closed

[2018-02-16 20:06] #190 closed

[2018-02-16 23:09] #122 closed

[2018-02-17 21:31] #242 closed

[2018-02-18 20:54] #255 closed

[2018-02-21 13:58] #171 closed

[2018-02-21 13:58] #219 closed

[2018-02-21 20:04] #317 closed

[2018-02-22 01:09] #276 closed

[2018-02-22 09:29] trunet opened #520 "Kubernetes YUM repository for ARM arch, doesn't list any package"
I'm not sure this is the correct place for this issue.

Kubernetes have an arm repository available on https://packages.cloud.google.com/yum/repos/kubernetes-el7-armhfp.

Not sure why, but adding this repository to my arm board (hardkernel odroid XU4), it doesn't list any package as available. Tried to disable the gpgchecks as well, but no success.

Checking the repodata xml files, it list arch as

[2018-02-22 12:14] trunet commented on #520
More info:
[code]

[2018-02-22 13:10] trunet commented on #520
Installing manually:
[code]

After installing with --ignorearch, it works just fine.

[2018-02-23 04:36] #324 closed

[2018-02-23 18:49] #226 closed

[2018-02-24 21:15] #263 closed

[2018-02-25 23:41] #342 closed

[2018-02-26 09:47] #228 closed

[2018-02-28 14:43] #310 closed

[2018-02-28 18:50] david-mcmahon commented on #472
Expecting to see a @kubernetes/test-infra-maintainers replacement solution to this before I would get to a fix for `find_green_build`.

[2018-02-28 18:52] david-mcmahon commented on #471
Expecting to see a @kubernetes/test-infra-maintainers replacement solution to this before I would get to a fix for `find_green_build`.

[2018-02-28 19:20] krzyzacy commented on #472
so currently we changed what we do in test-infra:
- trigger the build job every like 10 min
- check a build of current k8s version exists or not
- if exists, exit 0
- if not, do a build

not sure if that's related, but I assume you can grab the 1st green build from gcs build job?

[2018-03-01 23:15] #378 closed

[2018-03-01 23:15] #379 closed

[2018-03-02 01:17] #380 closed

[2018-03-05 14:10] kvaps commented on #259
Hey, why are you don't want to accept https://github.com/kubernetes/release/pull/388 patch?
Kubeadm still can't be installed in chroot because of that.
The solution is quite easy and similar one is already used in kubelet postinstall script.

[2018-03-08 19:44] kvaps commented on #259
merged: https://github.com/kubernetes/release/pull/388
/close

[2018-03-08 19:45] ixdy commented on #259
/close

[2018-03-08 19:45] #259 closed

[2018-03-09 09:09] #385 closed

[2018-03-09 09:09] #387 closed

[2018-03-12 21:03] david-mcmahon opened #527 "relnotes generated empty release notes despite labeled PRs in the range"
[code]

It is possible the way relnotes automatically constructs a range with on a single arg (v1.7.14) is to blame as the notes generated correctly when specifying v1.7.13..v1.7.14.  Though the fact that it worked for 1 out of 3 is suspect for something transient.  This has never happened previously.

v1.7.14 and v1.9.4 were not correctly generated.
v1.8.9 was correctly generated.

gs://kubernete

[2018-03-12 21:08] david-mcmahon commented on #527
Suspect possible github rate limiting cause due to concurrent builds for this synchronized release today.

[2018-03-14 19:41] david-mcmahon opened #531 "Release tracking issue fails to be created on GCB"
Suspect milestone field issue.

The release tracking issue is the only form of notification there is when run from GCB.  Fix ASAP.

[2018-03-14 20:26] #531 closed

[2018-03-19 22:17] colemickens commented on #358
/remove-lifecycle rotten
/reopen

[2018-03-19 23:08] jdumars commented on #358
re-opening per @colemickens

[2018-03-19 23:08] jdumars commented on #358
/sig release

[2018-03-19 23:09] jdumars commented on #358
/sig cluster-lifecycle

[2018-03-22 12:21] stp-ip commented on #270
/remove-lifecycle stale
/lifecycle frozen

[2018-03-23 10:15] fasaxc commented on #480
/remove-lifecycle stale

Still an issue in k8s 1.10 pre-releases.

[2018-03-26 08:43] sbskas opened #537 "rpm kubadm - kubelet configuration override"
The file /etc/systemd/system/kubelet.service.d/10-kubeadm.conf is not declared as config file. Each update keeps overwriting the customisation one has to do when configuring kubelet.
Kubelet's options should not be put in an override.
One option for packaging is to put all variables in a /etc/sysconfig/<kubelet> and source this file in the kubelet service unit.
Something like this :

[Unit]
Descri

[2018-03-27 09:38] lareeth opened #539 "1.10.0 RPM not found"
The 1.10.0 RPM is not found in the repo https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64.

When will it be available? Could you try and release packages together with binaries.

[2018-03-27 14:22] lareeth commented on #539
Issue also here: https://github.com/kubernetes/kubernetes/issues/61763

[2018-03-27 17:53] ixdy commented on #539
/sig release

[2018-03-27 23:03] ixdy commented on #415
/reopen
/remove-lifecycle rotten

[2018-03-28 23:11] calebamiles commented on #539
should be fixed now, @lareeth

**cc: @jdumars, @kubernetes/kubernetes-release-managers**

[2018-03-28 23:12] calebamiles commented on #539
/assign

[2018-03-28 23:14] lareeth commented on #539
@calebmiles Just checked, and working as expected. How can we stop RPMs being so delayed in the future?

[2018-04-02 12:59] calebamiles commented on #539
@lareeth we've been making slow progress on improving the release tooling  https://github.com/kubernetes/sig-release/issues/10 in order to support automated rpm/deb publishing, however, the work has not yet been completed

[2018-04-03 23:14] cblecker commented on #268
/remove-lifecycle stale
/lifecycle frozen

This is still needed.

[2018-04-05 22:52] david-mcmahon opened #542 "Stage and Release in a single invocation"
With the move of the release workflow to GCB, things were split into stage and release.

Provide the means to stage and release in one shot, similar to the way releases were originally performed on the desktop.

cc @wojtek-t

[2018-04-12 18:00] david-mcmahon opened #551 "Add --exclude-suites= to gcbmgr"
We are still in a state where the blocking test sets on a branch are flaky/failing often and with the shift from desktop->GCB, we should provide the `--exclude-suites=` flag to `gcbmgr`.

A workaround for this is to use `find_green_build` directly which already has `--exclude-suites=` and come up with a `--buildversion=` arg that `gcbmgr` already supports.

cc @MaciekPytel

[2018-04-16 23:05] calebamiles commented on #539
/close

[2018-04-16 23:05] #539 closed

[2018-04-17 12:45] philbour opened #552 "1.10.1 RPM not found"
Similiar to [kubernetes/release/#539](https://github.com/kubernetes/release/issues/539), the 1.10.1 RPM is not available in the https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64 repo.

Can this be added? There is a bug fixed in 1.10.1 which I really need.

[2018-04-17 23:37] MaciekPytel commented on #552
It should be there now. Sorry for the delay, building RPM is much harder than cutting the release and building deb and it took me some time to figure it out.

[2018-04-18 12:27] philbour commented on #552
Perfect I can see it there now.

[2018-04-18 15:32] MaciekPytel commented on #552
/close

[2018-04-18 15:32] #552 closed

[2018-04-18 22:45] spiffxp commented on #56
/remove-help
I don't think this meets [the criteria for `help wanted`](http://git.k8s.io/community/contributors/devel/help-wanted.md). Please add back via `/help` if I'm incorrect

[2018-04-24 23:56] david-mcmahon commented on #501
This is WAI from what I remember.  In fact there were lengthy and contentious discussions over how this should work ultimately ending up with the source of truth being the original PR.  That's the history and we're of course welcome to change it.

There was a doc somewhere in k/k that has since been moved that describes this process.  If it is not easily discoverable we should include a link to it

[2018-04-27 14:55] jkemp101 commented on #469
@chrislovecnm Do you have anymore info on the issue kops had when using native DNS?  Seems like things should work better using the native DNS resolution not worse.  This issue is becoming a bigger pain for us as we roll out VPN access to more team members.  Some of us are looking at running dnsmasq locally to control name resolution so k8s tools work properly.

[2018-04-27 17:33] jkemp101 commented on #469
@BenTheElder Custom builds of every version of k8s and kops?  We obviously don't need every version but it kind of sucks not being able to just download a new release and give it a try.  So I compile the "standard" one we will use the most often to administer our clusters and if I need something special I normally "adjust" my kube config so I can run it through a SSH tunnel.

I also don't think ha

[2018-04-27 18:58] BenTheElder commented on #469
You'd only need to compile the binary(ies) that actually run on mac, not all of k8s / kops (IE kubectl, kops cli), which is pretty quick and simpler than running dnsmasq. We [also support skewed kubectl](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#supported-releases-and-component-skew) so you don't necessarily even need to bulid for every

[2018-04-27 19:19] dims commented on #469
@BenTheElder @pwittrock may be this tip will help? https://github.com/golang/go/issues/12503#issuecomment-359055863

[code]

[2018-04-27 19:29] jkemp101 commented on #469
Remember I picked up this thread with a question about what issues kops had when they tried using cgo and ended up switching back to pure go.  Not knowing what those issues were and compiling it with cgo anyway to run against my production clusters isn't something I would do without more information.

The whole recompile versus using dnsmasq does highlight an observation I've had in other k8s issu

[2018-04-27 19:44] BenTheElder commented on #469
If your issue is with kops, their release is entirely separate and this
issue should be moved there, FWIW.

On Fri, Apr 27, 2018, 12:29 PM Joe Kemp <notifications@github.com> wrote:

[2018-04-27 20:03] BenTheElder commented on #469
cc @justinsb @chrislovecnm for Kops

FWIW, compiling kubectl with GCO enabled really is pretty quick and trivial, our "official releases" don't mean *all* that much, every cloud is doing their own build and release seperately anyhow and kubectl is widely compatible with them.

The only difference for kubectl with or without cgo should be in portability of the binary and the DNS resolution.

[2018-05-01 18:48] greenboxal commented on #469
The problem with this is that there's no documentation at all about the problem. I was only able to track down this issue because I'm aware of Go's shenanigans. Ignoring the discussion about whether the default build should work or not with the system DNS (which IMHO, it's a complete absurd), this should be documented somewhere including ways of circumventing the issue, probably instructions on ho

[2018-05-01 19:16] dims commented on #469
underlying issue from golang - https://github.com/golang/go/issues/16345

[2018-05-01 19:34] BenTheElder commented on #469
The "default build" *is* containerized (and releases are built with this).
It is otherwise already possible to build with the cgo resolver.

On Tue, May 1, 2018, 12:23 PM Phil Frost <notifications@github.com> wrote:

[2018-05-01 20:59] greenboxal commented on #469
@bitglue The idea was to provide something similar to `systemd-resolved` on macOS, and use the stub DNS server on `resolv.conf`. The problem with `net.LookupIP` is that I can only proxy A or AAAA queries.

[2018-05-01 22:25] bitglue commented on #469
another underlying golang issue: https://github.com/golang/go/issues/12524

[2018-05-02 00:52] ixdy commented on #469
/remove-lifecycle rotten

[2018-05-02 01:02] ixdy commented on #469
The kubernetes release process currently builds all binaries for all platforms (linux, mac, windows) from a docker image running on a linux machine, using cross tools as necessary to cross-build C dependencies.

We explicitly disable cgo on all platforms for `kubectl` (along with a few other binaries); this makes distribution easier, since we don't have to worry about what particular libc is being

[2018-05-02 01:10] greenboxal commented on #469
I don't think the solution here is to do anything on Kubernetes... Having to compile with CGO is not a real solution.

I don't know what is the current status on Golang about this but the main argument is that they wanted to have consistent DNS resolution across platforms. Being pragmatic, that's a bad idea. If I'm running anything on macOS (natively), I expect everything to work as in macOS, not

[2018-05-02 11:28] jkemp101 commented on #469
I am using an OpenVPN based VPN with split DNS.  K8s names need to be resolved against private Route53 zones over the VPN but everything else uses my default DNS server of 8.8.8.8.

[2018-05-02 11:45] bitglue commented on #469
I don't think that's it, because the default behavior of Go on macOS is to use the libc resolver, which is the "normal" behavior of any program, Go or otherwise.

Go also has logic to disable the pure Go resolver in cases where it would not provide the behavior expected on the platform. From https://golang.org/pkg/net/#hdr-Name_Resolution:

---

I don't think that's it, either. Almost _nothing_ on

[2018-05-02 17:49] ixdy commented on #469
@bitglue the [cross-compiling gist you linked](https://gist.github.com/steeve/6905542) doesn't discuss linux -> darwin.

From what I recall, using cgo on darwin requires using Xcode to compile, which is a bit less trivial than just installing the gcc crosstool chain in a container image.

[2018-05-02 18:34] bitglue commented on #469
You're right :disappointed:

Maybe the `gonative` tool linked in the original issue is more feasible? I haven't tried it yet, but seems the issue here is really just the `net` package, and if a binary release of that for OS X can be obtained and injected in the Linux build container there's no requirement for any additional cross-compiling headaches as the problematic part is already compiled.

ht

[2018-05-03 21:18] fejta commented on #364
/remove-lifecycle stale

[2018-05-06 00:17] #470 closed

[2018-05-10 17:32] tvi opened #557 "Is there a plan for bionic support?"
I just wanted to ask if there is any timeline of releasing for bionic

[2018-05-10 20:11] #479 closed

[2018-05-11 20:13] luxas commented on #358
Let's track this only in one place. This is a duplicate of https://github.com/kubernetes/sig-release/issues/10, where I think the release team actually tracks issues to be fixed these days. Correct me if I'm wrong @jdumars

[2018-05-11 20:13] #358 closed

[2018-05-11 20:16] luxas commented on #415
@kad are you still working on/thinking about this?

[2018-05-23 08:01] iupender commented on #552
I don't see the rpm's. is it moved to other location?

[2018-05-23 14:11] dennisxrow commented on #520
/remove-lifecycle stale
I still have the same issue.

[2018-05-23 15:31] bitglue commented on #469
It's easy to get homebrew to build with cgo enabled, but they are reluctant to accept the patch. Could a kubernetes/release member bless it? https://github.com/Homebrew/homebrew-core/pull/28187

[2018-05-23 17:45] cblecker commented on #469
Just saw this as I was pinged by the homebrew maintainers.

My initial reaction: Ugh, this sucks. It's a go "problem", but not an easy one to solve. I'm interested in `gonative` as a solution, but would need to understand how it works. Also curious if anyone from @kubernetes/sig-cli-maintainers has any experience with it.

I'm initially reluctant to diverge how the binaries are distributed between

[2018-05-23 18:34] BenTheElder commented on #469
IMHO the ideal (not necessarily feasible) situations from most desirable to least are:
- someone makes the non CGO DNS resolution match the native expectations (seems unlikely...)
- someone works out using a solution for the upstream containerized builds with a tool like `gonative` to build kubectl with the CGO net package, we use this in the cross build / official builds
  - this should probably

[2018-05-23 18:49] ixdy commented on #469
I think you're on the right track with option 3 (and the homebrew PR).

There's already code to allow explicitly building a binary with CGO disabled (ironically giving kubectl as an example, even though it's in `KUBE_STATIC_LIBRARIES`:

[code]
[(source)](https://github.com/kubernetes/kubernetes/blob/65a819338a640faf6ddee9d6eea4559a20106c56/hack/lib/golang.sh#L219-L223)

I'd be happy to extend this

[2018-05-23 18:50] ixdy commented on #469
(There's some precedent for automagic cgo settings when cross compiling from linux/amd64 to other linuxes [here](https://github.com/kubernetes/kubernetes/blob/65a819338a640faf6ddee9d6eea4559a20106c56/hack/lib/golang.sh#L259-L280), but that's not quite the same issue being discussed.)

[2018-05-23 18:55] cblecker commented on #469
I'm continuing reading, but came across this: https://github.com/golang/go/commit/b615ad8fd57f9394db14e403d12061c369379c52

Still pondering..

[2018-05-23 19:08] ixdy commented on #469
Created https://github.com/kubernetes/kubernetes/pull/64219 to support overriding the cgo-disabled state of `kubectl` at build time.

[2018-05-23 19:09] bitglue commented on #469
If the homebrew formula is still under consideration I'd like to advocate for cgo enabled by default. Since the only reason for disabling it seems to be to do a cross-compile, and that's a non-issue with homebrew, I don't see a reason to make users go through obscure hoops to get expected DNS behavior.

Regarding gonative, there's a bit on how it works here: https://inconshreveable.com/04-30-2014/

[2018-05-23 19:21] ixdy commented on #469
My worry with gonative is that it doesn't appear to have been touched in 2-3 years, so it's not clear if it still works or will continue working in the future.

[2018-05-24 14:35] jessfraz opened #559 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-29 21:46] BenTheElder commented on #471
@david-mcmahon what fix would you expect? the job should be fixed but this could happen again very easily given the vast number of jobs ... since we publish this metadata shouldn't we check it?

[2018-05-29 21:48] BenTheElder commented on #471
Job names often don't include a branch at all, so I'm not sure this would help much. It'd also have to be aware of every way in which code can be fetched (including kubetest --extract for various tarball locations, as well as the normal checkout mechanisms), to be correct, but since we publish the actual detected commit it should be relatively trivial to verify that a test ran against some actual

[2018-06-01 22:51] #348 closed

[2018-06-03 00:16] #18 closed

[2018-06-03 00:16] #287 closed

[2018-06-08 20:44] BenTheElder opened #566 "create OWNERS and enable automation"
Please consider adding OWNERS files and enabling tide / approval and merge automation like kubernetes etc. so we can smooth out PRs to this repo.

If any of the maintainers need a hand configuring the automation, please let me know or file a bug against test-infra.

Also, on a related note, bumping https://github.com/kubernetes/release/issues/559 regarding SECURITY_CONTACTS which should probably h

[2018-06-08 20:45] BenTheElder commented on #566
this repo does have a prow presubmit to make sure push-build.sh can stage a working cluster, and LGTM / size labeling, but merge automation and OWNERS seem to be missing.

[2018-06-08 21:06] calebamiles commented on #566
We should just turn up the automation here. If you don't get around to it before next week I'll start this then
/assign

[2018-06-08 21:07] calebamiles commented on #566
/cc @jagosan

[2018-06-08 21:07] calebamiles commented on #566
/sig release

[2018-06-08 21:07] calebamiles commented on #566
/priority critical

[2018-06-08 21:07] calebamiles commented on #566
/kind feature

[2018-06-08 21:08] BenTheElder commented on #566
I can turn up the automation, but we'll need appropriate `OWNERS` files first, which are currently lacking, and I don't know who should be in them.

[2018-06-09 03:16] jagosan commented on #566
Suggest sig leads. Maybe the current and last 2 release team leads is also interesting idea?

[2018-06-11 17:45] ixdy commented on #566
maybe also recent branch managers, since they are the ones who usually end up running the scripts from this repo?

[2018-06-12 02:50] #2 closed

[2018-06-19 00:45] jberkus opened #571 "cherrypick-bot should add milestone"
Currently, automated cherry-picks do not set the Milestone field for PRs. Example: #62679.
It would be nice to set this so that the milestone is correctly reflected in searches and summary reports.

[2018-06-28 21:54] mbohlool opened #574 "make `mock` flag required"
The mock flag is default when you run any anago or gcbmgr command. You may realize this much later when you ready to release an staged build and realized staged build was a mock. Also it is unclear when there is a default if you can release with --nomock when you ran stage with no flag (that means mock), which you cannot.

If we make `mock` flag required, all of these confusions and mistakes will

[2018-06-28 21:55] mbohlool commented on #574
@david-mcmahon WDYT?

[2018-07-02 19:31] david-mcmahon commented on #574
The idea behind an explicit `--nomock` is to allow the running of the tooling by default in a non-destructive way.  I would assert that if the user is unaware of the consequences of mock vs. nomock, then the default is serving its intended purpose.  I understand that it takes greater contextual understanding, planning and forethought to generate an actual release and this really is WAI.

`gcbmgr`

[2018-07-04 09:23] davemac30 opened #576 "kubelet rpm build incorrect location for systemd unit file"
According to systemd(1):

On RHEL/CentOS 7 (presumably on most RPM-based systems), this is `/usr/lib/systemd/system`. The kubelet RPM, however, installs its unit file in `/etc/systemd/system`.

Looking at rpm/kubelet.spec there's this:

I suspect that it ought to be changed to this:

[2018-07-05 01:49] #31 closed

[2018-07-06 19:14] BenTheElder commented on #566
/assign

[2018-07-06 19:42] BenTheElder commented on #559
/assign @ixdy @calebamiles
can you two triage this? we should fix this.

[2018-07-09 18:48] mbohlool commented on #574
I totally agree. What I am trying to solve here is as you mentioned later, making the process more clear. Problem is not being unaware of consequences of mock vs nomock but to remove human error here (forgetting to set nomock flag). Making both flags required with no default value will make the release manager to specify it and be aware of which one is running.

This is specially important with `g

[2018-07-10 22:46] #559 closed

[2018-07-11 23:39] jpbetz opened #579 "gcrmgr container push caused k8s 1.8.15 release to fail"
Marking this as a P2 since a second attempt to release was successful.

Steps taken:

[code]

/cc @listx @ixdy @david-mcmahon

[2018-07-11 23:46] david-mcmahon commented on #579
These failed pushes are usually due to an out of date gcloud binary.  We don't really have a good story on updating the `k8s-cloud-builder` image on a regular basis.

Update it by running https://github.com/kubernetes/release/blob/master/build/build-k8s-cloud-builder-container.

[2018-07-12 09:29] MaciekPytel commented on #551
/remove-lifecycle stale

[2018-07-13 17:12] aanm opened #581 "conflicting dependencies for kubeadm and kubelet 1.8.15"
The `kubernetes-cni` package conflicts for both packages.

[code]

[2018-07-13 17:14] dims commented on #581
cc @chuckha

Chuck, is it after effect of https://github.com/kubernetes/release/pull/573 ?

[2018-07-13 17:14] BenTheElder commented on #581
/cc

[2018-07-13 17:15] BenTheElder commented on #581
/kind bug
/sig release

[2018-07-13 17:33] BenTheElder commented on #566
OWNERS is done, enabling automation in https://github.com/kubernetes/test-infra/pull/8682

[2018-07-13 17:47] chuckha opened #583 "improve handling of cri-tools dependency version"
We hardcode cri-tools >=v1.11.0 as a dependency to kubeadm but because the versioning of cri-tools will match that of kubernetes we will need to make this value dynamic. Example: >=1.12.0 for k8s 1.12.

[2018-07-15 06:12] justaugustus commented on #566
Looks likes this is done per Ben's comment.
/close

[2018-07-15 06:12] #566 closed

[2018-07-15 14:06] luxas commented on #583
Is this an actual version requirement from cri-tools @Random-Liu @feiskyer or what version skew is supported?

[2018-07-16 09:23] aojea opened #585 "Missing CONTRIBUTING.md file"
All K8s subrepositories should have a CONTRIBUTING.md file, which at the minimum should point to https://github.com/kubernetes/community/blob/master/contributors/guide/README.md. Care should be taken that all information is in sync with the contributor guide.

Subrepositories may also have contributing guidelines specific to that repository. They should be explicitly documented and explained in th

[2018-07-17 20:55] jpbetz commented on #579
Also encountered by @foxish  for 1.11.1 - https://gist.github.com/foxish/f0c98aa2a7d832851cbdcc9ea7107f4c

[2018-07-17 21:01] foxish opened #586 "Release failure during the cut of v1.11.1"
When trying to run the `--nomock` version of the official release, I ran into the following:

[code]

Now, the tags have been published, but upon retrying, I end up with:

[code]

cc/ @jpbetz @ixdy

[2018-07-17 21:03] foxish commented on #586
cc/ @calebamiles

[2018-07-17 21:04] foxish commented on #586
I'm not sure how we should proceed from here, since the release seems to wedged in an intermediate state.

[2018-07-17 21:12] david-mcmahon commented on #586
Looking at `gs://kubernetes-release/archive/anago-v1.11.1/anago.log`, it looks like something has changed in the permission model.  Does anyone know what might have changed and why?

It's possibly related to an out of date gcloud binary or maybe something else.  [Has anyone updated the image](https://github.com/kubernetes/release/issues/579#issuecomment-404344606)?

@listx

[code]

[2018-07-17 21:31] listx commented on #586
I see the line

Step #1: Pushing staging-k8s.gcr.io/cloud-controller-manager:v1.11.1: .....FAILED

This is probably because staging-k8s.gcr.io now points to gcr.io/k8s-image-staging, the new staging registry for images before they are pushed to gcr.io/google-containers. This has been the case for about a week now. The fix would be to just add the cloudbuilder service account that gcbmgr uses. Look

[2018-07-17 22:10] #586 closed

[2018-07-18 01:32] foxish commented on #586
This issue is fixed now, but it seems like the images never got pushed to k8s.gcr.io, only staging-k8s.gcr.io. Any ideas why?

[2018-07-18 01:39] foxish opened #587 "Release 1.11.1 images not pushed to k8s.gcr.io"
In the release invocation that succeeded, there is:

[code]

However, at no point does it attempt to push to `k8s.gcr.io`.
Logs in https://console.cloud.google.com/gcr/builds/b79ba696-2a04-48b8-a92c-c5f9166925ba?project=kubernetes-release-test

cc @neolit123 @jpbetz @david-mcmahon @ixdy @listx

[2018-07-18 01:40] foxish commented on #587
For now, someone with superpowers may need to re-push those images from staging into k8s.gcr.io.

[2018-07-18 01:41] foxish commented on #587
The command seems to have picked up the registry correctly at invocation time. I see:

[code]

[2018-07-18 01:48] neolit123 commented on #587
/cc @roberthbailey

[2018-07-18 09:46] Multiply commented on #587
Is there a way to pull images from staging so I can just rename them manually for now?

[2018-07-18 12:40] dims commented on #587
@Multiply i believe they are here right now - http://gcsweb.k8s.io/gcs/kubernetes-release/stage/v1.11.1-beta.0.115+b1b29978270dc2/v1.11.1/release-images/amd64/

[2018-07-18 12:57] d11wtq commented on #587
Awesome, thanks @dims. I believe this should work for now (I'm using arm... substitute accordingly):

[code]

[2018-07-18 15:14] MaciekPytel commented on #579
Is there something I can do to avoid this issue? Should I just run https://github.com/kubernetes/release/blob/master/build/build-k8s-cloud-builder-container every time before trying to cut release?

[2018-07-18 16:18] BenTheElder commented on #587
Thanks @dims.
Also re-iterating my update from #sig-release slack:

[2018-07-18 16:48] ixdy commented on #587
/assign @listx

[2018-07-18 16:53] david-mcmahon commented on #579
@MaciekPytel That doesn't seem unreasonable, though certainly less than ideal.  Having some CI engine doing that work would be best.  It also appears that the underlying ubuntu base image used to create that image changed somehow and the Dockerfile no longer builds, so that needs some attention as well.

[2018-07-18 16:53] BenTheElder commented on #587
/assign

[2018-07-18 17:03] #585 closed

[2018-07-18 17:21] BenTheElder commented on #587
The fix is submitted and images appear to be showing up. This should be resolved for now. Following up on the process for future releases....

[2018-07-18 17:30] neolit123 commented on #587
thanks, i see the images in the registry, but kubeadm fails to pull them. investigating.

[2018-07-18 17:31] mikkeloscar commented on #587
I still don't see the hyperkube image:

[code]

v1.11.0 works

[code]

[2018-07-18 17:34] neolit123 commented on #587
v1.11.1 just started working :+1:

[2018-07-18 17:55] foxish commented on #587
@mikkeloscar, I can pull hyperkube now.

[code]

[2018-07-19 02:02] #587 closed

[2018-07-19 06:23] dawidmalina opened #589 "Packages for Ubuntu 18.04"
Ubuntu 18.04 is available for a while but kubernetes packages are not available. When we can expect those packages?

[2018-07-20 21:14] evanrich commented on #589
was wondering the same thing myself.

[2018-07-24 15:51] tpepper commented on #268
/cc @calebamiles
/cc @BenTheElder

Can we get a short list of remaining to-do's here?  This is almost done right?  We've got non-Google branch managers now for 1.11.x and 1.12, so any final issues should get worked through.

But also we need a next level issue for documenting the back end machinery and plumbing so it's maintainable by non-Googlers.  If gcb makes for a push button that's usable by

[2018-07-24 16:00] ncdc opened #591 "RFC: Check in RPM spec file updates for patch versions"
Back in December 2017 I was asking how RPMs were built for Kubernetes 1.9.x. The Slack thread is here:
https://kubernetes.slack.com/conversation/C2C40FMNF/p1513780901000151.

I was specifically curious about the RPM spec file, as it has hard-coded values for the major, minor, and patch versions of Kubernetes, and these were out of date at the time (they were for 1.8.x).

@enisoc wrote there are so

[2018-07-24 17:16] BenTheElder commented on #268
I don't have any major updates or a list of to-dos other than I know the owners are working on fixing some of this, and that push-button GCB should work for the release managers, Google or otherwise for Anago at least AFAIK. My understanding is that it had already, but we regressed a bit WRT the docker images and that is being fixed.

I'd tend to agree on all of those points. I'll hopefully defer

[2018-07-28 21:10] #472 closed

[2018-07-28 23:12] #471 closed

[2018-07-30 20:00] dawidmalina commented on #589
Any updates on this? CC @ixdy @mikedanese

[2018-07-31 22:11] ixdy commented on #589
this is kinda a dupe of https://github.com/kubernetes/release/issues/589

[2018-07-31 22:13] ixdy commented on #589
this is kind of a dupe of https://github.com/kubernetes/kubernetes/issues/66300

[2018-08-02 01:06] spiffxp commented on #364
/close
We [now do this for all branches](https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml#L100-L103) using prow's [branchprotector](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/branchprotector) cmd

[2018-08-02 01:06] #364 closed

[2018-08-08 16:34] tpepper commented on #591
Same occurs it seems for deb's.

[2018-08-08 16:38] tpepper commented on #591
/cc @ixdy @spiffxp

Is there any info we can get from Google on thoughts/plans here for improving the build/publish process?  And is there somebody to whom we could assign this issue?

Kubeadm and SIG-Cluster-Lifecycle are fielding a lot of issues here lately and they're really just a consumer of the build/publish process.

[2018-08-08 17:30] ixdy commented on #591
cc @filbranden

[2018-08-08 21:48] chuckha opened #609 "Improve kubernetes release process"
# How Release Works

The master branch of the release repo is used to build and release the expected kubernetes packages. The release project will checkout various versions of kubernetes, build the artifacts and release them.

## The Problem

kubectl, kubeadm, kubelet, and any other rpm/deb package built by the release process suffers from being coupled with the release process and not the code it

[2018-08-08 22:33] ixdy commented on #609
One of the main blockers is that we don't have a good story for multiarch compilation with cgo under bazel. This isn't particularly problematic for kubectl or kubeadm, but kubelet needs cgo.

[2018-08-08 22:33] ixdy commented on #609
cc @filbranden

[2018-08-09 00:28] tvi commented on #557
/remove-lifecycle stale

[2018-08-09 01:18] ixdy commented on #589
also a dupe of #589.
/close

[2018-08-09 01:18] #589 closed

[2018-08-09 01:18] ixdy commented on #557
related: kubernetes/kubernetes#66300

[2018-08-09 18:28] stealthybox commented on #609
Discussed during **[kubeadm office-hours: Wed, 8 Aug 2018](https://docs.google.com/document/d/130_kiXjG7graFNSnIAgtMS1G8zPDwpkshgfRYS0nggo/edit#heading=h.n3je34ry58kt)** ([ recording ](https://youtu.be/pfcFaoyLDZs))

[2018-08-15 21:37] tpepper opened #610 "branchff and ectd"
Yes "ectd":
[code]

At a minimum this is a typo.  But is the install etcd script truly needed in order to fast forward a release branch?

[2018-08-15 21:38] tpepper commented on #610
/cc @dougm
/assign @david-mcmahon

[2018-08-15 21:44] ixdy commented on #610
`hack/update-openapi-spec.sh` (specified here) https://github.com/kubernetes/release/blob/dcfd042493c5456bf7b36995aa047593d14f8a95/branchff#L194 requires `etcd`.

[2018-08-15 22:11] #610 closed

[2018-08-18 13:46] timothysc commented on #609
@ixdy - Is there a canonical bazel issue we can track and follow up on?

[2018-08-20 12:02] #480 closed

[2018-08-21 01:02] ixdy commented on #609
for bazel + cgo, probably https://github.com/bazelbuild/rules_go/issues/1020 or https://github.com/bazelbuild/rules_go/issues/1642.

I don't think there's a mondo-issue for kubernetes + bazel specifically.

[2018-08-21 19:42] cblecker commented on #469
This was resolved :)

/remove-lifecycle stale
/close

[2018-08-21 19:42] #469 closed

[2018-08-23 11:12] #537 closed

[2018-08-24 17:07] idealhack opened #613 "`gcloud container builds` is deprecated"
From the command warning log and the [documents](https://cloud.google.com/sdk/gcloud/reference/container/builds/):

https://cloud.google.com/sdk/gcloud/reference/builds) instead.

[2018-08-24 23:58] #613 closed

[2018-08-30 02:31] idealhack opened #616 "`gcloud builds` requires new permissions other than `glcoud container builds`"
Original from https://github.com/kubernetes/release/pull/614#issuecomment-415977719 and open as a new issue for better tracking and understanding.

At the moment, `gcbmgr` is broken for people who don't have top-level permissions because #614 was merged. Sorry I didn't expect that.

`glcoud container builds list` will show deprecated warnings, it runs fine.

`gcloud builds list` or `./gcbmgr list`

[2018-09-03 03:36] idealhack commented on #616
@david-mcmahon Could you take a look at this?

[2018-09-03 03:36] idealhack commented on #616
I'm afraid this will block 1.12 next beta release

[2018-09-04 12:58] tpepper commented on #616
@dougm can you pull current release repo and confirm whether you see a new permissions issue?

[2018-09-04 17:32] dougm commented on #616
I'm seeing the same, `gcbmgr list` fails but `gcloud ... list` is ok:

[code]

[code]

[2018-09-04 18:02] tpepper commented on #616
/assign @calebamiles
need your help here

[2018-09-04 18:02] tpepper commented on #616
/priority critical-urgent

[2018-09-04 19:37] listx commented on #616
I've added the serviceusage.services.use role per the error message to the OSS Kubernetes Release Manager role. @idealhack or @tpepper can you try reproducing?

[2018-09-04 19:55] dougm commented on #616
`gcbmgr list` is working now for me, thanks @listx !

[2018-09-10 07:47] gt-sun opened #623 "Building Linux Packages error"
use `1.11.3` in kubelet.spec
[code]
run `./docker-build.sh`
error:
[code]

[2018-09-11 11:15] dawidmalina opened #624 "No kubernetes packages for version 1.11.3 for Ubuntu"
There are no packages related to kubernetes 1.11.3
[code]

[2018-09-11 20:44] davidkarlsen commented on #624
https://kubernetes.slack.com/archives/C2C40FMNF/p1536619355000100
build just started

[2018-09-11 20:44] davidkarlsen commented on #624
CC @calebamiles

[2018-09-12 03:50] liaoqiArno opened #626 "Sorry，who can answer me?"
I used Centos7.
How can I select the version when I run ./docker-build.sh?
the *.rpm is latest version,But I want the previous version,
THANK your answer.

[2018-09-12 05:09] #626 closed

[2018-09-12 05:09] liaoqiArno commented on #626
Have a config.

[2018-09-12 07:09] dawidmalina commented on #624
Packages are available. Thanks 👍

[2018-09-12 07:09] #624 closed

[2018-09-13 14:32] tpepper opened #628 "remove experimental docker feature enabling"
To enable multiarch manifest support, a sadly still experimental feature needed enabled.

https://github.com/kubernetes/release/pull/622
https://github.com/kubernetes/release/pull/627

We need to understand how/when this goes stable and then revert the addition of the environment variable so we're not inadvertently enabling all manner of experimental docker things.

[2018-09-13 14:46] dims commented on #628
yep, once this merges - https://github.com/docker/cli/pull/1355

[2018-09-13 16:45] neolit123 opened #629 "Examples link missing for 1.12.0 in anago email"
@tpepper @dougm in the `beta2 is live` email the `Examples` link in `Documentation & Examples` is a 404.
it links to: https://releases.k8s.io/release-1.12/examples

/kind bug

[2018-09-14 16:07] dougm commented on #629
The examples directory was removed in https://github.com/kubernetes/kubernetes/pull/61246

Site redirects were added here, but looks like only for the master branch: https://github.com/kubernetes/k8s.io/pull/107

@serathius do we need to also add redirects for the release branches?

[2018-09-17 06:38] idealhack commented on #571
/remove-lifecycle stale

[2018-09-17 19:45] ixdy commented on #629
I thought #608 fixed this, but it apparently only changed the example release notes file (docs/release-notes.md).

Should we just remove the examples link entirely?

[2018-09-19 18:39] tpepper opened #631 "automated build trigger and validation of RPMs/Debs"
Today we have a release step of pinging @mbohlool or @jpbetz on Slack indicating that RPMs/Debs need built for a particular "1.X.y-{beta|rc}".  This needs automated.  Similarly once, built folks have manually discovered build issues, since the artifacts don't have pre-publication automated validation.  This all needs automated to tighten up and improve the build process.  Ideally we'd turn the ful

[2018-09-19 18:50] dims commented on #631
Also see https://github.com/kubernetes/sig-release/pull/302

[2018-09-19 19:15] liztio commented on #631
As a kubeadm maintainer, this would make my job of validating releases much easier.

[2018-09-19 19:39] calebamiles commented on #631
@liztio you can use the bazel tooling to generate debs and rpms locally today. What are the gaps between the spec files there and the ones here?

**cc: @timothysc**

[2018-09-19 19:41] liztio commented on #631
I can, but it's time consuming and slow. I have to use a separate machine because bazel doesn't support cross compilation from OSX yet. Plus we've had discrepancies in the bazel / shell release process debs before.

[2018-09-19 19:41] ixdy commented on #631
The specs in kubernetes/release/debian and kubernetes/kubernetes/build/debs have drifted a bit, and someone should probably unify them again. I'm not sure exactly how they differ.

Also, the "official" debs (using kubernetes/release/debian) use the outputs from the non-bazel builds, which may be different. (One notable issue is that the bazel-built debs only support linux/amd64.)

[2018-09-19 19:53] liztio commented on #631
I just built packages for kubeadm and kubelet on the `v1.12.0-rc.1` branch, but the deb files and binaries came out labelled as `v1.13.0-alpha.0.1342+cdadc117e1ea8d`. Maybe there's some way to override this, but it's definitely not as simple as `bazel build //build/debs:kubeadm`

[2018-09-19 19:59] ixdy commented on #631
@liztio did you build at `HEAD` rather than at the `v1.12.0-rc.1` tag? Bazel (and make) basically uses `git describe --tags` to produce the version string, so it'll only use `v1.12.0-rc.1` if you have checked out that tag explicitly.

[2018-09-19 20:11] timothysc commented on #631
@ixdy I get the same results when building from that tag.

Also I consider it onerous to force everyone to rebuild from tag.  Ideally we'd like to get real beta-testers in the wild.

[2018-09-19 21:34] ixdy commented on #631
@timothysc to be clear, I do agree with you. we really do need to integrate rpm/deb building with the release process.

[2018-09-20 15:42] tpepper commented on #631
Also -beta and -rc debs/rpms ought to go into a different repo than the official release ones.

[2018-09-21 12:03] idealhack commented on #520
/remove-lifecycle rotten

I guess this is still relevant? @trunet @dennisxrow

[2018-09-21 15:51] tpepper commented on #591
See also https://github.com/kubernetes/release/issues/631

[2018-09-21 18:41] dims opened #635 "deprecate / remove md5 signatures for shipped binaries"
in https://github.com/kubernetes/release/pull/630 we are adding sha512, during review we asked if we really needed both md5 and sha1 or if we just drop say md5?

[2018-09-21 18:58] tpepper commented on #635
There really shouldn't be anything depending on either of md5 or sha1 anymore.  We should make this change early in the 1.13 cycle (like day 1) and fix up anything that breaks.

Already identified is https://github.com/kubernetes/repo-infra/blob/84d52408a061e87d45aebf5a0867246bdf66d180/defs/build.bzl#L99-L104

[2018-09-21 20:58] dims opened #636 "Signing releases with GPG keys"
I'd like us to sign release artifacts using GPG keys. Here's how other foundations do it:

- https://www.apache.org/dev/release-signing.html
- https://docs.openstack.org/infra/system-config/signing.html
- https://wiki.openstack.org/wiki/OpenPGP_Web_of_Trust
- https://releases.openstack.org/#cryptographic-signatures

Ideally we would build a web of trust including the patch/branch managers and use

[2018-09-21 21:04] dims opened #637 "Reproducible builds"
Please see https://reproducible-builds.org/ specifically https://reproducible-builds.org/docs/ on ideas about how to do deterministic builds. When we get a chance, we should try to examine how far away we are from this goal and what our blockers are.

Thanks,
Dims

[2018-09-21 21:54] ixdy commented on #637
@bmwiedemann has done some work on this already in https://github.com/kubernetes/kubernetes/issues/48710.

For more increased reproducibility, we should probably be setting `SOURCE_DATE_EPOCH` in release builds (we already do this in CI), though there are still a few other bits missing.