[2018-09-21 23:03] dougm commented on #629
I'm in favor of just removing the examples link: #638

[2018-09-22 01:16] dims commented on #631
note from @calebamiles
[code]

[2018-09-22 01:55] #501 closed

[2018-09-22 05:44] bmwiedemann commented on #637
Latest state can be seen in
http://rb.zq1.de/compare.factory/kubernetes-compare.out for openSUSE
https://tests.reproducible-builds.org/debian/rb-pkg/unstable/amd64/kubernetes.html

[2018-09-22 13:46] neolit123 commented on #629
/priority critical-urgent
+1 for removal.

[2018-09-22 16:48] dims commented on #637
@bmwiedemann i can't seem to tell if the results are from the latest k8s releases. if not is there a way to trigger these for say the v1.12-rc1 please?

[2018-09-22 20:02] bmwiedemann commented on #637
openSUSE's diff is from 1.11.1 (and we do have SOURCE_DATE_EPOCH set)

Going to 1.12 is not that easy, because my reproducibility-test tools are designed around building of packages and there are usually so many changes and build is so slow (~20 minutes per try) that it can take hours to get right.

However, IMHO it would be a good start to find out if and how the two known issues in 1.11.1 have b

[2018-09-22 20:13] dims commented on #637
gotcha thanks @bmwiedemann

[2018-09-23 01:34] dims commented on #637
@bmwiedemann please see https://github.com/kubernetes/kubernetes/pull/68983 to see if it fixes the man page issue

[2018-09-26 04:30] bmwiedemann commented on #637
regarding random build-ids:
https://blog.filippo.io/reproducing-go-binaries-byte-by-byte/ seems to imply that it is already possible to generate reproducible go binaries and indeed our openSUSE "docker" package is already reproducible (we always build in the same path)

strace showed me

execve("/usr/lib64/go/1.10/pkg/tool/linux_amd64/compile", ["/usr/lib64/go/1.10/pkg/tool/linux_amd64/compile", "

[2018-09-26 10:49] dims commented on #637
@bmwiedemann i could get reproducible builds with latest master. PR is here. here's what i had to do.
- `make quick-release` builds stuff inside a docker container, so we control a lot of the things including go version, paths etc.

But that was not enough. then i had to add `trimpath`
- https://github.com/kubernetes/kubernetes/pull/69003/commits/1f74a33790ce5112e4eac622e10be56819058dff#diff-dac3f

[2018-10-03 21:56] philips commented on #636
Also related @ajeddeloh has been working on a YubiKey HSM backed signing server: https://github.com/coreos/fero

[2018-10-03 22:07] ajeddeloh commented on #636
Credit where it's due: @csssuf did the implementation, I just got it set up and deployed. It requires a pair of servers with a yubiHSM loaded with the secrets. If there's interest in using it, I can help with setup. It allows for setting thresholds such that you can specify "You need 100 points of signatures" where different users can have different weights for different secrets. I.e. you can set

[2018-10-04 23:07] philips commented on #636
@dims what is signing the apt package releases? https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-kubectl

[2018-10-04 23:48] dims commented on #636
@philips

The Google Cloud Packages Automatic Signing Key id  is`ba07f4fb` and belongs to email id (gc-team@google.com), So i think it's setup in the Anago/GCB release harness that we cannot see. (part of the stuff we need to bring out from behind the screen when we move to CNCF)

Thanks,
Dims

[2018-10-06 10:07] gayanramyakumara commented on #581
I got the same issue. please help. My OS is Ubuntu 18.04
`
root@kmaster:~# apt-get install -y kubelet kubeadm kubectl

Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been

[2018-10-06 18:54] robertojrojas commented on #581
@gayanramyakumara I know it's not a solution, but a work-around. In case you just need to install v1.12.0, the following combination worked for me:
kubelet=1.12.1-02 kubeadm=1.12.1-02 kubectl=1.12.1-02 kubernetes-cni=0.6.0-00

[2018-10-07 16:36] MikBOFH commented on #581
It's enough to specify just one version.
Ubuntu Bionic

# apt install -y kubernetes-cni=0.6.0-00 ; apt install -y kubeadm kubelet kubectl

[2018-10-08 22:02] #415 closed

[2018-10-14 12:09] feiskyer commented on #583
@chuckha @luxas I think we can close this now?

[2018-10-23 14:57] dims commented on #635
This issue was moved to kubernetes/kubernetes#70130

[2018-10-23 14:57] #635 closed

[2018-10-23 14:58] dims commented on #637
This issue was moved to kubernetes/kubernetes#70131

[2018-10-23 14:58] #637 closed

[2018-10-23 14:58] dims opened #914 "Signing releases with GPG keys"
_From @dims on September 21, 2018 20:58_

I'd like us to sign release artifacts using GPG keys. Here's how other foundations do it:

- https://www.apache.org/dev/release-signing.html
- https://docs.openstack.org/infra/system-config/signing.html
- https://wiki.openstack.org/wiki/OpenPGP_Web_of_Trust
- https://releases.openstack.org/#cryptographic-signatures

Ideally we would build a web of trust in

[2018-10-23 14:58] dims commented on #636
This issue was moved to kubernetes/kubernetes#70132

[2018-10-23 14:58] #636 closed

[2018-10-23 15:00] dims commented on #56
closing in favor of https://github.com/kubernetes/kubernetes/issues/70132

[2018-10-23 15:00] #56 closed

[2018-10-23 15:01] dims commented on #3
/close

totally stale issue

[2018-10-23 15:01] #3 closed

[2018-10-23 15:02] dims commented on #113
@errordeveloper @mattymo is this still relevant issue? can we please close the issue otherwise?

[2018-10-23 15:03] dims commented on #500
Is this still a problem @david-mcmahon ?

[2018-10-23 15:04] dims commented on #579
@dougm did you run into this issue?

[2018-10-23 16:36] dougm commented on #579
@dims no, I haven't run into this.

[2018-10-24 09:51] errordeveloper commented on #113
I think it relevant.

On Tue, 23 Oct 2018, 4:10 pm Davanum Srinivas, <notifications@github.com>
wrote:

[2018-10-24 18:06] lentzi90 opened #644 "aarch64: exec format error when using crictl"
I'm not sure if this is the correct place to report this, so please point me in the right direction if it is not.

`cri-tools` when installed from [this repo](https://packages.cloud.google.com/yum/repos/kubernetes-el7-aarch64) causes exec format error on my Raspberry Pi 3. However, downloading the binary straight from [here](https://github.com/kubernetes-sigs/cri-tools/releases) works fine.

I hav

[2018-10-24 18:47] ixdy commented on #644
cc @calebamiles

[2018-10-24 23:20] david-mcmahon commented on #500
Probably but since everything is routed through the cloud builder with `gcbmgr`, this won't be an issue.

[2018-10-24 23:20] #500 closed

[2018-11-01 10:17] idealhack commented on #576
/remove-lifecycle rotten

[2018-11-02 03:32] #527 closed

[2018-11-02 03:32] #114 closed

[2018-11-09 10:58] MaciekPytel commented on #551
/remove-lifecycle rotten
I still think it would be useful. Admittedly it's not very hard to workaround (editing gcb script and hardcoding the value is pretty easy) and not needed often, so the priority is low.

[2018-11-18 15:50] chuckha opened #651 "the debian job fails due to timeout (trying to build ~750 packages)"
[This job](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-release/kubernetes-builds.yaml#L89) has been failing since as [far back as gubernator will show me](https://gubernator.k8s.io/builds/kubernetes-jenkins/logs/ci-kubernetes-build-debian-unstable?before=3835).

One temporary solution here is to increase the timeout and maybe bump the periodic interval. Another

[2018-11-26 19:56] ixdy commented on #609
https://github.com/kubernetes/community/blob/master/contributors/devel/bazel.md#known-issues-and-limitations has been recently updated with all of the current known-to-me issues.

[2018-11-30 16:58] chuckha opened #654 "Do not write the /etc/default/kubelet file when installing kubelet/kubeadm packages"
This file exists for users to customize. We don't need to write it as systemd does not require it ([see this discussion](https://github.com/kubernetes/kubernetes/issues/70489#issuecomment-443267375)) and we should never overwrite it.

[2018-11-30 17:01] steven-sheehy commented on #654
Also, the /etc/sysconfig/kubelet for RPM based distros.

[2018-11-30 21:19] neolit123 commented on #654
i think not writing the file by default should be the right thing to do.
should be user created and we should only read but not write.

these kind of descrapencies are really bad.
i though things like the https://en.wikipedia.org/wiki/Filesystem_Hierarchy_Standard
solved them.

[2018-12-04 16:17] luxas commented on #609
@ixdy so that is basically saying we can't compile release binaries with bazel in a long time?
Is it possible to "just" use bazel to create multiarch debs from already-made binaries from the other build scripts we have? Already that'd be progress.

[2018-12-04 22:56] ixdy commented on #609
yeah, we could probably use bazel as a heavyweight deb/rpm builder, relying on the built artifacts to exist already, adding a ["local repository"](https://docs.bazel.build/versions/master/be/workspace.html#local_repository) to `_output/dockerized` or something like that ...

[2018-12-05 14:34] chuckha opened #655 "kube-conformance image is not being released as part of the release process"
As stated in the kube-conformance readme [this image](https://github.com/kubernetes/kubernetes/tree/master/cluster/images/conformance#conformance) should be released during every release. It did not happen with the 1.13 release.

[2018-12-05 14:58] chuckha commented on #655
Image does exist. Initial report was not made when the issue was discovered, but it's resolved now. It may or may not be an issue for the next release.

[2018-12-05 14:58] #655 closed

[2018-12-05 15:01] idealhack commented on #655
FWIW, I don't think we have any changes in the image releasing part between 1.12 and 1.13

[2018-12-06 14:02] dims commented on #655
Looks like we are good - https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/conformance?gcrImageListsize=30

[2018-12-06 21:08] #574 closed

[2018-12-07 02:43] tvi commented on #557
/remove-lifecycle rotten

[2018-12-13 13:46] #583 closed

[2018-12-16 06:59] idealhack commented on #571
/remove-lifecycle stale
/assign

[2018-12-17 23:49] ixdy commented on #628
/lifecycle frozen

[2018-12-18 21:24] shyamjvs opened #656 "push-build.sh support for OSX"
This is an off-shoot of test-infra bug https://github.com/kubernetes/test-infra/issues/10459 which has more details.

The push-build script fails when running on OSX. And since this script is used downstream by test-infra/kubetest for running e2e tests, this now becomes a limitation for k8s contributors working on OSX.

cc @BenTheElder @spiffxp @dims @kubernetes/test-infra-maintainers

[2018-12-19 02:02] shyamjvs commented on #656
/assign

[2018-12-20 22:17] #656 closed

[2018-12-22 18:20] #579 closed

[2018-12-24 20:58] nikhita commented on #591
/remove-lifecycle stale

[2018-12-24 20:58] nikhita commented on #631
/remove-lifecycle stale

[2018-12-24 20:59] nikhita commented on #520
/remove-lifecycle stale

[2019-01-13 11:54] paralika opened #3295 "`kubeadm` package should depend on the same version of `kubelet` and `kubectl` packages"
**What happened**:
`kubeadm` package always install latest version of `Kubelet` and `kubectl` packages.

[code]
**What you expected to happen**:
`kubeadm` package should be depend on the same version of `kubelet` and `kubectl`.
Above command should download `kubeadm 1.11.6`, `Kubelets 1.11.6` and `kubectl 1.11.6`.

**How to reproduce it (as minimally and precisely as possible)**:
Add Kubernetes re

[2019-01-15 10:37] hoegaarden opened #659 "`gcbmgr` fails silently when `gcloud` tools are not installed"
This is probably also true for other dependencies.
Discovered while cutting [v1.14.0-alpha.1](https://github.com/kubernetes/sig-release/issues/447).

----

When running without `gcloud` this is the output, nothing hints to a problem.
[code]

The log in `/tmp/gcbmgr.log` also does not specifically point to an issue:
[code]

[2019-01-19 17:41] idealhack commented on #571
Currently, we use the [script](https://github.com/kubernetes/kubernetes/blob/master/hack/cherry_pick_pull.sh) calling `hub` which support `--milestone=<NAME>` to create a cherrypick PR. But for most cherrypick PR authors, they don't have the power to set a milestone. So this sounds like a Prow plugin to me, I'm not sure if we have anything related to mapping the `release-1.y` to milestone `v1.y` t

[2019-01-19 17:47] nikhita commented on #571
If we need a prow plugin for this, I think the right place would be to add to the `cherrypickunapprove` plugin. We can look at the baseBranch, and if it is `release-1.y`, then we can add the milestone as `v1.y`, while _also_ commenting that this PR is not approved.

Kinda related: the branches to be treated as cherry-picks are a config option:

https://github.com/kubernetes/test-infra/blob/38bfb6c

[2019-01-19 22:45] BenTheElder commented on #571
cherry pick PR management tooling has been somewhat controversial IIRC .... cc @cblecker

[2019-01-20 06:31] nikhita commented on #571
cc @tpepper @aleksandra-malinowska

[2019-01-20 22:59] tpepper commented on #571
I feel like our methods of tracking new inbound, known pending, rejected, and merged cherry picks is lossy.  Would love to figure out something better.  I'm not sure milestone is the answer, but I also am not sure it would hurt if auto-applied.

[2019-01-30 10:52] idealhack commented on #576
@davemac30 Hi, could you confirm that this is still relevant? Feel free to submit a PR if so.

/remove-lifecycle stale
/kind cleanup

[2019-01-30 10:54] idealhack commented on #576
/remove-lifecycle stale
/kind cleanup

@davemac30 Hi, could you confirm that this is still relevant? Feel free to open a PR if so :)

[2019-02-07 09:38] #623 closed

[2019-02-12 17:03] hoegaarden opened #663 "pre-release announcments should go to k-dev-announce@ and not to k-announce@"
As per [slack discussion][discussion] `release-notify.sh` should sent mails to `k-dev-announce@` instead of `k-announce@` for alphas, betas, and rc-releases.

- [ ] change `release-notify.sh`
- [ ] update role handbooks and document how to get post permissions for that lists
  - [ ] release branch management
  - [ ] patch release management

Related:
https://github.com/kubernetes/kubernetes/issues

[2019-02-12 17:03] hoegaarden commented on #663
/sig release

[2019-02-20 00:32] ixdy commented on #651
This job is at least not timing out anymore, thanks to @dims for https://github.com/kubernetes/test-infra/pull/10750 and https://github.com/kubernetes/test-infra/pull/10763.

[2019-02-20 15:14] chuckha commented on #651
woohoo!

[2019-02-20 15:14] #651 closed

[2019-02-26 10:12] hoegaarden opened #668 "`gcbmgr`'s disk is too small when cutting the first beta of a release"
The default disk, as configured in [./gcbmgr][gcbmgr-default] seems to be not enough anymore, when the first beta of a release is to be cut and therefore two releases are to be staged (`v1.$n.0-beta.0` and `v1.$((n+1)).0-alpha.0`).

We ran into this error when staging [`v1.14.0-beta.0`][issue] and ran into [this error](https://console.cloud.google.com/cloud-build/builds/81d35470-8c93-47a1-8d11-5c6

[2019-02-26 12:47] feiskyer commented on #668
Also met same issues here. I think it's better changing to 300 because so many patch releases would be cut this week. We may address the issue later afterward.

[2019-02-26 14:09] hoegaarden commented on #668
@feiskyer I will PR that in really quick, I'll tag you on that PR.

[2019-02-28 21:41] neolit123 commented on #654
/remove-lifecycle stale

@chuckha
this merged for RPM:
https://github.com/kubernetes/release/pull/658

this comment claims that it's not needed on debian:
https://github.com/kubernetes/release/pull/658/files#r257808744

[2019-02-28 21:55] steven-sheehy commented on #654
@neolit123 It is true that debian marks files under /etc as conf files, but whether to overwrite or not if both files changed is [determined](https://www.debian.org/doc/debian-policy/ap-pkg-conffiles.html#automatic-handling-of-configuration-files-by-dpkg) by an interactive prompt to the user by default. This will of course fail if updating non-interactively via scripts unless you supply your prefe

[2019-02-28 22:00] neolit123 commented on #654
sending PR in a bit.

[2019-02-28 22:14] steven-sheehy commented on #654
@neolit123 I think kubernetes/kubernetes#70489 can be closed as duplicate of this.

[2019-02-28 22:59] #654 closed

[2019-03-01 01:52] #668 closed

[2019-03-01 01:57] neolit123 commented on #609
multi arch from bazal is up:
https://github.com/kubernetes/kubernetes/pull/73930
https://github.com/kubernetes/kubernetes/pull/74468

we also have this tracking issue in k/k that seems like a duplicate of this one:
https://github.com/kubernetes/kubernetes/issues/71677

KEP for the decouple is up:
https://github.com/kubernetes/enhancements/pull/858

@chuckha please free to re-open this one.
thanks.

[2019-03-01 01:57] #609 closed

[2019-03-01 04:43] #659 closed

[2019-03-04 10:28] #576 closed

[2019-03-04 20:20] onyiny-ang opened #677 "Bazel build fails when trying to build release-notes manually"
I am getting the following error when trying to build the release-notes tool from source with bazel. I tried running `dep ensure` to make sure the vendored packages were up to date but it hasn't helped. I am still able to get the release-notes tool through `go get` and am able to build it with `go build` so this is a fairly low priority issue.

[code]

@marpaia

[2019-03-04 20:45] marpaia commented on #677
/assign

[2019-03-05 02:12] marpaia commented on #677
@onyiny-ang I spent some time debugging this today and I noticed that I was able to reproduce your issue when the repo was checked out to `~/somewhere/release`, but not when it was checked out in my `$GOPATH` at `~/GOPATH/src/k8s.io/release`.  Can you confirm that behavior (that `bazel build //cmd/release-notes` works in `$GOPATH`, but not outside of it?

[2019-03-07 20:21] ixdy commented on #677
bazel shouldn't care about `GOPATH`, so that's curious...

[2019-03-07 20:36] ixdy commented on #677
oh, I can reproduce this easily. gazelle is configured to use "external" vendoring (i.e. the `vendor/` directory), but that's not how dependencies are vendored in this repo. easy fix incoming.

[2019-03-07 20:40] ixdy commented on #677
alternately, maybe @marpaia has a `vendor/` directory which hasn't been checked in?

[2019-03-08 02:09] #677 closed

[2019-03-12 20:32] hoegaarden opened #681 "Minor release notes formatting issue for code blocks"
When cutting [v1.14.0-beta.2][i], the release notes showed a minor formatting issue for the PR https://github.com/kubernetes/kubernetes/pull/74140.

It seems for a release note like

[code]

the first line's `#` is interpreted as a markdown heading command, despite the fact that the whole release note is indented and should probably be treated as a code block.

/sig release
/area release-eng

----

[2019-03-21 22:30] tpepper commented on #681
See also PR https://github.com/kubernetes/kubernetes/pull/75543

[2019-03-22 18:46] tpepper opened #684 "bsdmainutils requirement limits gcbmgr to debian distros"
In pull request #667
[code]
adds "bsdmainutils" package to the gcbmgr package check list.  Lacking this package installed on Fedora, the following is displayed:
[code]
That does not work as there is no bsdmainutils package in the Fedora ecosystem.

Debian [info](https://packages.debian.org/sid/bsdmainutils) for the package indicates quite a number of utilities:
[code]
These come from a variety of

[2019-03-22 18:53] tpepper commented on #684
I'm guessing it was pulled in for 'column', which Fedora gets via util-linux.

[2019-03-26 08:59] vFondevilla commented on #520
Same issue here!

[2019-03-29 03:04] andyanfieldroad opened #689 "kubernetes yum repository using remote paths with ../../pool and odd filenames"
Hi community,

I seem to be having issues with mirroring the kubernetes yum repository.  My yum repo looks like:

[kubernetes]
name=Kubernetes
baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg
       https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg

When I use repo

[2019-04-01 15:20] vkhromov opened #691 "Debian packager build is failing because of `jessie-updates` removal"
Debian packager build is failing:
[code]

The Debian packager's Docker image is based on `golang:1.7`:
[code]
which is Debian 8:
[code]

As a part of [Debian 8.11 release](https://lists.debian.org/debian-announce/2018/msg00002.html), `jessie-updates` directories [were removed from the mirrors](https://lists.debian.org/debian-devel-announce/2019/03/msg00006.html).

[2019-04-01 15:33] vkhromov commented on #691
A workaround is
[code]

[2019-04-01 17:53] ixdy commented on #691
we should probably update the Debian packager's docker image. `golang:1.7` is ancient, and I'm surprised that even works.

[2019-04-01 17:53] ixdy commented on #691
(I guess it doesn't)

[2019-04-06 00:09] listx commented on #270
I really hope this will happen in the coming months. Check out this [issue](https://github.com/kubernetes/k8s.io/issues/157) for high-level updates, but also updates to the `manifest.yaml` files [here](https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io), as this is the first batch of staging registries that will be using the new non-Googler promotion process.

Or, please attend the [wg-k8

[2019-04-08 12:41] #551 closed

[2019-04-08 15:10] tpepper opened #694 "gcbmgr claims failures"
Gcbmgr is complaining that there is not a 1.14 build passing, eg:

[code]

But looking at https://testgrid.k8s.io/sig-release-1.14-blocking clearly gce-conformance-latest-1-14 is all passing:
<img width="829" alt="Screen Shot 2019-04-08 at 8 06 51 AM" src="https://user-images.githubusercontent.com/2745300/55734957-51652500-59d5-11e9-952f-89f84cc5e3f1.png">

[2019-04-11 20:45] jeefy opened #697 "Fix `release-notes` tests"
Currently one of the tests called in `pkg/notes/` is failing because changes were made and the tests weren't updated. This is a failing on two parts.

1) The tests weren't updated. That's :(
2) The tests for `pkg/notes/` aren't run. So I'm going to revisit this and likely add an additional prowjob to run tests for `pkg/` (don't quote me on that till I do more research)

/assign

[2019-04-16 14:07] dims commented on #631
@tpepper still valid?

[2019-04-17 14:04] alvaroaleman commented on #697
/assign

[2019-04-17 21:37] dims opened #913 "[sig-release] Umbrella issue for a job that signs artifacts and uploads them to a GCS bucket"
Currently we need googlers to build, sign and upload deb/rpm artifacts. We need a prow job(s) that can do this. Ones that can be triggered by the sig-release team when they cut the release.

- [ ] Find OWNERS for the deb and rpm definitions and associated scripts.
- [ ] Define policy for dependencies are named inside the deb/rpm definition metadata
- [ ] We need a CNCF owned signing key. (We need

[2019-04-24 15:50] #691 closed

[2019-04-25 09:08] justaugustus commented on #520
/remove-lifecycle rotten

Is this still an issue for users?

[2019-04-25 09:19] trunet commented on #520
yes, it is for me. Can only install using this workaround:  https://github.com/kubernetes/release/issues/520#issuecomment-367675841

[2019-04-25 14:43] tpepper commented on #591
see PR #693

[2019-04-25 14:45] tpepper commented on #591
/remove-lifecycle rotten

[2019-04-26 08:59] magnetik commented on #557
/remove-lifecycle rotten

[2019-04-29 00:37] justaugustus commented on #571
/remove-lifecycle stale

[2019-04-29 00:38] justaugustus commented on #557
/sig release
/priority important-soon

[2019-04-29 00:41] justaugustus commented on #631
/remove-lifecycle stale

[2019-04-30 09:35] saschagrunert commented on #697
I think the additional prow job is needed here, how to add it?

[2019-04-30 09:39] alvaroaleman commented on #697
You would have to add it here: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/release/release-config.yaml#L3

[2019-04-30 09:54] saschagrunert commented on #697
Thanks for the hint, I will come up with a PR.

[2019-04-30 11:16] saschagrunert commented on #697
@alvaroaleman I would like to verify if the merged PR works as intended, so I opened up a small fix in https://github.com/kubernetes/release/pull/708. The new job does not seem to run there, is there a special synchronization between prow and the config reop?

[2019-04-30 11:38] saschagrunert commented on #697
@jeefy The issue should be resolved and can be closed.

[2019-04-30 11:39] alvaroaleman commented on #697
@saschagrunert Thanks!

/close

[2019-04-30 11:39] #697 closed

[2019-05-01 12:01] justaugustus commented on #694
/help
/milestone v1.15
/priority important-soon
/area release-eng

[2019-05-01 12:02] justaugustus commented on #689
/help
/milestone v1.15
/priority important-soon
/area release-eng

[2019-05-01 12:03] justaugustus commented on #684
/milestone v1.15
/priority important-soon
/area release-eng

[2019-05-01 12:03] justaugustus commented on #681
/help
/milestone v1.15
/priority important-soon

[2019-05-01 12:05] justaugustus commented on #631
/help
/milestone v1.15
/priority important-soon
/area release-eng

[2019-05-01 12:11] justaugustus commented on #631
/help
/milestone v1.15
/priority important-soon
/area release-eng

[2019-05-01 12:12] justaugustus commented on #628
/milestone next
/priority important-longterm
/area release-eng

[2019-05-01 12:14] justaugustus commented on #591
/milestone v1.15
/priority important-soon
/area release-eng

[2019-05-01 12:15] justaugustus commented on #571
/help
/milestone v1.15
/priority important-longterm
/area release-eng

[2019-05-01 12:16] justaugustus commented on #557
/help
/milestone v1.15
/area release-eng

[2019-05-01 12:16] justaugustus commented on #520
/help
/milestone next
/priority important-longterm
/area release-eng

[2019-05-01 12:17] justaugustus commented on #520
/priority important-soon
/remove-priority important-longterm

[2019-05-01 12:18] justaugustus commented on #305
/help
/milestone next
/priority important-longterm
/area release-eng

[2019-05-01 12:19] justaugustus commented on #281
/assign @tpepper @justaugustus @timothysc @dims
/milestone v1.15
/priority critical-urgent
/area release-eng

[2019-05-01 12:21] justaugustus commented on #270
/assign @tpepper @justaugustus @timothysc @dims
/milestone v1.15
/priority critical-urgent
/area release-eng

[2019-05-01 12:22] justaugustus commented on #268
/assign @tpepper @justaugustus @timothysc @dims
/milestone v1.15
/priority critical-urgent
/area release-eng

[2019-05-01 12:24] justaugustus commented on #113
/help
/milestone v1.15
/priority important-soon
/area release-eng
related: https://github.com/kubernetes/sig-release/issues/245

[2019-05-01 23:34] tpepper commented on #631
This is in my queue.

/assign @tpepper

[2019-05-06 16:41] Katharine opened #709 "releaselib.sh assumes testgrid's config.yaml is authoritative, but it is not"
releaselib.sh assumes that testgrid's config.yaml file is an authoritative source on testgrid's setup, but in reality config.yaml is just an input into another tool that then produces the actual output.

In practice, this is going to break soon (this week in principle, except we'll probably block on this repo being fixed first) because the releases-blocking tests defined for testgrid are going to

[2019-05-14 16:52] hoegaarden opened #712 "[anago] publishing-bot issue creation is noisy"
When a new branch is created (when cutting a `.beta.0`), an issue for the publishing-bot is created (see https://github.com/kubernetes/release/pull/676).

It seems that the API response for creating the issue is dumped to StdOut. This is overly noisy and should probably be changed (e.g.: only the issue # or a link to the issue should be printed).

Examples of the output can be found here:
- gcb lo

[2019-05-14 17:03] hoegaarden opened #713 "[anago] publishing-bot issue does not assign correctly"
The publishing bot should *assign* the created issue to all team members of @kubernetes/publishing-bot-reviewers because GH does not allow to assign to a team.

This currently does not seem to work, as we don't see those assignments in the body of https://github.com/kubernetes/kubernetes/issues/77871 (we should see some `/assign someuser ...` instead of ``)

/area release-eng
/kind cleanup

----

[2019-05-18 09:14] idealhack opened #721 "branchff assumed dependencies"
There are a few tools that [`branchff`](https://github.com/kubernetes/release/blob/9713cfe10469e64bc3c7ab5adb24115c13c9b826/branchff) currently requires but not necessarily provided in a fresh Linux environment:

- git
- go (recent version, different in release cycles)
- jq
- make

This is something like the [write access to `/usr/local` and sudo permission](https://github.com/kubernetes/sig-relea

[2019-05-20 17:40] pswica commented on #721
Can I try taking this on?

[2019-05-21 17:04] pswica commented on #684
What would you think of changing common::check_packages to something like:
`
for prereq in $*; do
  command -v $PREREQ > /dev/null 2>&1 || missing+=($prereq)
done
if ((${#missing[@]}>0)); then
    logecho -r "$FAILED"
   logecho "PREREQ: Missing prerequisites: ${missing[@]}"
  return 1
fi
`
Where the prerequisites are binaries rather than packages. This way, when distributions differ on package ma

[2019-05-29 16:17] Bubblemelon opened #724 "_KUBE_CROSS_VERSION" in the substitution data is not matched in the template"
[code]

From `gcbmgr.log`:
[code]

This occurs in the [`submit_it()`](https://github.com/kubernetes/release/blob/255bd062b65c896aeb8aba7583158c6fff4cbc9d/gcbmgr#L289 ) function.

cc: @hoegaarden

[2019-05-29 16:21] hoegaarden commented on #724
We could just extend https://github.com/kubernetes/release/blob/255bd062b65c896aeb8aba7583158c6fff4cbc9d/gcbmgr#L296 with `_KUBE_CROSS_VERSION` and remove https://github.com/kubernetes/release/blob/255bd062b65c896aeb8aba7583158c6fff4cbc9d/gcbmgr#L303

[2019-05-29 16:25] hoegaarden commented on #724
JFYI @kubernetes/patch-release-team

[2019-05-29 17:11] hoegaarden commented on #724
/area release-eng
/sig release
/kind bug

[2019-05-30 05:40] justaugustus opened #726 "Shellcheck bash scripts"
The release repo has several bash scripts that could likely do with some linting.
Let's:
- Create a hack directory
- Copy in a `verify-shellcheck` script e.g.,
  - https://github.com/kubernetes/kubernetes/blob/master/hack/verify-shellcheck.sh
  - https://github.com/kubernetes/kubeadm/blob/master/kinder/hack/verify-shellcheck.sh
- Create a presubmit job, which can optionally be triggered
- Update s

[2019-05-30 06:52] #721 closed

[2019-05-30 19:54] tpepper commented on #709
FWIW I just noticed relnotes includes a call out to this stuff also via releaselib.sh's check on 'testgrid/config/config.yaml' so the pre-announce of coming release and cherry pick deadline like at https://groups.google.com/d/topic/kubernetes-dev-announce/HpasA0aV3yI/discussion includes:

[code]

[2019-05-30 20:30] pswica commented on #726
I would love to help with this, if that would be okay. I might need some additional guidance as I'm still fairly new to the release architecture.

[2019-05-31 08:13] justaugustus commented on #631
/remove-help

[2019-05-31 14:05] justaugustus commented on #726
@pswica -- sounds good! I'll put some additional pointers on this issue when I have a moment.

[2019-05-31 14:05] justaugustus commented on #726
/remove-help
/remove-area release-team
/area release-eng

[2019-05-31 14:11] justaugustus opened #728 "Support for Debian Buster"
A request was made to add support for Debian Buster: https://github.com/kubernetes/release/pull/720#discussion_r288733156

Buster is scheduled to be released around the same time as Kubernetes 1.15, so this will have to happen during the 1.16 release cycle instead.

/kind feature
/priority important-longterm
/milestone v1.16
/help
/sig release
/area release-eng

[2019-05-31 14:13] justaugustus commented on #728
/milestone v1.16
cc: @praseodym

[2019-05-31 14:31] justaugustus commented on #724
Closed via #725.
/close

[2019-05-31 14:32] #724 closed

[2019-05-31 16:08] pswica commented on #726
Cool thank you so much for taking the time to do that. I'll read over your notes, and keep reading the source code, and then start on this. Thanks again

[2019-05-31 16:16] praseodym commented on #728
Thanks! Creating an issue for this was still on my todo list :slightly_smiling_face:

[2019-05-31 20:24] justaugustus commented on #557
Build definitions for bionic were added in #719, so we should be releasing packages for bionic on the current (1.15) release cycle.

/close

[2019-05-31 20:24] #557 closed

[2019-06-01 03:52] pswica commented on #726
Thanks again for letting me work on this and being open to providing guidance. I think looking around I'm starting to understand the scope of this--the release process is so cool! Please let me know if I'm on the right track.

Points 1&2: Easy (just mkdir and copy file over)
Point 3: Add a job here: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/release/release-config.

[2019-06-02 10:30] idealhack opened #730 "branchff fails when using ssh remote url"
[code]

This was working before, it seems https://github.com/kubernetes/release/commit/636269f29eb1caf416537c23cb6a6f9fb7022cc5 broke it.

cc @hoegaarden @Bubblemelon

[2019-06-06 00:21] tpepper commented on #628
I glanced in on this and it appears docker/cli upstream still has this marked experimental and it would seem their long term preferred direction is https://github.com/moby/moby/issues/38043 and not moving anywhere at the moment.

[2019-06-12 19:34] #681 closed

[2019-06-13 08:09] Silvanoc opened #862 "Don't install CNI plugins to /opt"
**What would you like to be added**:

Let RPM and DEB packages install CNI plugins under `/usr/lib/cni`, `/usr/lib/cni-plugins` or similar.

**Why is this needed**:

Current installation path for CNI plugins (`/opt/cni`) is not aligned with Debian and Fedora packaging best practices (even possibly policies).

In the case of *Fedora*, [previous versions](https://pagure.io/packaging-committee/blob/9

[2019-06-16 10:31] idealhack commented on #730
/priority important-longterm
/help

[2019-06-16 15:24] nikhita commented on #730
Created https://github.com/kubernetes/release/pull/735

/remove-help

[2019-06-16 15:25] nikhita commented on #730
/remove-priority important-soon

[2019-06-20 12:21] luxas opened #737 "cri-tools was not upgraded to v1.14 in Kubernetes v1.15"
See: https://github.com/kubernetes/kubernetes/pull/75658, however debs/rpms are still on v1.12 :scream:: https://github.com/kubernetes/release/blob/master/debian/build.go#L27

I think we should fix this ASAP, and push out the desired version v1.14 for debs/rpms, too, as folks now start upgrading to v1.15.

@kubernetes/release-team @kubernetes/sig-cluster-lifecycle @kubernetes/sig-node-bugs

[2019-06-20 12:49] timothysc commented on #737
/assign @justaugustus @tpepper

[2019-06-20 13:24] feiskyer commented on #737
@justaugustus @tpepper Could you help to build the debs and rpms?

[2019-06-20 13:26] justaugustus commented on #737
On it!

/milestone v1.15
/priority critical-urgent
/kind bug

[2019-06-20 13:35] justaugustus commented on #737
@luxas -- for debs this is fine.

What that `1.12.0` is doing is making sure that we install a minimum supported version of cri-tools, comparable to the Kubernetes version. It's something that ends up in the control data for the deb:
[code]

Now that we've released 1.15.0, we'll bump that number to `1.13.0`.

Give me a bit to check in on the rpms now.

[2019-06-20 13:36] #730 closed

[2019-06-20 13:49] justaugustus commented on #737
@luxas -- rpms are also fine:

[code]

We definitely need to do some minimum supported version bumps, but right now, both debs and rpms for 1.15.0 will work as expected.

I'll PR bumps for the minimum supported versions.

[2019-06-20 15:33] justaugustus commented on #737
@luxas -- I've opened a PR to bump the minimum supported versions in our package tooling: https://github.com/kubernetes/release/pull/738
Closing this issue out as everything works as intended at the moment.

/close

[2019-06-20 15:33] #737 closed

[2019-06-20 16:19] justaugustus commented on #737
/area release-eng
/sig release

[2019-06-21 00:35] justaugustus opened #739 "cri-tools debs/rpms are not being published"
After taking a look at #737, I discovered a tangential problem, namely, we have not been publishing debs/rpms for `cri-tools` since v1.12.0:

### debs
[code]

### rpms

[code]

Our current release tooling maps versions of cri-tools (>= 1.12.0) to the rest of the release packages.

This raises a set of questions...
- As we have not been publishing cri-tools debs/rpms, does that imply that release v

[2019-06-21 00:51] justaugustus commented on #739
/cc @kubernetes/patch-release-team @kubernetes/release-managers @kubernetes/build-admins @kubernetes/sig-release-admins @feiskyer @Random-Liu

/priority critical-urgent
/milestone v1.16
/kind bug
/assign

[2019-06-21 01:13] justaugustus commented on #737
I've opened a separate issue to discuss the fact that we're not publishing recent versions of cri-tools: https://github.com/kubernetes/release/issues/739

[2019-06-21 01:14] justaugustus commented on #739
/sig release
/area release-eng

[2019-06-21 03:52] pswica commented on #726
I gave this another look after doing some contributions to sig-cli and getting the hang of contributing. I think I can do this now

[2019-06-21 16:48] luxas commented on #737
Sorry that I did not I articulate myself very clearly. This is the main issue that I tried to point out, that there is no newer version than 1.12 available at the moment.

[2019-06-23 20:30] pswica commented on #689
Taking a look at:

https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/primary.xml

I think you are getting those errors because many location parameters in this xml are relative (../..) which is usually considered unsafe because of potential path traversal attacks.

The location of the file is different than the name of the rpm, which on the .xml is ```kubernetes-cni```

I

[2019-06-28 05:15] justaugustus commented on #726
With #740 merged, we're well on our way with this!
Assigning to @pswica, as he's made some excellent progress here and is now an org member :)

/assign @pswica
/milestone v1.16

[2019-06-28 13:56] pswica commented on #726
My first assignment !

[2019-06-28 15:44] pswica commented on #713
/assign

[2019-06-28 15:44] pswica commented on #712
/assign

[2019-06-28 16:39] pswica opened #756 "pull-release-verify Job Failing"
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/release/742/pull-release-verify/1144645322690007040

[code]

I think I need to add "make verify" as args, not commands, under the job. Will make this PR in test-infra

/assign

[2019-06-28 16:55] #756 closed

[2019-06-28 17:08] pswica opened #757 "pull-release-verify not showing helpful error messages"
See here: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/release/742/pull-release-verify/1144651109151805443

Job now runs, as you can see from the output below, but it doesn't tell you what specific shellcheck issues were found.

[code]

/assign

[2019-06-28 17:15] pswica commented on #757
Actually, on second thought, it's failing for another reason. I think the docker line at the bottom fails because the `make` job already runs in docker by using `runner.sh` ... investigating

[2019-06-28 18:32] pswica commented on #757
Resolved in @spiffxp's PR above
/close

[2019-06-28 18:32] #757 closed

[2019-06-28 18:41] pswica commented on #712
@hoegaarden
This should be resolved now. Let me know if it's good to close

[2019-06-28 18:42] pswica commented on #684
@hoegaarden
My PR above should have resolved this. Let me know if it's good to close

[2019-07-01 12:22] cpanato commented on #694
How can i work on that? can I have some initial help on that?

[2019-07-01 12:39] justaugustus commented on #694
@cpanato -- It looks like this may have been fixed already with https://github.com/kubernetes/test-infra/pull/12115

@aleksandra-malinowska -- can you confirm?

[2019-07-01 12:51] cpanato commented on #571
What is the decision here? I can help on that, need some guidance since i'm a newbie :)

[2019-07-01 12:59] nikhita commented on #571
This is already in progress here: https://github.com/kubernetes/test-infra/pull/12968 :grimacing:

Going to remove help wanted on this, sorry @cpanato :see_no_evil:

/remove-help

[2019-07-01 15:48] hoegaarden opened #777 "Add check to verify-boilerplate"
... like we do in other repos as part of `make verify`

We can copy the things from `k/k` or use some shared thing, e.g. from `k/repo-infra` (... but there is already [a discussion](https://github.com/kubernetes/repo-infra/issues/97) going on how and if we want to do that ...)

/cc @pswica @kubernetes/release-engineering @kubernetes/licensing

[2019-07-01 15:52] nikhita commented on #777
would prefer this long-term, but I don't see us consuming repo-infra anytime soon (even if the related PR gets merged). :(

IMO it's fine to copy things over from k/k...

[2019-07-01 15:54] hoegaarden opened #779 "Add tests for shellscripts"
Proposal:
- add a make target `test`
- add the following to that target:
  - `go test ./...`
  - `bazel test //lib/*`
  - ... potentially others
- change `pull-release-unit` to run `make test` instead of `go test ./...`

Alternatively:
- add a make target `test-sh-unit` (or similar)
- add `bazel test //lib:*` to that target
- add a separate prow job to run that

What do you all think?

/cc @kubern

[2019-07-01 15:59] pswica commented on #779
BIG +1
I like the first approach, myself, since I feel like the bazel tests will be mostly unit tests as well. I can help with this when I'm done with my shellcheck project.

[2019-07-02 00:34] pswica commented on #726
That should be all of them. After these get finalized, reviewed, merged, etc. I'll make one last PR for any left (if needed) and then I will make a PR to make verify always-run that closes this issue.

[2019-07-02 00:55] pswica opened #786 "Shellcheck Post-Merge Issues/Concerns"
I am making a generic issue here for myself, and others, to catch any potential weirdness/bugs introduced after I cleaned our scripts with shellcheck

[2019-07-02 00:56] pswica commented on #786
@spiffxp found some like changes that need to be made in his comments here: https://github.com/kubernetes/release/pull/763

[2019-07-02 01:05] pswica commented on #786
@spiffxp found these likely changes https://github.com/kubernetes/release/pull/765#pullrequestreview-256622964

[2019-07-02 03:18] pswica commented on #779
/assign

[2019-07-02 03:35] pswica commented on #786
https://github.com/kubernetes/release/pull/765#issuecomment-507504051

@listx Found a typo/bug caused by Mapfiles

[2019-07-02 15:33] pswica commented on #726
/close

[2019-07-02 15:50] pswica commented on #786
https://github.com/kubernetes/release/pull/797

This was a big one. test-infra uses `push-build.sh`, which relies on our `lib/releaselib.sh`, among others.

[2019-07-02 21:22] pswica commented on #786
https://github.com/kubernetes/release/pull/800

[2019-07-03 00:42] pswica commented on #786
https://github.com/kubernetes/release/pull/802

[2019-07-03 13:11] hoegaarden opened #811 "Token should be regenerated without newlines"
In https://github.com/kubernetes/release/pull/801 a new token was generated and added to the GCB config. It seems that this token was added with a newline at the the end. Presumably the encrypted token was generated with

[code]
instead of (note the `-n`!)
[code]

When we have fixed all the other issues with k/release we should add the trimmed version of the token (or of a new token) to our GCB co

[2019-07-04 13:38] justaugustus opened #816 "[Umbrella] Implement improvements to protect CI and releases from changes to release tooling"
_(Also sent to k-dev, SIG Release MLs, and SIG Testing: https://groups.google.com/d/topic/kubernetes-dev/OuLMzqZkdtw/discussion)_

Following an attempt to improve the semantics of the release tooling via shellcheck (https://github.com/kubernetes/release/issues/726), we found that we were unable to stage releases.

Multiple fixes were merged in an attempt to bring us to a usable state.

An unintend

[2019-07-04 14:43] hoegaarden commented on #816
FWIW, what you can do today is set `RELEASE_TOOL_REPO` and/or `RELEASE_TOOL_BRANCH` when submitting the cloud builder job via `gcbmgr`, e.g.:

[code]

This & mock releases should be safe enough and a way forward to start backfilling tests, refactoring, ...

Just to be clear: I am not advocating to keep using this and a mock stage & release as "the test". We need way faster feedback. But we can sta

[2019-07-04 14:58] neolit123 commented on #816
(they are using something in k/release; we need to figure out what those somethings are)

on the side of kubeadm [release-master-informing](https://k8s-testgrid.appspot.com/sig-release-master-informing) jobs the failures stared happening because the kubeadm jobs could not find the CI artifacts they needs such as:
[code]

examining the bucket:
[code]

as @dims outlined, the prow job `ci-kubernetes-

[2019-07-04 15:09] neolit123 commented on #816
i think this is a great idea and such an e2e can compensate for the lack of unit tests.

the problems i saw - e.g.
[code]
indicate issues in the staging process.

so such an e2e has to stage somewhere and verify if all the artifacts are up.

[2019-07-04 16:55] justaugustus commented on #816
@neolit123 -- that's super useful; thanks for the data!

@hoegaarden -- I didn't know you could do that. Do we have it documented somewhere?

[2019-07-04 18:33] BenTheElder commented on #816
There is one such presubmit now (pull-release-cluster-up) but that doesn't cover everything used by EG the kubeadm job.

[2019-07-05 02:28] dims commented on #816
@hoegaarden @justaugustus that gcbmgr script needs access to  release-test-dev bucket too

[code]

[2019-07-05 02:48] justaugustus commented on #816
@dims -- Could you clarify what you mean by access to `release-test-dev`?

That snippet only shows that you don't have access to the `kubernetes-release-test` project on GCP:
[code]

[2019-07-05 08:18] hoegaarden commented on #816
It is not documented, it came in somewhat recently with https://github.com/kubernetes/release/commit/636269f29eb1caf416537c23cb6a6f9fb7022cc5.

[2019-07-05 08:20] hoegaarden commented on #816
You still need access to the `kubernetes-release-test` -- that is a known issue and yet to be solved. Some parts, IIRC, can be reconfigured to use a different GCP project (even maybe different buckets for individual things), but all in all we are not setup right now to use different projects.

[2019-07-05 09:57] dims commented on #816
@justaugustus sorry i typo-ed it :) like @hoegaarden and you pointed out it's access to `kubernetes-release-test`

[2019-07-05 15:41] justaugustus commented on #816
Closed the associated `kind/failing-test` issues in k/k:
- https://github.com/kubernetes/kubernetes/issues/79651
- https://github.com/kubernetes/kubernetes/issues/79652
- https://github.com/kubernetes/kubernetes/issues/79668
- https://github.com/kubernetes/kubernetes/issues/79669

[2019-07-05 20:26] justaugustus commented on #816
To make sure we capture the various failure modes here, I did a little digging, layered with the diagnoses we've already received from a few on this thread.

## Download failures

### `Extract` test failure

[code]

ref:
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1145979554884489221
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernet

[2019-07-06 11:38] justaugustus commented on #816
Before we dive in, it's helpful to understand what the `ci-kubernetes-build` actually does.

Here's its' [job config](https://github.com/kubernetes/test-infra/blob/63eb094594afb5bf8154453920457fed90316627/config/jobs/kubernetes/sig-release/kubernetes-builds.yaml#L78-L110):

[code]

Focusing on the `containers` block:

### image
We use the [bootstrap image](https://github.com/kubernetes/test-infra/

[2019-07-06 15:18] justaugustus commented on #816
Adding a canary job to discuss here: https://github.com/kubernetes/test-infra/pull/13340

[2019-07-08 18:17] justaugustus opened #821 "Create test jobs to validate that debs/rpms can be installed"
Per @spiffxp's [review comment](https://github.com/kubernetes/test-infra/pull/13348#discussion_r301230113):

creating an issue instead of having this as a code TODO.

[code]

/assign
/area release-eng
/milestone v1.16
/sig release
/priority important-soon

[2019-07-08 19:39] pswica commented on #786
/close

[2019-07-08 19:39] #786 closed

[2019-07-09 19:56] spiffxp commented on #571
/milestone v1.16
to reflect when this work is expected to land

[2019-07-10 17:23] BenTheElder opened #823 "switch to go modules and stop checking in vendor"
this will prevent further growth of .git due to vendor/ churn and move us to modern tooling that go will be enabling by default in the next release.

/assign

[2019-07-16 21:19] BenTheElder opened #829 "move push-build to kubernetes/kubernetes"
This is one of the only reasons lots of CI jobs need to check out this repo, if we move this over we can prevent changes to this repo from instantly breaking most of CI :-)

discussed in sig-release today, cc @justaugustus

[2019-07-16 22:59] javier-b-perez commented on #829
if we move push-build into k8s/k8s meas we can could docker manifests at the same time we do are building the tar files.
+1

[2019-07-17 09:00] hoegaarden commented on #811
/area release-eng
/kind cleanup

[2019-07-18 10:11] hoegaarden opened #831 "RFC -- testgrid screenshotting"
# RFC -- testgrid screenshotting

Some people use https://gist.github.com/hoegaarden/0e9aab9d29885074a0f60f8398880397 for adding screenshots to the "cutting issue", something like [that](https://github.com/kubernetes/sig-release/issues/714#issuecomment-509130796).

We could automate that, so we have a consistent way to do add this data to the "cutting issue" and have it better integrated in our wo

[2019-07-25 17:52] jeefy opened #834 "[Umbrella] Automate updates to k-sigs/release-notes"
This outlines the primary efforts identified to get the ball rolling in automating updates to the release notes website. Doing this will ensure timely updates to relnotes.k8s.io and removes the human bottleneck. :) Yay!

- [ ] Update the `release-notes` golang tool to automatically create a PR against the k-sigs/relnotes repo.
  This is going to be the majority of effort, and some sane defaults wi

[2019-07-25 17:52] jeefy commented on #834
@onyiny-ang @saschagrunert If I missed anything let me know and I'll update this. :)

[2019-07-29 07:25] idealhack commented on #571
I suppose we can close this since it's implemented now.

/close

[2019-07-29 07:25] #571 closed

[2019-07-29 12:47] patsevanton commented on #689
Same issue

[2019-07-29 14:12] saschagrunert commented on #834
@paulbouwer, @kcmartin @cartyc let's follow up and check how we could start working on this.

From the website point of view I started proposing a PR today which should give us the ability to hide unpublished releases.
https://github.com/kubernetes-sigs/release-notes/pull/83

[2019-07-30 04:27] justaugustus commented on #268
/remove-priority critical-urgent

[2019-08-01 06:34] BenTheElder commented on #739
bump @Random-Liu

[2019-08-05 16:27] bartsmykla opened #837 "Analyze current release tooling"
Hi,

As we discussed on today's release team meeting I should create this issue earlier. Sorry about that. I'm working on analyzing current release tooling/scripting, and want to create good, as a result I want to create a document with list of dependencies between tools, and a logical flow, which can help in future rewriting.

Currently I'm working on flow charts like this one: https://cdn.saco.p

[2019-08-05 18:07] idealhack commented on #837
@bartsmykla awesome, thanks a ton for this!

cc @kubernetes/release-engineering
/area release-eng

[2019-08-05 19:32] tpepper opened #838 "release notes generator does not pick up edits to PRs"
release-notify for 1.15.2, 1.14.5, and 1.13.9 did not pick up the edited PRs release note content after the embargo was lifted and we were publishing info on the releases.  This feels like a fairly normal workflow.  The notes do come via the GitHub API.  Probably additional code is needed to handle pulling a release note stanza from a stack of edited PR descriptions?

[2019-08-05 19:33] tpepper commented on #838
/sig release
/area release-eng

@kubernetes/patch-release-team

[2019-08-06 09:59] bartsmykla commented on #837
flow chart for `branchff`: https://cdn.smykla.blog/branchff/index.html

[2019-08-06 10:12] bartsmykla commented on #837
Temporary description:
| Element | What Represents |
| ------- | --------------|
| yellow background | function call |
| yellow background with opacity 50% | logs |
| yellow background with red border | function call which breaks execution |
| teal background | variable (re)declaration |
| pink/purple background | function declaration |
| green background | source ... |
| purple dashed border | lo

[2019-08-06 11:32] bartsmykla commented on #837
flow chart for `changelog-update`: https://cdn.smykla.blog/changelog-update/index.html

[2019-08-06 17:40] tstromberg opened #839 "Permissions to add minikube packages to Kubernetes repos (.deb, .rpm)"
Hello!

We (minikube) would like to publish our .deb and .rpm packages to the official Kubernetes repositories as part of our release process. How do we get started?

Currently our release scripts publish to a Google Storage bucket:

https://github.com/kubernetes/minikube/blob/551b164017d2649a3857facb79ba80d00569fa18/hack/jenkins/release_build_and_upload.sh#L45

[2019-08-06 17:44] tstromberg commented on #839
/cc @afbjorklund @justaugustus

[2019-08-06 20:38] afbjorklund commented on #839
https://storage.googleapis.com/minikube/releases/v1.3.0/minikube_1.3.0.deb
https://storage.googleapis.com/minikube/releases/v1.3.0/docker-machine-driver-kvm2_1.3.0.deb

https://storage.googleapis.com/minikube/releases/v1.3.0/minikube-1.3.0.rpm
https://storage.googleapis.com/minikube/releases/v1.3.0/docker-machine-driver-kvm2-1.3.0.rpm

[2019-08-08 15:08] ramcheekoti opened #840 "Unable to enable Kubernete Engine API Service"
Hi,
I am unable to enable the Kubernete Engine API Service. I have given full permission to the project to my gcloud account.
![image](https://user-images.githubusercontent.com/52537423/62714517-6356e300-ba1c-11e9-87ff-50992eae4b6a.png)
Please help.

[2019-08-08 15:09] dims commented on #840
please talk to google cloud folks

/close

[2019-08-08 15:09] #840 closed

[2019-08-08 15:10] ramcheekoti commented on #840
![image](https://user-images.githubusercontent.com/52537423/62714748-c6e11080-ba1c-11e9-9168-dbe606f97fd8.png)

[2019-08-13 13:31] hoegaarden commented on #713
This is still the case, even after https://github.com/kubernetes/release/pull/751 merged.

See https://github.com/kubernetes/kubernetes/issues/81354: it still shows `` where the `/assign ...` stanza should be ...

[2019-08-13 13:39] nikhita commented on #713
Side note: IMO it should be fine even if everyone was not assigned. The team is being cc'd anyway. I guess that's good enough.

The person from the team taking the task of creating the PR can assign themselves when they take it up. Wdyt?

[2019-08-13 15:52] hoegaarden commented on #713
1. Happy that is useful to you, even if the assignments currently don't work
1. I will keep the thing open for now and mark it as not-so-critical ... maybe we find on some other refactorings what the issue is ...

/label priority/important-longterm

[2019-08-14 08:03] justaugustus opened #844 "Announcement template updates"
/assign

[2019-08-14 18:52] cpanato commented on #831
a prow plugin will be nice

[2019-08-15 08:16] hoegaarden commented on #831
https://github.com/kubernetes/release/pull/845

[2019-08-15 23:37] tpepper opened #846 "build scripts README.md"
The https://github.com/kubernetes/release/tree/master/build subdirectory of scripts needs a README.md describing the tools, example invocations, expected outputs, tests.

[2019-08-15 23:39] justaugustus commented on #846
/priority important-soon
/milestone v1.16
/kind documentation

[2019-08-16 08:58] hoegaarden commented on #846
https://github.com/kubernetes/release/pull/825 would address parts of it, by moving all the image related stuff into a separate directory

[2019-08-16 11:07] hoegaarden opened #848 "RFC -- Investigate concourse for release pipelines"
Disclaimer: I work for Pivotal, where concourse was born. I used concourse a lot in the past, but don't work on any of the concourse teams.

### Proposal

Use [concourse](https://concourse-ci.org) instead of GCB to run the release tooling.

<p align="center">
  <image
    src="https://user-images.githubusercontent.com/1401333/63163003-0e1e6100-c01c-11e9-919e-5fe2cff2ed08.png"
    alt="Example pipe

[2019-08-16 15:57] javier-b-perez commented on #848
Hi,

Thanks for idea, this is the first time I have heard of concourse.
I personally think the constrain here is anago and how it operates, not GCB. If we split the logic into small units that we can run as independent containers we can orchestrate that work anywhere (docker, GCB, concourse, ...)

I will join the meeting to hear more about this.

[2019-08-18 05:55] justaugustus opened #850 "Add Cryptographic Digests to GitHub Releases Body"
Please consider adding cryptographic digests for the [files released in this project][releases]. Commonly called SHA256SUMS files they can be easily generated using the common `sha256sum` tool on most systems

[code]

Alternatively, there [are some release automation tools][integrations] that can build these files automatically.

Besides being a useful practice for download verification I would al

[2019-08-18 05:57] justaugustus commented on #850
Phase 0 of this work is here: https://github.com/kubernetes/release/pull/849

[2019-08-18 07:21] justaugustus commented on #850
Original request from @philips: https://github.com/kubernetes/kubernetes/issues/70132#issuecomment-518297891

Mailing list discussion: https://groups.google.com/d/msg/kubernetes-sig-release/R_-VwBk-JUo/-tQk-JzNAgAJ

cc: @dims

[2019-08-19 06:56] justaugustus opened #852 "Determine image building process for release tools"
Something that has been on my mind and I'm realizing now that we may not have had an issue for it before.

From https://github.com/kubernetes/test-infra/pull/13890...
@tpepper:

@hoegaarden:

We should strive for lightweight images that have only the dependencies we require to build, test, utilize release tooling.

Adding my opinion to the discussion, I also don't think distroless is the right cho

[2019-08-19 06:56] justaugustus commented on #852
(This is a good one for a Release Manager Associate to pick up.)

[2019-08-19 07:00] justaugustus commented on #852
@hoegaarden has some initial work here that I still need to review: https://github.com/kubernetes/release/pull/825

[2019-08-19 09:02] hoegaarden commented on #852
I just took what was already there and made it hopefully easier to discover, nicer to use, and better documented.

As far as I can see for some of those they also use GCB to bake the images and push them into a registry. I have no idea how the promotion of their images out of the staging registry works, what criteria they use to consider an image as good and ready for promotion ...

In any case, I

[2019-08-19 09:19] alexeldeib commented on #852
This sounds right up my alley, and I'm an associate looking for places to jump in! 🎉 I also have some *very* outstanding test-infra PRs to add kubebuilder/controller-runtime to Prow -- which happened to require a new image with various deps. I can circle back there to close the loop and see if maybe the same solution can apply to both.

If i'm hearing this correctly, the desired solution is roughl

[2019-08-19 10:00] rkojedzinszky commented on #728
Hi All,

I am also waiting for Buster support. One thing I've found, that kubelet repeatedly inserts an iptables rule, which was not the case on debian stretch. I think, https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_network_linux.go#L64 is responsible for this rule being inserted several times, but I had no time to dig deeper.

Keep up with the great job!

[2019-08-19 10:02] hoegaarden commented on #852
I don't think that is needed. For the release itself, we have https://github.com/kubernetes/release/tree/master/images (specifically https://github.com/kubernetes/release/tree/master/images/k8s-cloud-builder).
For the images we use for our (unit) tests, we for now can ~steal~ use other images like the kubekins-e2e.

Right now I have no idea how images are generally build, maintained, promoted, ...

[2019-08-19 11:35] justaugustus commented on #852
@hoegaarden -- Let's not conflate the [immediate fix (using `kubekins-e2e`)](https://github.com/kubernetes/test-infra/pull/13890) with the long-term goal (this issue). We still want this.

---

@alexeldeib -- Feel free to proceed with this.

In terms of validation, as a baseline, the resultant image should be able to successfully run all of the following jobs:
- https://github.com/kubernetes/test-

[2019-08-19 14:17] hoegaarden commented on #852
We absolutely want that.

I think that came across differently than intended, what I am trying to say is:

We need to figure out how to handle images in general, how and where to bake them, how to test and how to promote them. It should be a process that allows me (as a member of the release management or release engineering team) to change the image at any time or add a new one, and (given all th

[2019-08-19 17:01] BenTheElder commented on #852
If you're going to run our scripts or bazel they need a full typical userspace, the standard Ubuntu image is relatively small for that. Everything else in the dependency list _is_ explicitly added to kubekins-e2e which just happens to also have some other junk.

FWIW test-infra is going to need to replace that image with a similar cleaned up one for testing.

[2019-08-19 17:02] BenTheElder commented on #852
As for how test-infra handles it, look at the postsubmits on that repo, you can trace it from there. In short prow postsubmit => GCB matrix via a tool from Katharine. 🙃

[2019-08-20 09:45] bartsmykla commented on #837
flow chart for `prin`: https://cdn.smykla.blog/prin/index.html

[2019-08-20 10:24] bartsmykla commented on #837
flow chart for `gcbmgr`: https://cdn.smykla.blog/gcbmgr/index.html

[2019-08-20 20:28] justaugustus opened #853 "Safe templating of json in bash scripts"
There are a few places in our scripts where we template JSON directly in bash e.g., https://github.com/kubernetes/release/blob/c32c094ff025d4d61fc27e575b489a174090c630/anago#L1131-L1138

As @hoegaarden [mentions](https://github.com/kubernetes/release/pull/849#discussion_r315283633), it'd be nicer/less scary to handle this in a safer way via jq, like this: https://github.com/kubernetes/release/blob

[2019-08-20 21:23] alexeldeib commented on #852
Following those tips^ (thanks @BenTheElder), I found

- [example prow postsubmit](https://github.com/kubernetes/test-infra/blob/ee2568423b32bc86fffcb965a5fa9b76defc025c/config/jobs/GoogleCloudPlatform/k8s-multicluster-ingress/k8s-multicluster-ingress-config.yaml#L37) to for building an image
- [invocation of image-builder](https://github.com/kubernetes/test-infra/blob/70015225876afea36de3ce98f36fe

[2019-08-21 14:51] neolit123 opened #854 "missing images for the ci/latest.txt label"
currently, it appears that the ci/latest.txt label points to images that are missing:

[code]

missing `400` tagged image for a control-plane component:
https://console.cloud.google.com/gcr/images/kubernetes-ci-images/GLOBAL/kube-apiserver?gcrImageListsize=30

at the time of writing this report the latest one is at `398`
![screenshot](https://user-images.githubusercontent.com/331852/63442630-1ae7e

[2019-08-21 14:59] justaugustus opened #855 "Testing bash scripts: PR feedback"
@hoegaarden made some good points in a [recent PR](https://github.com/kubernetes/release/pull/849) that we should investigate...

I think, the least we should do is document that behaviour.
I guess, we could also return the tmp_dir and leave it to the caller to do whatever with that?
We could also have test_main setup a tmp_dir for each test case it runs and export that as TMPDIR or pass in to the

[2019-08-21 15:13] neolit123 commented on #854
btw, it will be nice to add an e2e that makes sure that these labels point to actual images.
possibly under: https://k8s-testgrid.appspot.com/sig-release-misc
?

[2019-08-21 15:22] justaugustus commented on #854
/assign

[2019-08-21 15:23] justaugustus commented on #854
/area release-eng
/milestone v1.16

[2019-08-21 17:16] justaugustus commented on #850
Bookmark to notes from today's WG K8s Infra meeting: https://docs.google.com/document/d/16VBfsFMynA7tObzuZGPpw-sKDKfFc_T5W_E4IeEIaOQ/edit#bookmark=id.nrt4nqi4a038

[2019-08-21 21:10] justaugustus commented on #844
/priority important-longterm
/kind cleanup documentation

[2019-08-21 21:43] justaugustus opened #856 "branchff fails depending on the way git remotes are configured"
Running `branchff` today fails when I do not specify `RELEASE_TOOL_REPO`.
I think this has to do with the way my remotes are set up.

[code]

My remotes:
[code]

I can run `branchff` successfully when issuing the following:
[code]

This is a good one for a Release Manager Associate to pick up.

/help
/priority important-soon
/milestone v1.16
/kind bug
cc: @kubernetes/release-engineering

[2019-08-21 21:51] tpepper opened #857 "Discuss k/release repo tagging and branching policies"
It is unclear what the tags mean and when they're applied, eg:

[code]

This lifecycle management should be documented in process.  Since they're v0 I suppose it's acceptable at this point that there's no acceptance test criteria or compatibility expectations, but it would be beneficial to aspire to less unexpected build breaking changes in the repo.

[2019-08-21 22:02] tpepper commented on #856
Interesting that `RELEASE_TOOL_REPO="https://github.com/kubernetes/release"` makes it run.

Could @nikhita 's https://github.com/kubernetes/release/commit/5a3469695dd4bc0653ab818efcdc83734c26c113 be in play?

Can you share your .gitconfig?

We do have multiple places where tools tend to expect an upstream/downstream forked GitHub workflow where remote "origin" is your repo fork (as an ssh url) and

[2019-08-21 22:04] justaugustus commented on #857
Thanks for capturing this, Tim!
So far, my policy has been, "We're about to make a change that could do weird things, let's tag so we have a sane place to go if things go wrong", but that's not really much of a policy at all.

Let's brainstorm.

/assign @justaugustus @calebamiles @tpepper
/priority important-soon
/kind documentation
/milestone v1.16

[2019-08-21 22:05] tpepper commented on #856
I think most people do something like:

[code]

and parts of that are definitely encoded in tooling.

[2019-08-21 22:14] justaugustus commented on #856
Yep. Tim's layout is what the standard should look like.

I'd personally love to see some fuzzy match where I can be lazy and say `RELEASE_TOOL_REPO="kubernetes/release"` instead of `RELEASE_TOOL_REPO="https://github.com/kubernetes/release"` and it'll know that I either mean `https://github.com/kubernetes/release.git` or `git@github.com:kubernetes/release.git`.

Here's my `.gitconfig`:
[code]

[2019-08-21 22:46] justaugustus commented on #854
Investigating and confirming that the `ci-cross` image version trails the `ci` version number:

[code]

[2019-08-22 00:59] tpepper commented on #852
I disagree with this.

For short term simplicity, like Hannes says, for building (not for running in prod) it can be a lot easier to say "I want ubuntu plus build-essential package group".  We currently kinda just want to depend on "full featured OS".  But that's ambiguous enough that we have regular breakage...various problems over the past year across Linux and Mac, and between Ubuntu (pick a ve

[2019-08-22 13:31] justaugustus commented on #854
Detailed write-up on this in https://github.com/kubernetes/test-infra/pull/14030

[2019-08-22 20:49] justaugustus commented on #854
@neolit123 -- Closed via https://github.com/kubernetes/test-infra/pull/14030
Please use https://dl.k8s.io/ci/ markers moving forward instead of https://dl.k8s.io/ci-cross/.

/close

[2019-08-22 20:49] #854 closed

[2019-08-22 20:51] neolit123 commented on #854
@justaugustus
thanks, let's see if someone (outside of kubeadm users) complains about this.
hopefully not.

[2019-08-22 23:14] tstromberg commented on #839
Clarifying title. I could use some help with getting the appropriate permissions. Alternatively, we could create our own repo, but it would be nice to preserve the maintainability benefits of having a single  Kubernetes package repository.

[2019-08-23 20:52] tpepper commented on #857
In my humble opinion, the release code will be most maintainable and end user experience (those consuming our generated artifacts) most consistent if the release code is branched in conjunction with k/k.

[2019-08-23 21:02] justaugustus commented on #857
I was thinking the same staying lockstep with k/k.
.0 only or all patches?

When would we cut a branch here? Before of after a kubernetes release?
Maybe integrate this into our current tooling so we automatically cut a release in k/r when we release k/k?

[2019-08-23 21:23] neolit123 commented on #857
i think what should be done first is manually create all branches in the current support skew based on the current master HEAD:
- `release-1.13`,
- `release-1.14`
- `release-1.15`
- `release-1.16`
- `release-1.17`

and adapting test-infra jobs. IMO it's a good start for starting to manage changes targeting different releases.

what repo creates the branch first is a good question.

one problem whe

[2019-08-26 10:36] shai commented on #689
+1

[2019-08-27 07:16] Silvanoc commented on #862
@BenTheElder thanks for the information. Thankfully @justaugustus already did so.

[2019-08-27 07:41] Silvanoc commented on #862
The FHS documentation is a bit too unclear, therefore the distributions are implementing it differently. In the case of Debian, the package linter (_lintian_) would report it as an issue.

Fedora used to have a policy similar to that of Debian, but they changed it and [now it's allowed](https://docs.fedoraproject.org/en-US/packaging-guidelines/#_limited_usage_of_opt_etcopt_and_varopt).

@aojea you

[2019-08-27 08:17] aojea commented on #862
yeah, but those policies are for the packages that are part of the distribution, this is an external package that works with that distribution, but is not released as part of it. Per example, if you have a bug with this package in a specific distro, you can't open a bug in that distro, right? They really don't know who is packaging this or who is the maintainer.

These are distribution kubernetes

[2019-08-27 08:52] Silvanoc commented on #862
Fully agree if thinking on OpenSuSE or Fedora. But in Debian there's not a big difference between distribution packages and _properly debianized_ external packages (you would use `lintian` in both cases). In fact the packages typically first get created as external packages and then move into the distribution. Therefore properly debianized packages are expected to be in a shape that can be taken o

[2019-08-28 09:33] zpavlig commented on #689
+1

[2019-08-29 10:06] bartsmykla commented on #837
flow chart for `compile-release-tools`: https://cdn.smykla.blog/compile-release-tools/index.html

[2019-08-29 10:23] bartsmykla commented on #837
flow chart for `find_green_build`: https://cdn.smykla.blog/find_green_build/index.html

[2019-09-02 19:08] johscheuer commented on #728
@rkojedzinszky you probably stepped into this bug: https://github.com/kubernetes/kubernetes/issues/71305

[2019-09-05 23:38] BenTheElder opened #873 "jobResultsCache.json is deprecated"
This code reads `jobResultsCache.json` from prowjob GCS results. https://github.com/kubernetes/release/blob/master/lib/releaselib.sh#L42

... only `bootstrap.py` publishes this https://github.com/kubernetes/test-infra/search?q=jobResultsCache&unscoped_q=jobResultsCache

bootstrap.py has been deprecated for around a year. the pod-utils don't write anything like this as far as I know.

this code sho

[2019-09-05 23:39] BenTheElder commented on #873
/kind bug
/priority important-soon

[2019-09-05 23:39] justaugustus commented on #873
/assign

[2019-09-12 03:37] justaugustus opened #877 "Address feedback from testgridshot merge"
(@tpepper) (https://github.com/kubernetes/release/pull/845#issuecomment-528154305):

(@hoegaarden) (https://github.com/kubernetes/release/pull/845#issuecomment-528800397):

/priority important-longterm
/kind cleanup

[2019-09-14 21:20] saschagrunert commented on #823
I think this issue can be closed, right @BenTheElder?

[2019-09-14 22:13] justaugustus commented on #823
Yep! Closed via https://github.com/kubernetes/release/issues/851.
/close

[2019-09-14 22:13] #823 closed

[2019-09-15 14:12] saschagrunert commented on #834
Hey, I'm now moving forward with this, so there are three automation enhancements ready for review:
- https://github.com/kubernetes/release/pull/875
- https://github.com/kubernetes/release/pull/879
- https://github.com/kubernetes/release/pull/880

If we can get these in I can continue with the PR creation automation.

[2019-09-16 16:50] girikuncoro commented on #855
@justaugustus I'm an associate and interested to pick this up, will need pointer on which files/scripts should I start looking at? Do we have test somewhere or we want to start introducing test by investigating this issue? Looking at the issue description seems there are tons of cases that we want to test, I think we should break it down and prioritize.

[2019-09-20 18:55] tstromberg commented on #839
/cc @justaugustus

Now that we are post-v1.16 release, does the release team have the cycles to help make this happen?

[2019-09-23 11:02] justaugustus commented on #852
/remove-help
/milestone v1.17
/assign @alexeldeib

[2019-09-23 15:50] listx commented on #631
/remove-lifecycle stale

[2019-09-23 15:52] listx commented on #631
/milestone v1.17

[2019-09-25 05:44] bartsmykla commented on #837
Ahh, My domain expired. Let me move it to some other one.

[2019-09-25 23:31] tstromberg commented on #839
If #sig-release prefers, an alternative approach would be pulling files from our GCS or GitHub file stores. This would introduce a post-build race condition, but I'm happy with any solution so long as the deb files get published before we make public announcements.

[2019-09-26 20:30] justaugustus opened #885 "Deprecate kubernetes-cni deb/rpm packages"
Capturing this discussion thread: https://groups.google.com/d/topic/kubernetes-sig-release/yhf7hAqJEN0/discussion
I'll expand on the description once we come to consensus on approach on the mailing list.

First phase of this is here: https://github.com/kubernetes/release/pull/884

- Bundle CNI plugins in the kubelet:
  - [x] kubepkg: https://github.com/kubernetes/release/pull/1330
  - [x] build-ad

[2019-09-26 20:31] justaugustus commented on #885
/assign
cc: @kubernetes/release-engineering @kubernetes/sig-release-admins

[2019-09-27 04:47] idealhack commented on #712
/remove-lifecycle stale

since the change of linked PR got reverted later after its merge.

[2019-09-29 15:29] idealhack commented on #694
/close

[2019-09-29 15:29] #694 closed

[2019-09-29 15:37] idealhack commented on #684
/remove-lifecycle stale

since the change of linked PR got reverted later after its merge.

[2019-10-01 21:44] jnach commented on #520
Still relevant.

[2019-10-01 21:44] jnach commented on #520
/reopen

[2019-10-01 21:46] jnach commented on #520
In fact I believe the intended fix actually removed all ARM packages instead. I can now only find them on mirrors

[2019-10-01 22:07] jnach commented on #520
This appears to be the only place on the indexed web serving these packages today https://mirrors.aliyun.com/kubernetes/yum/repos/kubernetes-el7-armhfp/Packages/.

Thanks @trunet for the workaround. For me this affects the ARM build of Centos7 on the Rpi 4B

[2019-10-02 02:47] idealhack commented on #520
/remove-lifecycle rotten
/reopen

[2019-10-04 07:33] hoegaarden commented on #779
I think that we can close this (feel free to reopen, ofc), because:

[msh]: https://github.com/kubernetes/release/blob/a14a3aee6459ab329d782c7b99e67d68b7726b24/Makefile#L58
[mgo]: https://github.com/kubernetes/release/blob/a14a3aee6459ab329d782c7b99e67d68b7726b24/Makefile#L54
[mtest]: https://github.com/kubernetes/release/blob/a14a3aee6459ab329d782c7b99e67d68b7726b24/Makefile#L51
[prowjob]: https:

[2019-10-04 07:33] #779 closed

[2019-10-04 07:37] hoegaarden commented on #777
/remove-lifecycle stale
/lifecycle frozen

[2019-10-11 22:02] neolit123 opened #897 "ci/latest.txt should be updated after this version's artifacts are uploaded"
in this slack comment:
https://kubernetes.slack.com/archives/C2C40FMNF/p1570666879009900

i've mentioned that the `ci/latest.txt` marker can end up pointing to a version that still does not have all the artifacts uploaded to the GCS bucket:
https://console.cloud.google.com/storage/browser/kubernetes-release-dev/ci/?pli=1

since this failure can be seen in the kubeadm CI:
https://k8s-testgrid.appsp

[2019-10-14 18:35] hasheddan commented on #853
@justaugustus I am happy to take this one!

/assign @hasheddan

[2019-10-15 10:59] saschagrunert commented on #838
Hey @tpepper, may I ask you for a reproducer of this? I had a look into the generator sources and it seems to pick always the latest PR version via the GitHub API. The internal de-duplication cache works based on the text (the content) of the note, so this should not fail as well.

[2019-10-15 23:25] tpepper opened #899 "relnotes: cherry-pick note should supersede parent PR's NONE"
The changelog for 1.16.1 at:
https://github.com/kubernetes/kubernetes/commit/0960c74c3788b1724bd7e7b9933bc49c7e5b5afa#diff-7ce0da8ad6adf39c0d46fc012603d6aaR163

is missing four notes:

 * https://github.com/kubernetes/kubernetes/pull/82857
 * https://github.com/kubernetes/kubernetes/pull/82618
 * https://github.com/kubernetes/kubernetes/pull/83025
 * https://github.com/kubernetes/kubernetes/pull/8

[2019-10-21 16:34] tpepper opened #901 "relnotes: add more validation"
We have a tool which tries to calculate release notes automatically for a patch release and it compares the release branch and master.  It's been shown to be erroneous, eg: https://github.com/kubernetes/release/issues/899
It would be useful to have something that looks for simply "release-note" label in either the release branch or master branch and generates a list of PR numbers which are expecte

[2019-10-22 13:53] saschagrunert commented on #899
Should be fixed with https://github.com/kubernetes/release/pull/902

[2019-10-22 14:13] #899 closed

[2019-10-23 11:30] justaugustus opened #904 "Prow deployer account needs permission to set storage object ACLs on k8s-staging-release-test GCP"
The `ci-kubernetes-prototype-build` ([prow run](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-prototype-build/1186940260093792257), [prow build log](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-prototype-build/1186940260093792257/artifacts/build-ci.log), [GCB log](https://console.cloud.google.com/gcr/builds/f1779809-3170-443b-b2e3-2d87c2d3c45a?project=6

[2019-10-23 11:31] justaugustus commented on #904
Dims, can you help out with this since you've got owner on the `k8s-staging-release-test` project?
/assign @dims

[2019-10-23 23:00] thockin commented on #904
The bucket is already world-readable and we have explicitly enabled "bucket-only ACLs", so you can't set per-object perms.   We figured that non-public should be the exception, rather than the rule, for max transparency, and in fact, if I run that gsutil myself, I get the same error (not super helpful either).

 So you can either remove that `acl ch` command or first check whether the file is read

[2019-10-24 01:03] #904 closed

[2019-10-24 18:02] neolit123 commented on #816
/lifecycle frozen

[2019-10-25 15:28] hoegaarden opened #908 "Verify boilerplate does not work correctly"
Disclaimer: I have no idea how bazel works. None at all. It might well be an issue with my local setup?

Running `make verify-bazel` or `bazel test @io_k8s_repo_infra//hack:verify-boilerplate` don't report any issues with the licence headers of any of the files. Running the boilerplate verification script directly, however (rightly) reports issues.

ref: https://github.com/kubernetes/release/issue

[2019-10-26 03:40] jeefy opened #910 "Relnotes: Add some basic content linting"
Build a linter to check basic misspeillings, backticking of dash dash command line parameters, probably many many other things the rel note wrangler regularly manually does

Copied from https://github.com/kubernetes/community/issues/1971

/cc @tpepper

[2019-10-28 03:26] justaugustus opened #911 "Establish Kubernetes build/stage/release process on k8s-infra"
### Build
- [x] Enable Kubernetes build on k8s-infra via Prow
  - [x] (https://github.com/kubernetes/release/pull/900) Add support for running Kubernetes builds via Google Cloud Build
  - [x] (https://github.com/kubernetes/test-infra/pull/14747) Allow GCB builds from arbitrary build directories
  - [x] (https://github.com/kubernetes/test-infra/pull/14773) Add shadow kubernetes build jobs
  - [x] (

[2019-10-28 09:57] hoegaarden commented on #726
/remove-lifecycle stale

While this is IMHO not a pressing issue, making our shell scripts better should be a long term prio.

[2019-10-28 10:31] justaugustus commented on #726
/lifecycle frozen

[2019-10-28 11:44] justaugustus commented on #913
(Migrated to k/release)

/sig release
/area release-eng
/milestone v1.17
/priority important-soon
/kind feature cleanup

[2019-10-28 11:48] justaugustus commented on #914
Migrated to k/release.
@josiahbjorgaard -- You can drop this from your tracking sheet.

/sig release
/area release-eng
/milestone v1.17
/priority important-soon
/kind feature

[2019-10-28 12:28] justaugustus commented on #911
@dims, @thockin, @cblecker, @listx -- this is primarily a braindump/aggregation of the work I've done thus far. Can you give me a gut-check on the order of operations / missing steps from the k8s-infra side?

[2019-10-28 12:28] justaugustus commented on #911
FYI @kubernetes/release-engineering @kubernetes/k8s-infra-team

[2019-10-29 17:08] cpointner commented on #739
Any news on this issue?

[2019-10-31 10:15] #853 closed

[2019-11-01 10:50] saschagrunert opened #918 "[krel] Refactor existing bash scripts into go tools"
The main target is to port the existing bash scripts into golang based versions on top of the existing `krel` command line tool. The scripts should be added as subcommands to `krel` whereas common utilities should be re-used over the whole package.

#### Things to be done
- [x] (@justaugustus) Create initial skeleton of `krel` and `krel ff` (port of `branchff`) - https://github.com/kubernetes/rele

[2019-11-01 11:32] justaugustus commented on #918
Thanks for opening this! I'm going to come back and shift some things around later as well as drop notes on our [#release-management Slack discussion](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1572605765115500) (ref: https://github.com/kubernetes/release/pull/869#issuecomment-548755283)

/cc @saschagrunert @justaugustus @hasheddan
/milestone v1.18
/priority important-longterm
/kind feature

[2019-11-01 11:33] justaugustus commented on #918
/assign @saschagrunert @justaugustus @hasheddan

[2019-11-01 11:36] justaugustus commented on #918
@saschagrunert @hasheddan -- Please work on reconciling `pkg/notes/git.go` into the `pkg/util/git.go` and `krel push` first. Feel free to break up the work however you see fit.

I'll be working on `krel ff`.

[2019-11-01 11:41] hasheddan commented on #918
Small nitpick: I am of the opinion that we should try to avoid putting things into a `util` package as it has potential to grow and become bloated with functionality. Currently, the functions in `common.go` seems like a fair candidate to be part of a `util` package (although maybe they could go into a `cli` package or something), but I think the functionality in `pkg/notes/git.go` should likely go

[2019-11-01 11:44] saschagrunert commented on #918
We have the same mind, please take a look at https://github.com/kubernetes/release/pull/920

[2019-11-01 11:48] justaugustus commented on #856
I fixed my particular issue in https://github.com/kubernetes/release/pull/915, but I'd still like to see what @tpepper mentioned addressed, if anyone is interested in taking this:

[2019-11-01 12:01] justaugustus commented on #918
Perfect! This was going to be part of my notes :)

[2019-11-07 15:24] saschagrunert commented on #918
What would be the next steps to move forward here? I suggest in finishing the git refactoring (and branch ff adaptions) before porting other scripts. WDYT? Is anyone already working on the git side? (If not, I could)

[2019-11-11 09:55] saschagrunert commented on #901
I think we should consider adding something like end-to-end tests to the release notes tooling. We could create expectation snapshots for different test cases and run the tests continuously in prow.

[2019-11-11 17:24] saschagrunert commented on #918
@hoegaarden regarding the release notes tool we could add another `--discover` mode like introduced here: https://github.com/kubernetes/release/commit/532f7dfc5a275ffd2719c3d290e83fae385fa264

[2019-11-12 14:00] hoegaarden commented on #709
Current status:
- The main change is implemented (https://github.com/kubernetes/release/pull/715) we are picking up the correct config file.
- We don't pick up the changes in test-infra in an automated fashion.
  - There is a check being ran as part of the build process which gives an overview of which of our dependencies are outdated.
  - If there are changes which we don't pick up, our builds an

[2019-11-13 09:19] saschagrunert commented on #831
/remove-lifecycle stale

[2019-11-13 17:57] tpepper opened #932 "gcbmgr release using python 2.7"
I noted the following goes by during our release process using gcbmgr:

[code]

We need to move off of python 2.7.

[2019-11-13 17:57] tpepper commented on #932
/priority critical-urgent

[2019-11-13 18:40] tpepper opened #933 "gcbmgr release frequently fails at "push git objects""
Lately on patch releases we've had as high maybe 5-30% failure rate in "gcbmgr release" at the "push git objects" step.  Eg:

Today's run of:
[code]

Failed with:
[code]

Frequently this does not reproduce.  A second run of the exact same 'gcbmgr release' command usually will succeed, and this was the case for this 1.14 failure above.

Today we also had the 1.16 'gcbmgr release' fail and refuse to

[2019-11-14 00:01] idealhack commented on #838
note: this happened again for pre-release notifications in Nov. https://kubernetes.slack.com/archives/CJH2GBF7Y/p1573233887162900

[2019-11-14 07:47] saschagrunert commented on #838
I suggest to continue there https://github.com/kubernetes/release/issues/918 due to the fact that we want to replace the script with the golang based version.

[2019-11-14 12:12] hoegaarden commented on #811
/remove-lifecycle rotten
/lifecycle stale

I think it does not hurt either way to rotate this secret once in a while.

[2019-11-14 12:13] hoegaarden commented on #811
/remove-lifecycle stale
/lifecycle frozen

I think it does not hurt either way to rotate this secret once in a while.

[2019-11-15 11:50] hoegaarden commented on #932
/assign

[2019-11-15 12:11] hoegaarden commented on #932
- [ ] bump python in our base image (`k8s.gcr.io/kube-cross:v1.13.4-1` currently)
- [ ] ensure we only have python 3 in our image (maybe serverspec, container-structure-test, ... ?)
- [ ] check which python tools we run as part of the release process and if they are python3 compatible
- [ ] run at least one mock staging / release run

[2019-11-15 14:40] hoegaarden commented on #932
Currently every debian version's (`sid`, `bullseye`, `buster`, `stretch`) `mercurial` package has a hard dependency on python 2:

[code]

However, `mercurial` can be installed on a python3-only system, eg. via `pip3 install mercurial`.

My assumption are:
- that the only (potential) reason we even need `mercurial` is `go get`
- `go get ...` would probably also work with a `pip3 install`ed version

[2019-11-16 23:42] justaugustus commented on #932
Approach seems sounds. Thanks for tackling this, @hoegaarden!

[2019-11-17 00:48] saschagrunert commented on #918
I think the git package is fine for now, so we can continue to work on `ff.go` where I expect that more methods from there could go into the `git` package.

[2019-11-18 19:32] julianvmodesto commented on #914
As an alternative/option to PGP infra, OpenBSD uses Signify/Minify:

https://www.openbsd.org/papers/bsdcan-signify.html

[2019-11-19 17:58] philips commented on #850
This can be closed. rget is going to execute on a design to support arbitrary URLs https://github.com/merklecounty/rget/issues/10#issuecomment-555630002

/close

[2019-11-19 17:58] #850 closed

[2019-11-26 10:46] patsevanton commented on #689
Please don`t close issue

[2019-11-27 13:25] justaugustus opened #944 "Document GCS buckets and their usage"
ref: https://github.com/kubernetes/release/pull/943#issuecomment-559023510, https://kubernetes.slack.com/archives/CJH2GBF7Y/p1574763059246400

cc: @hoegaarden
/assign
/milestone v1.18
/priority important-longterm

[2019-11-27 13:25] justaugustus commented on #944
/area release-eng

[2019-11-28 10:29] justaugustus commented on #846
/remove-lifecycle stale
/milestone v1.18

[2019-11-28 10:33] justaugustus commented on #821
/remove-lifecycle rotten
/unassign

@kubernetes/release-engineering -- If someone is interested in taking this, go for it!
/milestone v1.18

[2019-11-28 10:35] justaugustus commented on #739
I'm working on a tool, `kubepkg`, which will make it easier to produce the packages. I'll continue work on this for 1.18.
/milestone v1.18

[2019-11-28 10:36] xmudrii commented on #821
@justaugustus This might be an interesting one. Is it okay if I gave it a try and ask for some initial guidance?

[2019-11-28 10:43] justaugustus commented on #816
/milestone v1.18

[2019-11-28 10:45] justaugustus commented on #821
Sounds good, @xmudrii!
We can discuss next week.

/assign @xmudrii

[2019-11-28 10:51] justaugustus commented on #268
We're moving the needle here and I'll have a write-up for this in 1.18.

/unassign @timothysc @david-mcmahon
/milestone v1.18

[2019-11-29 08:24] saschagrunert commented on #908
Might be fixed in https://github.com/kubernetes/repo-infra/pull/168

[2019-12-04 12:08] #908 closed

[2019-12-04 12:29] hoegaarden opened #954 "Unify release notes tooling"
We have a couple of different release notes tools around. Each does slightly different things and some have issues we should fix.

Current tools:
1. https://github.com/kubernetes/release/blob/master/relnotes
    - used in anago, when announcing the patch releases
    - bash, tightly coupled and integrated in k/release bash scripts
    - has some issues
      - `TODO(hoegaarden)`
1. https://github.

[2019-12-04 13:15] saschagrunert commented on #954
Hey @hoegaarden, thank you for the detailed summary. Let me try to answer some of the questions:

The second (golang based) implementation is the version which should replace 1.) historically. The tool is actually maintained and is used by the release notes team to manually generate the input for the website (3) and the markdown based release notes draft during the release cycle.

This tool contai

[2019-12-04 13:42] hoegaarden commented on #954
/assign

[2019-12-04 22:00] justaugustus commented on #885
I've still got a bit to do on [refactoring our deb/rpm tooling](https://github.com/kubernetes/release/pull/935), so this is slipping to 1.18.

/milestone v1.18

[2019-12-06 01:45] justaugustus commented on #877
Obsolete now that we store `testgridshot` images in GCS --> #943.
/close

[2019-12-06 01:45] #877 closed

[2019-12-07 01:10] mrbobbytables opened #956 "Consider adapting krel ff for docs release workflow"
The docs release team is considering updating their workflow.
As part of the release cycle the docs team will merge master -> into the current dev-vX.Y branch. This action is done by hand by the current release team docs lead and is very similar to the workflow done by `krel ff`.

The other alternative being looked into is instead switching to a rebase based workflow with the changes slated for 1.

[2019-12-07 01:22] justaugustus commented on #956
@mrbobbytables -- Thanks for following up on our convo so quickly!

Adding SIG Docs Chairs, so they can add comments and stay abreast:
cc: @zacharysarah @Bradamant3 @jimangel

[2019-12-07 01:24] zacharysarah commented on #956
@mrbobbytables This sounds excellent. Anything that reduces release cycle pain is a welcome improvement.

[2019-12-07 01:27] justaugustus commented on #956
Do y'all want to come to the Release Engineering meeting this Monday, 11am US ET and we can kick around the idea a little?

cc: @kubernetes/release-engineering for visibility

[2019-12-07 01:36] zacharysarah commented on #956
I'm happy to. Can we please get invitations for myself and @jimangel @Bradamant3 @bradtopol  @kbarnard10?

[2019-12-07 01:41] jimangel commented on #956
This release (1.17) has had some unlucky snags. It sounds like this would improve the process! +1 Thanks @mrbobbytables!

[2019-12-07 02:01] justaugustus commented on #956
@zacharysarah -- Sent and added to the [Releng agenda](http://bit.ly/k8s-releng-meeting) for 12/9!

[2019-12-07 03:02] bradtopol commented on #956
Thanks! Looking forward to it!
 
--Brad
 
Brad Topol, Ph.D.IBM Distinguished Engineer
Open Technology & Developer AdvocacyKubernetes Contributor and Conformance Workgroup Member(919) 543-0646Internet: btopol@us.ibm.comAssistant: Andrea Retana (404) 527-8260 x8615
 
 
----- Original message -----From: Stephen Augustus <notifications@github.com>To: kubernetes/release <release@noreply.github.com>Cc:

[2019-12-07 13:01] mrbobbytables commented on #956
/cc @guineveresaenger @daminisatya

[2019-12-09 00:10] justaugustus commented on #918
Sascha and Dan have this well in hand, so I'm unassigning myself.
Please still tag me for reviews on these PRs though.
/unassign

[2019-12-09 00:49] justaugustus commented on #873
I haven't had time to work on this, but we should try and figure this out soon.
@kubernetes/release-engineering -- Any takers?

/remove-lifecycle stale
/lifecycle frozen
/milestone v1.18
/unassign
/help

[2019-12-09 00:51] justaugustus commented on #846
@kubernetes/release-engineering -- This is a good one for someone to pick up.

/lifecycle frozen
/unassign
/help

[2019-12-09 01:31] justaugustus commented on #829
As an update, we're working on [rewriting the shell tools in this repo in Go](https://github.com/kubernetes/release/issues/918).
Daniel is in the process of [porting push-build](https://github.com/kubernetes/release/pull/941), so assigning him here.

/assign @hasheddan
/priority important-longterm
/remove-lifecycle rotten

[2019-12-09 02:05] justaugustus commented on #844
/milestone v1.18
/remove-lifecycle stale

[2019-12-09 02:21] justaugustus commented on #862
Closing as I agree with @BenTheElder's [assessment](https://github.com/kubernetes/release/issues/862#issuecomment-525408804).

See here to track the deprecation of `kubernetes-cni` deb/rpm packages: https://github.com/kubernetes/release/issues/885

/close

[2019-12-09 02:21] #862 closed

[2019-12-09 02:40] justaugustus commented on #728
This is kind of a confusing case due to naming.
During the release process, we publish all debs to the following repository: apt.kubernetes.io --> https://packages.cloud.google.com/apt/dists/kubernetes-xenial

In installation instructions like [kubeadm](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl), you will see refer

[2019-12-09 02:43] justaugustus commented on #713
@nikhita @hoegaarden -- Are there still things we need to do here?
/remove-lifecycle stale

[2019-12-09 02:48] nikhita commented on #713
@justaugustus The original issue that folks are not assigned to the publishing-bot issue still remains. Though the publishing-bot-reviewers team is cc'd on the issue, so this isn't super critical (https://github.com/kubernetes/kubernetes/issues/84532).

[2019-12-09 02:49] justaugustus commented on #689
For future state, we'll move to different repos w/o this config issue, but there are quite a few things to do before we get to that stage.
You can track that work here:
- [Establish Kubernetes build/stage/release process on k8s-infra](https://github.com/kubernetes/release/issues/911)
- [Umbrella issue for a job that signs artifacts and uploads them to a GCS bucket](https://github.com/kubernetes/re

[2019-12-09 03:03] justaugustus commented on #713
@nikhita -- Has that been sufficient to get attention on those issues? If so, I say we close this out.

[2019-12-09 03:20] nikhita commented on #713
Yes, IMO we can close this :+1:  but I'd wait for @hoegaarden to confirm as well (based on https://github.com/kubernetes/release/issues/713#issuecomment-520894246).

[2019-12-09 05:13] justaugustus opened #958 "Add a --print command for release-notify"
Using [release-notify](https://github.com/kubernetes/release/blob/3dc0ff39a4a1989b24a37c2f407dbfec435c59ff/release-notify) currently requires [`sendmail` to be configured on the computer/image a Release Manager is using to cut a release](https://github.com/kubernetes/sig-release/blob/c0fe6a291e21f07dcae77a4d08f962d5bd75f8df/release-engineering/role-handbooks/branch-manager.md).

I personally don't

[2019-12-09 05:13] justaugustus commented on #958
/help

[2019-12-09 05:15] justaugustus opened #959 "Should release-notify script send from GCB?"
(Follow-up item from https://github.com/kubernetes/sig-release/issues/696)
ref: https://github.com/kubernetes/sig-release/pull/666#discussion_r296540312

cc: @hoegaarden @tpepper @kubernetes/patch-release-team

/help
/sig release
/area release-eng
/milestone v1.18
/priority important-longterm
/kind feature

[2019-12-09 13:18] hoegaarden commented on #959
Yes, I think it should.

Directly sending does not work, however sending mails via sendgrid works (other services will most probably work too, but that's what I have been using eg. in #949).

From what I can see, things we'd need to make this a reality:
- a sendgrid account
- a sendgrid secret in GCB (similar to the already existing one for the GitHub token)
- changes to the notify script to run o

[2019-12-09 13:32] hoegaarden commented on #958
Agreed!
I think https://github.com/kubernetes/release/issues/959#issuecomment-563234388 is also helpful in this context.

I think adding a `--print` option or so would be fine, as long as we agree that that's not the end goal. Also, it should be fairly easy (where easy has sometimes special meaning in the context of `k/release` 😏) to introduce such a thing.

----

Some side-notes:
- you don't nece

[2019-12-09 14:13] justaugustus opened #960 "Running Release Manager tasks within a container image"
@hoegaarden [mentioned](https://github.com/kubernetes/release/issues/958#issuecomment-563239639) that he uses a container image to run the Release Manager tasks.

[Cutting v1.15.0-alpha.2](https://docs.google.com/document/d/1Xv5w_eNvLvD-nNinMNqQAh0qlzee8btqAyHyFFMz3z4/edit?usp=sharing) doc mentioned in the Branch Manager handbook also references using as a container image for tasks.

It would be g

[2019-12-09 14:14] justaugustus commented on #958
Absolutely! This is simply meant to be a convenience function.

As for your container image, could you add it to the repo? I've opened https://github.com/kubernetes/release/issues/960 for that.

[2019-12-09 14:17] justaugustus commented on #959
@hoegaarden -- Since you've already been working on this, I'm assigning you. Let's see if we have time in the releng meeting today to discuss.

/assign @hoegaarden
/remove-help

[2019-12-09 14:25] hoegaarden commented on #713
I think we should do one of:

1. close this issues if publishing-bot-reviewers team is happy enough with the current state (mention only, no assignment)
    - the but also create an issue or PR to remove the the whole code which does not work anyway, so we don't bother 1.) porting that code path to `krel` or somewhere else 2.) just don't have that broken code in `k/release`
1. keep it open to trac

[2019-12-09 16:22] cpanato commented on #873
I can try that, just need the entrypoint @BenTheElder @justaugustus
/assign
/remove-help

[2019-12-09 16:26] justaugustus commented on #956
/assign @jimangel @saschagrunert @hasheddan

[2019-12-09 16:36] saschagrunert commented on #956
Sounds generally good to me, do we have a short abstract of the workflow written down somewhere?

Is it all about this: https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/docs#middle-steps-weeks-3-8 (_Maintain the current and upcoming dev / release branches_)?

If so, we could create a dedicated subcommand `krel docs ...` to not overlap features to much.

[2019-12-09 17:42] hoegaarden commented on #960
TL;DR: I cannot share all the things, so I don't think it is useful to PR that in.

I can share parts of the Dockerfile I am using, but not everything.
I have more stages that bring in more and it is pretty much tailored to my needs and circumstances and not meant to be generally shared and also has some stuff (more or less sensitive data) in it. That could probably all be parametrised but right n

[2019-12-09 17:42] #960 closed

[2019-12-09 17:49] hoegaarden commented on #873
@cpanato My guess is, this is part of the `find_green_build` and all that business. All that is super weird & unreadable. If we'd find a way to refactor that and figure out what we **actually want and need** that'd be great. I am not convinced that the `find_green_builds` is actually doing the right and useful thing right now.

[2019-12-10 00:59] hoegaarden commented on #959
To add some context here:
Sending mails is not directly possible from a GCP instance because the default smtp port is blocked. There are some workarounds and alternatives. Using a service like sendgrid seems to be the easiest.

See also:
- https://cloud.google.com/compute/docs/tutorials/sending-mail/
- https://cloud.google.com/cloud-build/docs/configure-third-party-notifications

[2019-12-10 10:38] hoegaarden opened #961 "Running `make test-go` fails on Darwin"
This is the error I get:

[code]

Related: https://github.com/kubernetes/release/pull/942#issuecomment-558707516

/assign @saschagrunert
/priority important-longterm

[2019-12-10 11:00] saschagrunert commented on #961
Interesting, does this happen every time? It looks like that the pipe copy failed with `unable to copy command stderr`.

[2019-12-10 11:55] hoegaarden commented on #961
1. Happens (in one of the forms outlined further down) all the time
1. BSD `cat` behaves differently than GNU `cat`, see further down. This hits here, because this is not an isolated test, it depends on the outside world.
1. I consistently see slightly different behaviour in running `make test-go` & plain `go test ./...`, which I guess is good because it means the make target finds more or differe

[2019-12-10 13:17] saschagrunert commented on #961
Yeah, depends on how far we wanna go here. We could provide our own little golang binary and use it for testing. Then we pre-build it and have expected output on every machine, WDYT? (I could follow-up with that).

From my point of view golang is not very good in abstraction, which means if we remove the command package we would have a lot of repeating overhead in files like `ff.go`. I think we sh

[2019-12-10 14:59] hoegaarden commented on #961
Let's not spend too much time on that and over-engineer it. I don't consider that critical right now.

However, maybe in future, if we'd want isolated tests, one way we could do that is:
- Trust that stuff in `exec` does the right thing, don't test that, test the interaction with `exec`
- In the production code, use something like `k8s.io/utils/exec` instead of the stuff from `exec` (e.g. use `k8s

[2019-12-10 19:58] justaugustus opened #964 "Clarification on new SIG Release GCP projects and image promotion"
As we work through building out the [build/stage/release process on K8s Infra](https://github.com/kubernetes/release/issues/911) (as opposed to Google Infra), a few things come to mind:

### New SIG Release GCP projects need to be consistently named

The current projects are:
- `k8s-staging-release-test` - Staging
- `k8s-release-test-prod` - Fake prod

We need to create consistent names for these

[2019-12-11 14:35] hoegaarden opened #965 "[testgridshot] Print comment, even if no failing dashboards where found?"
When `testgridshot` does not find any failing dashboard it just prints
[code]
but does not generate a c&p-able issue comment.

Questions:
- Should we still print the issue comment but with a message like `NO FAILING BOARDS`, to signal & capture that we've ran the tool and actually didn't find any failing tests? (see: https://github.com/kubernetes/sig-release/issues/888#issuecomment-564460178)
- Sh

[2019-12-11 17:42] dims commented on #964
cc @spiffxp

[2019-12-11 18:44] thockin commented on #964
One point at a time:

They are consistent - with the norms k8s-infra-wg has established for staging and prod-archetype projects.  What do you mean by consistent?  Consistent with what?

I don't object to those names except that we have ample tooling that assumes the existing format.  To change the names as you suggest will require reworking the tooling.  Frankly, this needs to happen anyway, but n

[2019-12-11 20:51] justaugustus commented on #964
To your point in https://github.com/kubernetes/k8s.io/pull/434#pullrequestreview-308119409:

The SIG Release projects are more prod-like and I would expect to diverge somewhat from the way we configure staging ones e.g., addition of IAM roles for Release Managers, service accounts to lift/shift artifacts like release tarballs into prod.

For CI: build artifacts (tarballs, SHANNNSUMS, version marke

[2019-12-11 21:29] justaugustus commented on #965
I'm fine with something like "NO FAILING BOARDS".

[2019-12-11 21:36] justaugustus commented on #961
+1. This is low-priority in the grand scheme of things.

[2019-12-11 22:14] rtheis opened #968 "swagger.json for patch releases 1.16.4, 1.15.7, 1.14.10 has the wrong verison"
`api/openapi-spec/swagger.json` in patch releases 1.16.4, 1.15.7, 1.14.10 has the wrong verison.

- 1.16.4 uses version 1.16.5: https://github.com/kubernetes/kubernetes/commit/224be7bdce5a9dd0c2fd0d46b83865648e2fe0ba
- 1.15.7 uses version 1.15.8: https://github.com/kubernetes/kubernetes/commit/6c143d35bb11d74970e7bc0b6c45b6bfdffc0bd4
- 1.14.10 uses version 1.14.11: https://github.com/kubernetes/ku

[2019-12-11 22:17] rtheis commented on #968
@justaugustus

[2019-12-11 22:19] justaugustus commented on #968
/priority important-soon
/kind bug
/milestone v1.18

ref: https://github.com/kubernetes/kubernetes/pull/84654

[2019-12-11 22:21] justaugustus commented on #968
cc: @tpepper @liggitt
Slack thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1576091971464500

[2019-12-12 00:18] tpepper commented on #968
Looking for example at release-1.16 build logs for Nov. and Dec. patch releases v1.16.3 and v1.16.4 respectively there is a difference.

This error did not happen in the Nov. 2019 patch release v1.16.3 which shows in `./gcbmgr tail 17f4383a-cbac-4fa1-913a-548da949693c`:
[code]

That is:

 * tag v1.16.3
 * commit openapi-spec versioned files
 * tag v1.16.4-beta.0

The error did happen in today's De

[2019-12-13 03:21] justaugustus commented on #958
/assign @cpanato
/remove-help

[2019-12-13 14:14] cpanato commented on #873
made a comment [here](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1576057678417100)
don't know if remove or replace if replace the finished.json is the best one? but that does not have the buildnumber, do we need that? or can use the commit hash?

[2019-12-13 22:21] justaugustus commented on #968
/assign @justaugustus @tpepper

[2019-12-14 14:40] markyjackson-taulia commented on #834
/remove-lifecycle stale
Going to keep this open as I think it is worthy

[2019-12-16 15:02] saschagrunert opened #979 "Release notes generator conflicts with GitHub API abuse detection"
GitHub blacklisted me during development because the gatherer implementation seems to trigger the GitHub API abuse detection:

[code]

@hoegaarden do you think we can somehow limit the gatherer usage? I'm not sure what the limits are.

[2019-12-16 15:02] saschagrunert commented on #979
/priority important-soon
/kind bug
/milestone v1.18

[2019-12-16 22:10] hoegaarden commented on #979
Thanks for the report, @saschagrunert!
I looked at the implementation of the github package superficially and thought it would handle the rate limit responses and hold requests if they'd hit the thresholds. Obviously I was wrong on that. I also hit the API quite hard while testing and never had an issue.
Anyway, I will check asap on that!

[2019-12-16 22:19] hoegaarden commented on #979
/assign

[2019-12-16 23:38] medyagh commented on #839
any update on this ?

[2019-12-17 05:50] justaugustus commented on #965
/assign @hoegaarden
/milestone v1.18
/sig release
/area release-eng

[2019-12-17 16:52] #958 closed

[2019-12-18 01:10] thockin commented on #964
@justaugustus and I spoke today.

1) Anything that produces container images can start moving to the new promoter process.  Granularity TBD.

2) For each image under k8s-staging-foo, we promote to k8s.gcr.io/foo/...  We discussed maybe a special-case for release-team to promote to the "root dir" for release artifacts.  I am not against it, per se.

3) GCS promotion is hypothetical.  In the interim

[2019-12-18 19:05] xmudrii commented on #821
I want to start working on this, but I need a few pointers to get started.

* What is expected for this job to do?
* In the `kubeadm` repo, there is still a [script](https://github.com/kubernetes/kubeadm/blob/786349dee067a63517e2aa634c5ec31613ea9036/tests/e2e/packages/verify_packages_install_deb.sh) that has been used by the old job. Should we re-use the same script or build a new one?
  * The old

[2019-12-19 10:22] hoegaarden commented on #979
- A first quick fix has been implemented in #984
- I am still checking on a better long-term solution (see also the comments/discussion in #984)

[2019-12-19 12:57] saschagrunert commented on #961
Can we close this issue? The darwin unit test fix should be done. :)

[2019-12-19 13:03] hoegaarden commented on #961
/close

[2019-12-19 13:03] #961 closed

[2019-12-21 09:33] #965 closed

[2019-12-22 17:51] Conan-Kudo opened #996 "Consider using RPM spec with debbuild for creating Debian packages"
I’ve heard you folks are working on trying to make it easier to quickly produce RPM and Debian packages… Have any of you folks heard of [`debbuild`](https://github.com/debbuild/debbuild)?

With this tool, you can use a singular RPM spec file to build both RPM packages with `rpmbuild` and Debian packages with `debbuild`. Combined with the [`debbuild-macros`](https://github.com/debbuild/debbuild-mac

[2019-12-23 03:07] idealhack commented on #996
/sig release
/area release-eng

[2020-01-04 17:27] justaugustus commented on #591
/assign
/reopen
/milestone v1.18

[2020-01-07 16:44] hoegaarden commented on #857
TL;DR: My personal opinion is not to branch `k/release`, if we can get away with it -- which I think we can.

I think our tools should not really be dependant on the version of `k/k`. And as far as I can remember from the parts I have seen, this should be relatively easy without ending up with tons of nested `if`s and `switch`/`case`es.

One of the places where this currently seems **not** to be t

[2020-01-07 16:57] justaugustus commented on #857
Thanks for the detailed write-up, @hoegaarden! :heart:

@kubernetes/release-engineering -- Soliciting feedback here.

ref: https://groups.google.com/a/kubernetes.io/d/topic/release-managers/b55uFmJOUME/discussion
cc: @mm4tt @nikhita @sttts @dims @liggitt

[2020-01-07 16:58] saschagrunert commented on #857
I’m wondering if it would be good to tag the k/release repo simultaneously to k/k to have a direct link between them.

For example, this way I could easily identify that my fix in v1.17.0 broke the release notes in v1.18.0. :)

[2020-01-07 17:53] tpepper commented on #857
I agree with Hannes' ideal of k/release not being dependent on k/k.  But there are sooo many implicit connections and assumptions we continue to discover and puzzle through.  It would be great if we were able to fully manage correctly any variances, and do it with minimal conditional code in k/release using feature flags and a deprecation cycle that tracks k/k's.  I see that as aspirational though

[2020-01-07 19:08] justaugustus commented on #857
SIG Docs is interested in a general solution for branching as well!
cc: @zacharysarah
xref: https://github.com/kubernetes/test-infra/issues/15779

[2020-01-08 17:20] hoegaarden opened #1000 "kubepkg tests fail"
Running `go test ./...` fails for the package `k8s.io/release/pkg/kubepkg` over here.

[code]

This indicates IMHO that we should take more care about our tests and split them into different types (static, unit, integration, e2e).

[2020-01-08 17:22] hoegaarden commented on #1000
/kind failing-test
/priority important-soon
/area release-eng

[2020-01-08 17:29] justaugustus commented on #1000
Here's what I got, FWIW:

[code]

How would propose organizing the tests?

[2020-01-09 03:21] huangyuqi opened #1001 "The release scripts of master branch can not work normally"
when running `make build-rpms` , some error occurs:

[code]

Maybe, the path of  file`kubelet.spec` is not set correctly in [script](https://github.com/kubernetes/release/blob/master/build/rpms/build.sh#L45);
When modified  `cp -r "${BUILD_DIR}/SPECS"/* "${SRC_PATH}"` to  `cp -r "${BUILD_DIR}/SPECS"/templates/latest/kubelet/* "${SRC_PATH}"`
we got another error `error: line 2: Tag takes single tok

[2020-01-09 09:21] hoegaarden commented on #1000
Not sure :) I have seen different approaches. Wanted to bring them up and compare them and start a discussion. Stay tuned.

[2020-01-09 20:48] Pure-AdamuKaapan opened #1007 "Occasional failures with Google Cloud GPG keys and repos"
(originally posted in Kubernetes Slack [#kubernetes-users](https://kubernetes.slack.com/archives/C09NXKJKA/p1578596675073800) and [#sig-release](https://kubernetes.slack.com/archives/C2C40FMNF/p1578598399010300))
Our testing infrastructure automatically sets up a Kubernetes cluster. Recently (starting approximately Sunday the 5th, plus or minus a day) we've started having errors fetching the GPG k

[2020-01-09 20:51] justaugustus commented on #1007
/priority critical-urgent
/assign @listx @ps882

@kubernetes/build-admins -- PTAL and let us know if you've had reports of failures in retrieving package keys.

[2020-01-09 22:45] listx commented on #1007
I've pinged some folks internally; will update if I hear any news.

[2020-01-09 23:08] justaugustus commented on #1001
@huangyuqi -- Thanks for filing this!

The `build-*` make targets are currently broken and the script that they call will not work as intended.
We're in the midst of developing a new go tool, `kubepkg`, which will template spec files and then produce debs or rpms based on the flags you provide.

The initial work for that was recently merged:
- https://github.com/kubernetes/release/pull/935
- https

[2020-01-09 23:18] justaugustus commented on #1000
SGTM! I've mentioned on a few calls that testing methodologies is not a strong suit of mine, so happy to have you to steer the convo.

[2020-01-10 12:52] saschagrunert opened #1010 "Evaluate mdtoc as replacement for our implementation"
I recently found out that there is already a markdown TOC generator used in k/enhancements: https://github.com/kubernetes-sigs/mdtoc

We should check if this fits our needs and eventually replace the implementation we currently have.

Any volunteers? :innocent:  (If not I'll do it in the next weeks.)

[2020-01-10 15:41] cpanato commented on #873
pinging again @BenTheElder @justaugustus when have time can look in the slack post? 😄
i can open a PR as well  removing that and we discuss there 😬

[2020-01-10 17:52] onlydole commented on #1010
I'd love to pair on this, if you have time next week or beyond!
/assign @onlydole

[2020-01-10 18:58] BenTheElder commented on #873
I don't really remember the details of the metadata formats but they should be documented in test-infra. If not that's a prow bug for sure.

[2020-01-10 19:18] justaugustus commented on #873
@cpanato -- Can provide some pointers next week. I'm still burning down the post-holiday queue.

[2020-01-10 19:24] justaugustus commented on #821
@xmudrii -- Sorry I didn't get to this this week. Still working through the post-holiday queue. Will write something up for you next week.

[2020-01-13 02:46] huangyuqi commented on #1001
@justaugustus thanks so much, i will try the new release tools `kubepkg`.

[2020-01-13 02:47] #1001 closed

[2020-01-13 18:19] listx commented on #1007
There was a problem with the rollout of our internal package repository, but it should be resolved now. Please ping this thread if there are any more issues.

[2020-01-13 18:28] justaugustus commented on #1007
@listx -- Thanks for the update! Let's keep this open through the next two patch release cycles just to keep eyes on it.

[2020-01-13 18:29] Pure-AdamuKaapan commented on #1007
Thanks @listx ! We'll keep an eye on our CI and report if we see any other errors.

[2020-01-13 22:16] justaugustus commented on #857
Branching/tagging also raised on the kubeadm out-of-tree KEP: https://github.com/kubernetes/enhancements/pull/1425

[2020-01-14 03:39] tpepper commented on #968
prepare_tree() at https://github.com/kubernetes/release/blob/9faaf9c7678f711ab9c3b52919937b9ac889087a/anago#L646 today is overly complex.  The stateful, reentrant functions hold so many varying behaviors depending on the state of the global variables and arguments and prior calls to the functions that it's not obvious what's happening.  This function in the past did a mix of applying multiple tags

[2020-01-14 23:46] #968 closed

[2020-01-15 06:53] j0n3lson opened #1016 "Refactor document rendering code"
@hoegaarden pointed an opportunity to refactor in the blow PR:

https://github.com/kubernetes/release/pull/1008#pullrequestreview-341104346

As per that suggestion I think this issue/fix should also cover complete rendering of the document

[2020-01-15 06:53] j0n3lson commented on #1016
If it's okay I'll be glad to take this up.

[2020-01-15 19:12] j0n3lson opened #1019 "Use templates for changelog (e.g. PR#1008)"
Opening this here to discuss whether k/release/cmd/krel should use the same approach as in PR#1008 (e.g. use go-templates).

Both tools do similar things with respect to notes generation/markdown. It would present a common interface for users of either tool

@saschagrunert What do you think?

[2020-01-15 19:15] j0n3lson commented on #1019
Assuming #1016 move forward, k/release/cmd/krel changelog can take advantage of the new Renderer machinery.

[2020-01-16 01:49] irvifa commented on #956
Hi @mrbobbytables is this still WIP or there's already a tools that can be used to sync up the current dev-1.8? If it's not ready when is the ETA for this automation? Best.

[2020-01-16 12:53] jimangel commented on #956
Hey @irvifa, we chatted on slack but wanted to comment here too. It's a WIP with the goal of completing this release cycle.

[2020-01-16 18:39] lachie83 opened #1020 "GitVersion field in version 1.16.5 and 1.15.8 release binaries doesn't match patch version"
Observed the following change in behavior on Kubernetes releases 1.16.5 and 1.15.8 specifically (I know the release team are working on tooling issues so just wanted to draw attention to this). The `GitVersion` field doesn't match the release version directory `kubectl` was pulled from. I currently assume this is happening for all binaries for the release but have only checked `kubectl`
[code]

[c

[2020-01-16 18:45] justaugustus commented on #1020
/sig release
/area release-eng
/priority critical-urgent
/milestone v1.18

[2020-01-16 20:05] justaugustus commented on #1020
Live discussion happening here: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1579199518125500?thread_ts=1579199518.125500&cid=CJH2GBF7Y

[2020-01-16 20:55] dlisin commented on #1020
seems hyperkube docker image is also affected:
[code]
[code]

[2020-01-16 20:56] justaugustus commented on #1020
All artifacts of our release would be affected.

[2020-01-16 23:12] ialidzhikov commented on #1020
I think wrong tags also breaks the comparison in helm chars.

For example the following
[code]

works perfectly on `v1.16.4`, but it does not work on `v1.16.5`.  😕

[2020-01-16 23:13] justaugustus commented on #1020
Thanks. We're discussing a fix here: https://github.com/kubernetes/release/pull/1021

[2020-01-17 18:38] sandeepmendiratta commented on #1020
Do we know when the release 1.15.9 will be cut (available) for use?

[2020-01-17 19:00] justaugustus commented on #1020
We're _tentatively_ planning for today. We're in the process of doing some additional checks in our build tool.

[2020-01-18 06:50] justaugustus commented on #1020
The Patch Release Team will be releasing new versions of Kubernetes (1.17.2, 1.16.6, 1.15.9) next week to fix this.
We're tentatively planning for Tuesday, January 21st, by EOD US PT, but given this week's debugging of our build tools, it's possible that this date may shift.

As of today, the build versions that we're targeting are as follows:
- v1.17.2-beta.0.2+59603c6e503c87 (Built at https://gi

[2020-01-18 06:58] justaugustus commented on #918
anago deprecation announced on k-dev: https://groups.google.com/d/topic/kubernetes-dev/Mhpx-loSBns/discussion

[2020-01-18 10:15] saschagrunert commented on #918
Alright we should probably start converting anago itself into a krel subcommand. Something like `krel run`? Then krel could call the internal subcommand functions directly...

[2020-01-19 03:24] justaugustus commented on #1020
Releases have been staged in advance of Tuesday.

The following release tracking issues have been opened:
- 1.17.2: https://github.com/kubernetes/sig-release/issues/964
- 1.16.6: https://github.com/kubernetes/sig-release/issues/958
- 1.15.9: https://github.com/kubernetes/sig-release/issues/957

Links to GCB runs have been attached to each of these issues.
(Note that viewing logs is restricted to R

[2020-01-19 04:48] justaugustus opened #1027 "[kubepkg] Create a go tool for building debs/rpms"
- [x] Initial conversion of deb-builder to kubepkg (cobra-based)
- [x] Consolidate directory structure for build templates/scripts
- [x] Spec-only support for rpms
- [ ] RPM support
- [ ] CI jobs
  - [ ] Validate tool runs successfully
  - [ ] Validate installation of resulting packages
- [ ] Support package signing
- [ ] Validate package signing
- [ ] Support promotion into new apt/yum repos
- [

[2020-01-19 04:49] justaugustus commented on #1027
/priority critical-urgent

[2020-01-19 05:03] justaugustus commented on #591
Closing in favor of the [kubepkg umbrella issue](https://github.com/kubernetes/release/issues/1027).
/close

[2020-01-19 05:04] #591 closed

[2020-01-19 05:19] justaugustus commented on #1010
@tallclair -- There's some buzz for your markdown TOC generator.
Would you have interest in migrating that in as a Kubernetes community project?

[2020-01-19 05:27] justaugustus opened #1028 "[krel] Allow krel to interpret an arbitrary k/release git reference instead of just branches (TOOL_BRANCH)"
While debugging https://github.com/kubernetes/kubernetes/issues/86182 and https://github.com/kubernetes/release/issues/1020, we ran a few mock stages and releases targeting anago against forks of k/release.

I noticed that it might've been nice to have more information available which fork and commit we were using at any one time, so a few suggestions:

- Allow krel to interpret a git ref (instead

[2020-01-19 05:39] justaugustus opened #1029 "testgridshot is snapshotting incorrect pages"
Noticed in https://github.com/kubernetes/sig-release/issues/958#issuecomment-575405731, testgridshot no longer snapshots the correct dashboards.

I think this should be a quick fix, if someone wants to take it up.
It likely has to do with the new testgrid updates mentioned here: https://groups.google.com/d/topic/kubernetes-dev/DbV4MpQ3TZg/discussion

cc: @hoegaarden @kubernetes/release-engineering

[2020-01-21 10:31] xmudrii commented on #1029
It seems like this issue is resolved by #1033. Should we close it?

[2020-01-21 10:34] cpanato commented on #1029
yep, it is fixed now
/close

[2020-01-21 10:34] #1029 closed

[2020-01-21 10:40] hoegaarden commented on #831
[`testgridshot`][tgs] has been merged into `k/release` and is part of the release process now, so we can
/close this.

[tgs]: /kubernetes/release/blob/master/testgridshot

[2020-01-21 10:41] #831 closed

[2020-01-22 20:29] lachie83 commented on #1020
This has been fixed in 1.16.6 and 1.15.9.

[code]
[code]

[2020-01-22 20:29] #1020 closed

[2020-01-22 21:08] justaugustus commented on #1020
Thanks for closing this out, @lachie83!

[2020-01-23 00:51] tallclair commented on #1010
Sure! I mostly didn't put it in the Kubernetes org because I couldn't think of a good place for it. Do you have somewhere in mind?

[2020-01-23 01:06] justaugustus commented on #1010
@tallclair -- we could do k-sigs/mdtoc.

Better yet, k/repo-infra --> https://github.com/kubernetes/repo-infra

[2020-01-23 01:30] tallclair commented on #1010
OK, I can look into one of those options. I'd sort of prefer a separate repo from repo-infra so it's more easily used outside the k8s project.

In the interim, the tool isn't factored to be useable as a library. If anyone wants to separate out the TOC generation bits from the command portion, please feel free to open a PR against github.com/tallclair/mdtoc

[2020-01-24 13:51] mm4tt commented on #857
Summarizing our ask from the email discussion.

SIG Scalability would be also interested in automatic branch cutting.
Our use case is quite simple, we'd like to have a k/perf-tests branch (based off k/perfs-test master HEAD) cut for every minor release branch in k/k repo.
Currently we need to do it automatically and only @wojtek-t has permissions to do so. Having some kind of automation around it

[2020-01-26 17:50] simonswine opened #1037 "Golang build tags are not used in release assets"
On the back of this bug https://github.com/kubernetes/kubernetes/issues/83679, I have submitted a PR that adds a build tag in the bazel settings: https://github.com/kubernetes/kubernetes/pull/86027/files

This has been backported into (v1.16.5+ and v1.17.1+)

Unfortunately those go build tags seem to be not respected by the release scripts and the release assets are not having a working SELinux im

[2020-01-29 05:31] justaugustus commented on #113
Closing as I agree with @BenTheElder's [assessment](https://github.com/kubernetes/release/issues/862#issuecomment-525408804) in https://github.com/kubernetes/release/issues/862.

We're planning on moving the CNI plugins into the kubelet package.
See here to track the deprecation of `kubernetes-cni` deb/rpm packages: https://github.com/kubernetes/release/issues/885

/close

[2020-01-29 05:31] #113 closed

[2020-01-29 05:35] justaugustus commented on #885
Tracking issue for kubepkg, our new tool for building debs (and eventually rpms): https://github.com/kubernetes/release/issues/1027
Once we start committing static build definitions/specs to k/release by Kubernetes version, we'll be able to fold the CNI plugins into the kubelet package.

Coming in 1.18...

[2020-01-29 09:28] justaugustus commented on #857
:wave: @JamesLaverack @evillgenius75 (w.r.t. the relnotes tool versioning)

[2020-02-01 11:35] #1037 closed

[2020-02-05 16:02] trishankatdatadog commented on #914
Hi everyone,

Out of curiosity, how are k8s release artifacts signed now?

Also, an open-source alternative is [The Update Framework (TUF)](https://theupdateframework.io/) and [in-toto](https://in-toto.io/), which are other CNCF projects. I'm involved in both, and am happy to discuss how to integrate them with k8s. The [Datadog Agent integrations](https://www.datadoghq.com/blog/engineering/secure-

[2020-02-05 16:08] SantiagoTorres commented on #914
big +1, @trishankatdatadog. I think at least signing the release tags on the `kubernetes/kubernetes` repo would be low-hanging fruit to bump the security stance of the releng process:

[code]

[2020-02-05 17:42] JamesLaverack opened #1061 "[krel] Generate JSON release notes"
Currently the release notes team members on the Kubernetes Release team execute `cmd/release-notes` directly to generate JSON release notes, and pull request them into github.com/kubernetes-sigs/release-notes. ([See the handbook for full details](https://github.com/kubernetes/sig-release/blob/master/release-team/role-handbooks/release-notes/patch-notes.md).)

We would like to roll this generation

[2020-02-05 17:44] justaugustus commented on #1061
cc: @saschagrunert @jeefy
/assign @JamesLaverack @puerco

[2020-02-05 20:21] hariz22 commented on #846
end sha

[2020-02-05 20:21] hariz22 commented on #846
delete

[2020-02-05 20:57] justaugustus commented on #1061
/priority important-soon
/milestone v1.18
/kind feature cleanup
/area release-eng
/sig release

[2020-02-06 04:13] SataQiu commented on #1027
/cc

[2020-02-06 09:09] justaugustus opened #1065 "Enable release notes to be gathered for k/release releases"
**What would you like to be added**:
Support release notes in k/release, by enabling the Prow plugin and adding templates to the repo.

**Why is this needed**:
As we iterate over the content of this repo faster and external repos start to depend on us, we need to be able to [cut releases](https://github.com/kubernetes/release/issues/857) which contain detailed release notes, without having to manu

[2020-02-06 09:10] justaugustus commented on #1065
/assign
/milestone v1.18
/priority important-soon

[2020-02-06 09:28] saschagrunert commented on #1065
https://github.com/kubernetes/release/issues/857 seems to be related with respect to the release cadence :)

[2020-02-06 09:35] justaugustus commented on #1065
Yep, yep, I linked it in the issue description. :)

[2020-02-07 20:13] justaugustus opened #1080 "[release blocking] gcbmgr stages are failing to rev release versions due to incorrect CI version marker"
# Release blocker for [`v1.18.0-alpha.4`](https://github.com/kubernetes/sig-release/issues/985)

**What happened**:
(Discovered in https://github.com/kubernetes/release/pull/1077#issuecomment-583526301)
While testing a change to `lib/release`, I noticed that stage jobs were failing because the `buildversion` was stale.

/assign @justaugustus @hasheddan
/priority critical-urgent
/milestone v1.18
cc

[2020-02-07 20:20] justaugustus commented on #1080
Adding test-infra on-call:
/assign @BenTheElder

[2020-02-10 16:11] justaugustus commented on #918
@saschagrunert -- Yep. I'm planning on taking the first pass on the `anago` rewrite before handing it off to y'all for optimizations.

I've begun work on `krel gcbmgr` here: https://github.com/kubernetes/release/pull/1081

[2020-02-10 21:30] zacharysarah commented on #956
Any update on this? 🤞

[2020-02-11 13:45] saschagrunert opened #1087 "Upload release notes JSON (relnotes.k8s.io) to a Google Cloud Bucket"
**What would you like to be added**:

We currently vendor the JSON based release notes for relnotes.k8s.io into the repository:
https://github.com/kubernetes-sigs/release-notes/tree/master/src/assets

We could put these assets on a Google Cloud Storage Bucket to give the Release Notes Team a faster way to update the data as well as avoid having the need for an additional PR on update.

**Why is th

[2020-02-11 14:28] justaugustus commented on #1087
/assign
/priority important-soon

I need to noodle on this a little, since it will involve granting more people access to GCP...

[2020-02-11 14:37] cartyc commented on #1061
We had briefly discussed doing this in the following thread in the`[ #release-notes](https://kubernetes.slack.com/archives/CN1KH4K9A/p1580050487002000)` channel on slack.

For this we would need to put together a bucket that relnotes members would have access to but it would also need global read access for the site to be able to pick things up.

Agreed that moving this function into CI would be a

[2020-02-11 14:42] cartyc commented on #1061
Wanted to link to the issue Sascha just opened, https://github.com/kubernetes/release/issues/1087

[2020-02-11 15:38] justaugustus opened #1089 "[release-blocker] Kubernetes 1.15 stages are failing due to go1.13 variable usage"
**What happened**:
Some go1.13 variable changes in `pkg/util/common.go` caused the 1.15 mock stage to fail (since it's using kube-cross on go1.12).

[code]

[code]

Here's the GCB run output:

<details>

[code]
</details>

/assign @hasheddan @saschagrunert @cpanato

**What you expected to happen**:
1.15 mock stage should have still been running/eventually succeed

**How to reproduce it (as minimal

[2020-02-11 15:40] justaugustus commented on #1089
/priority critical-urgent

Some ideas to fix:
- Revert the go1.13-specific changes
- Conditional logic in anago to only use `krel changelog` when the release version is >= 1.16

I lean towards the former option.

[2020-02-11 15:53] hasheddan commented on #1089
Looks like `pkg/command/command.go` needs fix as well:
[code]

[2020-02-11 17:18] #1089 closed

[2020-02-11 17:38] cartyc commented on #1087
@justaugustus Is this something that could be delegated to a service account or would that too broad and not be granular enough?

[2020-02-12 09:18] saschagrunert commented on #838
This should be fixed when using `krel changelog` for patch releases (not yet implemented)

/remove-lifecycle stale

[2020-02-12 13:29] hasheddan commented on #1080
Just adding some additional context here from some of the investigation I have done. Comparing the `ci-kubernetes-build` run mentioned above to a successful one, this is the next steps we would want to see: [ci-kubernetes-build/1227491124717817856](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-build/1227491124717817856#1:build-log.txt%3A193)

[code]

All of this occurs before

[2020-02-12 13:31] justaugustus commented on #1080
@hasheddan -- I'm back to investigating and I think I've found the issue; just trying to confirm. Will be back with more details later.

[2020-02-12 13:34] liggitt commented on #1080
[code]

that tag is not on a branch

comparing to release branches:
[code]

[code]

[code]

You can see `a71586fac6007382db1c1dbe1ea192d4b21a0dde` is in the master branch, but the next commit (the one above it) is not `f9534a304b499a241de06a2bbe360b44dff5250a (tag: v1.18.0-alpha.3)` but is `e70a630dac6c0158a5f9bb571223ed5759096dc1`

That means the anago release on master is not pushing the release

[2020-02-12 13:35] justaugustus commented on #1080
Hehe, what @liggitt said!

[2020-02-13 09:45] justaugustus commented on #1080
To step back and fill in some blanks on debugging for posterity...

Where to start?
We kicked off a few staging jobs from `master` and saw them fail with:

[code]

[code]

So, let's test the assumption that the `--buildversion` is old.
Where did we get the build version from?

[code]

This is a [version marker](https://github.com/kubernetes/test-infra/blob/7790e5cec8d26203109dc4ec063229eaa013ed0a/

[2020-02-13 09:51] justaugustus commented on #1080
Both https://github.com/kubernetes/sig-release/issues/985 and https://kubernetes.slack.com/archives/CJH2GBF7Y/p1581532987106700?thread_ts=1581532800.106100&cid=CJH2GBF7Y contain scrollback from the manual tag push of [`v1.18.0-alpha.4`](https://github.com/kubernetes/kubernetes/releases/tag/v1.18.0-alpha.4) I did, but I'm also pasting it here:

[code]

_**Note the `HEAD^` in `git tag -s v1.18.0-alp

[2020-02-13 09:51] #1080 closed

[2020-02-13 23:20] JamesLaverack commented on #1087
This affects the implementation of `krel release-notes` (see https://github.com/kubernetes/release/blob/master/cmd/krel/cmd/release_notes.go).

@puerco and I were thinking about the implementation, and we realised that in the existing flow we run `release-notes`, then run a JS based prettier for the JSON, then PR into k-sigs/release-notes. (See the [role handbook](https://github.com/kubernetes/sig

[2020-02-14 07:57] saschagrunert commented on #1087
Sounds good to me! Sure the prettier-invocation would go away if the website fetches the sources from a remote location. :+1:

[2020-02-14 09:17] justaugustus opened #1100 "[release-blocking] anago fails to properly delete old CHANGELOGs on new branch creation"
**What happened**:
As `anago` now has me prone to default to paranoia, I wanted to run a [mock stage of the branch cut](https://console.cloud.google.com/cloud-build/builds/8092b9b8-3fa6-4991-94b2-c5ce175221b4?project=kubernetes-release-test).

Sure enough, it revealed that the CHANGELOG location move in https://github.com/kubernetes/kubernetes/pull/87879 causes a failure when trying to remove the

[2020-02-14 09:33] justaugustus commented on #1100
@saschagrunert @cpanato -- Once https://github.com/kubernetes/release/pull/1099 merges, I'd like you to sanity check the following permutations, _before closing this_:

- alpha mock stage/release (`master`)
- beta mock stage/release (`release-1.18`)
- rc mock stage/release (`release-1.15`)
- official mock stage/release (`release-1.15`)

It makes sense for each of you to handle two of these scenari

[2020-02-14 09:35] cpanato commented on #1100
@justaugustus maybe we can split, lets sync over chat

[2020-02-14 09:36] justaugustus commented on #1100
Yep, thread for this issue is here: https://kubernetes.slack.com/archives/C2C40FMNF/p1581672007179100

[2020-02-17 19:47] justaugustus commented on #1100
Closed via https://github.com/kubernetes/release/pull/1099 and verified by @cpanato & @saschagrunert last week.
/close

[2020-02-17 19:47] #1100 closed

[2020-02-20 14:12] saschagrunert opened #1119 "Build release notes for alpha.0 and beta.0 releases"
We should build the release notes for both `alpha.0` and `beta.0` releases as well which is currently not the case. This is also the reason why anago still removes the unnecessary `CHANGELOG/CHANGELOG-x.y.md` files from the release branch on its creation:

https://github.com/kubernetes/release/blob/3c232618dbe74484be327c396a64aece87747454/anago#L561-L573

This :point_up: code part should not be do

[2020-02-23 22:26] afbjorklund commented on #839
I guess there is no update on this, and it won't be possible to easily install minikube 1.8.0 ?

Only change since last time, was that we added the architecture to the package file names:

https://github.com/kubernetes/minikube/releases/download/v1.7.0/minikube_1.7.0-0_amd64.deb

https://github.com/kubernetes/minikube/releases/download/v1.7.0/minikube-1.7.0-0.x86_64.rpm

[2020-02-24 16:36] justaugustus commented on #911
cc: @dims @bartsmykla

[2020-02-26 00:18] justaugustus opened #1133 "Begin building/storing kube-cross images on K8s Infra"
**What would you like to be added**:
### Initial work

- [x] (https://github.com/kubernetes/kubernetes/pull/88562) k/k PR to enable kube-cross push/pull from K8s Infra GCR
  - Add reviewers/approvers on build images
  - Search/replace Google Infra kube-cross locations for K8s Infra
  - Update kube-cross make targets
  - Add a GCB (Google Cloud Build) config file (cloudbuild.yaml)
- [x] (https://gi

[2020-02-26 00:38] justaugustus opened #1134 "Quarterly golang updates (Kubernetes 1.15 through 1.19 (master) branches)"
### What would you like to be added

Following the discussion on #sig-release Slack, starting [here](https://kubernetes.slack.com/archives/C2C40FMNF/p1582667600068700) and further threaded [here](https://kubernetes.slack.com/archives/C2C40FMNF/p1582668769091500), we're planning the following golang updates:

### Kubernetes 1.19 (`master` branch)

- [x] (@justaugustus) Upgrade to go1.13.9
  - [x] k

[2020-02-26 06:38] justaugustus commented on #1133
/priority important-soon
/milestone v1.18

[2020-02-28 22:55] ixdy opened #1139 "Draft a policy for updating Go versions across the Kubernetes codebase/infra"
Kubernetes produces a new minor release every 3 months, and currently supports the 3 most recent releases. This means that a given release is supported for around 8-9 months.

Go produces a new release approximately every 6 months, and supports the 2 most recent releases. This means that a given release is supported for about a year.

The release schedules are slightly out of sync, however; the ne

[2020-02-28 22:57] justaugustus commented on #1139
@smourapina -- I've moved this issue to k/release. The Release Team doesn't need to track this.

/priority important-soon
/milestone v1.18
/kind documentation
/area release-eng

[2020-03-01 18:04] justaugustus opened #1144 "anago fails to rebase during release phase ('gitlib::push_master') on master branch"
**What happened**:
While testing the updated kube-cross locations in https://github.com/kubernetes/release/pull/1141, I was interested in two scenarios:
- Correctly using the `kube-cross:v1.12.17-1` image
- Correctly using the `kube-cross:v1.13.8-1` image

For the first, I ran a [stage](https://console.cloud.google.com/cloud-build/builds/aefbc85f-ec6a-459f-8a72-c1499c06dee9?project=kubernetes-rele

[2020-03-02 01:54] justaugustus commented on #1144
https://github.com/kubernetes/release/pull/1143 is ready for review/approval.

[2020-03-02 07:40] #1144 closed

[2020-03-02 15:14] bartsmykla commented on #911
@justaugustus I'm gonna add this topic to this week's k8s-infra-wg call, because the process should be straight forward but I'm not sure which cluster we should use to whole buiold/stage/release process.

cc. @dims @thockin

[2020-03-03 19:17] justaugustus commented on #911
@bartsmykla -- I won't be available this week for discuss.
Can you add it to the Release Engineering agenda for next week and few of you can come to our meeting instead?

Staging and releasing happens via GCB, so I'm not sure that we'll need a cluster for that, btw.

[2020-03-03 23:57] justaugustus commented on #270
It's happening (soon-ish)!!
ref: https://groups.google.com/d/topic/kubernetes-dev/MkXnkTSJ_vs/discussion / https://twitter.com/stephenaugustus/status/1234990491323600896?s=20

/unassign @timothysc @tallclair
/assign @listx @thockin

[2020-03-04 00:39] thockin commented on #270
Huge thanks to @listx for doing most of the heavy lifting on this.  We're not just changing it, we're making the whole mechanism SIGNIFICANTLY more resilient and secure at the same time.  I have moved the goalposts on him at least thrice, so .... sorry about that :)

[2020-03-04 08:45] bartsmykla commented on #911
@justaugustus sure, let's meet and discuss it during the Release Engineering meeting.

[2020-03-04 08:59] bartsmykla commented on #911
@justaugustus do you want to discuss it at the next SIG Release meeting (I think it's the next week) or Release Engineering one (I think it's in the next two weeks)?

[2020-03-04 23:45] j0n3lson commented on #1019
@saschagrunert Can you assign this to me please?

[2020-03-05 06:39] saschagrunert commented on #1019
I thin so:
/assign @j0n3lson

[2020-03-05 08:19] saschagrunert opened #1150 "Remove bazel based build infrastructure"
As a cross-reference to the original k/k issue: https://github.com/kubernetes/kubernetes/issues/88553

I'd like to start the discussion if we can do the same for k/release.

Things I found which needs to be done:
- Rework of our `Makefile` to be feature compliant with the currently used bazel targets
- Change the container images to be based on golang and contain all necessary dependencies

Anythi

[2020-03-06 06:30] bartsmykla commented on #911
@justaugustus ping

[2020-03-06 06:55] justaugustus commented on #911
@bartsmykla -- yep. Drop it on the agenda for next week's SIG Release meeting. :)

[2020-03-06 07:22] bartsmykla commented on #911
Done

[2020-03-07 01:11] j0n3lson commented on #1016
@saschagrunert  Can you assign this one to me as well.

I'm pretty much almost done with this. In addition to the two PRs above, I have a few pending that will expand test coverage and simplify the rendering code. Once #1019 lands I'll consider this work as done.

Relevant PRs:
https://github.com/kubernetes/release/pull/1154
https://github.com/kubernetes/release/pull/1159
https://github.com/kubern

[2020-03-07 07:40] saschagrunert commented on #1016
Alright :)
/assign @j0n3lson

[2020-03-08 15:16] olemarkus commented on #728
/lifecycle stale

[2020-03-08 15:16] olemarkus commented on #728
/remove-lifecycle stale

[2020-03-09 02:59] justaugustus opened #1161 "Deprecate k8s-staging-release-test and k8s-infra-sig-release-prototype GCP projects"
- [x] (https://github.com/kubernetes/test-infra/pull/16679, https://github.com/kubernetes/release/pull/1162) Move image building and image references to `k8s-staging-releng`
- [x] (https://github.com/kubernetes/k8s.io/pull/742) Remove IAM groups
- [ ] Delete GCP projects

---

Details to follow. Opening this so I don't lose the thread.
ref: https://kubernetes.slack.com/archives/CCK68P2Q2/p15835375

[2020-03-09 11:03] justaugustus commented on #964
I've opened https://github.com/kubernetes/sig-release/pull/1016 to close the loop on this.
/close

[2020-03-09 11:03] #964 closed

[2020-03-11 15:11] saschagrunert opened #1175 "Kubepkg can hit GitHub API rate limit (unauthenticated)"
#### What happened:

Kubepkg will fail if we hit the API rate limit of GitHub, because we're using unauthenticated requests for cri-tools:

https://github.com/kubernetes/release/blob/43250748d121637979c28a71fa256964d69cc985/pkg/kubepkg/kubepkg.go#L474-L477

#### What you expected to happen:

Something like our notes retrieval retry implementation.

#### How to reproduce it (as minimally and precis

[2020-03-11 17:17] justaugustus opened #1176 "k8s-staging-kubernetes GCB service account needs access to Google staging/prod GCS and GCR"
#### What would you like to be added:

The `k8s-staging-kubernetes` GCB service account (`615281671549@cloudbuild.gserviceaccount.com`) needs access to write to GCS buckets in Google-infra staging and production projects.

- [x] Staging access (`kubernetes-release-test` project)
  - @justaugustus - Granted the svc account `Storage Admin` for staging
- [ ] Production access (`google-containers` pro

[2020-03-11 17:17] justaugustus commented on #1176
/assign @justaugustus @listx

[2020-03-11 18:18] thockin commented on #1176
From slack:

"A domain restriction organization policy is in place. Only members of allowed domains can be added as members of the policy"

This is why we need to move to community hands.  The existing permission predates the policy enforcement.

We can leave the GCB in the existing project and let that push to new staging GCR and old GCS (since that grant exists) and use that as fuel to justify t

[2020-03-12 10:22] cpointner commented on #739
/remove-lifecycle stale

[2020-03-12 12:00] saschagrunert commented on #1175
Fix is incoming https://github.com/kubernetes/release/pull/1177

[2020-03-12 12:28] #1175 closed

[2020-03-12 14:13] feiskyer commented on #739
@justaugustus  any progress on this?

[2020-03-13 16:34] puerco commented on #834
/remove-lifecycle stale
This is now in krel but we are actively working on it

[2020-03-16 15:26] justaugustus commented on #979
/assign @saschagrunert
(to add details and close out)

[2020-03-16 15:30] justaugustus commented on #852
/assign @justaugustus @saschagrunert

[2020-03-16 15:30] justaugustus commented on #852
/remove-lifecycle stale

[2020-03-16 15:35] justaugustus commented on #709
/assign @saschagrunert

[2020-03-16 15:40] justaugustus commented on #726
Obsoleted by https://github.com/kubernetes/release/issues/918.
/close

[2020-03-16 15:40] #726 closed

[2020-03-16 15:42] justaugustus commented on #846
/assign @puerco @saschagrunert @hasheddan

[2020-03-16 15:43] justaugustus commented on #846
/remove-help

[2020-03-16 15:43] justaugustus commented on #846
Let's make sure the usage docs go in `docs/krel/<tool>.md`

[2020-03-16 15:45] justaugustus commented on #932
Closed via https://github.com/kubernetes/release/pull/934.
/close

[2020-03-16 15:45] #932 closed

[2020-03-16 15:46] justaugustus commented on #1139
/assign

[2020-03-16 15:47] justaugustus commented on #1139
Tracking this quarter's updates here: https://github.com/kubernetes/release/issues/1134

[2020-03-16 15:51] justaugustus commented on #520
/remove-lifecycle stale
/remove-help
/assign @saschagrunert
/milestone v1.19

[2020-03-16 15:54] justaugustus commented on #897
/assign
/remove-lifecycle stale
/milestone v1.18

[2020-03-16 15:56] justaugustus commented on #910
/assign @puerco @saschagrunert
/remove-lifecycle stale
/milestone v1.19

[2020-03-16 16:00] xmudrii commented on #821
@justaugustus Reminder to take a look at this issue if you have some time. :slightly_smiling_face:

[2020-03-16 16:14] saschagrunert commented on #979
@hoegaarden I think we're fine with our current solution. I did a more detailed research and think we should keep the current implementation, because: If we would know the exact limits for the API rates, what would be the resulting action? We would still have to wait and retry… :man_shrugging:

Closing, feel free to reopen if I missed anything.

[2020-03-16 16:14] #979 closed

[2020-03-17 09:39] saschagrunert commented on #838
@hoegaarden do you think we are ready to merge the code paths for patch release announcements and minor releases?

[2020-03-17 10:28] saschagrunert commented on #897
For what I can see is that the release lib generates the file pointers here: https://github.com/kubernetes/release/blob/a15442f0d30c7578a79bdc79e3fe706ba8d09bc4/lib/releaselib.sh#L780-L834

There is no file-based validation inside this function, but we could add one like this:

[code]
A drawback is the hard-coded list of expected `$ARTIFACTS`, which can change over time and this will releases fail

[2020-03-18 06:18] cheeye opened #1186 "yum repos are empty"
#### What happened:
I'm not sure if this is the right place to report this issue.

I found out all the rpm `Packages` directories are empty in https://packages.cloud.google.com/yum/repos/kubernetes-el7-*.. I only saw metadata available in `repodata` somehow.

[2020-03-18 08:36] saschagrunert commented on #1186
Hey @cheeye :wave: thank you for the report.

The issue might be related to https://github.com/kubernetes/release/issues/520, I'll check what's going on now.

[2020-03-18 09:43] saschagrunert commented on #1186
I checked the repositories and think that the necessary binaries are available:

Verified with that little bash script:
[code]

Inside a container:
[code]

@cheeye do you think that this solves your issue?

[2020-03-18 09:47] saschagrunert commented on #520
It looks like that the packages are now available:

Using this little `run.sh` script:
[code]

And verifying inside a container:
[code]
@trunet do you think we can close this?

[2020-03-18 09:55] cheeye commented on #1186
Yes! That works now.. I used the instruction from the kubeadm. Somehow it didn't work out. Thank you very much!!

[2020-03-18 09:57] saschagrunert commented on #1186
Closing, feel free to reopen if you encounter further issues :)

[2020-03-18 09:57] #1186 closed

[2020-03-18 23:22] listx commented on #270
Three items remain, ordered by priority:

- ensure that k8s-artifacts-prod GCR is a superset of google-containers (aka backfilling; this has already been [done](https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io/manifests/DO-NOT-MODIFY-legacy-backfill) and is easy to check before VDF happens)
- fix auditor's ability to handle child images in fat manifests ([issue](https://github.com/kuber

[2020-03-18 23:26] thockin commented on #270
Auditor alerts -> <somewhere>

On Wed, Mar 18, 2020 at 4:22 PM Linus Arver <notifications@github.com>
wrote:

[2020-03-19 10:55] saschagrunert commented on #901
@tpepper @justaugustus I think we can close this issue, because it will be solved from my point of view when we're start using `krel changelog` for patch releases.

We already backtrack cherry-picks in the golang based tool:
https://github.com/kubernetes/release/blob/99f19f5818dce55903df1e9aec3fbe82226b5884/pkg/notes/notes.go#L768-L795

This means that the release note on a cherry-pick has the hig

[2020-03-19 13:41] justaugustus commented on #1176
Closed as WONTFIX, based on the domain restriction policy.
We'll wait until dl.k8s.io is cut over and proceed from there.

[2020-03-19 13:41] justaugustus commented on #1176
/close

[2020-03-19 13:41] #1176 closed

[2020-03-19 16:03] jackfrancis commented on #270
@justaugustus May I offer to add back-compat validation once the cutover occurs? Lots of folks in the wild, as has been mentioned by other folks, will continue to have dependencies on the k8s.gcr.io URLs. Sounds like there's a plan to protect those URLs being redirects + read-only access indefinitely; lemme know if I can help prove that out!

@ritazh FYI

[2020-03-19 19:15] BenTheElder commented on #270
ER @jackfrancis the `k8s.gcr.io` urls are going nowhere, but they will be in front of a new backing registry.

`k8s.gcr.io` is currently a regionalized alias to ~`gcr.io/google_containers` which is in a google.com owned GCP project, but k8s.gcr.io be moving to be an alias for a community owned bucket.

Then plan is to ensure that all existing images in the current backing bucket are mirrored into

[2020-03-19 21:10] jackfrancis commented on #270
@BenTheElder thanks for implementation detail details! ACK that this isn't something to worry about from a boring, consumption of k8s.gcr.io standpoint. :)

[2020-03-19 21:39] justaugustus commented on #270
Thanks for providing details, @BenTheElder!

[2020-03-20 00:51] listx commented on #270
I am prioritizing the backup optimization issue because it needs some form of design. Design doc here: https://github.com/kubernetes/k8s.io/issues/666#issuecomment-601481514

[2020-03-20 10:43] droslean opened #1203 "[Failing Test] post-release-push-image-kube-cross (post-release-push-image-kube-cross)"
**Which jobs are failing**:
`post-release-push-image-kube-cross (post-release-push-image-kube-cross)`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-releng-informing#post-release-push-image-kube-cross

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/release-managers
/sig release
/priority important-soon
/milestone v1.19

[2020-03-21 03:18] justaugustus commented on #846
First pass PR is here: https://github.com/kubernetes/release/pull/1201

[2020-03-22 05:51] justaugustus commented on #1203
/area release-eng
/milestone v1.18

[2020-03-22 10:02] Conan-Kudo commented on #996
😢

[2020-03-22 23:55] jimangel opened #1204 "Docs release process improvement"
This issue is to track the overall process improvement of SIG Docs.

On Dec 6th 2019, @mrbobbytables opened up #956 to improve the docs release cycle using `krel ff` with a goal of being evaluated during the `v1.18` cycle. However, after reviewing our options, it became clear that there needed to be a larger process change.

For historical context, docs release leads were given write access to k/w

[2020-03-22 23:57] jimangel commented on #956
I have chatted offline with a few folks. I'm going to move this issue to [another one](https://github.com/kubernetes/release/issues/1204) for tracking with a larger scope.

/close

[2020-03-22 23:57] #956 closed

[2020-03-23 03:55] justaugustus commented on #1203
Closed via https://github.com/kubernetes/release/pull/1202.
The latest image push job has passed now that that PR has merged: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-release-push-image-kube-cross/1241732100298641408

/close

[2020-03-23 03:56] #1203 closed

[2020-03-23 11:04] #1061 closed

[2020-03-23 15:31] saschagrunert opened #1207 "Change release branching strategy to create release-1.x branch late"
#### Summary

Right now we're creating the release branch at the same date as we cut the `v1.x.0-beta.0` release. After that release we will fast-forward (merge the latest changes from the master branch) periodically into the release branch manually.

The main idea is now to cut the release branch much later, whereas ideally we could get away from the branch fast-forward process.

#### Discussion

[2020-03-23 16:07] tpepper commented on #1139
@justaugustus as you're rolling through golang updates right now (eg: https://github.com/kubernetes/release/issues/1134), keep this keep in mind esp. for the 1.14.0 golang work items and decision making around that.  As this settles out, can a few of us start a draft GDoc collaboration around how/why/when we rev our golang toolchain.  At a minimum we can just write down what we're doing today.  Do

[2020-03-24 01:18] justaugustus commented on #1133
With https://github.com/kubernetes/kubernetes/pull/89275 set to merge, I'm calling this complete.
/close

[2020-03-24 01:18] #1133 closed

[2020-03-24 08:02] justaugustus commented on #281
Sascha, here's the tracking issue I was referring to in the last Releng meeting.
/unassign @timothysc
/assign @saschagrunert

[2020-03-25 05:00] justaugustus opened #1212 "[1.18] Freeze merges until Kubernetes 1.18.0 is released"
We should block merges on k/release until 1.18.0 has been released.

AFAIK, this is the first time we've done this in this repo, so let's try it out.
@cpanato @saschagrunert -- You're authorized to close this issue if there are release-blocking changes you need to make to the tooling.

cc: @kubernetes/release-engineering
/milestone v1.18

Analogous to https://github.com/kubernetes/website/issues/1

[2020-03-25 05:02] justaugustus commented on #1212
Applied the `tide/merge-blocker` label.
Branch Managers to close this issue once the release is complete.
/assign @cpanato @saschagrunert

[2020-03-25 12:09] saschagrunert commented on #1212
Sounds good to me. The other way around we could stick to certain releases in the next cycle, so we would not have a need for a merge freeze. WDYT?

[2020-03-25 20:39] cpanato commented on #1212
1.18.0 released, closing this issue

/close

[2020-03-25 20:40] #1212 closed

[2020-03-25 22:22] justaugustus commented on #1212
@saschagrunert -- That's what I had in mind as well, but it's a process change in a few places, so we need to think through a little bit e.g., Release Managers need to check out k/release@<tag> and images need to be versioned against the tag, which means they to be rebuilt at the tag cut and then promoted.

Let's discuss some of this here --> https://github.com/kubernetes/release/issues/857

[2020-03-25 22:24] justaugustus commented on #857
ref on [merge-blocking issues](https://github.com/kubernetes/release/issues/1212#issuecomment-604118439):

[2020-03-26 02:19] justaugustus opened #1216 "Update k/k to go1.14.4"
### What would you like to be added

(Breaking out the go1.14 bumps from https://github.com/kubernetes/release/issues/1134)

- [x] kube-cross bump: https://github.com/kubernetes/release/pull/1208, https://github.com/kubernetes/release/pull/1246, https://github.com/kubernetes/release/pull/1372
- [x] image promotion: https://github.com/kubernetes/k8s.io/pull/687, https://github.com/kubernetes/k8s.io

[2020-03-26 07:15] justaugustus commented on #270
@listx -- Would you mind providing an update on your side as we're nearing the date?

[2020-03-26 07:51] saschagrunert commented on #857
I'm totally in favor of using tagged releases for k/release. We still have one drawback: Our tooling changes rapidly and we would not have a chance to fix issues as fast as we can do now. :thinking:

[2020-03-27 06:19] nfisher commented on #913
If the packages are being PGP signed is it possible to place them on a HTTP host in addition to the HTTPS so that caching proxies can be used?

[2020-03-31 01:05] listx commented on #270
I'm manually performing the backups for now to make the automated jobs not time-out and cause a quota exceeded error. The backup optimization implementation has hit a snag with Workload Identity here https://github.com/kubernetes/k8s.io/pull/677, but that should be sorted out by EOD tomorrow.

The auditor has had fixes to child manifest detection and this has been rolled out earlier today.

There

[2020-03-31 01:33] justaugustus commented on #270
@listx -- Thanks for the update! I think we're fine for day 1 as long as the backfill is set (which it is) and we've got a go-forward plan for the backups (which we do).

On my end, I've successfully tested the Releng changes [here](https://github.com/kubernetes/release/pull/1199). I'm going to do a few spot-checks just in case, but we should be all good to go! :)

[2020-03-31 14:51] justaugustus commented on #1204
/assign @jimangel

[2020-03-31 17:43] sftim commented on #1204
:thought_balloon: SIG Docs has contributors who only work inside GitHub's web UI
If there were a Prow command `/rebase-and-squash` that does a rebase and squash, would that help those people?

[2020-03-31 17:52] sftim commented on #1204
(what I have in mind is that Prow pushes to _your_ fork with the changes, and you have to select the option to allow maintainers to make edits).

The idea here is that someone with zero command line experience can get their PR squashed. I won't expect Prow to resolve every possible conflict, and I don't expect this will work as well for Go code as it does for Markdown.

[2020-03-31 19:46] justaugustus commented on #811
We've moved the GitHub token to the prod releng project (`k8s-releng-prod`) in https://github.com/kubernetes/release/pull/1163 and generated it as follows:

[code]

/remove-lifecycle stale
/close

[2020-03-31 19:47] #811 closed

[2020-03-31 19:59] justaugustus commented on #1134
I'm going to close this out as we're on go1.13.9 for the most recent release branches (1.18 --> 1.16).
Follow-ups are tracked separately at:
- Document upgrading Golang - https://github.com/kubernetes/release/issues/1139
- Update k/k to go1.14.1 - https://github.com/kubernetes/release/issues/1216
- Discuss removing bazel - https://github.com/kubernetes/kubernetes/issues/88553

/close

[2020-03-31 19:59] #1134 closed

[2020-03-31 23:11] celestehorgan commented on #1204
@jimangel

After assessing the kubernetes/communtiy repo, the following pages currently mention squashing before a merge:
- [https://github.com/kubernetes/community/blob/master/contributors/guide/github-workflow.md#squash-and-merge](GitHub Workflow)
- [https://github.com/kubernetes/community/blob/master/contributors/guide/pull-requests.md#6-squashing-and-commit-titles](Pull Requests)
- [https://gi

[2020-04-02 03:22] listx commented on #270
The flip is in progress. Charts and updates haven been posted here: https://groups.google.com/d/msg/kubernetes-sig-release/ew-k9PEBckQ/mSa7KGeUCAAJ

[2020-04-02 18:21] Rajalakshmi-Girish opened #1227 "Stopped publishing /bin folders of CI builds"
#### What happened:
"/bin" folder is not published in CI builds. This broke all the kubeadm master jobs.

https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-master

#### What you expected to happen:
The CI builds published should contain bin folder with the executables.

#### How to reproduce it (as minimally and precisely as possible):
Look for bin folder in
https://console.cloud

[2020-04-02 18:25] justaugustus commented on #1227
FYI @kubernetes/ci-signal @kubernetes/release-engineering
ref: https://kubernetes.slack.com/archives/C2C40FMNF/p1585845311247000

[2020-04-02 18:29] justaugustus commented on #1227
This could be related to yesterday's change to lib/releaselib.sh in https://github.com/kubernetes/release/pull/1199, which would affect the push-build.sh script (which sources that library). push-build.sh pushes the build results of the `ci-kubernetes-build*` jobs, which are the artifacts that are pulled in several of our e2e tests.

I don't have time to look at this at the moment, but that (^^) s

[2020-04-02 18:33] justaugustus commented on #1227
Potentially this line

https://github.com/kubernetes/release/blob/01df93c1059eb698b126e9fe5d2029dacfd6174a/lib/releaselib.sh#L749

[2020-04-02 18:34] justaugustus commented on #1227
/assign @hasheddan @justaugustus

[2020-04-02 20:04] #1227 closed

[2020-04-06 17:23] tstromberg commented on #839
Is there anything I or others can do to help with the signing infrastructure? This issue has now been open for 244 days without a response on GitHub, though I did have a chance to briefly bring this up with @justaugustus at KubeCon in November.

Even if it takes a Googler to push a button to sign the key, that's fine with me to get this thing going.

[2020-04-06 17:51] justaugustus commented on #839
From [#sig-release Slack thread](https://kubernetes.slack.com/archives/C2C40FMNF/p1586193946295000):

@tstromberg -- Sorry for letting this slip. The tl;dr:
- SIG Release does not control the apt/yum repos that we publish packages to. Google does. So deb/rpm publishing that happens every cycle is done happens on the Google side.
- The current package signing key is also Google-owned
- Today, we do

[2020-04-06 18:43] afbjorklund commented on #839
The main downside is that user would have to install two separate keys, but that seems to be the same situation for both solutions since if it was the _same_ key used for new repo it could go into the main...

https://packages.cloud.google.com/apt/doc/apt-key.gpg
https://packages.cloud.google.com/yum/doc/yum-key.gpg

[code]

So I guess minikube will have to invent some local process, that will be

[2020-04-06 19:06] afbjorklund commented on #839
The workaround is still the same as before, user will have to download and install unsigned packages:

https://github.com/kubernetes/minikube/releases/download/v1.9.2/minikube_1.9.2-0_amd64.deb

https://github.com/kubernetes/minikube/releases/download/v1.9.2/minikube-1.9.2-0.x86_64.rpm

Usually this leads to a warning from the web browser, and then another one from the pkg installer...

So in that

[2020-04-07 06:29] shai commented on #689
/remove-lifecycle rotten

[2020-04-08 16:31] justaugustus commented on #1207
@kubernetes/release-engineering -- I've left a review on the [proposed 1.19 release schedule](https://github.com/kubernetes/sig-release/pull/1044#pullrequestreview-390103040) about this.
PTAL and add feedback there.

[2020-04-08 16:32] justaugustus commented on #1207
/priority important-soon
/assign @justaugustus @tpepper @cpanato @saschagrunert @hasheddan

[2020-04-12 19:33] justaugustus commented on #1007
This should be good to close now.
/remove-lifecycle stale
/close

[2020-04-14 15:21] justaugustus commented on #856
branchff is deprecated, so this issue is obsolete.

/remove-lifecyle rotten
/close

[2020-04-14 15:21] #856 closed

[2020-04-15 10:07] saschagrunert commented on #739
A quick summary from my side as discussed yesterday in the release engineering meeting:

- We switched from release branches to master-based releases of cri-tools, which should theoretically allow us to use crictl v1.18.0 with Kubernetes v1.16.0 (just an example).
- I had some issues in the past with some incompatibles between different gRPC versions (regarding dial context). I think we can explic

[2020-04-20 23:59] listx commented on #270
Forgot to update this thread, but TL;DR: the flip has been rolled back due to an unforeseen issue. Details here: https://groups.google.com/d/msg/kubernetes-sig-release/ew-k9PEBckQ/SZC2KeFYAwAJ

We will attempt the flip again in the coming weeks; I will update this thread again once we decide on the date.

[2020-04-21 11:18] Conan-Kudo commented on #996
😭

[2020-04-22 06:54] saschagrunert commented on #1010
/remove-lifecycle stale

[2020-04-22 12:09] rosti opened #1248 "kubelet.service not waiting for network-online.target"
Whenever kubeadm detects a system that has `systemd-resolved` running, it would provision the kubelet on the local node with a resolv.conf overwrite - `/run/systemd/resolve/resolv.conf`.

However, some kubeadm users have discovered an issue during system boot. The kubelet can end up in a race with the `systemd-resolved` service and actually startup loads with empty or incorrect resolve.conf files.

[2020-04-22 12:20] neolit123 commented on #1248
/priority important-longterm
cc @BenTheElder @aojea

[2020-04-22 14:27] BenTheElder commented on #1248
Thanks for the heads up, the resolv.conf in kind isn't systemd managed though.

I could definitely see this being an issue in prod systems 😬

[2020-04-26 06:09] justaugustus commented on #1065
PRs are merged and we now generate release notes for each release.
See https://github.com/kubernetes/release/releases/tag/v0.2.7 as an example.

/close

[2020-04-26 06:09] #1065 closed

[2020-04-28 11:37] neolit123 commented on #885
/remove-lifecycle stale

[2020-05-02 19:00] afbjorklund commented on #839
Now it is blocked in the Ubuntu Software as well, so users will _need_ to use the Terminal...

* https://en.wikipedia.org/wiki/Snapcraft (https://snapcraft.io/)

Still works in Fedora, but not sure for how long. It is possible that they will move to Flathub.

* https://en.wikipedia.org/wiki/Flathub (https://flathub.org/)

It is getting harder and harder to distribute software, especially without b

[2020-05-03 17:06] markyjackson-taulia opened #1257 "Update release branches to go1.13.12"
### What would you like to be added

Update release branches to go1.13.12

- [ ] (@Verolop) kube-cross bump:
- [ ] (@Verolop) kube-cross image promotion:
- [ ] (@Verolop) k/release/k8s-cloud-builder bump:
- [ ] (@markyjackson-taulia) k/k bump:
- [ ] (@Verolop) Cherry pick `master` go1.13.12 upgrade:
  - [ ] `release-1.18`:
  - [ ] `release-1.17`:
  - [ ] `release-1.16`:
- [ ] (@markyjackson-taulia

[2020-05-03 17:06] markyjackson-taulia commented on #1257
/priority critical-urgent

[2020-05-03 17:07] markyjackson-taulia commented on #1257
/assign @Verolop @markyjackson-taulia

[2020-05-03 17:18] justaugustus commented on #1257
This is a patch release bump; it needs to get done, but isn't "urgent" per se.
/remove-priority critical-urgent
/priority important-soon
/milestone v1.19
/retitle Update release branches to go1.13.10

[2020-05-03 17:23] markyjackson-taulia commented on #1257
Thank you @justaugustus 🙂

[2020-05-03 17:35] justaugustus commented on #1257
np!

@markyjackson-taulia @Verolop -- I cleaned up the list, but you'll have to redistribute the work a bit (since there's less of it) :stuck_out_tongue:
/area dependency

[2020-05-03 17:39] xmudrii commented on #1257
If you folks need any help with this, I'd be happy to help as well :D

[2020-05-04 09:16] justaugustus commented on #1257
Before you get started, I need to refactor kube-cross a little to fix the release for 1.15: https://github.com/kubernetes/sig-release/issues/1051

I'll check in later to give a progress update.
I should be able to fix that up today.

[2020-05-05 12:08] justaugustus commented on #1257
@markyjackson-taulia @Verolop -- I'm currently testing a fix for kube-cross image building here: https://github.com/kubernetes/release/pull/1258

[2020-05-05 16:27] SantiagoTorres commented on #914
So, I take it this is not a concern?

[2020-05-05 16:31] trishankatdatadog commented on #914
As mentioned [earlier](https://github.com/kubernetes/release/issues/914#issuecomment-582478954), @SantiagoTorres and I are happy to consult on how to use the TUF and in-toto CNCF sibling projects to secure the building and distribution of k8s binaries...

[2020-05-07 03:53] #837 closed

[2020-05-07 03:53] #684 closed

[2020-05-07 03:53] #712 closed

[2020-05-07 03:53] #944 closed

[2020-05-07 03:53] #954 closed

[2020-05-07 04:54] #855 closed

[2020-05-07 05:55] #844 closed

[2020-05-07 05:55] #848 closed

[2020-05-07 10:17] hasheddan commented on #829
/reopen

[2020-05-07 16:05] #713 closed

[2020-05-07 20:36] xmudrii commented on #914
@justaugustus Is there any update on this issue? Can we reassign it? I believe that we should move it away from the 1.18 milestone, but I don't have permission to do so.

/remove-lifecycle stale

[2020-05-07 20:38] xmudrii commented on #728
@justaugustus Is there any update on this issue? Can we reassign it? I believe that we should move it away from the 1.18 milestone, but I don't have permission to do so.

[2020-05-07 20:45] xmudrii commented on #305
@mikedanese Hello. I see that you are assigned to this issue. I'm wondering is there any update to this - would it be possible to do something about it or should we maybe unassign/reassign the issue?

[2020-05-07 20:48] xmudrii commented on #689
@justaugustus Should we move this issue away from the v1.18 milestone?

[2020-05-07 20:57] xmudrii commented on #1119
@saschagrunert What is the status of this issue? Should we move it away from the v1.18 milestone? Are you still interested to work on this one or should we reassign it?

[2020-05-08 06:57] saschagrunert commented on #1119
The work has not started yet. I guess we can tackle that issue when we're moving to a krel based anago version, which has been started in https://github.com/kubernetes/release/pull/1106

[2020-05-11 05:05] justaugustus opened #1276 "anago/krel changelog: API change causes staging job failures"
#### What happened:

Running some test jobs to validate the new [go-runner image](https://github.com/kubernetes/kubernetes/pull/90674), I ran into the [following failure](https://console.cloud.google.com/cloud-build/builds/25c406ea-a2da-4a08-907f-3e7309e92f15?project=kubernetes-release-test) due to some recent `krel changelog` API changes:

[code]

/assign @saschagrunert
/priority critical-urgent

[2020-05-11 07:39] #1276 closed

[2020-05-11 08:19] saschagrunert commented on #1000
/remove-lifecycle rotten

[2020-05-11 10:26] justaugustus opened #1278 "Mismatched or dirty k/release does not block r"
#### What happened:

The repo state check in https://github.com/kubernetes/release/pull/1254 does not appear to block gcbmgr runs with a dirty or out of sync local copy of k/release.

/assign @saschagrunert

[2020-05-11 11:06] saschagrunert commented on #1278
Yes, my template for the implementation was this function, which do not check those cases as well:
https://github.com/kubernetes/release/blob/61c27116a97935a592fcb58fdd4f115bfd3a563a/lib/gitlib.sh#L296-L328

So we can add two possible checks:
- Error if the repository is dirty
- Error if the current commit does not match exactly the latest remote commit

In case of the second error path the `branc

[2020-05-11 17:12] xmudrii commented on #689
/milestone v1.19

[2020-05-11 17:18] xmudrii commented on #959
/milestone v1.19
/remove-lifecycle rotten

[2020-05-11 17:20] xmudrii commented on #1119
Thanks for the update! I'll move this issue to the v1.19 milestone for now.
/milestone v1.19

[2020-05-11 17:47] xmudrii commented on #1010
@saschagrunert @onlydole Are you still interested to work on this issue? Is this issue still relevant?

[2020-05-11 18:05] onlydole commented on #1010
I’m still interested, @saschagrunert and @xmudrii  🙌🏼

[2020-05-11 18:11] xmudrii commented on #1010
@onlydole Sounds great. I'll go ahead and remove the `good first issue` and `help-wanted` labels.

/remove-good-first-issue
/remove-help-wanted

[2020-05-11 18:25] xmudrii commented on #1010
`/remove-help-wanted` didn't work :eyes:

/help-wanted remove

[2020-05-11 18:25] xmudrii commented on #1010
/help remove

[2020-05-11 18:26] xmudrii commented on #1010
Will try it for one more time.

/remove-help

[2020-05-11 18:32] puerco commented on #1010
I can help with this one too

[2020-05-12 07:14] saschagrunert commented on #1010
I'm wondering where we should move the source code.

[2020-05-13 03:15] justaugustus opened #1281 "Release blocking issues (1.19.0-beta.0, 1.18.3, 1.17.6, 1.16.10)"
There are a few issues blocking releases right now and I realized there's not a singular place tracking them, so I'm opening this up.

### Required

`kube-cross` and `k8s-cloud-builder`:

- [x] (https://github.com/kubernetes/release/pull/1258) kube-cross: Support building against multiple Go versions in parallel
- [x] (https://github.com/kubernetes/release/pull/1279) Revert k8s-cloud-builder chang

[2020-05-13 03:16] justaugustus commented on #1281
/priority critical-urgent

[2020-05-13 04:44] justaugustus commented on #1278
@saschagrunert -- Let's aim to check for both. The shell-based `gcbmgr` did check for the latter.

[2020-05-13 04:53] justaugustus commented on #1010
kubernetes-sigs (ref: https://github.com/kubernetes/release/issues/1010#issuecomment-577459044) --> https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-repo&template=repo-create.md&title=

[2020-05-13 04:59] justaugustus commented on #959
I signed up for a Sendgrid account for this a while back, but it hasn't been high-priority.
Will try to close the loop on this this cycle.

/assign

[2020-05-13 05:06] justaugustus commented on #689
We're still chasing moving the release process to K8s Infra, which is higher priority (ref: https://github.com/kubernetes/release/issues/689#issuecomment-563039890).

If someone picks this up, then we're happy to add this back to the milestone, but for now:
/milestone clear

[2020-05-13 05:24] justaugustus commented on #1000
/assign @saschagrunert
/milestone v1.19

[2020-05-13 05:31] justaugustus commented on #305
We're discussing tagging/release policies in #857.
If this issue is still relevant, please feel free to reopen with updated status.

/close

[2020-05-13 05:39] justaugustus commented on #728
/milestone v1.19

[2020-05-13 05:49] justaugustus commented on #914
We should be able to make some incremental progress in 1.19.
@SantiagoTorres and @trishankatdatadog -- will follow up with you later in the cycle.

Santiago, to answer your question, this is absolutely a concern to us, but there are only so many hours in the day.
Our primary focus for the past few cycles has been refactoring the release tooling (https://github.com/kubernetes/release/issues/918, ht

[2020-05-13 05:51] justaugustus commented on #829
@hasheddan -- status update?

[2020-05-13 05:52] justaugustus commented on #1027
/remove-lifecycle stale
/lifecycle frozen

Adding Sascha as well.
/assign @saschagrunert
/milestone v1.19

[2020-05-13 05:56] justaugustus commented on #885
/milestone v1.19

[2020-05-13 08:29] saschagrunert commented on #1010
Created the migration request: https://github.com/kubernetes/org/issues/1875

I'm quite not sure about the set of permissions, so feel free to suggest anything :)

[2020-05-13 08:34] saschagrunert commented on #1000
I think our counterfeiter mocking approach works out pretty well to isolate the tests. We're still in a transition phase and some tests are connecting to the internet, which might cause API rate limit issues. I'll check what I can do for the kubepkg tests especially.

[2020-05-13 08:53] justaugustus commented on #1000
Thanks @saschagrunert!

[2020-05-13 09:49] saschagrunert commented on #1281
Proposal for the branch cutting changes:
1. Add a new variant `beta` to the current `krel gcbmgr --type` flag, which is currently:
   `--type string            Release type (must be one of: 'prerelease', 'rc', 'official')`
2. Pass that flag via the GCB substitutions to anago
3. Modify anago (this seems to be the funny part) to not enforce `alpha` releases on the master and allow betas by taking th

[2020-05-13 10:07] sdake commented on #305
/reopen

@justaugustus as far as I am aware, no CI testing is done against generated RPMs. The proposal in https://github.com/kubernetes/release/issues/857 does not address the unmet requirement. As such, I am re-opening this issue.

@kfox1111 in particular has more interest in this topic than I do.

[2020-05-13 10:31] hasheddan commented on #829
@justaugustus this fell down my queue a few times but I have reprioritized and hope to have progress soon!

[2020-05-13 10:31] saschagrunert commented on #1278
Fix is incoming in https://github.com/kubernetes/release/pull/1284

[2020-05-13 16:10] #1000 closed

[2020-05-13 16:36] trishankatdatadog commented on #914
Understood: these things take time. We are happy to help, just let us know when you are ready.

Also, we are working with @joshuagl at VMware to [sign all Python packages on PyPI with TUF](https://www.python.org/dev/peps/pep-0458/) 🙂

[2020-05-14 03:12] justaugustus commented on #270
Last I chatted w/ @listx ETA is in a few weeks.
They're still working on some stuff on the Google side.

[2020-05-14 06:17] justaugustus commented on #1207
We decided on Code Freeze, starting in Kubernetes 1.19.
More details here: https://groups.google.com/d/topic/kubernetes-dev/IVpiIOZ4WcM/discussion

@saschagrunert -- I think you summed it up nicely in https://github.com/kubernetes/release/issues/1281#issuecomment-627877178.

I would propose here that we rename this flag to `stage`, supporting the following options:

- `alpha`
- `beta`
- `rc`
- `of

[2020-05-14 06:19] justaugustus commented on #1281
@saschagrunert -- Let's bring this discussion to the branch strategy issue. Commented here: https://github.com/kubernetes/release/issues/1207#issuecomment-628412415

[2020-05-14 08:09] saschagrunert commented on #1207
Yes, I'll propose the first PR later today.

[2020-05-14 09:16] saschagrunert commented on #1087
/remove-lifecycle stale

[2020-05-14 17:13] thockin commented on #270
I gave a quick update at the WG meeting.  TL;DR is that over time, bad
assumptions grow deep roots.  We're disentangling the roots now, but it
reaches across several teams, and we've already caused one problem with
this, so "once bitten, twice shy" is in full effect.  We believe we're
close.  O(weeks) seems right.

On Wed, May 13, 2020 at 8:12 PM Stephen Augustus <notifications@github.com>
wrote:

[2020-05-15 04:35] justaugustus commented on #1207
This still needs some work. Looking into it now.
/reopen

[2020-05-15 08:46] #1207 closed

[2020-05-15 09:41] justaugustus commented on #1207
Additional testing:

| command | link | expected | status |
|---|---|---|---|
| `krel gcbmgr --stage --type alpha` | https://console.cloud.google.com/cloud-build/builds/6c1441e5-d286-4617-a23c-120a848776be?project=kubernetes-release-test | pass |  |
| `krel gcbmgr --stage --type alpha --branch release-1.19` | https://console.cloud.google.com/cloud-build/builds/21a0cdc8-fa07-4a92-8dbf-6ae19c310aa5?

[2020-05-15 18:46] justaugustus commented on #1207
Added some validation in `krel gcbmgr` for the scenarios above that should've failed: https://github.com/kubernetes/release/pull/1293

[2020-05-18 09:34] justaugustus opened #1295 "Release notes on k/k fail to generate w/ new dependencies feature"
#### What happened:

After https://github.com/kubernetes/release/pull/1253 and https://github.com/kubernetes/release/pull/1291 merged, `krel changelog` fails to generate release notes in staging jobs.

[code]

Logs:
- https://console.cloud.google.com/cloud-build/builds/b5a33b25-ab5f-4940-b976-6477078e4e3b?project=kubernetes-release-test
- https://console.cloud.google.com/cloud-build/builds/1433622

[2020-05-18 09:44] saschagrunert commented on #1295
Confirmed, working on it now. :+1:

[2020-05-18 10:41] #1295 closed

[2020-05-18 11:27] saschagrunert commented on #1295
The run https://console.cloud.google.com/cloud-build/builds/8c3deefc-6c4f-42b7-b34e-439eae22c776?project=kubernetes-release-test

Seems to work:
[code]

[2020-05-19 16:28] saschagrunert commented on #739
Probably related, we could publish the binary in the same way on the bucket to avoid "too many requests" failures when downloading from GitHub: https://github.com/kubernetes/kubernetes/pull/91239

[2020-05-19 21:47] tzinm commented on #520
I am getting the same issue.

#### Environment:

- **Hardware configuration**: Raspberry Pi 4 Model B Rev 1.1
- **OS**: CentOS Linux 7
- **Kernel**: Linux rpi4 5.4.28-v7l.1.el7

#### Repo file:

[code]
I have had to put `gpcheck=0` and `repo_gpgcheck=0` otherwise it failed.

**Error message**: [Errno -1] repomd.xml signature could not be verified for kubernetes

#### List all available packets:

*

[2020-05-20 01:57] justaugustus commented on #1281
This is complete.
/close

[2020-05-20 01:57] #1281 closed

[2020-05-20 21:25] justaugustus commented on #1257
Updated the description to reflect go.1.13.11 and redistributed the tasks.

[2020-05-20 22:42] justaugustus commented on #1257
FYI: k/repo-infra@v0.0.5 bump needs to merge ahead of doing the k/k bumps -- https://github.com/kubernetes/kubernetes/pull/91312

[2020-05-21 11:30] #996 closed

[2020-05-21 16:40] justaugustus commented on #996
@Conan-Kudo -- Thanks for submitting this and our sincere apologies for not getting you a response sooner.

At this time, we're not planning to bring `debbuild` into our workflow.
A few things that we need to ensure during the artifact creation/publishing process:
1. intermediate artifacts (like the deb/rpm specs) are produced in a native format
2. we have control over all of the tools in the proc

[2020-05-21 16:54] justaugustus commented on #855
Removing the rotten label so this doesn't pop up again in sweeps.
/remove-lifecycle rotten

I'm fine with this staying closed as we should prioritize moving away from the shell-based tools and  over to go --> https://github.com/kubernetes/release/issues/918

[2020-05-21 17:21] justaugustus commented on #933
Removing the rotten label so this doesn't pop up again in sweeps.
/remove-lifecycle rotten

I _think_ I'm fine w/ this staying closed.
I believe intermittent failures in accessing GitHub can cause this. We saw something similar in https://github.com/kubernetes/release/pull/1302 / https://kubernetes.slack.com/archives/CJH2GBF7Y/p1589889924258900

[2020-05-21 17:23] justaugustus commented on #1028
Let's consider this an eventual feature request for `krel anago`, not the shell-based tool.
/remove-lifecycle rotten
/milestone clear

[2020-05-21 17:26] justaugustus commented on #848
Removing the rotten label so this doesn't pop up again in sweeps.
/remove-lifecycle rotten

Agreed w/ @xmudrii in https://github.com/kubernetes/sig-release/issues/1069:

[2020-05-21 20:02] tpepper commented on #933
I wonder if it's the same root cause as whatever causes a notable amount of cherry picks to not have labels correctly applied?  Eg: I infer some throttling or limit in API usage.

[2020-05-22 00:44] Conan-Kudo commented on #996
Aside from `kubepkg`, I'm not sure what else is involved in this process to produce rpms and debs.

What the heck does this mean? `kubepkg` understands rpm specs, which is basically enough for debbuild. That's all it uses. It just needs to push spec files that have the couple of extra fields required for Debian packages that map to Debian control fields and that's it. You replace `rpmbuild` with `

[2020-05-25 12:25] saschagrunert opened #1312 "The state of pkg/patch"
The only reason why we still ship the [./relnotes](https://github.com/kubernetes/release/blob/master/relnotes) script is the presence of `pkg/patch/internal`, wich is a golang wrapper to the previous bash implementation:
https://github.com/kubernetes/release/blob/44172edd1bc0b116c674ed682c6770727544780c/pkg/patch/internal/release_notes.go#L44-L73

This code is mainly used by `krel patch-announce`.

[2020-05-26 15:26] saschagrunert commented on #1312
As discussed in the meeting, I will refactor the patch announce subcommand and its dependencies to be able to get rid of some bash inside this repository :)

[2020-05-28 18:02] #1312 closed

[2020-05-29 00:27] justaugustus opened #1320 "gh2gcs: Feature/bug tracking"
### Bug

- [x] Single tags appear to incorrectly upload to the root of `releaseDir` - fixed in https://github.com/kubernetes/release/pull/1470
- [x] Need to cleanup temp dir - fixed in https://github.com/kubernetes/release/pull/1324
- [ ] Copy operation not printing to screen until complete

### Feature

- [x] Add usage documentation - fixed in https://github.com/kubernetes/release/pull/1338
- [x]

[2020-05-29 07:37] saschagrunert commented on #918
Update, the `release-notify` part is done with https://github.com/kubernetes/release/pull/1323

[2020-05-30 03:43] justaugustus commented on #918
Great progress team!

[2020-06-02 13:53] justaugustus opened #1331 "kubepkg does not respect flags"
#### What happened:

While working on https://github.com/kubernetes/release/pull/1330, I noticed that `kubepkg` doesn't actually respect user-supplied flags, instead running with the defaults specified in `pkg/kubepkg/options.go` (`options.New()`): https://github.com/kubernetes/release/blob/d992507a0aa386a1b2cd57319b7c891a0f6a126b/pkg/kubepkg/options/options.go#L73-L82

/assign @saschagrunert

[2020-06-02 14:32] saschagrunert commented on #1331
Confirmed, preparing a fix…

[2020-06-02 15:14] #1331 closed

[2020-06-03 11:50] saschagrunert commented on #1150
/remove-lifecycle stale

[2020-06-03 11:51] saschagrunert commented on #1019
/close

This seems to be resolved already.

[2020-06-03 11:52] #1019 closed

[2020-06-04 01:54] njuptlzf opened #1333 "The port used by list-watch conflicts with that used by nginx"
#### What happened:
The port used by list-watch conflicts with that used by nginx
#### What you expected to happen:
The port used by list watch does not conflict with that used by nginx,so I want to know the port range used by list-Watch.
thanks!
#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:

- Cloud provider or hardware

[2020-06-04 03:03] njuptlzf commented on #1333
The TCP link building of k8s is related to the port kernel parameters of the host
net.ipv4.ip_local_reserved_ports：Reserve ports to prevent them from being used by random TCP chains
net.ipv4.ip_local_port_range：Specifies the available port range of the local TCP link

use net.ipv4.ip_local_reserved_ports, it works

[2020-06-04 03:03] #1333 closed

[2020-06-05 08:54] saschagrunert commented on #1016
We still have some TODO's in the source code left, but I guess we can close this since the markdown rendering is now the standard.

/close

[2020-06-05 08:55] #1016 closed

[2020-06-06 16:28] cpanato commented on #1320
I'm going to work in the feature `download-only`m if that is ok

[2020-06-06 16:56] cpanato commented on #1320
i'm going to work in the `Add usage documentation`

[2020-06-06 17:09] cpanato commented on #1320
maybe one item to add in the list, instead use the shell and `gsutil` we can use the lib to copy, this will remove the dependency to have gsutil installed, but then we need to figure out the access keys.

if find useful i can make that happen

[2020-06-07 11:33] justaugustus commented on #1257
Update this to reflect go1.13.12, now that it's been released: https://golang.org/doc/devel/release.html#go1.13.minor

@Verolop @markyjackson-taulia -- please start on this work this week.

[2020-06-07 12:23] justaugustus commented on #1248
Closed via https://github.com/kubernetes/release/pull/1250.
/close

[2020-06-07 12:23] #1248 closed

[2020-06-07 15:43] cpanato commented on #1320
for this `Expose certain GCSCopyOptions for user configuration` we have the following options defined in the app.

[code]
also the `gsutil cp` have other flags -> https://cloud.google.com/storage/docs/gsutil/commands/cp

which ones do we want to make configurable by the user?

@justaugustus

[2020-06-07 15:49] markyjackson-taulia commented on #1257
@Verolop let me know if you would like to do this in tandem

[2020-06-07 15:51] cpanato commented on #1320
the bot should not close this :)
/reopen

[2020-06-07 16:07] cpanato commented on #1320
will work in the `Download faster by sending through a channel`

[2020-06-08 06:01] cpanato commented on #1320
will try this `Download faster by sending through a channel`

[2020-06-08 19:21] justaugustus opened #1345 "CNI MitM CVE mitigation"
(Announced in https://github.com/kubernetes/kubernetes/issues/91507)

- [x] Upgrade to CNI plugins v0.8.6 in kubernetes/kubernetes
  - [x] 1.19.0+: https://github.com/kubernetes/kubernetes/pull/91370
  - [x] 1.18.4+: https://github.com/kubernetes/kubernetes/pull/91387
  - [x] 1.17.7+: https://github.com/kubernetes/kubernetes/pull/91386
  - [x] 1.16.11+: https://github.com/kubernetes/kubernetes/pul

[2020-06-09 05:11] justaugustus commented on #1139
I'm working on a handbook here: https://github.com/kubernetes/sig-release/pull/1109
(It's just a skeleton at the moment, but that's the PR you want to follow for broad strokes.)

[2020-06-09 13:42] saschagrunert commented on #1150
Added a `TODO` list in the first comment and started to work on this in #1348

[2020-06-10 03:43] justaugustus commented on #1161
Assigning Aaron for the last-mile (project deletions).
/assign @spiffxp
ref: https://github.com/kubernetes/k8s.io/pull/947

[2020-06-10 16:05] Verolop opened #1353 "Add a few retries around failure points in release scripting"
#### What would you like to be added:
Adding some retries around failure points in release scripting before failing completely. Eg:

 * docker pull commands on the code for Mock Release (Issue #1102 )
 * "Step #1: PUSH GIT OBJECTS  (11/14)" (Issue #933 )
 * audit past year's "HACK" and "revert" commits on anago/gcbmgr/lib shell to other points which would benefit from a basic sleep/retry loop

###

[2020-06-11 12:59] justaugustus commented on #1345
FYI @kubernetes/release-engineering
/close

[2020-06-11 12:59] #1345 closed

[2020-06-11 13:02] justaugustus commented on #885
This will be reflected in the next patch series (1.18.4, 1.17.7, 1.16.11).
Also documented in https://github.com/kubernetes/release/issues/1345.
/close

[2020-06-11 13:03] #885 closed

[2020-06-11 18:27] spiffxp commented on #1161
/close
deleted k8s-staging-release-test (ref: https://github.com/kubernetes/k8s.io/pull/947#issuecomment-642843634)

deleted k8s-sig-release-prototype
[code]

[2020-06-11 18:27] #1161 closed

[2020-06-11 20:34] cji opened #1354 "Adding security details to release notes"
#### What would you like to be added:

The Product Security Committee would like the ability to include details about security fixes in release notes just prior to release announcements going out.

#### Why is this needed:

There are situations where a vulnerability with a Medium or Low severity may be fixed semi-publicly (for example with a public PR but not mentioning the security implications).

[2020-06-11 20:41] Verolop commented on #1353
sounds good, I agree!

[2020-06-11 23:42] tallclair commented on #1354
The described process sounds good, but it might be overkill. On release day, what time are releases usually cut? We typically aim to lift embargoes at 9am PT (negotiable), so I'm wondering whether we could simply merge a public PR right around that time, and start the release after?

[2020-06-12 06:19] puerco commented on #1354
Another approach, easier to implement IMHO, could be to have the PSC publish the vulnerability info on a known location in k/security and we would modify the release notes tool to scan for that data before cutting a new patch version. That file could tie together commits that have been cherry picked and have them treated separately in the doc and would enable us to get a unified security release n

[2020-06-12 07:09] hwdef commented on #1027
/cc

[2020-06-12 07:15] hwdef opened #1355 "kubepkg build debs permission denied"
#### What happened:

I use kubepkg to build debs in a general user, I received an error saying that I have insufficient permissions. and I switch to root ,but I received same error again.

#### What you expected to happen:

build debs

#### How to reproduce it (as minimally and precisely as possible):

[code]

#### Anything else we need to know?:

[code]

#### Environment:

- Cloud provider or har

[2020-06-12 08:32] saschagrunert commented on #1354
Alright, sounds like a plan. How about this design proposal:

1. Find a flexible format for generally mapping release notes, for example:
[code]
2. Update `krel [release-notes,changelog]` and `release-notes` to be able to consume these mappings during release notes generation (recursively scraping directories and files)
3. Add a feature to be able to consume the mappings from a private remote reso

[2020-06-14 20:01] xmudrii commented on #821
/remove-lifecycle stale

[2020-06-15 07:32] justaugustus commented on #1320
Thanks for your work here, Carlos!
I'm going to assign this to you and I'd like you to take care of these next (in order of importance):
1. yaml-based config
2. Single tags appear to incorrectly upload to the root of `releaseDir`

/assign @cpanato

[2020-06-15 12:33] saschagrunert commented on #838
This should be fixed, the old release notes scripts do not exist any more on the master branch.

/close

[2020-06-15 12:33] #838 closed

[2020-06-15 13:08] neolit123 commented on #897
/remove-lifecycle stale

[2020-06-16 15:06] saschagrunert commented on #1354
I think we could solve multiple issues with the above mentioned proposal:

- Be able to change/fix release notes during the cycle, not only at the end
- Build features on top of the information what has changed (see https://github.com/kubernetes/enhancements/issues/1833)
- Add further additional information to release notes beside CVE information

The first rough idea (without proposing a KEP) wou

[2020-06-17 13:03] saschagrunert commented on #901
I think chis can be closed because we do not rely on the old scripts any more and the mentioned issues seem to be fixed.

/close

[2020-06-17 13:04] #901 closed

[2020-06-17 17:47] tpepper commented on #933
The frequency of this failure has decreased, but now given how we add commits and tags and push them, it is relatively fatal for a build workflow.  See https://github.com/kubernetes/release/pull/1358 and https://github.com/kubernetes/sig-release/issues/1119

[2020-06-17 18:12] tpepper commented on #933
And https://github.com/kubernetes/release/pull/1360

[2020-06-17 21:13] tpepper opened #1365 "release artifact consumers tracking policy (or disable tracking?)"
#### What happened:

While setting up a sendgrid account to do `krel announce` I noticed various tracking settings enabled by default.  Looking at our recent notifications (eg: https://groups.google.com/g/kubernetes-dev/c/PSacPKC46tc/m/8Y9G-FqSBgAJ) you can see that instead of directly linking to our artifacts they are wrapped in ct.sendgrid.net redirected links.  There is also a snippet of tracki