[2021-07-19 15:46] cpanato opened #2174 "Send Patch releases email notification in automated way"
#### What would you like to be added:

A way to send the Patch Release communication for a cherry-pick deadline (5 days before? and on the deadline day)

- use sendgrid to send the email
- setup a prow job to run it

Nice to have:
- Way to add some custom data if needed.

#### Why is this needed:

Currently, we are missing to send some patch release notifications to inform the community about the

[2021-07-19 15:47] cpanato commented on #2174
I have some in-progress work

I will finish and publish

/assign

[2021-07-19 15:47] cpanato commented on #2174
/priority important-soon

[2021-07-20 12:01] saschagrunert opened #2175 "Create tool for synchronizing `OWNERS` across repositories"
The main motivation behind this request is that our [`OWNERS`](https://github.com/kubernetes/community/blob/master/contributors/guide/owners.md#owners) (and [`OWNERS_ALIASES`](https://go.k8s.io/owners#owners_aliases)) are out of sync across multiple repositories. The goal is to write a tool which allows us to update (manually) and verify (via a prow periodic job) them across a set of defined repos

[2021-07-20 12:01] saschagrunert commented on #2175
/priority important-longterm

[2021-07-20 20:03] puerco commented on #1987
I will sync with @palnabarun this week to discuss some release strategies for artifacts
/remove-lifecycle stale

[2021-07-21 03:53] contributorpw commented on #1982
OK. This was killing me for a while. I have to do this on Ubuntu 20.04

[code]

Try before this
[code]

[2021-07-21 15:47] spiffxp commented on #1646
/remove-lifecycle stale
/close
I think my concerns about https://github.com/kubernetes/test-infra/issues/18808 still stand, but we can deal with them over there.

Based on the comment from @xmudrii above I think this has been resolved.  Please /reopen if I'm incorrect in this assumption.

[2021-07-21 15:47] #1646 closed

[2021-07-22 21:26] justaugustus commented on #852
Needs re-triage and docs
/remove-lifecycle rotten
/lifecycle frozen
/milestone v1.23

[2021-08-04 19:37] spiffxp commented on #281
/milestone v1.23

[2021-08-05 01:08] puerco opened #2191 "Version tag has extra characters in s390x binaries"
#### What happened:
During the `v1.22.0-rc.0` release cut, the verification of staged artifacts failed when checking the tags in the linux/s390x binaries. The string found inside of some files for this platform did not match the expected version tag and the release process exited.

Upon inspection, the binaries reported the correct version string using --version inside of an s390 VM, which points

[2021-08-05 01:10] puerco commented on #2191
Note that due to this bug, version checks in binaries are temporarily disabled:
https://github.com/kubernetes/release/pull/2176

[2021-08-06 01:10] aleon1220 commented on #1982
I will share a command that worked for me in **Ubuntu 18.04**

[code]

Source [Known Issues Google Cloud](https://cloud.google.com/compute/docs/troubleshooting/known-issues#keyexpired)

[2021-08-06 07:39] cpanato opened #2196 "Dependency update - Golang 1.16.7 / 1.15.15"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2157

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/uHACNfXAZqk/m/46sU9AeUAAAJ

SIG Release Slack thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1628235574145600

### Work items for `go1.16.7` / `go1.15.15`

- [x] `kube-cross` image update: https://github

[2021-08-06 10:20] cpanato commented on #2196
/priority important-soon

[2021-08-08 05:02] justaugustus commented on #2196
@cpanato -- As part of this issue, we should update the template to include a task for ensuring the go version for older releases is up-to-date for staging/publishing bot rules.

Example: https://github.com/kubernetes/kubernetes/pull/104226
FYI @kubernetes/publishing-bot-reviewers

[2021-08-08 11:46] cpanato commented on #2196
@justaugustus yep, I was waiting for the 1.19/1.20 get merged to open this PR, will add in the issue template

[2021-08-09 10:53] Dentrax opened #2202 "Running ./compile-release-tools throws "invalid: go.mod" error (go1.16.6)"
#### What happened:

[code]

#### What you expected to happen:

It should compile?

#### How to reproduce it (as minimally and precisely as possible):

Commit: 82b23b9320bf1562ce4bb2fd7b65fc7d07f191bf
[code]
#### Environment:

- Cloud provider or hardware configuration: `macOS 11`
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`): `Darwin XXX 20.2.0 Darwin Kernel Version 20.2.0: Wed De

[2021-08-09 14:26] cpanato commented on #2202
@Dentrax
I tried and works for me

[code]

[2021-08-09 14:28] cpanato commented on #2202
and with go1.16.7

[code]

[2021-08-09 14:31] cpanato commented on #2202
looks like some locks in your local machine, maybe you can check the processes or remove that lock and try again

[2021-08-10 14:41] ShivamTyagi12345 commented on #1883
hey @saschagrunert ,I am a beginner to this project,May i help with this issue?

[2021-08-11 07:29] saschagrunert commented on #1883
Hey @ShivamTyagi12345, thank you for taking initiative on it. I think before moving on we should discuss the target outcome again in one of our SIG Release Engineering meetings (see https://github.com/kubernetes/release/pull/2074#issuecomment-846326939). I'm not sure if that's a good first issue any more because of the impact and especially since Google Cloud Build access would be required. Removi

[2021-08-11 10:51] mritunjaysharma394 commented on #2175
Hi @saschagrunert, I would like to work on this tool and according to my naive understanding, should this tool be somewhat like a GitHub action or do we have different expectations?

Thanks!

/assign

[2021-08-11 12:34] saschagrunert commented on #2175
Sounds great! Yeah the tool should be able to run locally and in a CI, which is usually prow in our case.

[2021-08-11 14:10] mritunjaysharma394 commented on #2175
Thanks a lot @saschagrunert! I will try to draft my approach and share the initial proposal may be on the slack #sig-release as well, looking forward making this interesting tool :partying_face:

[2021-08-14 16:09] justaugustus commented on #2196
This looks complete.
/close

[2021-08-14 16:10] #2196 closed

[2021-08-16 07:48] saschagrunert opened #2207 "Add release cycle support to `schedule-builder`"
We do not have a template for creating new release cycles ([like v1.23](https://github.com/kubernetes/sig-release/blob/master/releases/release-1.23/README.md)), which means that we copy the process from the previous document to the next one.

The idea is to add a new functionality to [`schedule-builder`](https://github.com/kubernetes/release/tree/master/cmd/schedule-builder), which allows to creat

[2021-08-16 08:32] saschagrunert commented on #2207
/priority important-soon

[2021-08-16 21:29] justaugustus commented on #2157
This should be complete / is already superseded by https://github.com/kubernetes/release/issues/2196.
/close

[2021-08-16 21:29] #2157 closed

[2021-08-16 22:26] jsoref commented on #1982
Note that `apt-key` is deprecated -- https://www.linuxuprising.com/2021/01/apt-key-is-deprecated-how-to-add.html --  so you really shouldn't recommend using it (this is more or less why I don't).

[2021-08-17 08:28] cpanato commented on #2169
/priority important-soon

[2021-08-18 13:50] mritunjaysharma394 commented on #2207
Understanding it a little bit, I have realised that this mainly require changes in [model.go](https://github.com/kubernetes/release/blob/eeb22d265892bbe2aa2ad3abc1e581f0c1630e79/cmd/schedule-builder/cmd/model.go#L20) like this below where in addition to Patch Schedule we can have a Release schedule struct? https://github.com/kubernetes/release/blob/eeb22d265892bbe2aa2ad3abc1e581f0c1630e79/cmd/sche

[2021-08-18 14:00] saschagrunert commented on #2207
@mritunjaysharma394 yes I think adding a new data model could be a good starting point. This model has to be transferred into a template which should look similar to: https://github.com/kubernetes/sig-release/blob/master/releases/release-1.23/README.md

For example, a `timeline` could be a slice of `events` happening during the release, whereas an `event` represents the `What | Who | When | WEEK |

[2021-08-18 14:02] mritunjaysharma394 commented on #2207
Thanks a lot for the suggestion @saschagrunert, I will try to create a WIP PR today to understand and learn more deeply, thank you for the help!

/assign

[2021-08-19 09:20] Slyke commented on #1982
@jsoref what should we use instead of this command?
[code]

[2021-08-19 10:21] contributorpw commented on #1982
Just put the key to the end directory https://github.com/kubernetes/release/issues/1982#issuecomment-883865752

[2021-08-19 11:25] jsoref commented on #1982
You put it in the appropriate directory (usually trusted.gpg.d) with the appropriate file extension (.gpg for binary and .asc for the older armored text format).

https://github.com/kubernetes/release/issues/1982#issuecomment-838930333

[2021-08-20 00:29] Slyke commented on #1982
So:
[code]

[2021-08-20 00:32] jsoref commented on #1982
It depends on which edge case you're running into. The file extension absolutely matters. If it's a binary (and that one is), then `.gpg` is required, if it's text, then `.asc` is required. If you have a repository which has pinned its key to a specific absolute path on your file system, then you need to dump the key exactly there, otherwise, no the filename doesn't matter.

[2021-08-20 00:41] Slyke commented on #1982
Yep, this seems to be working for me:
[code]

Note that I had to use `/etc/apt/trusted.gpg.d/k8s-apt-key.gpg` and not `/etc/apt/trusted.gpg/k8s-apt-key.gpg`. The folder `/etc/apt/trusted.gpg` didn't exist on my system. This is part of a larger bash script that installs K8s on fresh systems.

[2021-08-20 00:44] jsoref commented on #1982
Oh, sorry, I missed that. Yes, the debian* design uses `.d` to indicate a directory that can contain multiple files that are collectively used as if their contents were part of the single file without the `.d`.

* Probably used elsewhere too…

[2021-08-21 20:25] #1384 closed

[2021-08-23 08:52] xmudrii commented on #2076
I think this is still relevant.
/remove-lifecycle stale

[2021-08-24 07:11] saschagrunert commented on #1837
@puerco is this one done?

[2021-08-25 02:32] justaugustus commented on #2169
Notice sent to k-dev: https://groups.google.com/g/kubernetes-dev/c/F_jcnGZtNas
Nice work, everyone!
/close

[2021-08-25 02:32] #2169 closed

[2021-08-25 14:57] saschagrunert opened #2225 "Release notes API rate limiting throws 403"
The release notes tool seems to get a new API response from GitHub if the rate limit kicks in:

[code]

Ref: https://github.com/cri-o/cri-o/runs/3422342329?check_suite_focus=true

It seems that we can mitigate by checking for the error and waiting a bit longer before trying it again.

[2021-08-25 14:58] saschagrunert commented on #2225
/help
/priority important-soon
/good-first-issue

[2021-08-25 14:58] saschagrunert commented on #2225
cc @kubernetes/release-managers

[2021-08-25 15:58] sandipanpanda commented on #2225
Hi there, I am a new contributor to Kubernetes and hopped in seeing good first issue label, can you please give a little insight on how to get started working on this issue?

[2021-08-25 16:09] saschagrunert commented on #2225
Sounds great @sandipanpanda, thank you for taking this opportunity. I think a good starting point would be to reproduce the issue with the `release-notes` tool: https://github.com/kubernetes/release/tree/master/cmd/release-notes

After that, we can try to catch the error in the retry logic of the release notes gatherer, which is using the go-github API. The retry logic can be found there: https://

[2021-08-25 22:16] justaugustus opened #2227 "Signing artifacts with `cosign`"
#### What would you like to be added:

Signing artifacts with `cosign`

(I'm opening a placeholder to capture work. Let's capture thoughts here and we'll iterate over the issue description together.)

- [x] Grant Release Manager Admins `roles/cloudkms.signerVerifier`: https://github.com/kubernetes/k8s.io/pull/2614
- [x] Generate a key for testing: https://github.com/kubernetes/release/pull/2226

#

[2021-08-28 19:44] #520 closed

[2021-08-31 19:46] puerco commented on #2114
OK, I was investigating this and just like @cici37 pinted out. I think the file that caused the error was indeed edited by hand and not inside the release notes flow. Ie, the bad yaml was not introduced into the file by hand as the isse states but rather in a manual edit. Here's the commit history for that particular map file:

https://github.com/kubernetes/sig-release/commits/master/releases/rele

[2021-08-31 23:00] Damans227 commented on #2114
Hi @puerco Unfortunately, I don't remember whether I manually edited this PR outside of `Krel` workflow, sorry! But, the subject line of that commit which you have pointed out looks unusual (Update pr-101496-map.yaml). Lemme know how else I can help.

[2021-09-01 13:26] rayandas commented on #2225
Hi @sandipanpanda are you working on this issue? If not then I can take this up and give it a try.

[2021-09-02 20:50] PushkarJ opened #2234 "Dynamically updating latest version URL for sbom.k8s.io"
#### What would you like to be added:

Currently this command allows fetching the SBOM for a particular release like this:
`curl -L https://sbom.k8s.io/v1.22.1/release`

Is it possible to support this `curl -L https://sbom.k8s.io/latest/release` and then let it redirect automatically, to whichever is the latest semver release ?

#### Why is this needed:

Although this can be done canonically with

[2021-09-02 21:01] justaugustus commented on #2234
/help
@kubernetes/release-engineering Associates -- this could be a good one to pick up!

[2021-09-03 21:23] JamesLaverack opened #2235 "Show diff vs original release note text in release note pull requests"
#### What would you like to be added:

When opening a pull request for release notes (generated via `krel`) where text has been edited in a mapping file either include or annotate with the diff vs the original text on the k/k pull request.

#### Why is this needed:

When reviewing release notes pull request during a release you can see the generated markdown file and the mapping files that show th

[2021-09-06 19:27] #1546 closed

[2021-09-07 18:48] cpanato commented on #1935
/remove-lifecycle stale
/assign

[2021-09-08 09:37] cpanato commented on #1935
did some changes and now the color does not show up, but the logs are slight different, not sure if that is ok, so checking

[code]

before:
![Screenshot 2021-09-08 at 11 36 53](https://user-images.githubusercontent.com/4115580/132485434-62a8298f-d374-4b6f-a24c-e827f6cb9315.png)

after:

![Screenshot 2021-09-08 at 11 37 10](https://user-images.githubusercontent.com/4115580/132485469-5ed7498e-d8fd-

[2021-09-08 17:30] spiffxp commented on #1711
Is the checklist above accurate for what remains to be done?

[2021-09-09 20:14] cpanato opened #2238 "Dependency update - Golang 1.17.1 /1.16.8"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2196

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/dx9d7IOseHw/m/KNH37k37AAAJ

SIG Release Slack thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1631260764156400

### Work items for `go1.17.1` / `go1.16.8`

- [x] `kube-cross` image update: https://github.

[2021-09-10 08:03] cpanato commented on #2238
/priority important-soon

[2021-09-10 13:02] #1699 closed

[2021-09-10 19:10] wilsonehusin opened #2241 "relnotes: Promotion of `--list-v2` to be default behavior"
#### What would you like to be added:

#1888 introduces `--list-v2` flag for release notes with performance improvements and bug fix. This has been the preferred method for collecting release notes for one (and a half-ish) release cycle.

I personally feel comfortable with promoting this into default behavior and begin "fix and roll forward" for any bug which shows up in the future, thought I woul

[2021-09-10 19:12] wilsonehusin commented on #2241
I keep forgetting that `/cc`doesn't work on issues lol

cc @puerco @cici37 @pmmalinov01

[2021-09-10 19:15] wilsonehusin commented on #2235
I'd love for this to happen! Happy to include it as a milestone for #1889 too if it fits.

[2021-09-10 19:16] wilsonehusin commented on #1889
/reopen

👋🏼 I'm back, will be updating this with  more actionable steps to make this happen 😄

[2021-09-10 19:30] puerco commented on #1889
/honk !

[2021-09-10 21:14] cici37 commented on #1889
/cc

[2021-09-11 15:42] palnabarun commented on #2234
/assign

[2021-09-14 18:56] justaugustus commented on #2225
This just burned a stage and should have higher priority.
/remove-priority important-soon
/priority critical-urgent
/milestone v1.23
cc: @kubernetes/release-engineering
ref: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1631645686102400?thread_ts=1631606375.087500&cid=CJH2GBF7Y

[2021-09-14 19:03] justaugustus opened #2248 "Integrate file promotion into k/k release process"
#### What would you like to be added:

Integrate file promotion into k/k release process
(peeling this off of the tracking issue here: https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/266)

#### Why is this needed:

Umbrella for automated file promotion: https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/413

/assign

[2021-09-14 23:16] PushkarJ commented on #2234
@palnabarun I was playing around with this some more and it seems like SBOM is generated for alpha releases as well. e.g. `v1.23.0-alpha.2`.

Wondering if there is a URL for pre-release versions, similar to how we get stable release dynamically using this: `curl -Ls https://dl.k8s.io/release/stable.txt`

[2021-09-15 16:10] cpanato opened #2254 "[Placeholder] Dependency update - Golang 1.17.2 /1.16.9"
When we have new go updates for 1.17 and 1.16, Ww have a task to update the tag image for kube-cross in the release-1.21 branch to use a kube-cross with the appropriate tag for that branch, to follow the pattern of the others

### Tracking info

Link to any previous tracking issue:

Golang mailing list announcement:

SIG Release Slack thread:

### Work items for `gox.y.z`

- [ ] `kube-cross` image

[2021-09-16 11:40] neolit123 commented on #1913
/remove-lifecycle stale

[2021-09-20 09:58] #1993 closed

[2021-09-21 04:03] wilsonehusin opened #2258 "relnotes: allow editing to pause and continue"
#### What would you like to be added:

As a release notes reviewer, I would like to have the ability to pause an continue working, such that interruption will not erase my progress.

#### Why is this needed:

Over the past few cycles of reviewing release notes, this hiccup has costed several hours lost from various interruptions, such as program panic and editor errors during `krel release-notes -

[2021-09-21 17:21] BenTheElder commented on #1935
I think the previous format was a bit easier to read but at least this one will highlight.

We're still relying on the bash hack to deal with lack of support for disabling color as well, which is not great. IMHO that should work regardless of format but ...

[2021-09-21 18:13] cici37 commented on #2241
We have been trying with `--list-v2` since last release cycle(1.22) and it has been working great :blush:

[2021-09-21 22:36] rifelpet commented on #2169
I see the kubekins-e2e `experimental` image variant is still on go 1.16. Is that intentional or will that be updated to 1.17 at some point?

https://github.com/kubernetes/test-infra/blob/ce880de448fef7145649d682353dfa80f4b542d2/images/kubekins-e2e/variants.yaml#L4

[2021-09-22 12:00] cpanato commented on #1935
agree, but looks like that is some way that the login lib works, I tried to make it similar but looks like when you disable it changes for format, I will dig a bit more, but if this is ok to we have I will move forward and make the changes in our side

thanks for your feedback @BenTheElder

[2021-09-23 06:32] puerco opened #2264 "Automatically label CVE covert PRs with area/cve"
#### What would you like to be added:

SIG Security has proposed a new label `area/cve` to mark all PRs and issues related to CVEs:
ref: https://github.com/kubernetes/test-infra/pull/23428

Once this proposal merges and is enabled in all repos, we should modify the release process to stamp all pull requests in the CVE data files as `area/cve` when reading the vulnerability information.

#### Why i

[2021-09-23 14:17] PushkarJ commented on #2264
@puerco is request perhaps similar to this : https://github.com/kubernetes/sig-security/issues/1

[2021-09-23 21:35] puerco commented on #2264
It's an enabler for kubernetes/sig-security#1. Once we have this geature in place, you'll get the CVE pull requests automatically labeled, saving you from "_Search and Identify closed issues that have a CVE ID_" for any future CVE in Kubernetes. They will get tagged at release time, which is usually right after the embargo is lifted.

If you want, add this issue to your umbrella we can work SIG to

[2021-09-28 03:27] puerco opened #2267 "SLSA Level 1 compliance in the Kubernetes Release Process"
## Justification and Goal

Building on the [SIG Release roadmap and vision](https://github.com/kubernetes/sig-release/blob/master/roadmap.md) strategy, we would like to ensure that our release process is fully [SLSA](https://slsa.dev/) compliant. Our north star vision document calls to _"establish a consumable, introspectable, and secure supply chain for Kubernetes"_ and Release Engineering would

[2021-10-01 22:48] cici37 commented on #1889
Would you consider to add more test cases for release notes? Seems like lack of test coverage right now^^

[2021-10-01 23:09] puerco commented on #1889
Most definitely, it is something I've also wanted to do for a long time.

[2021-10-01 23:20] cici37 opened #2272 "Add test cases for krel release notes"
#### What would you like to be added:
Add test cases for krel release notes

#### Why is this needed:
Seems lack of test coverage for release notes right now.

[2021-10-01 23:21] cici37 commented on #1889
Ref: https://github.com/kubernetes/release/issues/2272

[2021-10-05 08:05] cpanato commented on #2254
/priority important-soon

[2021-10-05 08:06] cpanato commented on #2254
Pre announcement for the go patch releases: https://groups.google.com/g/golang-announce/c/7efr4VBoZIw/m/fr7mKcx8BAAJ?utm_medium=email&utm_source=footer

[2021-10-05 08:06] cpanato commented on #2238
/close

[2021-10-05 08:06] #2238 closed

[2021-10-05 08:47] saschagrunert commented on #1837
@puerco can we close this one as done?

[2021-10-05 18:51] CecileRobertMichon opened #2279 "General promote-images tool for k8s image maintainers"
#### What would you like to be added:

Currently, the krel promote-images tool only works for kubernetes images. It would be great to extend it to other projects in k8s and k8s-sigs that have staging images hosted in k8s.gcr.io.

Slack thread for context: https://kubernetes.slack.com/archives/CCK68P2Q2/p1629334254082700

[2021-10-05 18:51] CecileRobertMichon commented on #2279
/assign

[2021-10-07 21:21] justaugustus opened #2284 "CVE notes are not properly captured as subheadings of the respective release in changelogs"
#### What happened:

Noticed in https://github.com/kubernetes/kubernetes/pull/105532#pullrequestreview-774070335, CVEs and additional info related to a release should be grouped as a subheading for the correct changelog section.

cc: @kubernetes/release-engineering @ialidzhikov
/help

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anythi

[2021-10-08 02:33] mengjiao-liu commented on #2254
Go versions 1.17.2 and 1.16.9 have been released.
see https://groups.google.com/g/golang-announce/c/AEBu9j7yj5A

/assign

[2021-10-10 15:38] developer-guy opened #2286 "sign SBOMs through cosign tool right after generated it through bom tool"
#### What would you like to be added:

We talked about a bit of generating/signing process of SBOMs on the `sigstore` Slack channel. In this talk @SantiagoTorres and @nadgowdas made a really valuable comment:

👉  https://sigstore.slack.com/archives/C01D0PA9QKF/p1632149577045600

There is a tool called [Syft](https://github.com/anchore/syft) created by the Anchore team. They also started to work fo

[2021-10-10 20:40] dlorenc commented on #2267
cc @dekkagaijin @mattmoor @n3wscott for this one. The new cosign libraries are coming along great!

[2021-10-13 16:09] dlorenc commented on #2286
Cc @mattmoor and @dekkagaijin

[2021-10-18 08:28] cpanato commented on #2254
all work is done
thanks @mengjiao-liu

/close

[2021-10-21 23:06] sftim commented on #2227
My question: does this change need a KEP?

[2021-10-22 00:34] #2073 closed

[2021-10-23 00:04] justaugustus commented on #1636
Starting some updates to the package specs here: https://github.com/kubernetes/release/pull/2295

[2021-11-02 19:57] BenTheElder opened #2302 "integration tests hit github api rate limit"
#### What happened:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/release/2301/pull-release-integration-test/1455613165369823232

#### What you expected to happen:

Tests should not flake

#### How to reproduce it (as minimally and precisely as possible):

Run the integration tests

#### Anything else we need to know?:

Probably the integration tests should not depend on the real pu

[2021-11-03 06:52] JamesXNelson commented on #1982
@contributorpw already answered it and shared perfect workaround for me here: curl https://packages.cloud.google.com/apt/doc/apt-key.gpg -o /usr/share/keyrings/cloud.google.gpg

(the answer above with hearts on it, go add one if it works for you!)

[2021-11-03 08:54] saschagrunert commented on #2191
I think we could evaluate if it's worth to switch to qemu-* for the binary tests. This way we can also check if the binary works in general and verify the correct version number, like:
[code]

[2021-11-03 15:38] #1889 closed

[2021-11-03 18:12] mritunjaysharma394 commented on #2175
Hi @saschagrunert , extremely sorry for getting back to this so late, I will begin working on this but would love to understand more on couple of things:
* when we say to "write a tool which allows us to update (manually)", we mean we will supply this tool some input (yaml? in our case?) where there shall be updated names and maybe on pushing  (possible trigger for prow?) the yaml, we run our peri

[2021-11-04 17:40] cpanato opened #2304 "Dependency update - Golang 1.17.3 /1.16.10"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2254

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/0fM21h43arc/m/a2Hu_dWRAAAJ

SIG Release Slack thread: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1636047728086300

### Work items for `go1.17.3`

- [x] `kube-cross` image update: https://github.com/kubernete

[2021-11-04 17:43] cpanato commented on #2304
/priority important-soon

[2021-11-05 09:37] saschagrunert commented on #2175
Hey :wave:,

Yes, I would expect that we use the [sigs.yaml](https://github.com/kubernetes/community/blob/6042eed74ab108c617af1162b85f7fdb3f9c2c27/sigs.yaml#L1909-L1924) as basic input. :+1:

We can create a periodic prow job which fails to inform us to take action in the first place. Increasing the automation later on seems like a reasonable next step.

How about those: https://github.com/kuberne

[2021-11-06 15:30] mritunjaysharma394 commented on #2175
Thanks a lot, @saschagrunert for all the guidance, I will create a WIP PR against k8s/test-infra as soon as a basic prototype gets ready!

[2021-11-08 16:27] saschagrunert opened #2307 "Dependency update - Golang 1.18.0"
### Tracking info

Golang mailing list announcement:

- go1.18beta1: https://groups.google.com/g/golang-announce/c/eAjK4Oezs_A
- go1.18beta2: https://groups.google.com/g/golang-announce/c/O0BMo6p-R4c/m/PYbHugytAQAJ
- go1.18rc1: https://groups.google.com/g/golang-announce/c/QHL1fTc352o
- go1.18: https://groups.google.com/g/golang-announce/c/6gJm7mgF6rw

SIG Release Slack thread: https://kubernetes.

[2021-11-10 15:01] justaugustus opened #2312 "Arch-specific debian-iptables:bullseye-v1.0.0 images were not promoted by digest"
#### What happened:

ref: https://github.com/kubernetes/k8s.io/pull/3061#issuecomment-965036753, https://github.com/kubernetes/release/pull/2210, https://github.com/kubernetes/k8s.io/pull/2723

/assign

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:

- Cloud provider or hardware configur

[2021-11-10 18:41] mritunjaysharma394 commented on #2175
Hi @saschagrunert, the prototype is almost ready but I had one more question. With which file or input should we match the out of sync `OWNERS` and `OWNERS_YAML` to check the condition of whether they are out of sync or not? Do we plan to modify the existing `sigs.yaml` with names of updated `OWNERS` for it or there exists somewhere the up-to-date `OWNERS` file? Thanks a lot!

[2021-11-11 00:14] shibumi commented on #2227
A few thoughts on this:

Right now, there is a cosign test key for signing. It would be nice, if we could switch to keyless signing via workload identities.
I wrote  a little blog article about how to sign BLOBs with cosign keyless: https://shibumi.dev/posts/first-look-into-cosign/

The next cosign version should be able to:

* create a keyless signature for any artifact
* store the signature on d

[2021-11-11 00:29] BenTheElder commented on #2227
+1, one concern I have is making sure that the signatures are meaningful, having workload identity based signatures from the relatively locked down release process would provide some assurances.

build / publish actually runs in Google Cloud Build currently anyhow, FWIW. (or CI builds happen in our own Kubernetes based CI, which has GKE workload identity available).

Definitely smells like a KEP t

[2021-11-11 01:34] shibumi commented on #2227
@BenTheElder  Just for the record: https://github.com/google-github-actions/auth this might be interesting then, right?

[2021-11-11 01:40] BenTheElder commented on #2227
Er I don't think so for the main project 😅
The main Kubernetes project isn't using GitHub Actions.
We use:
- https://github.com/kubernetes/test-infra/tree/master/prow
- https://cloud.google.com/build

Some of the smaller repos use GitHub Actions for various things but not Kubernetes releases or CI builds.

[2021-11-11 08:22] saschagrunert commented on #2175
That's the tricky part. I would just report that the aliases differ if that's the case. How a resolution should look like, is something we can resolve by defining a "main alias" in k/community or somewhere else later on.

[2021-11-11 21:18] justaugustus commented on #2267
@kubernetes/release-engineering -- FYI that SLSA provenance v0.2 is out and our tooling should be updated to conform to that https://slsa.dev/provenance/v0.2.

See https://github.com/slsa-framework/slsa/blob/main/docs/provenance/v0.2.md#migrating-from-01 for details.

[2021-11-11 21:38] justaugustus commented on #2312
Opened https://github.com/kubernetes/k8s.io/pull/3067 for this.

[2021-11-11 22:29] puerco commented on #2267
@justaugustus  I have been tracking the road to 0.2 and I have that in the works already. But I want to merge #2300 first to complete the chain and PR the format change by itself.

[2021-11-12 11:52] palnabarun commented on #2202
@Dentrax -- are you still facing the same issue?

/priority awaiting-more-evidence

[2021-11-12 12:51] Dentrax commented on #2202
Oh! I forgot here. Just tried it now and it seems working well:
[code]
We can close this issue! 🙏

[2021-11-12 12:51] #2202 closed

[2021-11-12 12:58] #2312 closed

[2021-11-14 08:38] #2125 closed

[2021-11-14 11:00] palnabarun commented on #1836
/lifecycle rotten

[2021-11-14 11:00] palnabarun commented on #1836
/remove-lifecycle rotten

[2021-11-17 08:37] cpanato commented on #2304
all the work is done

/close

[2021-11-17 08:37] #2304 closed

[2021-11-17 09:11] #2225 closed

[2021-11-17 09:11] #2302 closed

[2021-11-19 17:48] shawnz commented on #2099
@neolit123 yum is simply a simlink to dnf on RHEL8-based systems. I invoke the command with yum and see the same conflict in which it tries to install version 1.18.4 if the desired version is not explicitly specified during updates.

[2021-11-19 22:31] #1494 closed

[2021-11-19 22:31] #1693 closed

[2021-11-22 08:28] saschagrunert commented on #2076
/remove-lifecycle stale

[2021-11-24 05:00] palnabarun opened #2332 "Automate tasks post branch cut"
Following on from https://kubernetes.slack.com/archives/CJH2GBF7Y/p1637728877246300?thread_ts=1637714492.229600&cid=CJH2GBF7Y, there is a need to investigate the possibility of automating the following steps in order.

From @justaugustus --
[code]

#### Why is this needed:

To make things simpler and seamless for Release Managers.

[2021-11-24 05:01] palnabarun commented on #2332
/priority important-longterm

[2021-11-28 06:38] #2013 closed

[2021-11-29 08:43] xmudrii commented on #2076
@saschagrunert @puerco Do we have some conclusion on this issue? I agree with Sascha on this:

We can always start with basic functionality (auto promotion) and then extend it later with signing. Considering that we can get GitHub token in the Cloud Run (at least AFAIK), I think fixing this should be doable.

[2021-11-29 10:17] saschagrunert commented on #2286
The initial draft of the sining KEP is proposed in https://github.com/kubernetes/enhancements/pull/3061

[2021-11-29 10:17] saschagrunert commented on #2227
The initial draft of the sining KEP is proposed in https://github.com/kubernetes/enhancements/pull/3061

[2021-11-29 10:17] saschagrunert commented on #914
The initial draft of the sining KEP is proposed in https://github.com/kubernetes/enhancements/pull/3061

[2021-11-30 11:31] xmudrii opened #2337 "Fix merging commits from remote when doing release step"
#### What happened:

This issue is a follow-up of Slack discussion around fixing publishing-bot failures to push release-1.23 branch: https://kubernetes.slack.com/archives/C2C40FMNF/p1638139647251300

Starting with #2128 and #2131, we're merging any commits from remote with staged k/k repo when running the release step. For the release branch, this is a new addition. For the master branch, this ap

[2021-12-01 18:47] cici37 opened #2338 "krel will create PR with empty changes"
#### What happened:
When create release notes draft pr with krel command, the PR will be raised with empty changes.

#### What you expected to happen:
Inform the user there is no changes and stop from further raising the PR.

#### How to reproduce it (as minimally and precisely as possible):
Use command like `krel release-notes --create-draft-pr --fix --list-v2` to generate release notes draft pr

[2021-12-01 18:48] cici37 commented on #2338
/cc @wilsonehusin

[2021-12-01 18:49] wilsonehusin commented on #2338
🤔 do you have an example?

[2021-12-01 18:57] cici37 commented on #2338
https://github.com/kubernetes/sig-release/pull/1763

[2021-12-03 00:57] puerco commented on #2337
We are going over a solution on this thread:
https://kubernetes.slack.com/archives/C2C40FMNF/p1638482194382700

One proposed fix would be to rework the merging logic to get the merge commits' parents in the right order. But we are also in the middle of a broader discussion of reworking the way and moment we cut branches which may remove the need for merges completely.

[2021-12-03 23:41] puerco commented on #1976
/reopen

[2021-12-04 09:20] cpanato opened #2341 "Dependency update - Golang 1.17.4 /1.16.11"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2304

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/Xcefh1Tfj-U

SIG Release Slack thread:

### Work items for `go1.17.4`

- [ ] `kube-cross` image update:

  - [ ] image promotion:

- [ ] `go-runner` image update:

  - [ ] image promotion:

  - [ ] image promotion

[2021-12-04 09:25] cpanato commented on #2341
/priority important-soon

[2021-12-05 00:52] justaugustus commented on #852
/unassign
/help
/milestone clear

[2021-12-05 00:55] justaugustus commented on #1987
/help

[2021-12-09 15:14] cpanato opened #2349 "Dependency update - Golang 1.17.5 /1.16.12"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2341

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/hcmEScgc00k/m/ZWnOjeY4CQAJ

SIG Release Slack thread: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1639062835057200

### Work items for `go1.17.5`

- [x] `kube-cross` image update: https://github.com/kubernete

[2021-12-09 22:10] sozercan commented on #1833
/remove-lifecycle stale

[2021-12-10 02:39] liggitt commented on #2349
I think we also need to update https://github.com/golang/net since that's the source and fix of the CVE (golang vendors golang.org/x/net)

[2021-12-10 13:35] cpanato commented on #2349
/priority important-soon

[2021-12-10 18:02] puerco commented on #2337
@xmudrii I think we can close this one with #2348 ?

[2021-12-10 20:53] xmudrii commented on #2337
@puerco I would leave it open until we don’t have a permanent fix.

[2021-12-13 11:46] justaugustus commented on #2279
Completed in https://github.com/kubernetes/release/pull/2280, https://github.com/kubernetes-sigs/promo-tools/pull/458, and https://github.com/kubernetes-sigs/promo-tools/pull/460.

Docs here: https://sigs.k8s.io/promo-tools/docs/promotion-pull-requests.md

Thanks for working on this, Cecile!
/close

[2021-12-13 11:47] #2279 closed

[2021-12-13 11:53] justaugustus commented on #1976
/remove-lifecycle rotten

[2021-12-13 20:04] justaugustus commented on #2341
Remaining item is the publishing-bot rule updates: https://github.com/kubernetes/kubernetes/pull/106944
This issue has been superseded by https://github.com/kubernetes/release/issues/2349.
/close

[2021-12-14 02:26] trishankatdatadog commented on #2227
Would be a great pioneering use case for [sigstore trust delegations](https://docs.google.com/document/d/1lNW2lNu9QmDhCgXJaNTYxBUzCjuWS2wj8fCHSadbzxQ/edit?usp=sharing)! @asraa

[2021-12-14 10:07] cpanato commented on #2349
all work is done
/close

[2021-12-14 10:07] #2349 closed

[2021-12-14 20:08] justaugustus commented on #2307
/assign

[2021-12-15 18:37] leonardpahlke opened #2358 "ci-signal-reporter, Write report to file"
#### Write report to file
:green_circle: ci-signal-report-cli

**Summary:** The report output is getting written to a local file which can be shared instead of plain text.

<details>
<summary>Current situation</summary>
Currently the ci-reporter CLI only print the report to the console.
</details>

<details>
<summary>Desired outcome</summary>
The ci reporter CLI should be able to create a new loca

[2021-12-15 18:38] leonardpahlke opened #2359 "ci-signal-reporter, Markdown formatted print out"
#### Markdown formatted print out

:green_circle: ci-signal-report-cli

**Summary:** Markdown used to highlight report printing

<details>
<summary>Current situation</summary>
Currently the report is getting printed out in plain text format without any highlighting.
</details>

<details>
<summary>Desired outcome</summary>
Format report print out to highlight it more and shorten it in size (named l

[2021-12-15 18:38] leonardpahlke opened #2360 "ci-signal-reporter, JSON formatted print out"
#### JSON formatted print out

:green_circle: ci-signal-report-cli

**Summary:** Report printout and data structs allows json format

<details>
<summary>Current situation</summary>
Currently the report only supports plain text print outs and does not define JSON in data structs (needed: `json:"title"`).
</details>

<details>
<summary>Desired outcome</summary>
It should be possible to print the ci

[2021-12-15 18:39] leonardpahlke opened #2361 "ci-signal-reporter, Specify reporter kind"
#### Specify reporter kind

:green_circle: ci-signal-report-cli

**Summary:** Select a reporter to generate only a testgrid or github report

<details>
<summary>Current situation</summary>
Currently a github report & testgrid report is getting generated. This leads to printing a buch of stuff if only the testgrid summary is needed (& vise versa)
</details>

<details>
<summary>Desired outcome</summ

[2021-12-15 18:39] leonardpahlke opened #2362 "ci-signal-reporter, Detailed testgrid report"
#### Detailed testgrid report

:green_circle: ci-signal-report-cli

**Summary:** Give detailed information about current testgrid jobs

<details>
<summary>Current situation</summary>
Currently only a testgrid summary is getting provided which does show testgrid job insights.
</details>

<details>
<summary>Desired outcome</summary>
Similar to the [updated ci signal report](https://github.com/leonar

[2021-12-15 18:39] leonardpahlke opened #2363 "ci-signal-reporter, Generic report template"
#### Generic report template

* :green_circle: ci-signal-report-cli

**Summary:** Use a generic report template

<details>
<summary>Current situation</summary>
Currently the testgrid and github report is customized. Its not abstracted.
</details>

<details>
<summary>Desired outcome</summary>
A generic template should be defined which can be used to print github and testgrid reports.
</details>
<br

[2021-12-15 18:40] leonardpahlke opened #2364 "ci-signal-reporter, Tablewriter report printer"
#### Tablewriter report printer

* :green_circle: ci-signal-report-cli

**Summary:** Print reports in a ascii table [tablewriter](https://github.com/olekukonko/tablewriter)

##### Current situation
Currently the reports are being printed as a list

##### Desired outcome
Printing the report in a table would structure the report and improve visibility.

**Benefits:** Simpler way to display data

**C

[2021-12-15 18:42] leonardpahlke commented on #2364
/assign
/cc @kubernetes/ci-signal

[2021-12-15 18:43] leonardpahlke commented on #2363
/assign
/cc @kubernetes/ci-signal

[2021-12-15 18:43] leonardpahlke commented on #2362
/assign
/cc @kubernetes/ci-signal

[2021-12-15 18:47] leonardpahlke commented on #2360
/cc @kubernetes/ci-signal

[2021-12-15 18:47] leonardpahlke commented on #2361
/cc @kubernetes/ci-signal

[2021-12-15 18:47] leonardpahlke commented on #2358
/cc @kubernetes/ci-signal

[2021-12-15 18:47] leonardpahlke commented on #2359
/cc @kubernetes/ci-signal

[2021-12-16 12:18] leonardpahlke commented on #2360
/assign

[2021-12-16 15:00] leonardpahlke commented on #2363
/assign

[2021-12-16 15:00] leonardpahlke commented on #2364
/assign

[2021-12-16 15:00] leonardpahlke commented on #2361
/assign

[2021-12-16 19:13] leonardpahlke commented on #2362
/assign

[2021-12-21 12:22] cpanato commented on #1935
/remove-lifecycle stale

[2022-01-02 09:06] #2191 closed

[2022-01-03 14:56] reylejano commented on #1837
/remove-lifecycle stale

[2022-01-04 06:26] justaugustus commented on #914
Closing in favor of https://github.com/kubernetes/enhancements/issues/3031 and https://github.com/kubernetes/release/issues/2227.
/close

[2022-01-04 06:27] #914 closed

[2022-01-07 01:29] justaugustus opened #2379 "Dependency update - Golang 1.17.6 / 1.16.13"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2349

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/95ZD3rKn4DI

SIG Release Slack thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1641519008009900

### Work items for `gox.y.z`

- [x] `kube-cross` image update: https://github.com/kubernetes/release/pull/2

[2022-01-07 01:29] justaugustus commented on #2379
@kubernetes/release-engineering -- anyone interested in taking this?

[2022-01-07 02:36] palnabarun commented on #2379
/assign

[2022-01-09 03:26] JamesLaverack commented on #2235
/remove-lifecycle rotten

[2022-01-10 16:24] puerco commented on #1837
The SBOM project is done. We are now producing SBOMs with all k8s releases:

https://sbom.k8s.io/v1.23.0/release
https://sbom.k8s.io/v1.23.0/source

And we have spun off the took into its own repository: https://sigs.k8s.io/bom

Thanks for all your help and support, everybody! :partying_face:

/close

[2022-01-10 16:24] #1837 closed

[2022-01-11 08:49] saschagrunert opened #2383 "Implement container image signing MVP (KEP-3031)"
We're now able to implement a Minimum Viable Product (MVP) after the merge of the release artifact signing KEP proposal:
- https://github.com/kubernetes/enhancements/issues/3031
- https://github.com/kubernetes/enhancements/pull/3061

This issue is part of https://github.com/kubernetes/release/issues/2227, which covers the whole topic from a release engineering perspective.

---

As a first iterati

[2022-01-11 08:50] saschagrunert commented on #2227
Tracking the first implementation in https://github.com/kubernetes/release/issues/2383

[2022-01-11 12:54] leonardpahlke commented on #2359
/kind feature

[2022-01-11 12:54] leonardpahlke commented on #2358
/kind feature

[2022-01-11 12:54] leonardpahlke commented on #2364
/kind feature

[2022-01-11 12:55] leonardpahlke commented on #2363
/kind feature

[2022-01-11 12:55] leonardpahlke commented on #2360
/kind feature

[2022-01-11 12:55] leonardpahlke commented on #2362
/kind feature

[2022-01-11 17:29] puerco commented on #2383
About this:

Yes, `cosign` can be used as a library, the end goal is to make all functionality available to other programs. If something is missing we can certainly add it. Everything here is intended to be improtable:

https://github.com/sigstore/cosign/tree/main/pkg/cosign

[2022-01-12 08:25] saschagrunert commented on #2383
As per [slack discussion thread](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1641892345007500), @jimangel, @palnabarun and @xmudrii are happy to work on this one with guidance from @puerco and myself.

I think a good first step would be to implement the raw code bits converted from the [keyless signing doc](https://github.com/sigstore/cosign/blob/main/KEYLESS.md) in release-sdk and add (mocka

[2022-01-13 14:32] saschagrunert opened #2386 "Create automatic release branch fast forward job"
As discussed in https://github.com/kubernetes/sig-release/discussions/1794, there is a gap between the content of the k/k `release-*` branch and `master` when we cut the RC on test freeze, because:

- PRs in the milestone may not have been merged yet into the `master`, because they're in the prow test queue
- PRs get the latest milestone applied after the RC creation

To streamline the process of

[2022-01-13 16:13] cpanato commented on #2386
i like this approach and i think that will be good for us

[2022-01-13 19:54] puerco commented on #2386
+1 I think this is the best scenario.

From our side, I preferred the idea of reopening `master` instantly after branch creation, but @liggitt made an [excellent point here](https://github.com/kubernetes/sig-release/discussions/1794#discussioncomment-1832793) against here.

Cherry picks have been chaotic, especially the last two releases. Although we did a poor job communicating the change back in

[2022-01-13 20:39] jonjohnsonjr opened #2388 "Broken links"
#### What happened:

I clicked some links and they were 404s.

#### What you expected to happen:

They would be 200s.

#### How to reproduce it (as minimally and precisely as possible):

Click [kpromo documentation link](https://github.com/kubernetes/release/blame/86bcfadcd7ac2b5f563ffa31dac321c8a7dd5724/README.md#L69).

Click [gh2gcs documentation link](https://github.com/kubernetes/release/blame

[2022-01-13 21:01] puerco commented on #2234
/priority important-longerm

[2022-01-13 21:02] puerco commented on #2234
/priority important-longterm

[2022-01-14 19:38] BenTheElder commented on #1913
For context: last discussed this was blocked on kubernetes package building eternally being moving from the old tool to the new tool which is still not ready, changes like this are being blocked in the meantime.

If we reach a state where packaging changes are accepted again, this is a very straightforward change (just move the files to k/k and use them from k/k when present) that shouldn't take m

[2022-01-15 23:34] xmudrii commented on #2174
/remove-lifecycle stale

[2022-01-15 23:47] #2360 closed

[2022-01-15 23:47] #2361 closed

[2022-01-15 23:47] #2362 closed

[2022-01-15 23:47] #2363 closed

[2022-01-15 23:47] #2364 closed

[2022-01-18 16:39] justaugustus commented on #913
Will start working together w/ Arnaud on this in the coming months...
/assign @ameukam
/milestone v1.24

[2022-01-18 16:41] justaugustus commented on #281
Closing this in favor of https://github.com/kubernetes/release/issues/913.
/close

[2022-01-18 16:41] #281 closed

[2022-01-18 17:32] leonardpahlke opened #2396 "ci-signal-reporter, use new ci signal github project board"
which part of the ci-signal-tool does this effect
* :green_circle: ci-signal-report-cli

**Summary:** The CI signal reporter should use the new [ci signal project board](https://github.com/orgs/kubernetes/projects/68/)

<details>
<summary>Current situation</summary>
Currently the [old project board](https://github.com/orgs/kubernetes/projects/65/) is used which does not get updated anymore
</detai

[2022-01-18 17:39] leonardpahlke commented on #2359
/assign

[2022-01-18 17:40] leonardpahlke commented on #2358
/assign

[2022-01-18 18:06] BenTheElder commented on #913
Note: Beyond getting builds run by community controlled infrastructure (instead of e.g. my workstation!) and published to GCS, we should also publish them to a proper package host with community controlled publishing AKA https://github.com/kubernetes/release/issues/913, I think that's the intent with https://github.com/kubernetes/release/issues/913#issuecomment-1015593512 but I don't see this call

[2022-01-20 18:49] ameukam commented on #913
Notes:
- `apt-key` is deprecated in favor of `signed-by` : https://wiki.debian.org/DebianRepository/UseThirdParty

[2022-01-22 01:22] PushkarJ commented on #2264
The initial goal for the label and the label name have significantly shifted (from all issues and PRs for CVEs to only officially announced issues for CVEs). So labelling all CVE related issues and PR from sig-release with the new label may not be useful. Instead of that the SRC issues for official CVEs are now being labelled with the new label with the update to their template: https://github.com

[2022-01-22 01:30] puerco commented on #2264
OK, so the PRs will not get the label?

[2022-01-22 01:55] PushkarJ commented on #2264
Yes correct. Folks recommended that the label be used by SRC for only officially announced CVEs in k8s, not the ones let's say that we fix in images or build time deps.

[2022-01-22 02:06] puerco commented on #2264
Oh yeah, my understanding was that we were going to label the PRs that contain the fix when the CVE data got read by the release process:

https://github.com/kubernetes/test-infra/pull/23428#issuecomment-925540948

[2022-01-24 15:58] s04 commented on #2359
/assign

[2022-01-26 08:35] saschagrunert commented on #2386
Only the integration into prow is missing now, see https://github.com/kubernetes/test-infra/pull/24901

[2022-01-27 16:36] PushkarJ commented on #2383
RelEng team, It is so great to see this coming together.

@saschagrunert are there are any meeting minutes / slack channels / calendar invites I can subscribe to so that I can keep up to date with the progress and discussions around this KEP implementation?

/sig security

[2022-01-28 08:34] saschagrunert commented on #2383
Thank you for considering to help us with the effort! We have a Release Engineering meeting every other week where we discuss the current progress and sync: https://bit.ly/k8s-releng-meeting

[2022-01-28 13:47] leonardpahlke opened #2404 "#### ci-signal-reporter, refactor github code to sigs-"
which part of the ci-signal-tool does this effect
* :green_circle: ci-signal-report-cli

**Summary:** _Not more than a few words._

<details>
<summary>Current situation</summary>
Currently the github logic is under cmd/ci-reporter/cmd/github.go. We do not leverage from shared code pkgs.
</details>

<details>
<summary>Desired outcome</summary>
Align github api bussiness logic with related [repos](h

[2022-01-28 13:58] leonardpahlke commented on #2404
xref [comment](https://github.com/kubernetes/release/pull/2367#discussion_r771772599) in one of the previous PR to add features to the ci signal report cli

[2022-01-28 14:27] Nivedita-coder commented on #2396
/assign

[2022-01-29 00:10] #2114 closed

[2022-01-31 19:27] palnabarun commented on #2379
All PRs merged! 🎉

/close

[2022-01-31 19:27] #2379 closed

[2022-02-01 04:51] blackzlq opened #2409 "Update libgmp10 in bullseye-v1.1.0 (latest) to patch CVE-2021-43618"

[2022-02-03 01:08] justaugustus commented on #2409
/area release-eng
/help
cc @kubernetes/release-engineering

[2022-02-04 14:06] cpanato commented on #2307
### Work items for `go1.18beta2`

- [ ] `kube-cross` image update:

  - [ ] image promotion:

- [ ] `go-runner` image update:

  - [ ] image promotion: https://github.com/kubernetes/k8s.io/pull/3214

- [ ] `releng-ci` image update:

#### After kube-cross image promotion

- [ ] kubernetes/kubernetes update (`master`):

  Ensure the following have been updated within the PR:

  - [ ] kube-cross imag

[2022-02-04 16:04] mnaser opened #2412 "Upgrading kubeadm restarts kubelet"
#### What happened:
When upgrading a Kubernetes cluster, one of the first steps is updating `kubeadm` to be the new version.   However, this causes an unnecessary restart to `kubelet`.

#### What you expected to happen:
The `kubelet` service should not be restarted, as it is expected to be restarted when the actual `kubelet` package is restarted.

#### How to reproduce it (as minimally and precise

[2022-02-04 16:14] neolit123 commented on #2412
Kubeadm restarts the kubelet for new nodes or on upgrade so this can be
removed, IMO. I don't know when it was added.

[2022-02-08 04:43] Nivedita-coder commented on #2396
Hey @leonardpahlke,
For this feature does this involve both (k/release, k-sigs/release-sdk) repos?

[2022-02-08 07:49] leonardpahlke commented on #2396
Ideally yes but this can also be done in two steps. First update the logic in k/release and afterwards refactored it to sigs/release-sdk. It’s up to you if you like to do it all at once or step by step.

[2022-02-09 10:54] saschagrunert commented on #2175
/remove-lifecycle stale

[2022-02-09 11:13] saschagrunert opened #2417 "Add container image signatures to changelog"
We now feature a list of container images in our changelog: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.24.md#container-images

After the container image signing PR got merged (https://github.com/kubernetes/release/pull/2397), we have to modify that table to link the actual signatures for each image. The idea is to add a placeholder on `krel stage` and modify it afte

[2022-02-09 11:23] xmudrii commented on #2417
/assign
/remove-help

[2022-02-09 23:05] csantanapr opened #2420 "krel release-notes with --create-website-pr errors with git ssh fingerprint"
#### What happened:
Trying to generate the PRs to update the website https://kubernetes.io/releases/ with missing release notes for patch releases.

Running the command
[code]
Noticed I'm only using the flag `--create-website-pr`
If you using both flags `--create-draft-pr` and `--create-website-pr` it works because the git clone will be done with https (create-draft-pr) and the create-website func

[2022-02-09 23:05] csantanapr commented on #2420
/assign

[2022-02-10 09:33] xmudrii commented on #2267
/remove-lifecycle stale

[2022-02-10 18:53] #2358 closed

[2022-02-10 18:53] #2359 closed

[2022-02-10 23:19] justaugustus opened #2425 "Dependency update - Golang 1.17.7 / 1.16.14"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2379

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/SUsQn0aSgPQ/m/gx45t8JEAgAJ

SIG Release Slack thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1644535188683299

### Work items for `gox.y.z`

- [x] `kube-cross` image update: #2426

  - [x] image promotio

[2022-02-11 00:16] xmudrii commented on #2425
/assign
/remove-help

[2022-02-11 11:29] saschagrunert commented on #2386
Update email sent to k-dev: https://groups.google.com/a/kubernetes.io/g/dev/c/qbHPJjUF3s8/m/f_6NI4-TBAAJ

[2022-02-11 18:50] #2420 closed

[2022-02-14 21:29] xmudrii commented on #2425
All work is done.
/close

[2022-02-14 21:29] #2425 closed

[2022-02-15 21:02] tabbysable commented on #2264
/close

(Please re-open if I was wrong and this still needs further discussions.)

[2022-02-15 21:02] #2264 closed

[2022-02-17 19:12] leonardpahlke commented on #2396
Hey @Nivedita-coder how is it going on this? I am happy to help or pick up your work / the issue 🙌

[2022-02-17 19:14] leonardpahlke commented on #2396
BTW there is another issue for the GitHub logic refactoring #2404

[2022-02-18 03:24] Nivedita-coder commented on #2396
Hi @leonardpahlke, for the last two weeks I'm a bit busy with offline college, but by the end of this weekend, I'll push the PR.:raised_hands:

[2022-02-22 12:08] korcky commented on #1982
So, I tried to follow a simple instruction on how to [install kubernetes using native package management](https://kubernetes.io/docs/tasks/tools/install-kubectl-linux/#install-using-native-package-management) for Debian-based distributions (my os version is `Ubuntu 20.04`) and get some of the errors mentioned above. To be precise, `apt update` output this lines:
[code]
As were mentioned [#1982 (co

[2022-02-22 16:05] leonardpahlke opened #2443 "ci-signal-reporter, automatically generate weekly ci signal report"
which part of the ci-signal-tool does this effect
* :green_circle: ci-signal-report-cli

**Summary:** Generate a weekly ci signal report which can be manually shared in slack & k/dev

**Current situation**

Currently, the weekly ci signal report is generated manually. Some inputs are supplied by this tool. This can be fully automated. See previous ci signal reports for template reference

**Desire

[2022-02-22 16:06] leonardpahlke commented on #2443
/assign @voigt

[2022-02-26 00:32] justaugustus commented on #1694
I was thinking about this again, thanks to @helayoty! (ref: https://twitter.com/helayoty/status/1497366986841460738)
/reopen

@kubernetes/release-engineering -- Thoughts here?

[2022-02-26 01:32] justaugustus commented on #1694
These are probably a good start:
- https://www.kubernetes.dev/docs/guide/coding-convention/
- https://www.pullrequest.com/blog/create-a-programming-style-guide/
- https://google.github.io/styleguide/
- https://github.com/golang/go/wiki/CodeReviewComments
- https://go.dev/doc/effective_go

[2022-02-26 02:09] justaugustus commented on #1694
/unassign @wilsonehusin @puerco
/assign @justaugustus @helayoty

Heba, I'm going to take an initial using the awesome Crossplane one @hasheddan linked: https://github.com/crossplane/crossplane/blob/master/CONTRIBUTING.md

From there, we can iterate on improvements together!

[2022-02-26 06:38] justaugustus commented on #1694
First pass: https://github.com/kubernetes/sig-release/pull/1862

[2022-02-27 16:35] cpanato commented on #2286
/remove-lifecycle stale

[2022-02-27 18:25] xmudrii commented on #2076
/remove-lifecycle stale

[2022-02-28 06:46] puerco opened #2445 "Image Signing: Impersonation Flows and Service Account Interaction"
## Impersonation Flow During Release Staging

During staging, there are two accounts in play: The account that runs the release process and the account that provides the identity to sign. The former should be able to generate identity tokens for the latter.

[code]

### Service Accounts and Roles

* Main Release Process SA: This account provides the identity under which krel is during staging by t

[2022-02-28 06:51] puerco commented on #2445
/sig release
/sig k8s-infra
/sig security
/cc @kubernetes/sig-release-leads @kubernetes/release-engineering
SIG liaisons: @ameukam @PushkarJ

[2022-02-28 06:51] puerco commented on #2445
/kind design
/priority important-soon

[2022-02-28 19:06] puerco opened #2446 "Replace old hash listing with SBOM + verification instructions"
#### What would you like to be added:

As noted in a recent slack conversation, we stopped publishing the SHA256/SHA512 hashes of the sole artifact that gets uploaded to the GitHub release pages. We should instead replace the old SHAs with instructions to verify any artifact using the SBOM and maybe upload the SBOMs to the release pages as well.

#### Why is this needed:

There is little value in

[2022-03-02 08:08] saschagrunert commented on #2445
Depends on https://github.com/kubernetes/release/pull/2397

[2022-03-02 10:48] leonardpahlke commented on #2396
xref: [slack discussion](https://kubernetes.slack.com/archives/CN0K3TE2C/p1643981567813309)

[2022-03-02 10:49] leonardpahlke commented on #2404
/assign @leonardpahlke
/assign @Nivedita-coder

[2022-03-03 20:10] leonardpahlke commented on #2443
I think we need to get the github information from the new [project board](https://github.com/orgs/kubernetes/projects/68) before we make progress here. There is an issue open ref https://github.com/kubernetes/release/issues/2396 and [slack thread](https://kubernetes.slack.com/archives/CN0K3TE2C/p1643981567813309)

[2022-03-03 20:12] leonardpahlke commented on #2396
echo my message from [slack thread](https://kubernetes.slack.com/archives/CN0K3TE2C/p1646310409857229?thread_ts=1643981567.813309&cid=CN0K3TE2C).
---
I looked into this a bit and build a quick project to play around with the github graphql  api. We can use the graphql API for our usecase. If you find time check out the main.go file. I use a 3rd party library to use the graphql api (see [githubv4](

[2022-03-04 08:10] cpanato opened #2450 "Dependency update - Golang 1.17.8 /1.16.15"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2425

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/RP1hfrBYVuk/m/I7ouYouLAAAJ

SIG Release Slack thread: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1646381267641489

### Work items for `gox.y.z`

- [x] `kube-cross` image update: https://github.com/kubernetes

[2022-03-04 11:54] xmudrii commented on #2417
I'm currently super busy with the university, so I'll unassign myself and someone else can take over.
/unassign

[2022-03-04 13:25] cpanato commented on #2417
no worries @xmudrii

[2022-03-05 20:25] mnaser commented on #2412
This is been a bit of a pain point for us, does it make sense to make a PR that drops that restart?

[2022-03-05 20:42] neolit123 commented on #2412
makes sense to me, but such a PR needs to also fix the RPM packages if this problem is also present there..

we should remove this whole section:
https://github.com/kubernetes/release/blob/master/packages/deb/bionic/kubeadm/debian/postinst#L22-L27
a kubeadm package upgrade should not perform kubelet service actions, until the kubelet package is upgraded.

later in the upgrade process the user can

[2022-03-05 20:42] neolit123 commented on #2412
/sig cluster-lifecycle
/area kubeadm

[2022-03-05 20:48] neolit123 commented on #2412
also as noted in the past, we should probably fix these kubeadm deps eventually:
https://github.com/kubernetes/release/blob/d41c86508aac7f0b6d5f701fb2f6d3ae29bf35e0/cmd/kubepkg/templates/latest/deb/kubeadm/debian/control#L13

this would avoid the package holds in the docs.

in my view kubectl, kubeadm, kubelet should not depend on each other.
the k8s-CNI package is a kubelet requirement, while the

[2022-03-05 20:54] neolit123 commented on #2412
BTW, i think these are the up-to-date package spec locations:
https://github.com/kubernetes/release/blob/master/cmd/kubepkg/templates/latest

[2022-03-06 08:37] evankanderson commented on #1987
/remove-lifecycle stale

[2022-03-07 16:40] #2396 closed

[2022-03-09 22:21] sozercan commented on #1833
/remove-lifecycle stale

[2022-03-11 08:57] xmudrii commented on #2337
/remove-lifecycle stale

[2022-03-14 09:27] cpanato commented on #2450
/priority important-soon

[2022-03-16 12:17] saschagrunert commented on #2417
I think it would make sense to reassemble the link to the signature in the changelog, for example:

https://console.cloud.google.com/gcr/images/k8s-staging-kubernetes/global/mock%2Fconformance-amd64@sha256:e7587c67d37a6628f56d9b859472d2a9646db9b013e91446d5ec38b60f54fbaa/details?tab=pull

[2022-03-16 14:21] leonardpahlke commented on #2443
@voigt https://github.com/kubernetes/release/pull/2454 has been merged I think we are good to go with this issue. Ref [google group k/dev](https://groups.google.com/a/kubernetes.io/g/dev) with ci signal report examples

[2022-03-18 15:38] leonardpahlke commented on #2443
/milestone v1.24

[2022-03-18 15:51] leonardpahlke commented on #2404
@saschagrunert / @puerco how would you approch this issue? Logic needs to be move from one repo to another (k/release -> k-sigs/release-sdk).

1. I would first create a PR to k-sigs/release-sdk ([github.go](https://github.com/kubernetes-sigs/release-sdk/blob/main/github/github.go)) to add the funcs from k/release ([ci-reporter/github.go](https://github.com/kubernetes/release/blob/master/cmd/ci-rep

[2022-03-18 15:58] leonardpahlke commented on #2404
k/release [ci-reporter/github.go](https://github.com/kubernetes/release/blob/master/cmd/ci-reporter/cmd/github.go)) uses `GraphQL` & `github.com/shurcooL/githubv4` to call github APIs

k-sigs/release-sdk uses `github.com/google/go-github/v39/github` so a different library to make `HTTP` calls - can we mix that in ([github.go](https://github.com/kubernetes-sigs/release-sdk/blob/main/github/github.g

[2022-03-19 16:28] cpanato commented on #2450
all work is done
/close

[2022-03-19 16:28] #2450 closed

[2022-03-21 07:57] saschagrunert commented on #2404
We can cut an ad-hoc release for the sdk repository if you need the changes in k/release. :)

The general approach seems fine to me :+1:

How much work would it be to migrate to go-github? I'd prefer having only one library for doing the job, but we can do it as follow-up after the migration.

[2022-03-21 09:12] leonardpahlke commented on #2404
I have only found a [GraphQL API documentation](https://docs.github.com/en/issues/trying-out-the-new-projects-experience/using-the-api-to-manage-projects) to access github beta project boards. Not sure if there will be a REST API anytime soon.

[2022-03-21 10:47] MadhavJivrajani commented on #2307
fyi - https://github.com/kubernetes/kubernetes/issues/108357#issuecomment-1073731790

[2022-03-21 23:12] justaugustus commented on #839
Another request: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1647903600618439

[2022-03-22 07:17] afbjorklund commented on #839
@klaases we already gave up on this

[2022-03-23 14:17] leonardpahlke opened #2473 "ci-signal-reporter, github report bug, type miss match"
#### What happened:

After the [most recent change](https://github.com/kubernetes/release/pull/2454) to the CI Signal Report CLI which uses the new [CI Signal project board](https://github.com/orgs/kubernetes/projects/65) via a [GitHub GraphQL libary](https://github.com/shurcooL/githubv4) now does not run when a GH report generated.
From the error message it seems to be a type missmatch / converti

[2022-03-23 14:31] leonardpahlke commented on #2443
cc @RobertKielty

[2022-03-23 15:04] RobertKielty commented on #2473
Reproduced locally on go version go1.17.6 linux/amd64
Root cause analysis to follow ...

[2022-03-24 07:08] #2473 closed

[2022-03-24 15:05] rmb938 commented on #1982
Did the keys expire again? Getting issues trying to isntall things on CentOS

[code]

[2022-03-26 12:32] leonardpahlke opened #2477 "ci-signal-reporter, Store CI Signal report artifacts"
:green_circle: ci-signal-report-cli

**Summary:** Store Ci Signal reports in a repository for a better record and future automation possibilities

**Current situation**: Currently the CI Signal report is getting generated automatically and distributed manually to k/dev & slack release-ci-signal.

**Desired outcome**: In addition to manually releasing the report to k/dev and #release-ci-signal, the

[2022-03-26 12:38] leonardpahlke commented on #2477
/hold until https://github.com/kubernetes/release/issues/2443 has been completed

@justaugustus where do you suggest to store the weekly ci signal report? Maybe under [sig-release in a folder next to the handbook](https://github.com/kubernetes/sig-release/tree/master/release-team/role-handbooks/ci-signal) or in a new repo?

cc @kubernetes/sig-release-leads

[2022-03-28 15:14] saschagrunert commented on #2445
@puerco can this one be closed?

[2022-03-28 19:24] aleksandar-kinanov commented on #1982
Hitting the same issue on CentOS 7:
[code]

[2022-03-28 19:47] BenTheElder commented on #1982
Folks, the Kubernetes project does not manage these keys, nor does the team that voluntarily continues to publish these packages until the project moves to community infrastructure. https://github.com/kubernetes/release/issues/913 seems to be the current tracking issue for this.

per https://cloud.google.com/compute/docs/troubleshooting/known-issues#keyexpired the recommendation is to disable GPG

[2022-03-28 20:42] BenTheElder commented on #913
I want to highlight that today **there are just three active Googlers running the package build/publish on a volunteer basis, only two of which have experience doing so** and the process to do so has only gotten more onerous.

**Currently to this day even the package _builds_ happen on my workstation (!) instead of being controlled by the community**, which seems pretty unacceptable compared to th

[2022-04-04 06:30] justaugustus opened #2487 "Retrospective on go1.18 rollout"
#### What happened:

From @BenTheElder in https://github.com/kubernetes/test-infra/pull/25355#issuecomment-1080953367:

From @liggitt in https://github.com/kubernetes/test-infra/pull/25355#issuecomment-1080962285:

/assign
cc: @kubernetes/release-engineering
xref: https://github.com/kubernetes/release/issues/2307, https://github.com/kubernetes/release/issues/1139

#### What you expected to happen:

[2022-04-04 06:31] justaugustus commented on #2307
Closing this and filed https://github.com/kubernetes/release/issues/2487 to assess some hiccups in the rollout this time around.

[2022-04-04 06:31] #2307 closed

[2022-04-04 06:43] justaugustus commented on #2487
From me in https://github.com/kubernetes/test-infra/pull/25355#issuecomment-1087173946:

[2022-04-07 18:33] AuraSinis opened #2491 "krel docs"
Currently the krel release-notes.md docs says to make sure `author.email` is configured to the email which was signed to the CLA, but it's `user.email`

/sig release
/kind documentation

[2022-04-07 19:43] #2491 closed

[2022-04-11 11:48] ameukam commented on #2227
/remove-lifecycle stale
/milestone  v1.24

[2022-04-11 11:48] ameukam commented on #2227
/priority important-longterm

[2022-04-12 12:54] leonardpahlke commented on #2443
/unassign @voigt
/assign @RobertKielty

[2022-04-12 15:15] jeremyrickard commented on #1869
/remove-lifecycle stale

[2022-04-12 21:20] mnaser commented on #2412
I got around pushing a patch for this...

[2022-04-13 06:40] cpanato opened #2499 "Dependency update - Golang 1.18.1/1.17.9"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2307 / https://github.com/kubernetes/release/issues/2450

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/oecdBNLOml8/m/Qpa5hGjrBwAJ?utm_medium=email&utm_source=footer

SIG Release Slack thread:

### Work items for `gox.y.z`

- [ ] `kube-cross` image update:

  - [ ]

[2022-04-13 09:14] saschagrunert commented on #2417
Any update on this @cpanato? Would be awesome to get this final bit in to resolve the MVP :)

[2022-04-13 09:14] saschagrunert commented on #2445
Closing since it seems resolved.

[2022-04-13 09:14] #2445 closed

[2022-04-13 09:15] saschagrunert commented on #2383
Only https://github.com/kubernetes/release/issues/2417 is missing, otherwise we can consider this one as done :partying_face:

[2022-04-13 09:44] rajibmitra commented on #2446
what is the sbom url ? if we know the url we can get it verified by grype.

[2022-04-13 13:07] #1836 closed

[2022-04-13 14:17] cpanato commented on #2499
/priority urgent-critical

[2022-04-13 14:18] cpanato commented on #2499
/priority critical-urgent

[2022-04-14 07:31] cpanato commented on #2499
all work is complete
/close

[2022-04-14 07:33] cpanato commented on #2388
/remove-lifecycle stale

[2022-04-14 07:33] cpanato commented on #2388
/remove-lifecycle stale

[2022-04-19 00:09] MarkusTeufelberger commented on #1636
Still ongoing.

/remove-lifecycle rotten

[2022-04-19 18:24] leonardpahlke commented on #2404
GitHub Beta project boards just got a GraphQL API for now (see [feedback discussion](https://github.com/github/feedback/discussions/5589)). I think we should wait with this for now until a REST API is available. WDYT?

 /remove milestone v1.24

[2022-04-23 06:47] #2332 closed

[2022-04-23 07:09] wilsonehusin commented on #2235
Semi-relatedly, leaving breadcrumbs for future:

I'm working on #2313 and the following section of assertion outputs hot garbage:

https://github.com/kubernetes/release/blob/cd4407f4bf14323391e50d8124cab65c237523fd/cmd/krel/cmd/changelog_test.go#L42-L47

If you search for `changelog_test.go:46` in [example output](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/release/2313/pull-rel

[2022-04-23 08:23] wilsonehusin commented on #2241
/priority important-longterm

[2022-04-25 12:07] leonardpahlke commented on #2404
/remove milestone v1.24
/unassign @Nivedita-coder

[2022-04-26 11:33] sam-cogan opened #2507 "debian-iptables image using old go-runner"
#### What happened:

The makefile at [https://github.com/kubernetes/release/blob/master/images/build/debian-iptables/Makefile](https://github.com/kubernetes/release/blob/master/images/build/debian-iptables/Makefile) is referencing an older go-runner image (v2.3.1-go1.17.3-bullseye.0) which has a number of CVE's

#### What you expected to happen:

Update the makefile to use a later Go version, idea

[2022-04-26 14:46] jeremyrickard commented on #1711
/remove lifecycle/rotten

[2022-04-26 21:10] brianpursley opened #2509 "Replace git.io URLs"
#### What happened:
git.io has been deprecated and will be [discontinued on 04-29-2022, when it will no longer redirect to the destination URL](https://github.blog/changelog/2022-04-25-git-io-deprecation/).

#### What you expected to happen:
URLs should be updated to not use git.io.  Either use the actual URL, or use a different URL shortener.  These URLs are used in comments, so nothing critical,

[2022-04-28 10:46] saschagrunert commented on #2417
@cpanato are you still working on this one? :upside_down_face:

[2022-04-28 12:18] cpanato commented on #2417
I'm trying but the past two weeks were too busy :(

[2022-04-30 20:47] #2338 closed

[2022-05-02 15:01] justaugustus commented on #2509
/good-first-issue

[2022-05-02 15:04] brianpursley commented on #2509
Sure, I'll do it
/assign

[2022-05-03 08:05] saschagrunert commented on #2383
We can do https://github.com/kubernetes/release/issues/2417 in a different scope. Since 1.24 will be released today we now consider this EPIC is done. :partying_face:

[2022-05-03 08:05] #2383 closed

[2022-05-03 08:11] saschagrunert commented on #2227
I think this can be closed and we can track the work in https://github.com/kubernetes/enhancements/issues/3031

[2022-05-03 08:11] #2227 closed

[2022-05-03 08:15] saschagrunert opened #2513 "Follow-ups on the container Image signing MVP"
This issue should be used to collect all follow-ups to https://github.com/kubernetes/release/issues/2383, which will be transferred into the beta iteration of the corresponding enhancement: https://github.com/kubernetes/enhancements/issues/3031

---

- https://github.com/kubernetes/release/issues/2417
- https://github.com/kubernetes-sigs/release-sdk/issues/30

[2022-05-03 10:19] RobertKielty commented on #2443
After one-on-one talks with @leonardpahlke and @hh (Thank you both for your input and guidance) I propose the following for next steps on this work:

1. Configure the ci-signal-reporter to run it's report as a **Periodic Prow Job** on the **k8s prow instance** (initially once per week, frequency may increase towards end of a release)

2. The report will need some tweaks to get it to target release

[2022-05-03 10:44] leonardpahlke commented on #2443
/milestone v1.25

[2022-05-03 10:55] leonardpahlke opened #2514 "ci signal reporter does not filter issue tracking"
#### What happened:

The ci signal project board needs to be updated to track only testgrid job failures/flakes. The project board now also includes information about who reports for the release team / helps with cutting the release, but this should not be written to the report.

For clarification, see the attached screenshot and look at the [project board](https://github.com/orgs/kubernetes/proje

[2022-05-03 10:57] leonardpahlke commented on #2514
/priority important-soon

[2022-05-05 15:04] saschagrunert commented on #2386
Sent a note to k-dev: https://groups.google.com/a/kubernetes.io/g/dev/c/qbHPJjUF3s8/m/6tjttkfHAAAJ

Everything works so far, we can consider this one as finished. :)

[2022-05-05 15:04] #2386 closed

[2022-05-11 07:44] cpanato opened #2520 "Dependency update - Golang 1.18.2/1.17.10"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2499

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/Y5qrqw_lWdU/m/SaBMIU9JAQAJ

SIG Release Slack thread: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1652254961371939

### Work items for `go1.18/go1.17`

- [x] `kube-cross` image update: https://github.com/kube

[2022-05-11 08:31] cpanato commented on #2520
/priority important-soon

[2022-05-12 12:59] #1976 closed

[2022-05-14 22:09] #2509 closed

[2022-05-16 06:15] xmudrii commented on #2174
/remove-lifecycle rotten

[2022-05-16 13:10] cpanato commented on #2520
all work is done
/close

[2022-05-16 13:10] #2520 closed

[2022-05-17 15:30] matglas commented on #2267
@puerco is the tooling not up to SLSA Level 1 at this point? Maybe the additional tasks need to move to the new SLSA Level 3 issue.

[2022-05-18 14:26] saschagrunert commented on #2248
@justaugustus @puerco what needs to be done here? Is this a candidate for https://github.com/kubernetes/release/issues/2513

[2022-05-24 19:15] wilsonehusin opened #2532 "Duplicated release notes in 1.24"
#### What happened:

The release notes for [#107554](https://github.com/kubernetes/kubernetes/pull/107554) was listed twice in "Urgent upgrade notes" section.

#### What you expected to happen:

Listing only once.

#### How to reproduce it (as minimally and precisely as possible):

(Triage required).

#### Anything else we need to know?:

https://github.com/kubernetes/kubernetes/pull/110184

####

[2022-05-26 10:12] RobertKielty commented on #2443
I have done work on this in my local dev env to configure a Prow Job to run the report automatically. Using pj-on-kind.sh to test in a local env.

I reached out to [SIG Testing on Slack](https://kubernetes.slack.com/archives/C09QZ4DQB/p1653499902631539) to find out how to best inject the required GITHUB_AUTH token into the container where the report runs. @BenTheElder, super helpful as ever, let m

[2022-05-26 11:10] developer-guy commented on #2286
@puerco, I can tackle this one if you want me to do so in bom CLI?

[2022-05-26 12:02] leonardpahlke commented on #2514
/close

[2022-05-27 12:22] ameukam commented on #1711
/reopen

[2022-05-28 20:00] xmudrii commented on #2076
/remove-lifecycle stale

[2022-05-30 11:29] upodroid commented on #2175
@puerco @saschagrunert

I haven't seen updates or a response from @mritunjaysharma394.

We have solved this in Knative, we have a scheduled GitHub action that pushes OWNER_ALIASES updates from peribolos to all the repos. I can set this up for Kubernetes as well.

 - https://github.com/knative-sandbox/knobots/blob/main/.github/workflows/auto-update-community.yaml
 - https://github.com/knative-sandb

[2022-05-30 11:40] saschagrunert commented on #2175
Thank you @upodroid!

I'd prefer having it as a prow periodic job.

The job itself has to run in test-infra, but we could add it to the informing testgrid dashboard: https://testgrid.k8s.io/sig-release-releng-informing

[2022-05-31 16:45] RobertKielty commented on #2443
Discussed next steps on this at the SIG release meeting date today, **Tuesday May 31, 2022**

Thanks to everyone who provided feedback. Ref: [SIG Release Meeting Tuesday May 31, 2022](https://docs.google.com/document/d/1Fu6HxXQu8wl6TwloGUEOXVzZ1rwZ72IAhglnaAMCPqA/edit#heading=h.l6ljrqdwjeug)

[2022-06-01 12:39] leonardpahlke commented on #2477
/assign @leonardpahlke

[2022-06-02 07:25] cpanato opened #2541 "Dependency update - Golang 1.18.3/1.17.11"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2520

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/TzIC9-t8Ytg

SIG Release Slack thread: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1654118736031189

### Work items for `go1.18/go1.17`

- [x] `kube-cross` image update: https://github.com/kubernetes/release/

[2022-06-03 14:20] upodroid commented on #2175
This PR will only automate syncing OWNERS_ALIASES. OWNERS file will be set by each repo owners and in appropriate sub folders. Automated syncing of OWNERS isn't in scope(need to update the original issue).

[2022-06-03 14:22] mrbobbytables commented on #2175
Sorry, I meant owners aliases.

[2022-06-03 14:24] mrbobbytables commented on #2175
We have lots of repos that use their own custom owners aliases, its not something we want to automatically generate, especially as there are a slew of people that aren't in all orgs.

The only ones that we have some sort of guarantees around are the leads and their aliases.

[2022-06-03 14:33] upodroid commented on #2175
I assumed all reviewers/approvers were org members in all the repos. In that case, I can rework this to read a yaml file of all repos that want automated syncing of OWNERS_ALIASES. Is there a plan for switching to aliases and getting those people added to the respective organisations?

[2022-06-03 14:39] mrbobbytables commented on #2175
Nope, people are ONLY reviewers/approvers for things related to them. We have wildly divergent OWNERS_ALIASES files across the 320ish repos in the project.

I think a syncing tool is fine, but it definitely is not something we want to do for everyone. If sig-release wants to specify a source of truth for their own OWNERS_ALIASES files and ensures their own members are in the appropriate orgs, that

[2022-06-07 13:22] leonardpahlke commented on #2477
From recent conversations, I have gathered that we should definitely store the reports in a repository for archiving purposes. I think that it is not necessary to store them in GCP as well, since we do not do any crazy calculations (it is only about archiving, atm).

[2022-06-07 23:18] puerco commented on #1833
/remove-lifecycle stale

[2022-06-08 07:33] cpanato commented on #2541
all work is done
/close

[2022-06-08 07:33] #2541 closed

[2022-06-08 08:27] saschagrunert opened #2549 "Replace `github.com/pkg/errors` dependency with native error wrapping"
The PR https://github.com/kubernetes/release/pull/2478 got reverted because it caused troubles with the error wrapping conversion.

We should still do that, because the package `github.com/pkg/errors` is now in maintenance mode due to the golang native error wrapping. The goal is to do that on a package-by-package basis, where everyone is welcome to contribute.

#### The basic conversion rules:

-

[2022-06-08 09:11] saschagrunert commented on #2267
@puerco do you mind closing this one in favor of the enhancement https://github.com/kubernetes/enhancements/issues/3027 ?

[2022-06-08 09:31] sftim commented on #913
If folks want to help move this work forward (and they aren't necessarily Googlers), how can they start to do so?

[2022-06-08 09:33] palnabarun commented on #2549
Anyone willing to take up one of the above packages, please comment here with the package that you will refactor before starting to work on it.

[2022-06-08 09:34] Debanitrkl commented on #2549
I can take up the ci-reporter, krel and kubepkg

[2022-06-08 09:42] ArkaSaha30 commented on #2549
I will take up:

[pkg/changelog](https://github.com/kubernetes/release/tree/master/pkg/changelog)
[pkg/cve](https://github.com/kubernetes/release/tree/master/pkg/cve)
[pkg/fastforward](https://github.com/kubernetes/release/tree/master/pkg/fastforward)
[pkg/gcp](https://github.com/kubernetes/release/tree/master/pkg/gcp)

[2022-06-08 13:48] RobertKielty commented on #2443
Next Steps ...

- [ ] Create a Cloud Build that creates a container that runs the ci-report
- [ ] Create a Github Action that makes use of that image to rin the report peridocally
- [ ] Make use of sig-release developed tools to push the report results up to a repo

1. Cloud Build
Images maintained in this kubernetes/release repo are kept in the images folder along with build mechanisms
There are

[2022-06-08 14:21] matglas commented on #1694
@justaugustus the first pass form your last comment is merged.

Would a follow up for this be to reference the `k/sig-release` contributing doc on all sig release repos in the `CONTRIBUTING.md` so its clear there is sort of one central contributing guide for sig release.

Would that be basically every project in https://github.com/kubernetes/community/tree/master/sig-release#subprojects?

[2022-06-08 17:45] BenTheElder commented on #913
Great question @sftim ❤️

Getting packages built and uploaded should be a conversation with SIG release, about how they'd like to move forward on this. It should not be blocked on Googlers at all.

Building packages artificially involves Googlers today, but the scripts to do so are in this repo and only use open source tools.

Additional scripts which are also open source in this repo then wrap th

[2022-06-08 18:47] puerco commented on #2549
Folks, as @saschagrunert  said in the third case above, pay attention to the following construct we sometimes have in the code. It was the one that broke krel in the reverted pr:

[code]

[2022-06-08 21:59] puerco commented on #2267
OK, yeah let's close this as we have the KEP now.
/close

[2022-06-08 21:59] #2267 closed

[2022-06-09 02:00] pradeepnnv commented on #2549
I'll work on [pkg/mail](https://github.com/kubernetes/release/tree/master/pkg/mail).

[2022-06-09 05:09] DiptoChakrabarty commented on #2549
I can work on `cmd/release-notes` and `pkg/notes`

[2022-06-09 05:14] jasonbraganza commented on #2549
I will take on `pkg/announce` and `pkg/binary`

[2022-06-10 17:43] ameukam commented on #913
I'll work on setup some sandbox infrastructure for this next week.

[2022-06-12 22:57] #2234 closed

[2022-06-13 11:11] Priyankasaggu11929 commented on #2549
/reopen

[2022-06-14 20:49] evankanderson commented on #1987
Not sure if this would be a `/good-first-issue`?

[2022-06-17 04:33] DiptoChakrabarty opened #2574 "Modify krel Error message when github token env not set"
#### What would you like to be added:
On running the krel tool when no github token env var is set the error message returned is this
`validating command line options: Cannot generate release notes if GitHub token is not set`

comparing to the release-notes tool the error message for the same case is this, which gives a better idea of the error
`neither environment variable `GITHUB_TOKEN` nor `rep

[2022-06-17 07:17] saschagrunert commented on #2574
@DiptoChakrabarty this makes sense, are you going to work on that and propose a PR? :)

[2022-06-17 08:45] DiptoChakrabarty commented on #2574
@saschagrunert Ill keep it open for new contributors , if someone doesnt pick it up in a prolonged period Ill take it up :)

[2022-06-17 08:49] Nawaz027 commented on #2574
/assign

[2022-06-17 20:19] Dentrax commented on #2286
**1. cosign as a library**

Using cosign as a library would bring a bunch of transitive dependencies due to large `go.mod` file. [^1] It might eventually result in larger size of binaries. @spiffcs implemented cosign in Syft [^2] and binary size increased ~40MB. The concern here is:

**2. cosign as a binary**

On the other hand, the concern here is, calling cosign binary right after generation of

[2022-06-17 21:54] tallaxes commented on #1982
Another reason for getting NO_PUBKEY on `apt-get update` is when the GPG key file is not world-readable - easy to end up like this by accident with tight `umask` defaults. And if you are wondering (as I was) why it needs to be world-readable even when apt runs as root - it is because apt switches to `_apt` user for many operations that don't require privilege (see [here](https://askubuntu.com/ques

[2022-06-18 09:40] xmudrii commented on #2409
/remove-lifecycle rotten

[2022-06-18 09:40] xmudrii commented on #2284
/remove-lifecycle rotten

[2022-06-18 09:41] xmudrii commented on #2337
/remove-lifecycle stale

[2022-06-20 14:58] cpanato opened #2575 "Dependency update - Golang 1.19.0"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2307

Golang mailing list announcement:

- go1.19beta1: https://groups.google.com/g/golang-announce/c/SNruPJUSFz0/m/8QKkkMpJAAAJ
- go1.19rc1: https://groups.google.com/g/golang-announce/c/Lu8ODY19HhA/m/u8N2CpbjAgAJ
- go1.19rc2: https://groups.google.com/g/golang-announce/c/czoG5UpT0EU
- go1.19: htt

[2022-06-20 19:21] ramrodo opened #2577 "Specify the token scope for GITHUB_TOKEN"
#### What happened:

The [krel installation step](https://github.com/kubernetes/release/blob/master/docs/krel/release-notes.md#installation) specifies that we need to create a "New personal access token" at GitHub but it doesn't specify the scope of this token.

#### What you expected to happen:

I would like to know which scope I should select for creating the GitHub token.

#### How to reproduce

[2022-06-20 19:22] ramrodo commented on #2577
/assign

[2022-06-21 03:09] wilsonehusin commented on #2532
well, not exactly — the point of this issue is that "how did the duplicate happen that https://github.com/kubernetes/kubernetes/pull/110184 was necessary to fix the problem?" :)

[2022-06-21 08:07] #2577 closed

[2022-06-21 08:40] saschagrunert commented on #2549
Thank you all! We're almost done with this, just found one missing place in https://github.com/kubernetes/release/pull/2581 :pray:

[2022-06-21 15:20] leonardpahlke commented on #2477
Sounds good to me, I would follow the [kpromo instructions here](https://github.com/kubernetes-sigs/promo-tools/blob/main/docs/file-promotion.md#file-promotion)

[2022-06-21 21:03] mrbobbytables commented on #2175
Aliases for teams rarely map to github teams. It might hold true for sig-release, but not the case for most sigs. We have quite a few where we have reviewers/approvers that are not admins/maintainers of repos.

[2022-06-22 10:03] contributorpw commented on #1982
@tallaxes

It might make sense. This is probably the main reason. Thanks!

[2022-06-23 08:59] saschagrunert opened #2586 "Implement release artifact signing beta graduation (KEP-3031)"
This issue tracks the implementation details of the _Signing release artifacts_ KEP (https://github.com/kubernetes/enhancements/issues/3031).

The main goal is to sign file artifacts in the same way we do it for container images right now.

#### Things to be done

- [x] https://github.com/kubernetes-sigs/release-sdk/issues/30
- [x] https://github.com/kubernetes/website/issues/35341
- [x] https://g

[2022-06-23 08:59] saschagrunert commented on #2513
Closing in favor of https://github.com/kubernetes/release/issues/2586

[2022-06-23 08:59] #2513 closed

[2022-06-25 22:29] sftim commented on #1982
Docs updated in https://github.com/kubernetes/website/pull/34546 (relevant to Yum; not relevant to APT)

[2022-06-25 22:30] sftim commented on #1982
/remove-milestone 1.21

[2022-06-25 22:32] sftim commented on #1982
https://cloud.google.com/compute/docs/troubleshooting/known-issues#keyexpired-2 is still relevant advice. https://github.com/kubernetes/release/issues/913 tracks migrating to Kubernetes' own packaging and repos.

I'm minded to close this now.

[2022-06-26 12:30] #1711 closed

[2022-06-26 16:10] RobertKielty opened #2588 "Remove Loading Data Spinner from ci-signal-report output"
#### What would you like to be added:

I want to be able to redirect the ci signal report output to a file easily.

Right now I am running a containerized version of the report (as part of work #2443 to automate the report) and when I pass the --json flag I get spinner output (useful when running the report interactively) written to STDOUT alongside the report output so when I file redirect output

[2022-06-26 16:29] RobertKielty commented on #2588
No change required as -f option already exists! Closing.

/close

[2022-06-26 16:30] #2588 closed

[2022-06-29 09:56] daemon1024 commented on #2332
Hey 👋🏽

I believe this is not done yet! I would like to help out here 😄

From my understanding,
When kubekins PR i.e. something like https://github.com/kubernetes/test-infra/pull/24450 is merged. We follow it up with changes made in https://github.com/kubernetes/test-infra/pull/24453.

Essentially trying to automate the steps mentioned here - https://github.com/kubernetes/sig-release/blob/master/r

[2022-06-29 18:54] ramrodo commented on #2532
I see. My bad. I misunderstood the description of this issue. We'll try to fix this before we'll create the CHANGELOG for v1.25.

[2022-07-03 16:18] 12101111 opened #2598 "https://packages.cloud.google.com/apt/pool is not browsable"
**This is a Bug Report**

**Problem:**

`https://packages.cloud.google.com/apt/pool` is not browsable.

`https://packages.cloud.google.com/apt/pool` only contains

[code]

This makes people think that the directory has no files.

**Proposed Solution:**

List those deb files in
`https://packages.cloud.google.com/apt/pool`

[2022-07-03 23:01] neolit123 commented on #2598
/sig release

[2022-07-04 07:15] saschagrunert commented on #2598
Someone from @kubernetes/release-engineering may pick this up.

[2022-07-04 10:37] saschagrunert opened #2600 "Implement file signing into krel"
Once https://github.com/kubernetes-sigs/release-sdk/issues/30 has been resolved, we can start working on integrating the file signing into `krel stage/release`.

We have to sign the:
- [ ] binary artifacts and the source code tarball
- [ ] Software Bill of Materials (SBOM)

The signatures should be generated during `krel stage`, while we copy them over to the release bucket on `krel release`.

Par

[2022-07-04 19:00] matglas commented on #2600
First action point I'm thinking of is which files do we want to sign? This will allow us to define each place as an implementation task maybe.

[2022-07-05 07:04] saschagrunert commented on #2600
Sounds good, [the KEP states](https://github.com/kubernetes/enhancements/tree/master/keps/sig-release/3031-signing-release-artifacts#beta-graduation):

So I'll create subtasks for binary artifacts and the source code tarball as well as the SBOM.

[2022-07-08 21:10] matglas commented on #2600
@saschagrunert I think you miss the documentation that is also stated in that KEP quote. Is that a tar with docs?

[2022-07-09 08:42] #2258 closed

[2022-07-12 07:12] saschagrunert commented on #2600
Yeah this issue was more meant to hold the implementation parts into krel. The docs, for example which files have been signed and how to verify them, has to land in https://github.com/kubernetes/website

[2022-07-14 17:30] LappleApple commented on #913
SIG Release has been working on building a plan to get this work over the finish line. Please review [this breakdown of related milestones and tasks](https://docs.google.com/spreadsheets/d/1Vgpb7HPg8WgoFtDuddaRD6j7jQLoqNK6vUu6Lb0ea28/edit#gid=885767119), which needs a bit more input and refinement. Then we should copy the items into a checklist posted directly in here, for visibility.

[2022-07-14 18:04] sftim commented on #913
(from that spreadsheet)

I don't think the new key is a breaking change for people who have taken new action, or at least it doesn't need to be. If we use a new PGP key and _also_ change the repo URL from
`https://packages.cloud.google.com/yum/repos/kubernetes-*` then folks with existing working setups can migrate. The breaking change to drop the old Google-linked repo can happen later.

I was ass

[2022-07-14 18:05] sftim commented on #913
If folks want to contribute to refining that plan, how can they do so?

[2022-07-14 18:05] sftim commented on #913
(from that spreadsheet)

I don't think the new key is a breaking change for people who have taken new action, or at least it doesn't need to be. If we use a new PGP key and _also_ change the repo URL from
`https://packages.cloud.google.com/yum/repos/kubernetes-*` then folks with existing working setups can migrate. The breaking change to drop the old Google-linked repo can happen later.

I was ass

[2022-07-15 06:34] saschagrunert commented on #913
@sftim feel free to add your suggestions directly to the spreadsheet since it is our source of truth for now. We plan to outline the whole topic in a KEP (as usual) and request input from others via the usual workflow. You can also add your name to one of the columns if you like to get directly involved in one of the milestone topics. :pray:

[2022-07-18 19:37] puerco opened #2611 "Generate provenance attestations outside of builder"
#### What would you like to be added:

As we move towards signing files, we need to move the generation of provenance attestations to happen outside of our builder (`krel`).

#### Why is this needed:

We are currently generating the SLSA provenance attestations inside of krel. This is not a secure practice as a compromised krel build could falsify the provenance data. It is also a blocker for SLSA

[2022-07-19 07:09] saschagrunert commented on #2611
@puerco what means outside of krel? I could assume that we add a third intermediate cloudbuild step to the existing krel stage and release. Is this the intention?

[2022-07-24 21:29] puerco opened #2616 "SLSA3 Missing pieces"
This issue is meant to track the remaining work needed to push towards SLSA3 in our release process. This initial dump is meant to dump the remaining tasks before we prioritize them. Please note that pushing towards SLSA level 3 means effectively complying with level 2, thus all L2 tasks are folded into this list.

These remaining items are based on our [SLSA Compliance Assessment tracking sheet](

[2022-07-24 22:03] RajGM commented on #2574
Hi @Nawaz027
Are you still working on this issue?

[2022-07-24 22:04] ameukam commented on #2616
I think it's https://github.com/kubernetes/k8s.io/pull/3854

[2022-07-24 22:07] RajGM commented on #2574
Hi @DiptoChakrabarty
Can somebody else pick this up?

[2022-07-25 06:13] saschagrunert commented on #2600
@matglas do you still consider to work on this? Kubernetes v1.25.0 is approaching and I'd like to deliver something at this point in time.

[2022-07-25 08:54] matglas commented on #2600
I am just back from holiday and I think I won't be able to deliver anything quickly. But I'd review for sure otherwise.

[2022-07-25 09:43] saschagrunert commented on #2600
@kubernetes/release-managers do we have anyone who wants to work on this? :upside_down_face:

[2022-07-25 10:11] palnabarun commented on #2600
/assign

[2022-07-25 16:07] DiptoChakrabarty commented on #2574
Sure @RajGM if @Nawaz027 is not working on it assign yourself

[2022-07-26 00:17] puerco commented on #2611
I missed your comment @saschagrunert but yes, this is what I was considering too. My current thinking is that we should add a step before _and_ after each `stage` and `release`.  This way we can catch the parameters and commit sha from k/release (where our build as code config lies) in a partial attestation. The, after the build is done, we complete the attestation by reading the produced artifact

[2022-07-26 00:24] puerco commented on #2611
To make it more clear to the rest of @kubernetes/release-engineering this is what we do today to create the attestations:

[code]
There are several problems with untrusted data flowing into the attestations using this approach. By splitting the generation and signing outside of the `stage` and `release` steps, we block access to signing credentials to any process running while building and we have

[2022-07-26 03:03] puerco opened #2617 "Determine which identity we should use to sign binaries and other files"
## Moving Signing Logic Out of `krel stage`

We need to make a decision on which service account we want to use to sign our binaries, tarballs, and other files.

When we cut a new Kubernetes release, there are two service accounts involved in signing:

* One service account signs images during staging (`krel-staging@k8s-releng-prod.iam.gserviceaccount.com`)
* Another SA that is used by the image p

[2022-07-26 03:05] puerco commented on #2616
I think this point needs a little more clarification. I've opened https://github.com/kubernetes/release/issues/2617 to expand the idea and discuss.

[2022-07-26 04:25] puerco opened #2618 "Implement file signing step"
## Background

As part of the [Signing Release Artifacts KEP](https://github.com/kubernetes/enhancements/issues/3031), we need to build file signing into our release pipeline. Up to now, we had considered building signing capabilities directly into krel. However, thinking a little bit more into the architecture of the pipeline it is possible we may end up not needing to work on it and instead coul

[2022-07-26 04:28] palnabarun commented on #2618
Until we decide on this, should development on https://github.com/kubernetes/release/issues/2600 be paused?

[2022-07-26 04:30] puerco commented on #2618
@palnabarun Let's disucss it in the Jul 26 meeting (already added it to the agenda!)

[2022-07-26 04:32] palnabarun commented on #2618
I have a work conflict with Jul 26 meeting. I will try to make it to the meeting, but for sure will catch up on the recording and notes.

And, thanks for driving this conversation!

[2022-07-26 04:34] puerco commented on #2618
NP, if you have any ideas or thoughts about this be sure to dump it here and I'll relay them to the rest of the team!

[2022-07-27 07:37] cpanato opened #2620 "Dependency update - Golang 1.18.4/1.17.12"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2541

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/nqrv9fbR0zE

SIG Release Slack thread: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1658907492108609

### Work items for `gox.y.z`

- [x] `kube-cross` image update: https://github.com/kubernetes/release/pull/2

[2022-07-27 09:01] saschagrunert commented on #2600
Superseded by https://github.com/kubernetes/release/issues/2618

[2022-07-27 09:01] #2600 closed

[2022-07-27 09:04] saschagrunert commented on #2616
I guess everything except #2618 belongs to the SLSA KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-release/3027-slsa-compliance

Do we have to update it?

[2022-07-27 09:06] saschagrunert commented on #2586
Since we now have https://github.com/kubernetes/release/issues/2618 instead of https://github.com/kubernetes/release/issues/2600, I assume that we have to update the KEP and move the implementation to v1.26.

@kubernetes/release-managers thoughts on that?

[2022-07-27 19:20] BenTheElder commented on #913
ref: https://github.com/kubernetes/release/issues/913#issuecomment-1081121833

I'm going through off-boarding from the Kubernetes EngProd team @ Google and found that while I've been on vacation the past couple weeks **we dropped down to only two people in this rotation, and it will at least briefly be down to one** (⚠️) as I exit.

@MushuEE will be onboarding 1-2 junior team members O(soon) but t

[2022-07-27 20:19] dims commented on #913
@BenTheElder thanks for the update. This is just an indication that we should increase the priority of this work and get it done quickly we've known this for a while now given that this issue has been open from 2019 ( cc @kubernetes/sig-release )

[2022-07-28 00:56] BenTheElder commented on #913
I think folks in SIG release have started on this and I left a note in slack as well, there’s been recent activity like https://github.com/kubernetes/enhancements/pull/3434 🙏 that I haven’t caught up on yet, but I’m sure others are also watching this issue as well since we’ve linked to it from requests to change how signing is done etc 😅

[2022-07-28 08:03] LappleApple commented on #913
+1 @dims. Here is the current work plan, with milestones broken down to highlight various needs and current progress noted. https://github.com/kubernetes/enhancements/issues/1731#issue-609450467 cc @detiber @ameukam @RobertKielty @Verolop (and @castrojo, who's offered to help do some outreach on behalf of the third-party hosting services-related tasks).

[2022-07-29 09:35] cpanato commented on #2620
all work is done
/close

[2022-07-29 09:35] #2620 closed

[2022-08-01 02:20] BenTheElder commented on #2598
https://github.com/kubernetes/release/issues/913, the project does not control this infrastructure and should be moving to community managed infrastructure in the future.

you can browse at the link @neolit123 provided in the meantime.

[2022-08-01 16:23] cpanato opened #2625 "Dependency update - Golang 1.18.5/1.17.13"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2620

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/YqYYG87xB10/m/NzQjeXshBAAJ

SIG Release Slack thread: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1659371038194929

### Work items for `gox.y.z`

- [x] `kube-cross` image update: https://github.com/kubernetes

[2022-08-02 07:33] saschagrunert commented on #2618
Proposed KEP update incoming in https://github.com/kubernetes/enhancements/pull/3451

[2022-08-02 14:28] ameukam opened #2627 "Sign kubernetes system packages with GPG"
#### What would you like to be added:

Part #913

Ensure Kubernetes system packages are signed with a community-owned GPG keys for the next releases.

#### Why is this needed:

[2022-08-03 07:01] pacoxu commented on #2575
golang 1.19 was GAed.
https://github.com/kubernetes/kubernetes/issues/111297 is pending on this.

[2022-08-03 20:56] puerco commented on #2618
Update: After the Jul 26 '22 RelEng meeting we chose to go via # 2: build file signing into krel via a new `krel sign step`

[2022-08-04 11:26] cpanato commented on #2625
all work is done for this 🎉
/close

[2022-08-04 11:26] #2625 closed

[2022-08-04 14:10] cpanato commented on #2575
all done here
/close

[2022-08-04 14:11] #2575 closed

[2022-08-04 18:04] palnabarun commented on #2618
/assign

[2022-08-06 22:41] knowshan commented on #2574
/assign

[2022-08-13 23:26] puerco commented on #1987
/reopen
/remove-lifecycle rotten

[2022-08-13 23:34] #2574 closed

[2022-08-14 15:38] xmudrii commented on #2174
/remove-lifecycle stale

[2022-08-15 09:31] sftim commented on #2598
Is this actually important-soon?

[2022-08-17 07:44] MarkusTeufelberger commented on #1636
I think I saw a package for a more recent version of cri-tools in the debian repo, so maybe this has been dealt with?

/remove-lifecycle rotten

[2022-08-19 15:11] BenTheElder commented on #1935
/reopen
was this ever fixed to revert https://github.com/kubernetes/kubernetes/pull/99810#issuecomment-791013609 hack? (only if we have also actually gotten colors disabled)

[2022-08-20 05:47] matglas commented on #2446
It looks like sbom is here for example:
https://sbom.k8s.io/v1.24.0/release

[2022-08-20 05:47] matglas commented on #2446
/remove-lifecycle rotten

[2022-08-20 22:56] #2175 closed

[2022-08-25 14:23] saschagrunert commented on #2618
@palnabarun are you planning to work on this? :)

[2022-08-25 14:24] palnabarun commented on #2618
Yes, I am exploring this right now. I had a call with @puerco sometime back on some implementation details. I hope to start a WIP PR by next week for others to have a look at.

[2022-08-27 07:13] xmudrii commented on #2076
/remove-lifecycle stale

[2022-08-28 04:40] f39516046 opened #2646 "Ubuntu20.04 conflicting dependencies kubernetes-cni-0.8.7"
Hi:
  When i use  commands as below:

  apt-get install -f -y kubelet=1.24.4-00 kubeadm=1.24.4-00 kubectl=1.24.4-00

  it's always failed . And here is the error message,

================
The following additional packages will be installed:
  kubernetes-cni
The following NEW packages will be installed:
  kubeadm kubectl kubelet kubernetes-cni
0 upgraded, 4 newly installed, 0 to remove and 1 not u

[2022-08-28 06:01] #2646 closed

[2022-08-29 10:00] afbjorklund commented on #821
This job should probably also verify that the installed software (from the packages) has the expected version ?

Currently the `kubernetes-cni` 0.8.7 deb contains a repackaging of the 0.8.6 `cni-plugins` tgz, i.e. the _wrong_ one

[2022-08-30 11:45] saschagrunert commented on #2417
The tricky part is that we generate the changelog before staging the releases and therefore cannot foresee which signatures we will generate. Therefore I think we should close it as wont-fix.

[2022-08-30 11:45] #2417 closed

[2022-08-31 17:09] puerco opened #2651 "Enhance Weekly CI/CD Report with Human Content"
#### What would you like to be added:

(Trying to capture @jberkus thoughts from the retro for this issue, Josh feel free to correct this to your liking)

Add the capability to add human content to the weekly report

#### Why is this needed:

The weekly CI/CD report is great as an automated reflection of the state of the code, but enhancing it with human content would make it much more valuable. A

[2022-08-31 21:35] jberkus commented on #2651
That's correct.  IMHO, the main reason to send the report to k-dev in the first place is to get more eyes on things that are broken.  And that doesn't work very well if people have to click through several times to find out where help is needed.

[2022-08-31 22:37] ramrodo commented on #2272
/assign

[2022-09-01 07:50] #2487 closed

[2022-09-03 09:41] myself659 commented on #1982
https://cloud.google.com/compute/docs/troubleshooting/known-issues#ubuntu-systems

[code]
this works for me

[2022-09-06 17:14] palnabarun opened #2658 "Dependency update - Golang 1.19.1/1.18.6"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2625

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/x49AQzIVX-s

SIG Release Slack thread: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1662484605170979

### Work items
- [x] `kube-cross` image update: https://github.com/kubernetes/release/pull/2659
  - [x] ima

[2022-09-06 17:14] palnabarun commented on #2658
TODO: Update the AIs above.

[2022-09-07 21:07] sozercan commented on #1833
/remove-lifecycle stale

[2022-09-09 12:57] palnabarun commented on #2658
All items done!

/close

[2022-09-09 12:57] #2658 closed

[2022-09-09 14:39] GannonTdW commented on #1982
Debian 11 bullseye is supported or not ?
I have a issue with the gpg key:

[code]

By the way, it's allways " https://apt.kubernetes.io/ kubernetes-xenial main" for all Debian based distributions ?
On https://packages.cloud.google.com/apt/dists:
[code]

[2022-09-10 04:45] neolit123 commented on #2412
/reopen

looks like https://github.com/kubernetes/release/pull/2496 is still open

[2022-09-11 08:47] #2388 closed

[2022-09-15 16:40] sayantani11 commented on #2284
@justaugustus Can't we do it manually? Like I can make the suggested changes for all the files, if that's okay🤔

[2022-09-18 16:01] #1935 closed

[2022-09-18 19:29] afbjorklund commented on #821
Failed again, for the 1.1.1 deb. It also contains 0.8.6

https://apt.kubernetes.io/pool/kubernetes-cni_1.1.1-00_amd64_910d5920eab8d7cf9a66cc4b0faf998fb3ee909bd6ee0bd7d1c6605b6a82f98f.deb

[2022-09-19 08:04] saschagrunert commented on #821
Ugh, this may fix it: https://github.com/kubernetes/release/pull/2673

[2022-09-20 08:05] xmudrii commented on #2337
/remove-lifecycle stale

[2022-09-20 09:30] Dentrax commented on #2286
/remove-lifecycle stale

[2022-09-20 10:22] #2241 closed

[2022-09-22 07:34] xmudrii opened #2679 "release-notes tool is skipping release notes for PRs created via the cherry pick script"
#### What happened:

The release-notes tool is for some reason skipping release notes for PRs created via the [cherry pick script](https://github.com/kubernetes/kubernetes/blob/master/hack/cherry_pick_pull.sh).

More details about this can be found in the following Slack threads:

* https://kubernetes.slack.com/archives/CJH2GBF7Y/p1663751029890829
* https://kubernetes.slack.com/archives/CJH2GBF7Y/

[2022-09-23 12:29] cpanato commented on #2507
/reopen
/assign

[2022-09-23 15:26] #2507 closed

[2022-09-24 15:53] sayantani11 commented on #2284
/assign

[2022-10-04 09:37] saschagrunert commented on #1636
I agree I think we're done with respect to the scope of this issue.

[2022-10-04 09:37] #1636 closed

[2022-10-04 09:43] saschagrunert opened #2693 "Automatically promote cri-tools / cni plugins releases"
We run the following manual promotion command for each release of the CNI plugins as well as cri-tools by using [kpromo](https://github.com/kubernetes-sigs/promo-tools/tree/main/cmd/kpromo):

[code]

or

[code]

The question is, can we automate this away by using a periodic prow job?

Alternatives:
- Promote the artifacts directly via GitHub actions from the corresponding projects (requires auth t

[2022-10-04 19:17] xmudrii opened #2694 "Dependency update - Golang 1.19.2/1.18.7"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2658

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/xtuG5faxtaU/m/jEhlI_5WBgAJ

SIG Release Slack thread: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1664911085960369

### Work items for `go1.19.2` and `go1.18.7`

- [x] `kube-cross` image update: #2696

  - [x

[2022-10-08 21:52] xmudrii commented on #2694
We’re done with updates.

[2022-10-08 21:52] #2694 closed

[2022-10-09 16:34] afbjorklund commented on #821
@saschagrunert : would it be possible to release new packages to apt, with the correct contents ?

kubernetes-cni_0.8.6-00 (this one seems OK, no new release needed)
kubernetes-cni_0.8.7-01
kubernetes-cni_1.1.1-01

[2022-10-10 05:09] #2412 closed

[2022-10-10 07:34] saschagrunert commented on #821
They should be automatically generated with the October patch releases. Not sure if we have to bump the package rev, though.

[2022-10-10 08:05] afbjorklund commented on #821
If you do a "stealth" update, the old ones might be used from the cache (depending on how people set up their mirroring)

[2022-10-10 08:45] saschagrunert commented on #821
@afbjorklund I'm wondering why we are at revision `01` for those packages, it should be `00` per:

https://github.com/kubernetes/release/blob/dbc13bd3701ed7e7bbe77ea01bd218d53ca23f0b/packages/deb/build.go#L95

[2022-10-10 08:48] afbjorklund commented on #821
We _are_ at 00, unfortunately the contents are 0.8.6. So I was thinking that 01 was the next revision after ?

Normally the default debian revision is "0", so I'm not sure where the extra zero came from to start with...

[2022-10-10 15:16] xmudrii commented on #1869
/remove-lifecycle stale

[2022-10-10 20:58] sftim commented on #913
It sounds like the bit where folks _have_ to be a Googler, right now, is the package signing. Everything else can happen outside Google - this is an open source project after all. @dims has it right to focus on the signing aspect aside from the package build.

I wonder if a way to tackle this is to start with getting a Kubernetes-controlled private key, even a disposible one, to sign some trivial

[2022-10-10 22:22] BenTheElder commented on #913
I believe the current google-internal hosting infrastructure is also coupled to the signing system, and because we're not even using the product offering there one way or another we're going to have to migrate both package signing and publishing/hosting in order to bring this to community control.

Even the Google employees with permission to sign and publish packages cannot access, add, or modify

[2022-10-10 23:01] jeremyrickard opened #2702 "Allow customizable distroless image and builder image for go-runner"
#### What would you like to be added:

The ability to override the builder image used in the go-runner Dockerfile, along with fully specifying the DISTROLESS_IMAGE.

#### Why is this needed:

The current Dockerfile and Makefile support specifying a specific distroless image to use, but the registry is not part of that customizability (i.e. it always points to gcr.io).  We'd like to be able to full

[2022-10-10 23:54] spiffxp commented on #1869
/remove-priority important-soon
/priority backlog
Are we still hitting this?

[2022-10-10 23:55] spiffxp commented on #1869
/remove-priority critical-urgent

[2022-10-11 06:59] saschagrunert commented on #2702
Sounds like a reasonable enhancement to me. Do you plan to work on this topic as well @jeremyrickard ?

[2022-10-11 08:38] xmudrii commented on #1869
@spiffxp I think that we are still hitting this. I think not as much as we did in the past, but I had some issues when updating images to Go 1.19.2/1.18.7. For example: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-release-push-image-k8s-ci-builder/1567936774301290496

[2022-10-11 08:48] saschagrunert commented on #913
@BenTheElder this is what we propose in https://github.com/kubernetes/enhancements/pull/3434, I’ll update the KEP today so that it’s ready for review.

[2022-10-11 13:07] jeremyrickard commented on #2702
@saschagrunert sure thing! I’ll propose a PR soon.

[2022-10-11 15:58] shubham-yewalekar opened #2703 "rpmbuild using spec generated by spec-only for kubelet not working"
I am hitting this error when trying to build kubelet rpm using spec generated by kubepkg

rpmbuild -ba kubelet.spec
Executing(%prep): /bin/sh -e /var/tmp/rpm-tmp.fN5iMK
+ umask 022
+ cd /root/rpmbuild/BUILD
+ cp -p /root/rpmbuild/SOURCES/kubelet /root/rpmbuild/BUILD/
+ cd /root/rpmbuild/BUILD
+ rm -rf kubelet-1.25.2
+ /usr/bin/tar -xf /root/rpmbuild/SOURCES/kubelet
/usr/bin/tar: This does not look

[2022-10-11 16:33] BenTheElder commented on #913
Thanks @saschagrunert, FWIW I did not read it that way: I read the KEP as blocked on replacing the package build tools as well. (Really glad to see that it's active regardless! 🙏)

[2022-10-12 11:00] xmudrii commented on #2703
I have encountered the same issue when trying to build kubectl using a spec template from kubepkg. I'm taking a look into this and will keep this ticket updated.

/priority important-soon
/assign

[2022-10-12 15:27] BenTheElder commented on #913
Actually, to immediately de-risk things somewhat at even lower cost we could simply do:
- split the rapture script into a build script and a sign + publish script
- enhance the build script to upload the outputs to a storage bucket
- enhance the sign + publish script to download from a storage bucket (we already input a k8s version)
- release team / release managers can take over running the build

[2022-10-12 15:29] jeremyrickard opened #2706 "Revisit the Go Std Library Install Step in kubecross Dockerfile"
Currently in the kubecross Dockerfile, we [precompile the standard library](https://github.com/kubernetes/release/blob/8c4a67143ee2cd6cd720404edff21ae04f4dd45d/images/build/cross/default/Dockerfile#L45) for a number of platforms:

[code]

We only do this when the targetArch is amd64:

[code]

This was likely done as a way to improve efficiency with amd64 build hosts, but there are a number of arm6

[2022-10-12 15:30] jeremyrickard commented on #2706
/cc @BenTheElder

[2022-10-13 07:37] saschagrunert commented on #913
@BenTheElder generelly yes, why not. :+1:

I see a bunch of pros and cons related to this and I get the overall intention of that take. Still I'd like to not increase the complexity on the release managers side by additionally running a _manual_ step during the release. Can we ensure that the package build script is that battle proof that it works on every release managers machine and produces the

[2022-10-13 08:40] saschagrunert commented on #913
@dims do we still need that umbrella issue with a possible merged of https://github.com/kubernetes/enhancements/pull/3434 and therefore an up to date KEP in https://github.com/kubernetes/enhancements/issues/1731?

[2022-10-13 11:18] dims commented on #913
@saschagrunert nope. we can close it!

[2022-10-13 11:31] saschagrunert commented on #913
Closing in favor of https://github.com/kubernetes/enhancements/issues/1731

[2022-10-13 11:31] #913 closed

[2022-10-13 14:45] BenTheElder commented on #913
I mean no more or less than it is for the _two_ part time volunteers that can only be googlers we block on today.

the requirements are well documented. Currently it requires docker and `rpm` and the script has been in use for ages with occasional minor updates.

As far as producing the same outputs ... again no more or less? Google workstations receive updates to docker and rpm too ... package bu

[2022-10-13 14:56] BenTheElder commented on #913
This I don't quite understand either, `make release` in kubernetes is a metric ton of bash with the thinnest of makefile on top ... every krel pipeline is invoking a **lot** of bash 🙃

Invoking one more build script surely won't be a serious regression?

This package build code in the script is what we have shipped with since the first Kubernetes packages ever up through now, 8+ years into the pro

[2022-10-14 07:29] saschagrunert commented on #913
I know, but we in SIG Release do not maintain that code directly on a daily basis.

It will for us, because it moves the responsibility with the code. We decided against bash for the main reason that it's not being tested in the same way we can test golang applications. Means having the same logic in golang encapsulated in test-able units (a library) could be the right path forward for building th

[2022-10-14 11:34] xmudrii commented on #2703
I had to do two things to make those spec files work for me:

* Remove those lines:
[code]
* Add this line to `%install`:
[code]

I'm not exactly sure why is this needed, but after doing this, I was able to build RPMs as expected.

[2022-10-14 11:39] shubham-yewalekar commented on #2703
Yes, I followed the same steps, worked for me as well
Thanks a lot for helping!

[2022-10-14 19:27] BenTheElder commented on #913
But, nobody has asked to maintain it. Invoking != maintaining, as evidenced by this conversation re: `make release`.

Further, using something for now does not mean it cannot be swapped out later or that there is a long term commitment to maintaining it.

Build, sign, publish are each a distinct step. Building is time heavy and should easily be executed in an automated build environment that has a

[2022-10-15 16:22] #2248 closed

[2022-10-16 16:20] sayantani11 opened #2713 "krel keeps throwing an error when `--draft-pr` command is run!"
#### What happened:
I ran`krel release-notes --create-draft-pr --fork=sayantani11 --fix --tag=v1.26.0-alpha.1 --list-v2` the command started as it should and I edited a few of the PRs as well, but after that it threw an error and I have tried everything but still not able to overcome the problem.
Following is the error:
[code]

#### What you expected to happen:
After the `--draft-pr` is run, we sh

[2022-10-16 16:23] sayantani11 commented on #2713
cc @ramrodo

[2022-10-16 20:41] sftim opened #2714 "Mechanism for interim signing of packages"
#### What would you like to be added:
Provide and document a way for a package builder to provide interim signing so that further signing can be more trustworthy.

#### Why is this needed:
https://github.com/kubernetes/release/issues/913#issuecomment-1279378444 suggests that Google's folk can _sign_ packages, which we might want or need.
However, the provenance of what Google's team sign is going

[2022-10-16 20:41] sftim commented on #2714
I am not sure whether we should triage this issue as accepted. However, it feels worth putting the idea forward.

[2022-10-17 21:53] jorgearteiro commented on #2713
@sayantani11 Please, try to install latest WSL2 version with latest Linux Kernel from here https://devblogs.microsoft.com/commandline/a-preview-of-wsl-in-the-microsoft-store-is-now-available/.
You can also enable systemd on WSL2 if required. https://devblogs.microsoft.com/commandline/systemd-support-is-now-available-in-wsl/
Let me know if you need help.

[2022-10-19 17:58] BenTheElder commented on #2714
I believe we can sign RPM packages only. Normally in APT and RPM the repository is signed, I don't think we want to cross-sign between these within a repo and make users need two keys.

Users still using rapture should use the rapture key.
Users that migrate should use whatever key we sign the new repo with.

That comment is referring to the potential to sign and publish to rapture packages that a

[2022-10-19 20:32] sayantani11 commented on #2713
Followed the above steps and also updated to `Go 1.19.2`. I am on WSL2.
[code]
This error still pops up!

[2022-10-19 22:54] cpanato commented on #2618
I will take this issue, already discussed with @puerco

[2022-10-20 21:16] wespanther opened #2719 "Restrict permissions on /etc/passwd- in base images"
I was running some CIS checks against the container images in a cluster and found that there was a violation coming in from the CIS Debian 10 Benchmark 1.0.0. Specifically, it states:

[code]
I tracked this back to the debian-base/debian-iptables base images. You can see permissions are set to 644 for both `/etc/passwd` and `/etc/passwd-`.

[code]

This is a fairly small problem, but since it's in

[2022-10-20 21:17] wespanther commented on #2719
Note the permissions are actually coming in from debian:bullseye-slim. This should be as easy as adding a line to the debian-base dockerfile.

I'll see if I can send a PR this afternoon.

[2022-10-26 16:48] xmudrii opened #2726 "Dependency update - Golang 1.19.3/1.18.8"
**Releases are scheduled for November 1st.**

### Tracking info

Link to any previous tracking issue: #2694

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/dRtDK7WS78g/m/7v0ebkTJBAAJ

SIG Release Slack thread:

### Work items

- [ ] `kube-cross` image update:

  - [ ] image promotion:

- [ ] `go-runner` image update:

  - [ ] image promotion:

- [ ] `releng-ci` ima

[2022-10-26 16:54] cpanato commented on #2726
thanks @xmudrii for leading this, let me know if you need help

[2022-10-26 16:58] ramrodo commented on #2713
According to [this comment](https://github.com/kubernetes/sig-release/pull/2059#issuecomment-1284604025), the error was more related to how to stop/pause the process of editing release notes before creating the PR. Since the PR was successfully created and we have not seen this error again, I'll proceed to close this PR. Open it later if it is necessary.

/close

[2022-10-26 16:58] #2713 closed

[2022-10-28 23:12] chw120 commented on #2719
/assign

[2022-10-29 17:21] jeremyrickard opened #2729 "krel stage broken on SBOM generation"
#### What happened:

While running `krel stage`, we encountered an error with SBOM generation which keeps the build from finishing:

[code]

#### What you expected to happen:

`krel stage` ran successfully and an SBOM was correctly generated

#### How to reproduce it (as minimally and precisely as possible):

[code]

#### Anything else we need to know?:

This issue is probably in `bom`?  There had

[2022-10-29 17:44] cpanato commented on #2729
/assign

[2022-10-29 18:58] jeremyrickard commented on #2729
I'm able to replicate this locally with the latest `bom` on a fresh Kubernetes clone results in:

[code]

That warning repeats for quite a while, then:

[code]

I'll open an issue over there and link here.

[2022-10-30 05:30] puerco commented on #2729
Filed https://github.com/kubernetes-sigs/bom/pull/189 to fix this issue in the SBOM code.

[2022-10-30 21:23] cpanato commented on #2729
fixed
https://console.cloud.google.com/cloud-build/builds;region=global/b4984330-6ea2-4c99-843d-4e821e5ad1c1?project=kubernetes-release-test

/close

[2022-10-30 21:23] #2729 closed

[2022-10-31 08:48] sayantani11 opened #2733 "krel command for creating a `website-pr` keeps throwing error"
#### What happened:
I ran `krel release-notes --create-website-pr --fork=sayantani11 --fix --tag=v1.26.0-alpha.1 --list-v2` it starts gathering the release notes and then stops with an error. I am pasting here the log of the current error, but it has shown a different error in the past as well.
[website-pr log.txt](https://github.com/kubernetes/release/files/9899484/website-pr.log.txt)

The error

[2022-10-31 23:34] upodroid opened #2734 "Notarise macOS binaries for `kubectl`, `minikube` `kops` and `kind`"
#### What would you like to be added:

We are all familiar with this very annoying Gatekeeper warning when we download unsigned & unnotarized darwin binaries from the internet using a browser. Apple has forced notarising binaries since June 2019 from 10.15+ releases.

<img src="https://user-images.githubusercontent.com/25100905/199127439-8984f61b-7981-4a4a-a660-33e265b7eff9.png" width=30% height=3

[2022-11-01 12:01] saschagrunert opened #2737 "Integrate `hack/rapture/build-packages.sh` into `krel`"
We can add a new deb/rpm package build/publish step into `krel stage/release` by creating a wrapper around something like:

[code]

The script runs the package builds within containers so we should already have the requirements for running in GCB.

The build script assumes that the binaries already exist on `dl.k8s.io`, which technically means that it has to run in `krel release`. Ideally it would

[2022-11-01 12:05] ameukam commented on #2737
cc @ameukam

[2022-11-02 08:21] saschagrunert commented on #2737
/assign @jeremyrickard (volunteered to take on this work in the SIG release meeting yesterday)

[2022-11-02 15:03] xmudrii opened #2738 "go-runner s390x image/binary builds are flaky"
#### What happened:

The `post-release-push-image-go-runner` job flakes often because s390x image builds are failing.

The most common reason why image builds fail is that the Go toolchain fails to compile the s390x binary. For example, today it took 7 retries before we were able to build the binary for s390x and therefore the image. The underlying reason why the Go build fails differs from run to

[2022-11-02 15:20] dims commented on #2738
cc @huoqifeng @srajmane @guirish @mkumatag @cwsolee

![FlawedRichBrontosaurus-max-1mb](https://user-images.githubusercontent.com/23304/199529093-a24cfa3c-f9d3-4aac-91b0-6f7d292f52b1.gif)

[2022-11-03 02:31] BenTheElder commented on #2738
I'm pretty sure all of these trace back to emulation bugs, which is also what we've previously seen with these problems.
ARM and AMD64 have no issues, but the others have emulation bugs that surface like https://github.com/golang/go/issues/53797 https://github.com/golang/go/issues/50584

[2022-11-03 08:18] saschagrunert commented on #2616
/remove-lifecycle stale

[2022-11-03 20:37] puerco commented on #2611
remove-lifecycle stale

[2022-11-06 11:57] #2443 closed

[2022-11-07 09:43] saschagrunert commented on #2737
@jeremyrickard do you need support on that?

[2022-11-07 14:25] saschagrunert commented on #2737
Discussed with @jeremyrickard that I can take a stab on this one.

[2022-11-07 16:51] saschagrunert commented on #2737
We still have to update the docs, let's keep it open until that.

[2022-11-07 18:54] upodroid opened #2745 "Update our annoucements to use the `registry.k8s.io` instead of `k8s.gcr.io` image registry"
#### What would you like to be added:

Our mailing announcements and k/k changelogs still point to the old registry.

https://groups.google.com/a/kubernetes.io/g/dev/c/3lNLJFZOe6o
https://github.com/kubernetes/kubernetes/commit/97efa303b763449284f9829a86a0bd313f38c8e9

#### Why is this needed:

https://github.com/kubernetes/k8s.io/issues/3976

/priority important-soon

[2022-11-07 19:25] upodroid commented on #2745
/assign

[2022-11-08 15:22] #2737 closed

[2022-11-09 06:52] guirish commented on #2738
Hi @xmudrii , are we good to close this issue as the issue has been fixed with latest QEMU version

Thanks @dims for the #2739 PR.

[2022-11-09 08:41] xmudrii commented on #2738
Sounds good, let's close the issue for now and we can reopen it if the problem appears again. Thank y'all for taking care of this!
/close

[2022-11-09 08:41] #2738 closed

[2022-11-09 15:10] xmudrii opened #2752 "Add support for k8s-stable4 version marker"
#### What would you like to be added:

We should add support for the `k8s-stable4` version marker because it might happen that we support 4 branches in parallel.

#### Why is this needed:

We had a problem that we supported 1.25, 1.24, 1.23, and 1.22 at the same time. In this case, both `ci-kubernetes-build-1.23` and `ci-kubernetes-build-1.22` pointed to the `k8s-stable3` version marker. This migh

[2022-11-09 15:12] saschagrunert commented on #2752
Yep, docs have to be updated for that as well:

- https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/kubernetes-versions.md
- https://github.com/kubernetes/sig-release/blob/master/release-team/role-handbooks/ci-signal/upgrade-job-versions.md

[2022-11-09 15:17] xmudrii commented on #2752
Alternatively, considering that those `k8s-stable` version markers are [deprecated](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/kubernetes-versions.md#deprecated---generic), we should check if those jobs can switch to the new release markers.

[2022-11-09 17:18] ramrodo opened #2753 "krel can not handle backticks at the beginning of text field"
#### What happened:

At creating the draft PR for release notes for alpha.3 (or any other target release) with `krel`, it throws this error:

[code]

According to issues [sig-release#2073](https://github.com/kubernetes/sig-release/pull/2073) and [sig-release#1974](https://github.com/kubernetes/sig-release/pull/1974) this happens when there are backtips at the beginning of the value of **text** fie

[2022-11-11 15:49] jeremyrickard commented on #2679
@xmudrii is this one OK to close with your merged PR?

[2022-11-11 16:59] xmudrii commented on #2679
@jeremyrickard The ReleaseNotesV2 implementation is still affected by this issue. PR fixed it only for the original implementation.

[2022-11-11 23:03] jeremyrickard opened #2759 "Remove darwin/386 from cross"
We currently define the `KUBE_CROSSPLATFORMS` env var in the cross Dockerfiles as:

[code]

Per the [release notes](https://go.dev/doc/go1.15), Go 1.15 dropped support for 32 bit darwin binaries:

[code]

The oldest supported version of Kubernetes is now Kubernetes 1.23, which currently uses  `1.17.13`. Since we have moved past Go 1.14, we should remove the `darwin/386` platform.

[2022-11-11 23:04] jeremyrickard commented on #2759
/kind cleanup
/area /area release-eng

[2022-11-11 23:04] jeremyrickard commented on #2759
/area release-eng

[2022-11-11 23:05] jeremyrickard commented on #2759
/priority important-longterm

[2022-11-12 08:13] cpanato commented on #2759
Should drop the windows/386 as well?

[2022-11-12 09:13] #2759 closed

[2022-11-12 19:26] xmudrii commented on #2174
/remove-lifecycle stale

[2022-11-14 08:44] #2702 closed

[2022-11-16 22:22] jhawkins1 opened #2841 "go-runner in 1.24.8 kube-proxy Docker Image is built with 1.17.3 GO"
### What happened?

It appears although 1.24.x moved to 1.18 GO that the "go-runner"  in kube-proxy Docker Image is built using 1.17.3 GO.   This is being detected by Vulnerability Scanners, therefore, all 1.17.3 CVEs are being reported for the kube-proxy Image due to "go-runner".

### What did you expect to happen?

"go-runner" should be built with the same version of GO that the Kubernetes Relea

[2022-11-18 17:12] #2477 closed

[2022-11-25 09:49] xmudrii commented on #2076
/remove-lifecycle stale

[2022-11-26 20:31] #2532 closed

[2022-11-29 10:47] #2618 closed

[2022-11-29 11:42] #2586 closed

[2022-11-29 13:25] michizubi-SRF opened #2775 "Key expires gLinux Rapture Automatic Signing Key"
[code]

#### What happened:
The key used to sign the packages is about to expire on 12-04-2022.

#### What you expected to happen:
Key should be updated before it actually expires.

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:
Related issue: [kubernetes/test-infra#7505](https://github.com/kubernetes/test-infra/issues/7505)

Thanks!

[2022-11-29 13:50] ameukam commented on #2775
cc @kubernetes/release-engineering

[2022-11-29 14:04] xmudrii commented on #2775
cc @kubernetes/build-admins Can you help us with this one?

[2022-11-29 18:09] dims commented on #2775
slack thread : https://kubernetes.slack.com/archives/CJH2GBF7Y/p1669736104022759

[2022-11-29 18:13] dims commented on #2775
Here's the latest

[code]

[2022-11-30 16:43] saschagrunert opened #2786 "Enforce static linking for all shipped binary artifacts"
We reuse the artifacts in our debian and rpm packages and therefore cannot guarantee that we meet all the runtime dependencies they require. For example the kubelet is dynamically linked to glibc, which could be linked statically.

We should check which binaries are not static and try to link them accordingly. We can verify that either directly in the k/k build scripts or via `krel stage`, for exa