[2020-06-17 21:14] tpepper commented on #1365
/priority important-soon
also partly
/kind documentation

[2020-06-18 03:38] hwdef commented on #1355
kindly ping @justaugustus

[2020-06-18 08:18] BedivereZero opened #1366 "yum install kubelet-1.16.3 failed on aarch64"
#### What happened:

`yum install kubelet-1.16.3` failed

#### What you expected to happen:

`yum install kubelet-1.16.3` succeed

#### How to reproduce it (as minimally and precisely as possible):

[code]

#### Environment:

- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):  CentOS Linux release 7.7.1908 (AltArch)
- Kernel (e.g. `uname -a`): Linux 192-168-139-51 4.18.

[2020-06-18 09:12] saschagrunert commented on #1365
Hm, yeah I think a proper documentation would be enough in our case, right? The changelogs should never contain any sensitive information.

[2020-06-18 11:33] justaugustus commented on #1366
Closed as duplicate of https://github.com/kubernetes/kubernetes/issues/92242. Please follow that issue for updates.
/close

[2020-06-18 11:34] #1366 closed

[2020-06-19 01:10] joejulian opened #1368 "Unexpected PR list from release-notes 0.3.3"
#### What happened:
The testing branch between tags testing-1.7.0 and testing-1.8.0 had only 1 PR with release notes. The tool created 7 entries with PRs that were included with the previous release.

#### What you expected to happen:
I expected only PR #249 to be included.

#### How to reproduce it (as minimally and precisely as possible):
release-notes --start-sha $(git rev-parse "testing-1.7.0"

[2020-06-19 01:13] puerco commented on #1368
Thanks for the report @joejulian I'm on it
/assign

[2020-06-19 04:11] puerco commented on #1368
Hey @joejulian I cloned the repository and ran `release-notes` on it with the same params and got the same results. After reviewing the output I found that the document has the correct notes included.

I think you are not considering several Pull Requests that fall into the range you're specifying in the above invocation or the release-notes tool.

You can see all the commits and PRs that are anal

[2020-06-19 17:36] puerco opened #1370 "Integration of Release Notes automatic tools into the release process"
After some months of building and testing the release notes tools in `krel`, the 1.19 Release Notes Team would like to propose the final integration of the release notes automation into the release process. The release notes tooling in krel is by now fairly well tested and has proven to handle the most common problems we've encountered well. Therefore, we would like to propose the following action

[2020-06-19 18:01] joejulian commented on #1368
That entire list, everything < 249 was in the prior tag. Note that PR 193 is commit e6eb3c8faf2a099a4257bb541f66a5f7da96727c.
[code]
Since we're only asking for commits after `testing-1.7.0` up to `testing-1.8.0` I would expect that any commits that are included in 1.7.0 would not be also included in 1.8.0.

[2020-06-19 19:07] joejulian commented on #1368
Looks like this is a problem with my git tree and process. Closing.

[2020-06-19 19:07] #1368 closed

[2020-06-20 09:55] davemac30 opened #1371 "kubelet-1.18.4-0 cannot be installed alongside cri-o on fedora 32"
#### What happened:
Tried to install kubelet-1.18.4-0 RPM on a Fedora 32 box which had cri-o installed. Got the following error:

[code]

#### What you expected to happen:

As with previous versions of kubelet RPM (e.g. 1.18.3-0), I expected kubelet-1.18.4-0 to install without errors.

#### How to reproduce it (as minimally and precisely as possible):

On a clean, new vagrant box based on `fedora/

[2020-06-20 16:50] saschagrunert commented on #1371
Hey @davemac30 👋, with the release of Kubernetes 1.18.4 we removed packaging `kubernetes-cni`, which means we probably can fix this error with https://github.com/kubernetes/release/pull/1367, too.

[2020-06-20 17:15] saschagrunert commented on #1371
Alright https://github.com/kubernetes/release/pull/1367#discussion_r443145331 clarifies that the solution is not as trivial as initially thought.

Calling for @dougsland 👋 do you have a suggested way how we can use both, the Fedora module and the packages on yum.k8s.io together?

cc @lsm5 @haircommander

[2020-06-22 08:48] saschagrunert commented on #1370
Thank you for the tracking issue!

I think we already have this in `krel, right?

[2020-06-22 13:22] haircommander commented on #1371
Cc @lsm5

[2020-06-22 15:25] dougsland commented on #1371
I think it's hard to keep a statement that both repos will work 100% all the time without conflicts (as independent repos).

[2020-06-22 19:53] puerco commented on #1370
oops yes you are right. I meant modifying `krel release-notes`. I've changed the wording to reflect that.

[2020-06-22 19:55] puerco commented on #1370
/kind feature
/kind documentation

[2020-06-23 05:35] justaugustus commented on #1371
Potential fix being discussed here: https://github.com/kubernetes/release/pull/1375

[2020-06-24 04:04] justaugustus commented on #1371
@davemac30 -- We've published new packages. Can you try again w/ `1.18.4-1`?

[2020-06-24 11:05] davemac30 commented on #1371
Seems to work fine - cri-o and kubelet installed together no problem:

[code]

Thanks all for the speedy resolution!

[2020-06-24 11:28] StefanSa opened #3044 "Upgrade to v18.4 failed, cannot install both kubelet-1.18.4-1.x86_64 and kubelet-1.18.4-0.x86_64"

[2020-06-28 16:04] ankitvgupta commented on #1007
I've been facing this intermittently in the last few days, causing CI builds to fail. Any reason to believe this issue may be back?

[2020-06-28 16:15] Pure-AdamuKaapan commented on #1007
Yeah, I think we saw it once or twice the other day as well... Might be back.

[2020-06-29 02:54] #1355 closed

[2020-06-29 02:58] hwdef opened #1382 "kubepkg have an error while build debs"
#### What happened:

When I run kubepkg , I encountered an error.

[code]

#### What you expected to happen:

build debs

#### How to reproduce it (as minimally and precisely as possible):

[code]

#### Anything else we need to know?:

#### Environment:

- Cloud provider or hardware configuration: azure
- OS (e.g: `cat /etc/os-release`):
[code]
- Kernel (e.g. `uname -a`):
[code]
- Others:

[2020-06-29 03:01] hwdef commented on #1382
/assign @justaugustus

[2020-06-30 02:58] alejandrox1 commented on #1204
@jimangel is this issue up to date?

/remove-lifecycle stale

[2020-06-30 03:01] jimangel commented on #1204
It needs to be updated. Will review tomorrow, thanks for the ping!

[2020-06-30 13:36] schnable commented on #1007
Failures seem to be region related - I can't pull the keys at all from my home (Raleigh, NC) but have no problem pulling from my work VPN (Boston, MA.)

[2020-06-30 16:22] stefanoparkopedia commented on #1007
this is happening again (from AWS eu-west-1 at least):
`$ **curl  https://packages.cloud.google.com/apt/doc/apt-key.gpg**

<!DOCTYPE html>
<html lang=en>
  <meta charset=utf-8>
  <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
  <title>Error 500 (Internal Server Error)!!1</title>
  <style>
    *{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{b

[2020-06-30 22:54] ankitvgupta commented on #1007
We have seen this intermittently this week on Github Actions, which I think is running on Azure somewhere

[2020-06-30 23:31] justaugustus commented on #1007
@listx -- Can you take a look on the Google side?

[2020-07-01 00:53] listx commented on #1007
I've pinged the same Google folks from last time. Stay tuned.

[2020-07-01 04:56] b10s opened #1384 "Provide links to k8s control plane images"
#### What would you like to be added:
Would be great to add links to images with official k8s control plane binaries to [release notes/changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md#v1185)

#### Why is this needed:
Some users do deploy k8s using their own way without kubeadm.

They'd better have link to images instead using binaries to stick to best pra

[2020-07-01 06:08] justaugustus commented on #1384
/assign @saschagrunert @puerco

[2020-07-01 09:11] saschagrunert commented on #1384
From a technical perspective I think we  could add a new flag to `krel changelog` to provide the release `--images` path. This path can be used to implement something like:
https://github.com/kubernetes/release/blob/8c711b57abe96ddcb0a41a331d4e451b0d0d8c92/lib/releaselib.sh#L1052-L1078

The same logic would be needed when converting parts of anago to a golang based version.

[2020-07-01 20:13] puerco commented on #1384
I can take it @saschagrunert unless you want to for some particular reason

[2020-07-01 20:22] saschagrunert commented on #1384
Sounds good, thank you @puerco!

[2020-07-01 20:36] listx commented on #1007
I have received confirmation that there was an issue that occurred in the reported timeframe from the recent comments. That issue has been fixed as of yesterday June 30, so there shouldn't be any more GPG key download errors.

[2020-07-01 20:46] stefanoparkopedia commented on #1007
thanks!

[2020-07-13 08:52] AkihiroSuda opened #1403 "images/cross: should not use extremely large UID/GID"
#### What would you like to be added:

The `us.gcr.io/k8s-artifacts-prod/build-image/kube-cross` image should not use UID/GID larger than > 65536.

Currently it contains files owned by `630384594:600260513`
[code]

#### Why is this needed:
For supporting Rootless Docker/Podman in `kind build node-image`.

On rootless Docker/Podman, the number of available UID/GID is constrained by the configuratio

[2020-07-13 10:12] saschagrunert commented on #1403
Confirmed, preparing a fix in #1404

[2020-07-14 16:51] saschagrunert commented on #834
Most of the mentioned enhancements are now in place, whereas the relnotes bash script does not exist any more. We have additional improvements planned which can be tracked in other issues.

Let’s 🙂
/close

[2020-07-14 16:51] #834 closed

[2020-07-14 16:54] saschagrunert commented on #852
/remove-lifecycle rotten

[2020-07-14 19:18] saschagrunert commented on #910
/remove-lifecycle rotten

[2020-07-15 02:49] justaugustus opened #1408 "Golang security updates (go1.14.5 and go1.13.13)"
#### What would you like to be added:

kubernetes/kubernetes should support go1.14.5 and go1.13.13

#### Why is this needed:

go1.14.5 and go1.13.13 are security releases that were made available earlier today.
Announcement here: https://groups.google.com/d/topic/golang-announce/XZNfaiwgt2w/discussion

#sig-release Slack thread here: https://kubernetes.slack.com/archives/C2C40FMNF/p159474608942780

[2020-07-15 02:56] justaugustus commented on #1257
Superseded by the security updates happening in https://github.com/kubernetes/release/issues/1408.
/close

[2020-07-15 02:56] #1257 closed

[2020-07-15 02:57] justaugustus commented on #1216
Remaining items are superseded by the Golang security updates in https://github.com/kubernetes/release/issues/1408.
/close

[2020-07-15 02:57] #1216 closed

[2020-07-15 03:03] justaugustus commented on #1382
This was fixed in https://github.com/kubernetes/release/pull/1379.
/close

[2020-07-15 03:04] #1382 closed

[2020-07-17 02:41] mkumatag commented on #1408
Golang `1.14.6` is released today with an additional cherry-picks contains one of the mandatory fix for the ppc64e platform, I'm creating a separate issue to update the same.

[2020-07-17 02:48] mkumatag opened #1410 "Golang update (go1.14.6 and go1.13.14)"
**What would you like to be added:**

kubernetes/kubernetes should support go1.14.6

**Why is this needed:**

To include a critical fix for the ppc64le platform, Fix: https://github.com/golang/go/issues/39991
announce: https://groups.google.com/g/golang-announce/c/9KNZ5g9tv4o/m/n_CqeNoUBwAJ
Fixes went in - https://github.com/golang/go/milestone/153?closed=1

Slack mention: https://kubernetes.slack

[2020-07-17 03:54] justaugustus commented on #1410
/assign

[2020-07-17 06:23] justaugustus commented on #1408
I'm considering this complete. k/k `master`/`release-1.19` branches are on go1.14.5.
This release was determined to be low impact/severity by the PSC, so we'll carry forward the next go1.14 and go1.13 updates in https://github.com/kubernetes/release/issues/1410.

/close

[2020-07-17 06:23] #1408 closed

[2020-07-17 08:49] saschagrunert opened #1414 "krel release-notes --create-website-pr error: Fork collab can't be granted by someone without permission"
### What happened:

I'm not able to create the website draft PR which seems to fail with the error message:
[code]

The set permissions of the token is definitely enough and I'm wondering if someone else encountered this problem.

#### What you expected to happen:
That the website PR get's created.
#### How to reproduce it (as minimally and precisely as possible):
[code]
#### Anything else we need

[2020-07-17 08:50] saschagrunert commented on #1414
/cc @puerco
/priority important-soon

[2020-07-17 11:49] saschagrunert commented on #1414
The problem seems magically gone. I'm not sure if this is some kind of remote API issue…

[2020-07-20 18:47] justaugustus opened #1421 "Golang 1.15 updates"
**What would you like to be added:**

Tracking issue for go1.15 updates

**Work items:**

### go1.15beta1

- [x] kube-cross bump: https://github.com/kubernetes/release/pull/1420
- [x] image promotion: https://github.com/kubernetes/k8s.io/pull/1048
- [x] k/k bump (`master`): https://github.com/kubernetes/kubernetes/pull/93264
- [x] k/repo-infra bump: https://github.com/kubernetes/repo-infra/pull/20

[2020-07-20 18:48] justaugustus commented on #1421
@liggitt -- Let's aggregate the list of update concerns/hotspots to watch here.

[2020-07-20 18:49] justaugustus commented on #1421
/assign

[2020-07-24 23:50] neolit123 opened #1438 "the image for kube-apiserver v1.19.0-rc.2 contains a binary of unknown origin"
#### What happened:
https://kubernetes.slack.com/archives/CJH2GBF7Y/p1595600184366100

@aanm deployed a v1.19.0-rc.2 kubeadm based cluster and discovered that the kube-apiserver reports a build SHA `dd1511ca82c2e08847a1e4f712f4f1924f5babc8`, which is unknown (not a commit in k/k).

#### What you expected to happen:
the binary inside the kube-apiserver image to match the Anago release commit:
https

[2020-07-25 00:33] liggitt commented on #1438
/priority critical-urgent

can we capture the rc2 build/release logs before they expire?

@kubernetes/release-engineering

[2020-07-25 00:39] hasheddan commented on #1438
Links to logs for each run are here: https://github.com/kubernetes/sig-release/issues/1156

[2020-07-25 00:43] BenTheElder commented on #1438
https://github.com/kubernetes/release/pull/1428 probably deserves a second look ... (or perhaps a first, from new eyes uhhh)

[2020-07-25 00:56] puerco commented on #1438
Tim merged that one for anago to finish transitioning the artifacts from stage to release, everything was already built by that point. If it was caused by a hack, it should be one of the earlier ones (there were several that day).

[2020-07-25 09:40] justaugustus commented on #1410
This is complete.
/close

[2020-07-25 09:41] #1410 closed

[2020-07-25 13:40] saschagrunert commented on #1438
The _wrong_ commit is the release commit from the mock staging bucket. If we look into [the (mock) staged sources](https://storage.googleapis.com/kubernetes-release-gcb/stage/v1.19.0-rc.1.121+223a4e974f77c5/src.tar.gz), then we can see:

[code]

To me it looks like that we pushed the wrong container image into the registry. The build image during [nomock stage](https://console.cloud.google.com/sto

[2020-07-25 19:57] puerco commented on #1438
OK, then that means that the wrong image got referenced in the promoter manifest somehow, right?  [The digest in the manifest](https://github.com/kubernetes/k8s.io/blob/8e267aa1ed12b26897dbf9bb2d6c1294cdd76dbd/k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml#L22-L24) matches the image in [the staging registry](https://console.cloud.google.com/gcr/images/k8s-staging-kubernetes/GLOBAL/kube-apise

[2020-07-27 15:31] saschagrunert commented on #777
This seems done from my point of view, we now check verify boilerplate.
/close

[2020-07-27 15:31] #777 closed

[2020-07-27 15:38] justaugustus commented on #777
Added in https://github.com/kubernetes/release/pull/889, https://github.com/kubernetes/release/pull/890, and https://github.com/kubernetes/release/pull/892.

[2020-07-27 15:42] justaugustus commented on #1007
/close

[2020-07-27 15:42] tpepper commented on #933
SIG decision is to no refactor anago/gcbmgr internals, which means this issue is a dup of https://github.com/kubernetes/release/issues/918

[2020-07-27 15:43] #933 closed

[2020-07-27 15:45] tpepper commented on #1028
This could be emitting more info like `git status` and `cat .git/config` at anago runtime.

[2020-07-27 15:47] saschagrunert commented on #1403
This should be fixed now
/close

[2020-07-27 15:47] #1403 closed

[2020-07-27 15:56] saschagrunert commented on #1087
I think the main issue is here which bucket we choose and how we would handle granting permissions to the bucket. At least the whole SIG Release Notes subteam and Release Engineering would have a need to access the bucket…

[2020-07-27 16:02] tpepper commented on #1353
@Verolop we've just discussed that there are a number of issues that are relatively similar to this, so I've tweaked the description slightly to cover the more abstracted case.  There's max half a dozen points where a minimal additional retry loop in the shell script could make us much more likely to survive these random transient failures and save tonnes of release time and effort.

[2020-07-27 16:03] tpepper commented on #1353
(ie: rather than close a bunch of issues and create new one...just re-using/re-focusing this one for broad impact)

[2020-07-28 06:57] saschagrunert commented on #1353
An idea which came into my mind: What if we add a krel subcommand for pushing the git objects? Seems fairly straight forward and we could remove the bash bits from anago. Then I'd like to enhance the logging via logrus and maybe add some pre-checks: For example making the call fail only in some certain cases and assume that "everything is ok" if the tag is already present remotely. WDYT?

[2020-07-28 14:42] tpepper commented on #1438
Looking in diffoscope at the binaries produced for x86_64 linux and comparing with a local build (stripped) from the 1.19.0-rc.2 tag, they look like they're functionally equivalent and indirectly affirming the suspicion that the re-re-re-build&releases had local, non-pushed changelog commits and thus different commitids.

[2020-07-29 09:35] saschagrunert opened #1445 "[krel] Introduce krel subcommand for image promotion"
#### What would you like to be added:

Right now we draft a separate [image promotion PR](https://github.com/kubernetes/k8s.io/pull/1071) after `mock release`, which adds another manual step in release cutting. To make the overall process less error-prone, we can add an additional `krel` subcommand to do the image promotion PR for us. The PR should be created on hold and will be lifted right befor

[2020-07-29 09:49] saschagrunert opened #1446 "[krel] Introduce krel subcommand for pushing git objects"
There are multiple issues with pushing the git references inside anago, which makes the overall process not idempotent. For example network flakes can abort the push, even if specified as dry-run. If the remote tag already exists due to another issue in anago, then we're not able to skip this step accordingly.

I would like to solve that issue inside a dedicated krel subcommand for pushing the git

[2020-07-29 09:50] saschagrunert commented on #1446
/priority important-soon

[2020-07-29 09:50] saschagrunert commented on #1445
/priority important-soon

[2020-07-29 10:58] cpanato opened #1447 "Add golang version when doing the announcement of the releases"
#### What would you like to be added:

Add in the announcement email the golang version that was used

#### Why is this needed:

[2020-07-29 11:12] saschagrunert commented on #1438
Looks like we have the same issue with rc.3:

[code]
then:
[code]

`aaf86f7c3a07cd29fa306370b50950f950d0f64d` is the commit from the `mock stage` image build. This can be verified by looking at the staged sources:

[code]

Now, let's look at the `nomock stage` container images: [kube-apiserver.tar](https://storage.cloud.google.com/kubernetes-release/stage/v1.19.0-rc.2.125+182a67fa7bef52/v1.19.0-rc

[2020-07-29 15:38] puerco commented on #1446
+1 If we are going to add more checks to the process, I think it's best to do it in go and strip anago as much as we can.

[2020-07-29 18:05] medyagh commented on #839
any update on this issue ?

[2020-07-31 08:57] cpanato commented on #1447
/assign
/priority important-soon

[2020-07-31 09:01] saschagrunert commented on #1447
We had a short chat and were thinking that a modification in `anago` (running `go version`) should be fine for now. In the long term we could migrate the whole announcement creation logic into an own krel subcommand and replace those bits in anago in the same we we did for `krel changelog`.

[2020-07-31 10:03] cpanato opened #1452 "[krel] Introduce krel subcommand for building the Annoucement"
#### What would you like to be added:
Replace the `anago` announcement function with a `krel` subcommand to generate the announcement's text
https://github.com/kubernetes/release/blob/6e2777630e320ff4e3c7ee8bcabf96aea8c3692d/anago#L853-L951

if that we can remove this part of the functionality from `anago` and start moving to `krel`

/priority important-soon

[2020-08-03 06:51] justaugustus commented on #1438
Catching up from some OOO days and the threads in Slack (https://kubernetes.slack.com/archives/CJH2GBF7Y/p1596014847435000?thread_ts=1596006315.427000&cid=CJH2GBF7Y, https://kubernetes.slack.com/archives/CJH2GBF7Y/p1596217066459900)...

I'll summarize what happened and what I believe should be next steps.

On 7/20, the vanity domain flip (VDF) was kicked off, which changed the backing registries f

[2020-08-03 08:28] justaugustus commented on #1438
Opened a fix in https://github.com/kubernetes/release/pull/1455.

[2020-08-03 11:57] #1438 closed

[2020-08-03 16:14] saschagrunert commented on #1087
/assign @cartyc

We will start working on this soon :)

[2020-08-04 08:47] saschagrunert commented on #1414
Seems not reproducible, closing
/close

[2020-08-04 08:47] #1414 closed

[2020-08-04 08:50] saschagrunert opened #1459 "[krel] Finish-up krel push"
We started migrating from `push-build.sh` to `krel push` in #941 and #1105 but the implementation is not feature complete. We should continue our work here and integrate it into `anago` to have the code being used in production.

- [x] Copy binaries (#1538)
- [x] Writing checksums (#1562)
- [x] Upload artifacts to GCS (#1567)
- [x] Push container images (#1568)
- [x] Push artifacts to release buck

[2020-08-04 08:53] saschagrunert opened #1460 "[krel] Add subcommand to replace find_green_build script"
The `find_green_build` script right now relies on two main functions in `releaselib.sh`, which have been converted to golang in #1395 and #1397. We now should convert the `find_green_build logic` script to be a native `krel find-green-build` and remove the bash script from this repository.

[2020-08-04 08:58] saschagrunert opened #1461 "[krel] Add subcommand to refactor build-version retrieval from anago"
The idea is to replace `release::set_release_version` and `release::set_build_version` inside `anago` with something like `krel release-env`, which provides the right set of environment variables. This could be done by creating an .env file which can be sourced by `anago`.

After that has been done and `find_green_build` has been migrated to `krel` too, we can finally remove both functions from `l

[2020-08-04 09:01] saschagrunert commented on #918
We're pretty far. I created new issues for the rest of the migration:
- https://github.com/kubernetes/release/issues/1445
- https://github.com/kubernetes/release/issues/1446
- https://github.com/kubernetes/release/issues/1452
- https://github.com/kubernetes/release/issues/1459
- https://github.com/kubernetes/release/issues/1460
- https://github.com/kubernetes/release/issues/1461

Let's close this

[2020-08-04 09:01] #918 closed

[2020-08-04 15:21] tpepper commented on #1354
/assign @puerco

[2020-08-04 15:21] lauriapple2 commented on #1354
/assign @puerco

[2020-08-04 15:30] neolit123 commented on #897
i have not seen this issue recently in the kubeadm / kinder jobs that use ci/latest
wondering if something is masking it or whether it was resolved at some point.

[2020-08-04 17:49] puerco commented on #1354
We already have the mechanism in place to add the CVE information to the release notes and changelog. The current proposal for the MD format is in PR#[1441](https://github.com/kubernetes/release/pull/1441), a sample of the markdown output can be seen [here](https://github.com/puerco/lab/blob/master/release-notes/cve-template.md).

Could the interested parties comment on the output so that we can m

[2020-08-05 15:21] saschagrunert opened #1466 "Cut k/release v0.4.0"
The last release was long long time ago and we added some features which are valuable to dependent projects. What do you think about releasing v0.4.0?

[2020-08-05 19:47] neolit123 opened #1468 "the marker latest-1.15 was deleted"
#### What happened:
i've mentioned this in the #release-management channel today:
https://kubernetes.slack.com/archives/CJH2GBF7Y/p1596638740060400

the kubeadm upgrade and skew tests are still consuming the `latest-1.15.txt` marker to ensure users can upgrade to a supported version e.g. from 1.15 -> 1.16, while 1.16 is still in support.

this resulted in failures of the kubeadm skew and upgrade j

[2020-08-05 19:47] neolit123 commented on #1468
/sig cluster-lifecycle

/priority important-soon
(given this is related to the 1.19 release and 1.16 going out of support).

[2020-08-05 20:13] justaugustus commented on #1468
/assign

[2020-08-05 21:38] #1447 closed

[2020-08-06 09:03] puerco commented on #1466
I'd like to have #1467 included in a release before the release cycle is out.

v0.4.0 is a nice round number that we can use to know from which point the release notes maps where added and it would certainly be nice to the feature in that one, but what I'm really interested in is to have it in a release before the Release Notes team for 1.20 takes over.

[2020-08-06 09:17] saschagrunert commented on #1466
Sounds good, let's hold for #1467

[2020-08-06 10:47] justaugustus commented on #1421
I believe we're waiting on a go1.15rc2, before the official release.
This is still in progress, but in a waiting state at the moment.

[2020-08-06 12:33] LappleApple commented on #1354
/priority important-soon

[2020-08-06 12:33] cpanato commented on #1320
I would like to try to complete and close that, so I have a question a couple of questions
1 - Bug:

what do we want here? show the copying logs during the upload? not clear this to me

2 - Feature

which ones do we want to expose?

3 - Feature

4 - Feature

made a [comment in the past](https://github.com/kubernetes/release/issues/1320#issuecomment-640085790). What is the idea here? the github doe

[2020-08-06 17:45] justaugustus commented on #1466
/assign
I'll plan to release this on Monday.
If https://github.com/kubernetes/release/pull/1467 lands before then, we'll include it.
If not, there's no reason it can't be introduced in a `v0.4.1` release.

[2020-08-07 01:42] listx opened #1472 "allow building of v1.x images of debian-base (in addition to v2.x)"
The current mechanism for building debian-base, after https://github.com/kubernetes/release/pull/1450, is to update the master branch here to bump the TAG field in the Makefile, which will trigger a push to gcr.io/k8s-staging-image-build. However we would like to *update v1.x versions also* (new Docker images for debian:stretch do include packages with security fixes).

#### What would you like to

[2020-08-07 01:57] justaugustus commented on #1472
/assign

@listx -- We have a mechanism for this today, the `variants.yaml` file ([example](https://github.com/kubernetes/release/blob/master/images/build/cross/variants.yaml)), but I guess my question would be:

Is there a good reason to continue updating the Debian Stretch images?
I'm leaning away from maintaining multiple OS versions on this image, if at all possible.

[2020-08-07 02:00] justaugustus commented on #1472
That is:
1. I'd expect to see the similar security fixes on buster, as with stretch
2. I'd want community consumers of the Debian base images to use the `v2.y.z` series

[2020-08-07 05:03] listx commented on #1472
Staying on Stretch is desirable for introducing as minimal a change as possible for those reverse-dependencies of debian-base, if they already depend on debian-base:v1.y.z (which is based on Stretch afaik). If on the other hand we know that replacing Stretch with Buster for these reverse-dependencies doesn't risk breakages, then this feature request can be ignored.

Ack.

[2020-08-07 06:38] justaugustus opened #1474 "[golang] go1.14.7 and go1.13.15 security updates"
**What would you like to be added:**

Tracking issue for go1.14.7 and go1.13.15 security updates
Announcement: https://groups.google.com/d/topic/golang-announce/NyPIaucMgXo/discussion

**Work items:**

- [x] kube-cross bump: https://github.com/kubernetes/release/pull/1473
- [x] image promotion: https://github.com/kubernetes/k8s.io/pull/1119
- [x] k/release/k8s-cloud-builder bump: https://github.co

[2020-08-07 08:18] LappleApple commented on #1010
/ good first issue

[2020-08-07 08:21] LappleApple commented on #1010
/good-first-issue

[2020-08-07 13:44] justaugustus commented on #1472
Spoke with @listx offline and I'm working on a fix/the feature here: https://github.com/kubernetes/release/pull/1476

[2020-08-07 19:25] liggitt commented on #1421
looking through the release notes, https://github.com/kubernetes/kubernetes/pull/93797 is needed to unwrap net errors in 1.15

[2020-08-07 20:08] justaugustus commented on #1472
This is complete with the work in https://github.com/kubernetes/release/pull/1476, https://github.com/kubernetes/k8s.io/pull/1121, https://github.com/kubernetes/release/pull/1478, https://github.com/kubernetes/k8s.io/pull/1122.

The following images are now live:
- `k8s.gcr.io/build-image/debian-base:v1.1.0`
- `k8s.gcr.io/build-image/debian-iptables:v11.1.0`

[code]

[code]

[code]

[code]

[code]

[2020-08-07 20:09] #1472 closed

[2020-08-09 19:33] saschagrunert commented on #1119
/remove-lifecycle stale

[2020-08-11 06:39] saschagrunert commented on #959
/remove-lifecycle stale

[2020-08-11 06:39] saschagrunert commented on #689
/remove-lifecycle stale

[2020-08-11 09:06] patsevanton commented on #689
is this bug fixed?

[2020-08-11 20:18] xmudrii commented on #914
This still seems relevant.
/remove-lifecycle stale

[2020-08-12 12:53] saschagrunert commented on #1466
/close
Done :heavy_check_mark:

[2020-08-12 12:53] #1466 closed

[2020-08-12 12:59] justaugustus commented on #1466
ref: https://github.com/kubernetes/release/releases/tag/v0.4.0

[2020-08-13 12:45] justaugustus opened #1492 "[1.18|1.17] Freeze merges until patch releases go out"
cc: @kubernetes/release-engineering
ref: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1597321295102500

[2020-08-13 14:54] justaugustus opened #1493 "Releases v1.18.7, v1.18.8-rc.0, v1.17.10, v1.17.11-rc.0 are incomplete"
#### What happened:

Due to workflow changes with image promotion now happening on Kubernetes Community Infra, the above releases failed to complete successfully.

/assign
cc: @kubernetes/release-engineering
/priority critical-urgent

#### How to reproduce it (as minimally and precisely as possible):

Can be reproduced by failing to promote Release Candidate images when cutting an official release

[2020-08-13 15:27] justaugustus opened #1494 "krel should support some emergency commands for editing production artifacts"
#### What would you like to be added:

krel should support some emergency commands for editing production artifacts, skipping certain anago checks.

#### Why is this needed:

We occasionally enter scenarios (like https://github.com/kubernetes/release/issues/1493) where releases move into a unreleaseable state, which require a slew of hacks in `anago` and `lib/releaselib.sh` to disable checks to al

[2020-08-13 15:58] puerco commented on #1494
Once things settle a little, perhaps we can chat a bit on what's needed most and I'll be happy to help build some of these commands :)

[2020-08-13 16:09] MarcoR83 commented on #914
yes please , fetching all hashes for new releases is a pita. also who tells me that they are correct?

[2020-08-13 16:44] justaugustus commented on #1493
Email sent to community: https://groups.google.com/d/topic/kubernetes-dev/0tomj_rPp5E/discussion

[2020-08-13 17:06] tpepper commented on #1353
This is the type of decomposition we need.  The anago bash bits doing that push can be removed to instead have anago call a more robust pusher.

[2020-08-13 17:07] tpepper commented on #1353
Related on the topic of fail/retry/continue resilience:
https://github.com/kubernetes/test-infra/issues/18808

[2020-08-13 17:12] Verolop commented on #1353
Does it still make sense to introduce the retries at this point, or should we just go ahead with @saschagrunert 's idea?

[2020-08-13 17:39] tpepper commented on #1353
We definitely need some retries still in anago too.

[2020-08-13 19:27] tpepper commented on #1494
Probably a relatively easy feature for somebody to add and which we hit a once or twice a year: to push marker of a failed patch release tag so tools (like relnotes) can diff versus prior non-failed release tag.  Eg: ‘krel mark-as-failed 1.17.10’ leaves a crumb somewhere that 1.17.10 was a dud.  1.17.11's build compares against prior non-dud which it discovers to be 1.17.9.

[2020-08-14 07:34] justaugustus commented on #1492
Kubernetes v1.18.8 and v1.17.11 have been released: https://groups.google.com/d/msg/kubernetes-dev/0tomj_rPp5E/uoixiyC4BwAJ
/close

[2020-08-14 07:34] #1492 closed

[2020-08-14 12:42] #1474 closed

[2020-08-17 19:21] tpepper commented on #1365
https://github.com/kubernetes/kubernetes/pull/94044 also references a tracker.

[2020-08-18 07:18] saschagrunert commented on #739
/remove-lifecycle stale

[2020-08-18 07:38] saschagrunert opened #1497 "[krel] Add `krel gcbmgr --build-at-head` feature"
The idea is to be able to build releases from the git `HEAD` of a release branch or the master. This could be achieved by passing the `--buildversion` to anago. `krel gcmbgr` has to be enhanced to accept the new flag and set the appropriate `BUILDVERSION` substitution.

The `--buildversion` and `--build-at-head` flags should conflict when both are provided. It may be necessary to modify some bits

[2020-08-18 07:47] saschagrunert commented on #520
/remove-lifecycle stale

[2020-08-24 05:05] justaugustus opened #1503 "Merge blocker for Kubernetes v1.19.0 release"
To be closed once Kubernetes v1.19.0 is released.
cc: @kubernetes/release-engineering

(Opened as an example for https://kubernetes.slack.com/archives/C09QZ4DQB/p1598238256025300?thread_ts=1598238256.025300&cid=C09QZ4DQB, but also because we should start doing this near release dates)

[2020-08-26 10:29] saschagrunert commented on #1503
Will temporarily remove the blocker to let https://github.com/kubernetes/release/pull/1505 in, which contains a critical fix to let the `stage` succeed.

[2020-08-26 20:43] JamesLaverack opened #1506 "Missed action required release note in 1.19"
#### What happened:

In Kubernetes 1.19 a change (https://github.com/kubernetes/kubernetes/pull/89069) was missed from the [release notes](https://github.com/kubernetes/kubernetes/commit/b1f2f1a32bf4c04abf6c077cfdc8c0c68fc9e4a8).

#### What you expected to happen:

For https://github.com/kubernetes/kubernetes/pull/89069 to be mentioned, and for it's "action required" note to be mentioned in the ac

[2020-08-26 20:46] justaugustus commented on #1503
[Kubernetes v1.19.0 has been released](https://groups.google.com/g/kubernetes-announce/c/oX-AjJkYhH4) and we are reopened for k/release development.

/close

[2020-08-26 20:47] #1503 closed

[2020-08-26 20:48] JamesLaverack commented on #1506
https://github.com/kubernetes/kubernetes/pull/89069 was one of the first things to be merged into Kubernetes following the 1.18.0-rc.1 branch and subsequent code thaw in the 1.18 release cycle. As such it was [present in Kubernetes for 1.19 from the 1.19.0-alpha.1 tag](https://github.com/kubernetes/kubernetes/commit/f899ad704ae6bd87560a3e21b9cfbb8bdeef404e). However, this release note is *also* ab

[2020-08-26 23:30] listx commented on #270
I vote to close this as [VDF was completed on July 24, 2020](https://groups.google.com/g/kubernetes-sig-release/c/lFmJZKwIxyI/m/ytVrkTYNAQAJ).

[2020-08-27 00:03] #270 closed

[2020-08-28 09:09] saschagrunert commented on #1506
Thank you for the report @JamesLaverack, a fix is incoming in #1508.

[2020-08-28 10:20] #1506 closed

[2020-08-29 07:57] afbjorklund commented on #839
Can we close this ?

It's obviously not going anywhere, and minikube is not in of the upstream release or even a "supported" kubeadm distribution.

Until we have fixed the issues with all _other_ package managers, I guess the users are back to `curl` and the GitHub releases ?

[code]

[2020-09-02 23:25] justaugustus opened #1517 "Golang 1.15.2 updates"
**What would you like to be added:**

Tracking issue for go1.15.2 updates
Continuation of https://github.com/kubernetes/release/issues/1421

**Work items:**

### go1.15.1

- [x] kube-cross bump: https://github.com/kubernetes/release/pull/1514
  - [x] image promotion: https://github.com/kubernetes/k8s.io/pull/1205
- [x] go-runner bump: https://github.com/kubernetes/release/pull/1514
  - [x] image p

[2020-09-02 23:26] justaugustus commented on #1421
This is complete outside of the cherry picks, which need to be further discussed.
Carrying that into the go1.15.1 tracking issue: https://github.com/kubernetes/release/issues/1517
/close

[2020-09-02 23:26] #1421 closed

[2020-09-03 09:21] cpanato opened #1518 "Scheduler-builder output wrong results"
#### What happened:
when having the schedule yaml with two patch releases but the next schedule is not the same as the last patch release it generate duplicate results for the markdown

for example we have the following schedule.yaml
[code]

it outputs
[code]

but the correct output should be
[code]

issue reported in this PR: https://github.com/kubernetes/sig-release/pull/1210#issuecomment-685958

[2020-09-03 09:27] cpanato commented on #1518
/assign

[2020-09-03 09:30] cpanato commented on #1518
this happens because the next patch release is not in the previous patch release list, but in that case that we schedule two or more patches and the first is not out we have a conflict.

[2020-09-06 02:27] justaugustus opened #1521 "Add verification logic to ensure all Golang binaries in core images are of the same arch"
#### What would you like to be added:

Add verification logic to ensure all Golang binaries in core images are of the same arch.

#### Why is this needed:

Reported in https://github.com/kubernetes/kubernetes/issues/94540 and requested in https://github.com/kubernetes/kubernetes/pull/94552#issuecomment-687688271.

/milestone v1.20
/priority important-soon

[2020-09-06 02:28] justaugustus commented on #1521
/help
cc: @liggitt

[2020-09-08 06:57] #1518 closed

[2020-09-09 10:48] cpanato opened #1531 "[krel] Introduce krel subcommand to screenshot testgrid dashboards"
#### What would you like to be added:
Replace the `testgridshot` bash script with a `krel` subcommand to generate the testgrid dashboard screenshots and upload to GS Bucket

Already discussed with Sascha and this is a nice idea to deprecate bash scripts and also to add this functionality to krel to be able in the future create an automated pipeline to do all the steps.

/priority important-soon

/

[2020-09-09 10:48] cpanato commented on #1531
/kind feature

[2020-09-09 15:08] puerco commented on #1531
Are you planning on still using rendertron to take the screenshots?

[2020-09-09 15:25] cpanato commented on #1531
Sincerely I dont know @puerco, I was thinking to check if we have something already in the library, and if not check what is on the wild related to this.

do you have any ideas?

[2020-09-09 17:00] puerco commented on #1531
I've used chrome headless in the past with good results. It seems that rendertron is the same thing behind the scenes. Would there be any reason to run it ourselves? (like, for example, not connecting to the internet for some reason).

[2020-09-09 19:07] saschagrunert commented on #1531
Hm, now I’m wondering if it would be cool to have a markdown export/snapshot feature directly in testgrid. This way we could utilize the api to just query the data without having a need to screenshot anything.

[2020-09-10 05:06] mkumatag commented on #1517
This seems like a never-ending story, I see go 1.15.2 got released last night - https://groups.google.com/g/golang-announce/c/ipD8jvpSFtA/m/B0FcziUVAQAJ

[2020-09-10 11:10] justaugustus commented on #1517
@mkumatag -- yep, already on it. I'm going to roll it into the k/k PR I have open for go1.15.1.
ref: https://github.com/kubernetes/kubernetes/pull/94449#issuecomment-689852759

[2020-09-10 11:21] dims commented on #1517
![AlarmingRadiantFirefly-size_restricted](https://user-images.githubusercontent.com/23304/92722879-3c14c880-f336-11ea-8c5c-2687f1379847.gif)

[2020-09-10 11:22] dims commented on #1517
![WhoppingRepulsiveGrayreefshark-size_restricted](https://user-images.githubusercontent.com/23304/92722991-69617680-f336-11ea-96c2-f4a7c1b85bb9.gif)

[2020-09-10 12:10] hasheddan commented on #829
/remove-lifecycle rotten

[2020-09-10 12:58] saschagrunert commented on #829
I think push-build would be one of the next big krel commands to be used in anago. Do you need help on the implementation @hasheddan?

[2020-09-10 13:00] hasheddan commented on #829
@saschagrunert agreed! I have really fallen behind on implementing this, but the stub is already present in `krel`: https://github.com/kubernetes/release/blob/master/cmd/krel/cmd/push.go

If you have bandwidth I would be happy for you to pick this up :)

[2020-09-10 13:50] saschagrunert commented on #1459
Refers to https://github.com/kubernetes/release/issues/829

[2020-09-10 13:52] saschagrunert commented on #1459
/assign

[2020-09-10 13:53] saschagrunert commented on #1461
This is done, `krel anago set-build-version` is now in place and works as expected.

[2020-09-10 13:53] #1461 closed

[2020-09-10 13:59] saschagrunert commented on #1497
@kubernetes/release-managers anyone wants to take this? :)

[2020-09-10 13:59] saschagrunert commented on #1446
@kubernetes/release-managers anyone wants to take this? :)

[2020-09-10 14:02] saschagrunert opened #1534 "[krel] Introduce krel anago subcommand to update GitHub release"
Target is to replace this section of anago with a go-based implementation as `krel anago` subcommand:
https://github.com/kubernetes/release/blob/8b9e5c8483acfc5aec67bece8d0114295d96562a/anago#L939-L1101

[2020-09-10 14:03] saschagrunert commented on #1534
/help
@kubernetes/release-engineering feel free to take this if you want. I can guide you through the details :)

[2020-09-10 14:08] xmudrii commented on #1534
I would like to give it a try. :)
/assign

[2020-09-10 14:25] saschagrunert opened #1536 "[krel] Add krel anago subcommand to retrieve the build candidate"
Target of the implementation is to replace this piece of bash in anago with a new `krel anago` subcommand:
https://github.com/kubernetes/release/blob/8b9e5c8483acfc5aec67bece8d0114295d96562a/anago#L1141-L1222

This includes all called functions as well, like this fastforward check:
https://github.com/kubernetes/release/blob/8b9e5c8483acfc5aec67bece8d0114295d96562a/anago#L1103-L1139

As for all oth

[2020-09-10 14:31] saschagrunert commented on #1536
/help

[2020-09-10 14:33] saschagrunert commented on #1497
Let's do it that way @cpanato , there is still more work on the krel side.
/assign @cpanato
/help cancel

[2020-09-10 15:01] #1452 closed

[2020-09-10 18:45] JulyIghor commented on #728
Is it going to happen?

[2020-09-11 01:20] tpepper commented on #1536
@saschagrunert @justaugustus we should discuss this a little more.  We're at a choice point.  Do we go the direction of shifting anago under krel in a 'krel anago' way, or make krel replace the primary control flow (utterly fragile the point of being broken by design despite being the most beautifully complex stateful reentrant bash function call graph I've ever seen) with a simpler, iterative, de

[2020-09-11 16:07] spiffxp commented on #1139
/remove-lifecycle stale
ref: https://github.com/kubernetes/sig-release/issues/1221

[2020-09-12 01:11] puerco commented on #1445
/assign

[2020-09-14 18:24] RobertKielty opened #1546 "Automate CI Signal Status Weekly Updates"
Automate the retrieval of data from the CI Signal Github Project Boards and TestGrid to  allows us to create a highly customized status report at a point in time.

There is prior art here (Alena Varkockova did [good work on this](https://github.com/alenkacz/ci-signal-report)) and there are ongoing discussions with @hasheddan and @alejandrox1 on how we present the state of CI Signal Flake discovery

[2020-09-14 21:31] RobertKielty commented on #1546
/priority important-longterm

[2020-09-17 07:05] saschagrunert opened #1551 "[krel] Evaluate possible krel stage/release subcommands"
In parallel to the ongoing anago to krel migration we will introduce new krel stage and krel release subcommands. The plan is to re-evaluate the current functionality within anago and build a declarative approach of cutting releases. We can re-use the already migrated parts as well as using the existing logic in anago as guidance for the necessary feature set of krel stage/release.

/help

[2020-09-17 19:28] tallclair commented on #1010
Note that the repo has been migrated to kubernetes-sigs: https://github.com/kubernetes-sigs/mdtoc

[2020-09-18 06:27] puerco commented on #1010
/assign

[2020-09-18 09:29] saschagrunert opened #1556 "Split-up integration and unit tests"
The golang test execution takes too long for our CI to always succeed. A good refactoring would be to split-up integration and unit tests by a build tag. An example project how to achieve this can be found in the seccomp-operator. There we provide two Make targets to execute the e2e and unit tests:

https://github.com/kubernetes-sigs/seccomp-operator/blob/b292dd72053e9868d39e6d2063dcfb1f4454e99a/M

[2020-09-18 09:46] justaugustus commented on #1556
Ideally, completion of this issue will also include a new presubmits.
Name it `pull-release-integration` and have it closely mirror this configuration: https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/release/release-config.yaml#L41-L55

Note that we should also set the `-timeout` flag for the integration tests. Let's try 15 minutes, since the test run is panicking aroun

[2020-09-21 18:01] RobertKielty commented on #1546
/label ci-signal

[2020-09-21 18:05] RobertKielty commented on #1546
/kind ci-signal

[2020-09-22 07:29] RobertKielty commented on #1546
Current status of the work is that

I've modified @alenkacz's code ref as follows
- I've updated the git client to more a recent version
- I've added null/empty string guards for various responses from GH
- The report needs testing and @hkamel will take the lead on that but are all welcome to pitch on that once the work is available publicly.  See below ...

[2020-09-22 07:50] RobertKielty commented on #1546
@LappleApple @jeremyrickard @alejandrox1 @hasheddan @lachie83 @spiffxp

### This issue needs a board on which it can be tracked.
From yesterday's Rel Team meeting perhaps that is the Release Engineering board?

#### I need a kubernetes repo where I can commit the work
I'm happy to use whatever repo the team want me to use

From the existing repo locations that I know test-infra (experiments) would

[2020-09-22 08:28] alenkacz commented on #1546
yay, I love that the code lives on and the idea is being pushed forward. Thanks @RobertKielty

[2020-09-22 10:49] justaugustus commented on #628
Docker commands like `docker manifest` and `docker buildx` continue to require experimental features to be enabled (even though they've been available and widely in use for quite some time).

I'd say let's opt to no longer track this, until something changes upstream and we have a reason to revisit.
/close

[2020-09-22 15:46] #1445 closed

[2020-09-22 16:08] tpepper commented on #628
I'm concerned about not tracking this.  It brings in un-scoped risk.  Across time we've gone from one instance of DOCKER_CLI_EXPERIMENTAL exported to eleven instances in k/release and eight in k/k, none of which are labeled in code with a FIXME or indication of the flag being risky.  Only 7 of those 19 today indicate which docker feature the flag is meant to be enabling in that usage instance, or

[2020-09-22 16:20] justaugustus commented on #628
/kind bug cleanup

[2020-09-22 19:41] tstromberg commented on #839
I believe this is still something we should aim for, though ultimately, I agree that the goal is to ensure that the .deb & .rpm packages are hosted somewhere. If we have to create our own repo, it'll just take longer to achieve.

[2020-09-23 09:06] RobertKielty commented on #1546
/priority urgent

[2020-09-23 12:12] saschagrunert opened #1576 "Add instructions on how to consume pre-release (alpha, beta, rc) artifacts (k/website)"
The overall goal is to point users to a site on k/website, where it is documented how to consume:
- Pre release binary artifacts
- Pre release container images
- Pre release deb and rpm packages (not existing yet)

I think we have to define the scope of the issue in the first place before we start working on it. For example, if the main intention is to be able to consume deb/rpm packages then we w

[2020-09-23 13:11] saschagrunert opened #1577 "Consider removing `./prin` from the repository"
I'm not sure if the script is used by someone personally but the tooling does not depend on it. We could either migrate it to krel or remove it from the repository. Nevertheless to be able to remove bash parts like `gitlib.sh` we would have to decide what we want to do with it.

Any thoughts?

[2020-09-23 13:12] saschagrunert commented on #1577
/help

[2020-09-23 14:48] hasheddan commented on #1546
`test-infra` sounds like a good place for this to live. I think the primary goal here is to provide a view of flakiness / failure over time, rather than manually presenting a point-in-time snapshot at release meetings. Something to keep in mind is how we want to aggregate the data collected. While some jobs are owned pretty much exclusively by a single SIG, many include tests owned by a variety of

[2020-09-23 18:21] saschagrunert commented on #1459
Done, the integration will be handled separately / in test-infra.

[2020-09-23 18:21] #1459 closed

[2020-09-23 18:36] saschagrunert opened #1578 "Integrate krel push into test-infra"
##### Current state

- The deprecated build scenario k/test-infra [kubernetes_build](https://github.com/kubernetes/test-infra/blob/master/scenarios/kubernetes_build.py) scenario is still in use and uses `push-build.sh` from k/release.
- [kubetest has a `--stage` flag](https://github.com/kubernetes/test-infra/blob/master/kubetest/stage.go) which is also using `push-build.sh`.

##### The Plan

1. Ad

[2020-09-24 07:58] RobertKielty opened #1580 "CI Signal Project Board not accepting new flakes"
#### What happened:

The 1.20 CI Signal release team are logging flakes in issues

Issues are not appearing on https://github.com/orgs/kubernetes/projects/11
Sample issue logged yesterday note present on board https://github.com/kubernetes/kubernetes/issues/95011

#### What you expected to happen:
See logged flakes appear on the board

#### How to reproduce it (as minimally and precisely as possib

[2020-09-24 19:20] saschagrunert commented on #1460
Closing, since we need either something better than find-green-build or we stick to the current approach of manually pre-checking the testgrid boards before cutting a release.

[2020-09-24 19:20] #1460 closed

[2020-09-24 19:21] saschagrunert commented on #873
That's done, we do not use the job results cache any more inside this repository.
/close

[2020-09-24 19:21] #873 closed

[2020-09-24 19:23] saschagrunert commented on #1119
I think it is intended to not create release notes for those .0 alphas and betas. We only create them with the first alpha, because then we would actually have something to diff to.

[2020-09-24 19:23] #1119 closed

[2020-09-24 20:00] saschagrunert commented on #1150
Done! :fire:

[2020-09-24 20:00] #1150 closed

[2020-09-24 20:09] #1577 closed

[2020-09-24 20:12] saschagrunert commented on #1010
@puerco are you working on this one? I'd love to see this issue closed :innocent:

[2020-09-24 20:13] saschagrunert commented on #959
@justaugustus is this still relevant to us? Manually announcing the release seems a legit step to me.

[2020-09-24 20:27] saschagrunert commented on #739
I think this can be closed, right? We now manually update the releases by pushing the artifacts to GCS and then change it in k/k on our side.

[2020-09-24 20:27] saschagrunert commented on #739
/close

Feel free to reopen if I miss anything.

[2020-09-24 20:28] #739 closed

[2020-09-24 21:07] puerco commented on #1010
Yes im planning on having this closed this weekend

[2020-09-28 17:33] RobertKielty commented on #1546
I've removed an un-authenticated http client get on the report which means I can no run the report repeatedly ....

Sample output here ....

https://gist.github.com/RobertKielty/07c90d71d7c8561303554534d3006fdd

[2020-09-28 17:43] RobertKielty commented on #1546
Next steps here

1. Add timestamp to a data collection
2. Make the output format selectable and suitable usage by tools that can process time-series data
3. Convert to Prow Job
4. Deploy to a Prow instance

[2020-09-28 18:47] spiffxp commented on #281
/wg k8s-infra
@dims @cblecker my memory on discussion of a community-hosted apt.kubernetes.io is lost to the sands of time, do either of you remember what is holding this back?

[2020-09-28 18:54] blueelvis commented on #839
We also have the choice of removing the installations. Basically, removing all these installers and then just maintaining the script based installation like Anders has mentioned above. For Windows, we could switch exclusively to `choco` or PowerShell script.

[2020-09-28 23:30] dims commented on #281
@spiffxp a prereq as being able to sign the artifacts which we don't have a good path for yet

[2020-09-28 23:32] listx opened #1594 "`iptables` command does not work in k8s.gcr.io/build-image/debian-iptables-amd64:v11.1.0"
#### What happened:

Filing this bug with info passed on by Taahir Ahmed, a fellow Googler.

Ran `iptables` but it failed with an error message.

[code]

#### What you expected to happen:

Run without error.

#### How to reproduce it (as minimally and precisely as possible):

See "What happened" section.

#### Anything else we need to know?:

Taahir says:

A new v11.1.1 version that fixes the prob

[2020-09-28 23:51] puerco commented on #1446
/assign

[2020-09-29 06:43] #1497 closed

[2020-09-29 12:58] gianarb commented on #1556
I am probably missing something but I have a couple of questions.

1. if we know that integration tests are only in `cmd`, why we need a build tag? We can run `go test ./cmd/...` for the `pull-release-integration` and `go test $(go list ./... | grep -v k8s.io/release/cmd)` for the unit tests.

2. If I use build tags with `go test -tags integration` I can **include** the integration tests, but it i

[2020-09-29 14:08] saschagrunert commented on #1556
Hah, yeah this makes sense to me. I think we can do it this way to keep it simple.

It uses a build-tag because we were thinking about having tests in other directories than `pkg` as well. I think we probably could remove the build tag there, too :thinking:

[2020-09-29 14:16] gianarb commented on #1556
yeah, build tags are not exclusive but additive. You test or build everything that does not have a tag + what you tagged. So if you would like to `build/test` only what is tagged with a build tag it won't work

[2020-09-29 21:10] puerco commented on #1384
/remove-lifecycle stale

[2020-09-30 16:42] listx commented on #1594
/assign @justaugustus

[2020-10-01 17:43] markyjackson-taulia commented on #1551
After chatting with @saschagrunert, I will work on this.
/assign @markyjackson-taulia

[2020-10-06 08:44] #1556 closed

[2020-10-06 09:22] RobertKielty commented on #1546
I restarted report development and am developing this [on a feature branch on my test-infra fork](https://github.com/RobertKielty/test-infra/tree/flake-tracker/experiment/flake-tracker)

Although, I am using this code as it stands now to provide Signal status updates for the 1.20 Release this is still very much a work in progress.

Here's a sample [Google Sheet](https://docs.google.com/spreadsheet

[2020-10-07 20:15] wespanther commented on #1594
@justaugustus suggested it might be how we're invoking this above, pointed me to this script:

https://github.com/kubernetes/release/blob/master/images/build/debian-iptables/stretch/iptables-wrapper

I’m seeing the same thing just pulling the docker file and executing iptables, it’s definitely using the wrapper script:

[code]

[2020-10-07 21:56] wespanther commented on #1594
So I think the gist of the problem is that iptables is being replaced by nftables starting in buster. You can see iptables v1.8.3 provides xtables-legacy-multi and xtables-nft-multi, and presumably sets up those symlinks (I haven't looked at the source yet).

[code]

Those do not exist in iptables v1.6.0, which stretch uses. This wrapper script:

https://github.com/kubernetes/release/blob/master/i

[2020-10-08 02:02] wespanther commented on #1594
Pulled it down, managed to get it building by changing Makefile to reference stretch in the old gcr.io/k8s-staging-build-image project and deleting the new update-alternatives additions in the dockerfile.

Before:
[code]

After:
[code]

[2020-10-08 02:04] wespanther commented on #1594
So now, all we have to do is:

1. Get the debian-base:stretch* images (at least v1.1.0) into its new home in k8s.gcr.io/build-image
2. Delete the update-alternatives parts from the stretch dockerfile
3. Build and upload the new image from that

[2020-10-08 21:31] wespanther commented on #1594
Looks like stretch-1.1.0 is the same as v1.1.0. I can go ahead and use that one.

[2020-10-08 22:03] wespanther commented on #1594
Just to be explicit, here's what is working

[code]

[2020-10-09 08:55] saschagrunert opened #1615 "Replace requirement for `cip-mm` with API usage in krel promote-images"
#### What would you like to be added:

Right now `krel promote-images` checks if `cip-mm` is available in `$PATH`:
https://github.com/kubernetes/release/blob/bc552db2420afaa3e704c41afa93b15d2b3a7cfa/cmd/krel/cmd/promote-images.go#L146-L150

It would be good to use the already existing API to not have a need for the binary at all:
https://github.com/kubernetes-sigs/k8s-container-image-promoter/blob

[2020-10-09 08:56] saschagrunert commented on #1615
/help
/good-first-issue

[2020-10-10 18:57] #728 closed

[2020-10-11 16:43] DaDummy commented on #728
Does that mean that Kubernetes dropped support for Debian?

[2020-10-11 18:00] praseodym commented on #728
No, the [installation instructions](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/) are still fine.

[2020-10-11 18:36] DaDummy commented on #728
So support will be dropped once Debian Stretch is EOL or what does it mean that this issue was closed seemingly without a fix?

[2020-10-11 19:00] praseodym commented on #728
I'm not sure if there's anything left to do, Kubernetes works fine on Debian Buster.

[2020-10-12 19:49] markyjackson-taulia commented on #910
/remove-lifecycle stale

[2020-10-13 16:30] saschagrunert opened #1630 "[krel] gcbmgr should forbid nomock stage/releases on user forks"
Right now we can specify a user fork like this to run `krel gcbmgr` on custom repository slugs:
[code]

If the user specifies the `--nomock` flag, then we should disallow using anything other than `kubernetes/release:master`. This can be achieved by adding the functionality to the repository state verification there:

https://github.com/kubernetes/release/blob/6f3a537b8c25cd2264e3da28a3668a55e07bd

[2020-10-14 07:47] saschagrunert commented on #1615
#1615 got not finished, this is still free to pick since @justaugustus applied the necessary changes to the image promoter project.

[2020-10-14 08:04] erihanse opened #1636 "Clarification regarding versioning of cri-tools"
Sorry if this should've been posted in https://github.com/kubernetes-sigs/cri-tools instead, but I'll start with asking this question here.
#### What happened:
When I try to install kubernetes with kubeadm >1.16.x, I see cri-tools >= 1.13.0 listed as a dependency:
[code]
However, under https://github.com/kubernetes-sigs/cri-tools#current-status a compatibility matrix is listed, suggesting that Kub

[2020-10-14 10:47] rajibmitra commented on #1536
/assign @rajibmitra

[2020-10-14 10:47] saschagrunert commented on #1536
Thanks for taking this @rajibmitra! :pray:
/help cancel

[2020-10-14 10:48] saschagrunert commented on #1536
/help remove

[2020-10-14 10:48] saschagrunert commented on #1536
/priority important-soon

[2020-10-14 11:30] neolit123 commented on #1636
This was reported to me the other day, but i didn't have time to look. The
person reporting saw compat issues between crictl and containerd too. In
general we should be attaching the latest cri-tools to the latest version
of k8s.

[2020-10-14 11:56] saschagrunert commented on #1615
@puerco do you plan to work on this? We have an open discussion in our Google Doc related to it:
https://docs.google.com/document/d/1tXUHioi1dlobs_zvassr4InS-1pHH0cMUSZff5dTti4/edit?disco=AAAAKWGG05M

[2020-10-14 16:34] puerco commented on #1615
Sure I'll take it
/assign

[2020-10-15 01:04] justaugustus opened #1643 "Merge blocker for Kubernetes v1.18.10 and v1.17.13 releases"
To be closed once Kubernetes v1.18.10 and v1.17.13 are released.
cc: @kubernetes/release-engineering

ref: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1602723691313000?thread_ts=1602722702.303400&cid=CJH2GBF7Y

[2020-10-15 09:12] saschagrunert commented on #709
This can be closed since we do not use testgrids config.yaml any more.

[2020-10-15 09:12] #709 closed

[2020-10-15 09:15] saschagrunert commented on #628
Upcoming releases of docker will enable experimental features per default: https://github.com/docker/cli/pull/2774

[2020-10-16 00:06] justaugustus opened #1645 "Reseed the git remote before starting the "release" phase of anago"
#### What would you like to be added:

Reseed the git remote before starting the "release" phase of anago.

#### Why is this needed:

We may occasionally encounter scenarios where we need to rotate the @k8s-release-robot GitHub personal access token.

Sometimes, this needs to happen in-between the "stage" and "release" phases of a release.
In the event that it does, we essentially need to "throw o

[2020-10-16 00:09] justaugustus commented on #1643
Kubernetes v1.18.10 and v1.17.13 have been released.
/close

[2020-10-16 00:09] #1643 closed

[2020-10-16 01:12] puerco commented on #1645
What if we replace this entire block from gitlib.sh:

https://github.com/kubernetes/release/blob/b067ca634072851e41baaf71cb27a543bce3dc95/lib/gitlib.sh#L207-L233

with `krel anago sync-repo` and call that? less bash!

[2020-10-16 01:18] justaugustus opened #1646 "Cross builds during the release process should ideally run in parallel"
#### What would you like to be added:

Cross builds during the release process should ideally run in parallel (instead of serially).

#### Why is this needed:

Paste from @puerco's comment in the following thread: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1602728827335400?thread_ts=1602693775.210300&cid=CJH2GBF7Y

[code]

cc: @kubernetes/release-engineering
/priority backlog

[2020-10-16 01:28] justaugustus commented on #1645
Go for it!
BONUS BONUS POINTS: Remove all of `lib/gitlib.sh`, but let's start small.

/assign @puerco
/remove-help

[2020-10-16 10:31] LappleApple commented on #816
/remove priority

[2020-10-16 10:33] LappleApple commented on #816
/priority important-soon

[2020-10-16 10:33] LappleApple commented on #816
/remove priority critical-urgent

[2020-10-16 10:39] LappleApple commented on #816
/remove-priority critical-urgent

[2020-10-16 17:43] jimangel commented on #1204
/remove-lifecycle stale

The issue is up to date, however it fell off my plate. As a result, I have added it to my action items to pick this back up and run with it.

/cc @LappleApple

[2020-10-16 22:28] tpepper commented on #1646
My two cents:

I’m pretttttty sure down there inside things we can break the functional build piece safely out toward running some parallel artifact builders.  From the core’s perspective it should just be asking for artifacts.  How those are achieved can be abstracted.  The fastest “build” would be one that checks and discovers all artifacts are already built correctly and returns, otherwise buil

[2020-10-16 22:32] BenTheElder commented on #1646
+1, I'd probably start by looking at running N GCB jobs with something like
make quick-release GOOS= GOARCH= in each versus running make cross.
There's some minor skew issues (ensuring the same set of platforms), and
coordinating collecting the outputs, but it should be doable, and fast(er).

On Fri, Oct 16, 2020 at 3:28 PM Tim Pepper <notifications@github.com> wrote:

[2020-10-19 08:38] #1446 closed

[2020-10-19 11:45] paulcostinean commented on #739
Can this be reopened?
Neither [stable](https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/filelists.xml) or [unstable](https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64-unstable/repodata/filelists.xml) seem to include cri-tools past the 1.13 release.

[2020-10-20 21:08] reylejano-rxm commented on #1370
/remove-lifecycle stale

[2020-10-21 03:59] wespanther commented on #1594
Coming back to this, I guess we can close it.

[2020-10-21 05:35] justaugustus opened #1651 "Golang 1.15.5 updates"
**What would you like to be added:**

Tracking issue for ~go1.15.3~ go1.15.5 updates
Continuation of https://github.com/kubernetes/release/issues/1517
Slack thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1605129514273400

**Work items:**

### go1.15.5

- [x] kube-cross bump: https://github.com/kubernetes/release/pull/1732
  - [x] image promotion: https://github.com/kubernetes/k8s.io/pull

[2020-10-21 05:37] justaugustus commented on #1517
go1.15.3 updates happening here --> https://github.com/kubernetes/release/issues/1651
/close

[2020-10-21 05:37] #1517 closed

[2020-10-21 17:54] markyjackson-taulia commented on #1551
Initial review completed and documented here: https://docs.google.com/document/d/18vENxC2c3uVsYbTTwlaSrb6X_-6I3fAZ_TtDg2IDDVw/edit#

@saschagrunert and I are meeting tomorrow morning to review and determine tasks

[2020-10-21 18:08] markyjackson-taulia commented on #1551
Totally. I will DM you the details

[2020-10-25 15:46] markyjackson-taulia commented on #1028
/remove-lifecycle stale

[2020-10-26 08:41] #1010 closed

[2020-10-27 00:14] justaugustus commented on #1636
/assign @saschagrunert
cc: @kubernetes/release-engineering
/milestone v1.20

[2020-10-27 08:15] saschagrunert commented on #1636
Yes, right now we're not building DEB/RPM packages for cri-tools any more, because we just provide statically linked binaries for most hosts. I think `kubepkg` can/should take care of that, but this is more of a long-term effort.

[2020-10-29 03:07] justaugustus opened #1665 "Migrate the vulnerability dashboard (vulndash) to k/release and enable the update job"
(This is a port of https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/274 and https://github.com/kubernetes-sigs/k8s-container-image-promoter/issues/253)

I've done some initial work to enable

- [x] migrate the vulnerability dashboard (`vulndash`) to k/release: https://github.com/kubernetes-sigs/k8s-container-image-promoter/pull/276
- [x] fixup image building for vulndash: htt

[2020-10-29 12:33] cpanato commented on #1665
I'm testing locally the credentials, but did not get the error you mention

[2020-10-29 12:41] justaugustus commented on #1665
Latest failure is:

[code]

ref: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-k8sio-vuln-dashboard-update/1321792478734454784

[2020-10-29 13:05] cpanato commented on #1665
now looks like related to permission in GCP, I think I don't have permissions to check the `k8s-infra-gcr-vuln-dashboard` service account

I've set up a personal GCP project for me and create the svcacc with the permissions `Container Analysis Admin` and `Storage Admin` and running the vulndash works, maybe those permission are too wide :)

maybe @spiffxp can check that svcacc

[2020-10-29 14:46] justaugustus commented on #1665
FYI -- as of https://github.com/kubernetes/test-infra/pull/19748, the job is now correctly named `ci-release-vulndash-update`.

Here's the most recent run: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-release-vulndash-update/1321824946191601664
Overall job history is here: https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-release-vulndash-update

[2020-10-30 15:54] spiffxp commented on #1665
The job was using a KSA which was bound to a non-existent GCP SA, https://github.com/kubernetes/k8s.io/pull/1378 should fix

[2020-10-30 19:49] cpanato commented on #1665
Now the error is the bucket is not correct
[code]
@justaugustus do you know in which gcp project is the bucket should be? Or the name is not the right one?

[2020-10-30 19:57] cpanato commented on #1665
Ahhh found the issue

Will open a pr

[2020-10-31 17:31] cpanato commented on #1665
@spiffxp now looks like we have some retention policy in the bucket, can you update that to fix it? thanks!

[code]

[2020-11-02 07:30] #1615 closed

[2020-11-02 07:59] saschagrunert commented on #1087
/remove-lifecycle stale

[2020-11-02 07:59] saschagrunert commented on #1087
Hey @cartyc, do you have any update on this one?

[2020-11-02 14:15] saschagrunert opened #1673 "[krel] Implement krel stage/release"
#### krel stage

- [x] Check Prerequisites (cc @markyjackson-taulia)
- [x] Set Build Candidate (cc @rajibmitra, https://github.com/kubernetes/release/issues/1536)
- [x] Set Release Values / Generate Release Version
- [x] Prepare Workspace (cc @saschagrunert, https://github.com/kubernetes/release/pull/1677)
- [x] Tag repository
- [x] Build
- [x] Generate changelog
- [x] Stage artifacts

#### krel r

[2020-11-02 14:16] saschagrunert commented on #1673
/priority important-soon

[2020-11-02 16:01] justaugustus commented on #897
The marker gets written after artifact pushes, so any missing artifacts would've happened on an incomplete build.

https://github.com/kubernetes/release/pull/1457 also switches some ordering, so that GH releases don't publish without a successful artifact push.

Should all be fixed now, but feel free to reopen if you notice any issues.

/remove-lifecycle stale
/close

[2020-11-02 16:01] #897 closed

[2020-11-02 20:09] spiffxp commented on #1665
@cpanato I would prefer if releng made a PR to the appropriate scripts in k8s.io, I will run them once it's merged

I'm guessing this needs to be something different, or there need to be other special cases added after this call
https://github.com/kubernetes/k8s.io/blob/6b8214d386746c63c6e50de3f38bc981b0de2a7e/infra/gcp/ensure-prod-storage.sh#L392

[2020-11-02 23:10] justaugustus commented on #1665
Promoted the vulndash:v0.3.0 image in https://github.com/kubernetes/k8s.io/pull/1385.

[2020-11-03 14:43] justaugustus commented on #1494
/assign @hasheddan
ref: https://github.com/kubernetes/release/pull/1640#issuecomment-721157074

[2020-11-03 17:03] justaugustus commented on #1665
@spiffxp -- I've opened https://github.com/kubernetes/k8s.io/pull/1390 for this.

[2020-11-04 08:10] saschagrunert commented on #1468
/remove-lifecycle stale

[2020-11-04 12:36] saschagrunert commented on #1320
/remove-lifecycle stale

[2020-11-04 12:36] saschagrunert commented on #1354
/remove-lifecycle stale

[2020-11-04 13:14] RobertKielty commented on #1546
I have published a WIP first draft to https://github.com/RobertKielty/flake-tracker

[2020-11-04 13:53] saschagrunert commented on #821
/remove-lifecycle stale

[2020-11-05 12:55] chaunceyt commented on #1546
Forked.

[2020-11-06 16:08] justaugustus opened #1693 "push-build.sh container image pushes should precede staging GCS artifacts and writing version markers"
#### What happened:

Tracking issue for https://kubernetes.slack.com/archives/CJH2GBF7Y/p1604669572198400.
Noticed in https://github.com/kubernetes/test-infra/issues/19483.

Our attempts to move the `ci-kubernetes-build` to Community Infra are failing because container images are not successfully getting pushed.

Comment from @ameukam (https://github.com/kubernetes/test-infra/issues/19483#issuecom

[2020-11-06 16:11] justaugustus commented on #1693
FYI @kubernetes/ci-signal, as this broadly explains some build job failures you may be seeing.

[2020-11-06 16:22] hasheddan opened #1694 "Add style guide and code quality standards"
#### What would you like to be added:

As the functionality and number of packages in `krel` continues to grow, we are starting to see divergence in how new features are implemented, tested, and maintained. We should add style guidelines and quality standards so that someone is completely new to the project can make contributions that are easily reviewed and integrated without degrading quality.

[2020-11-06 16:24] justaugustus commented on #1694
Thanks for opening this, Dan!
/priority important-soon
/milestone v1.21

[2020-11-06 17:43] puerco commented on #1694
+1 Thanks for pointing this out dan, I certainly would like to get some some of these well established (and understood!) to start implementing them. Sometimes I get lost and I feel waste too much time reinventing the wheel.

[2020-11-06 20:32] spiffxp commented on #1693
There is strong overlap with https://github.com/kubernetes/test-infra/issues/18808

Saving the version marker for last hopefully addresses most of the concerns that prevent us from overwriting incomplete builds.

[2020-11-08 19:56] smijolovic opened #1699 "debian-base and debian-iptables hangs without a tty in noninteractive Dockerfiles."
There's been lots of lingering bugs surrounding apt-get and non-interactive builds since 2013:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=728775

in debian-base Dockerfile.build and debian-iptables Dockerfile, the following line:
ENV DEBIAN_FRONTEND=noninteractive

Works ONLY for execution of the make file with a valid tty, but does not work for an automated build environment that runs as a

[2020-11-09 09:33] patsevanton commented on #689
is this bug fixed?

[2020-11-10 22:55] justaugustus opened #1711 "ci-kubernetes-build-* jobs should build without requiring bootstrap.py scenarios"
#### What would you like to be added:

Add machinery to replace the [`bootstrap.py`](https://github.com/kubernetes/test-infra/blob/master/jenkins/bootstrap.py) [`kubernetes_build.py`](https://github.com/kubernetes/test-infra/blob/master/scenarios/kubernetes_build.py) scenario.

#### Why is this needed:

- `bootstrap.py` is deprecated, but still in use for the Kubernetes build jobs
- `krel` and the

[2020-11-11 03:29] kbhawkey opened #1712 "release note tool, link formatting in v1.19 release note page"
#### What happened:
The generated v1.19 release notes contain incorrect links (404).

#### What you expected to happen:
Update the release note tool to generate links in Markdown format.

#### How to reproduce it (as minimally and precisely as possible):
Review the v1.19 release notes page. There are several links that are incorrect.
One example at line 2444,
[code]

#### Anything else we need to

[2020-11-11 09:00] saschagrunert commented on #1712
Confirmed, the issue exists because we're replacing all `#` there:
https://github.com/kubernetes/release/blob/65be49faa158b38a02cd263895c6726cf91a99ba/pkg/notes/notes.go#L342

/priority important-soon

[2020-11-11 09:18] saschagrunert commented on #1712
Fix is incoming in https://github.com/kubernetes/release/pull/1715

[2020-11-11 17:31] puerco commented on #914
/remove-lifecycle stale

[2020-11-11 18:28] puerco commented on #1353
/remove-lifecycle stale

This was mostly addressed in https://github.com/kubernetes/release/pull/1595

unless there are more suggestions and/or comments I think we can close this one

[2020-11-12 00:46] hasheddan opened #1724 "Release artifacts copied twice"
#### What happened:

`v1.17.14` artifacts were copied twice during release process.

<details><summary>
Staging Bucket Contents (gs://kubernetes-release/stage/v1.17.14-rc.0.31+c954f1160deb5c/v1.17.14/gcs-stage/v1.17.14)
</summary>

[code]

</details>

<details><summary>
Release Bucket Contents (gs://kubernetes-release/release/v1.17.14)
</summary>

[code]

</details>

You'll notice the `gs://kubern

[2020-11-12 08:42] saschagrunert commented on #1724
I think this happens during `stage` and not `release`. I assume that the job ran multiple times, right? I think this might happen because of the `gsutil cp` internals, which creates directory structures if they do not exists and re-uses them if so. I'll give it a look.

[2020-11-12 08:44] cpanato commented on #1724
No, we ran `Stage` only once, we ran multiple times `Release`

[2020-11-12 08:52] saschagrunert commented on #1724
Got it, so it happens on `release` and we copy the artifacts from stage (which have the correct layout). If we do this multiple times it created a subdirectory and does not correctly merge on `gsutil cp`. Thanks, that brings me to the root issue. :+1:

[2020-11-12 08:53] cpanato commented on #1724
maybe we can use rsync, instead of cp

[2020-11-12 09:06] saschagrunert commented on #1724
Can confirm that this also happens on the very first invocation of `release`.

[2020-11-12 09:21] saschagrunert commented on #1724
Can confirm this happeny **only** when running `release` multiple times, the issue seems to be this bucket to bucket copy:
https://github.com/kubernetes/release/blob/e25164ed4823c2b25e48fc56cb35fb5fa857350c/pkg/build/push.go#L415-L417

If the directory already exists, it will use it on GCP and put the contents there. I'll work on switching over to `rsync` as @cpanato mentioned.

[2020-11-12 14:24] #1724 closed

[2020-11-13 08:02] #1712 closed

[2020-11-13 13:12] #1531 closed

[2020-11-14 16:39] cpanato commented on #1353
Agree, if more things come up we can create a new issue

/close

[2020-11-14 16:40] #1353 closed

[2020-11-15 16:16] markyjackson-taulia opened #1739 "[krel] Add krel anago subcommand to check prerequisites"
As noted in #1673, add krel anago subcommand to check Prerequisites

[2020-11-15 16:17] markyjackson-taulia commented on #1739
/assign @markyjackson-taulia
/priority important-soon

[2020-11-16 09:00] saschagrunert commented on #1739
Hey @markyjackson-taulia, I think you can directly integrate the functionality into the new structure (krel stage/release), like:

https://github.com/kubernetes/release/blob/b4ca2f60c7b46eb86d118b9a9af0811b89e71cb1/pkg/anago/stage.go#L245
https://github.com/kubernetes/release/blob/b4ca2f60c7b46eb86d118b9a9af0811b89e71cb1/pkg/anago/release.go#L243

[2020-11-16 09:03] markyjackson-taulia commented on #1739
@saschagrunert awesome! I will have this completed by end of my day US west last time.

[2020-11-16 09:08] saschagrunert commented on #520
/remove-lifecycle stale

[2020-11-16 15:37] jlsong01 commented on #1630
/assign

[2020-11-16 15:43] saschagrunert commented on #1630
Thanks for taking this one, @jlsong01 :pray: ! Feel free to reach out anytime if you have any questions.

[2020-11-17 14:49] jlsong01 commented on #1630
@saschagrunert  Hi, I am new to the community. For the issue, what I need to do is:
1. add the implementation into CheckState() to check that "If the user specifies the --nomock flag, then we should disallow using anything other than kubernetes/release:master"
2. add ut for the CheckState to verify the added code is correct as expected

Is my understanding right?

[2020-11-17 15:21] saschagrunert commented on #1630
Yep, that's correct :+1:

[2020-11-18 15:38] jlsong01 commented on #1630
Here is my change plan, could you help to review it?
1. Add a bool parameter noMock into CheckState() as CheckState(expOrg, expRepo, expBranch string, noMock bool)
2. in CheckState(), if the current branch is NOT "kubernetes/release:master", then return with errors
3. add UT to verify the new added content

Another 2 questions:

1.  After code change, how to verify the result is correct or not? Cu

[2020-11-19 10:41] saschagrunert commented on #1630
I'm happy to verify it for you. :)

We stick to testify (the golang package) and a mock-based testing approach. Let's discuss the details when the PR is open. :)

[2020-11-19 15:32] jlsong01 commented on #1630
Hi, @saschagrunert , PR is open. Your feedback would be highly appreciated.

[2020-11-19 16:31] MarkusTeufelberger commented on #1636
The most "recent" version of `cri-tools` that's available on https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/binary-amd64/Packages is actually (still) 1.13.0-01.

However, the `kubeadm` package even in the most recent version (`1.19.4`) depends on this `cri-tools` package, so it would be nice to get some update there. After all, there has been some development over there in the

[2020-11-19 17:32] spiffxp commented on #1665
Current status: the job appears to be timing out at 2h
[code]

[2020-11-19 17:35] cpanato commented on #1665
@spiffxp maybe we increase a bit to check? i was thinking on that.

Also we can add more logs to see if is actually doing something.

thoughts?

[2020-11-19 17:36] spiffxp commented on #1665
Increasing log verbosity and timeout sgtm

[2020-11-19 17:36] cpanato commented on #1665
will open the PRs for that

[2020-11-19 19:25] cpanato commented on #1665
Running with debug mode and 6h timeout
https://prow.k8s.io/log?job=ci-release-vulndash-update&id=1329499512300900352

[2020-11-19 19:44] saschagrunert commented on #1536
This is now covered by https://github.com/kubernetes/release/issues/1673

[2020-11-19 19:44] #1536 closed

[2020-11-20 08:31] cpanato commented on #1665
Still timing out
when I run that locally with my credentials it ran for 1-2 minutes and complete.

lets sync over slack

[2020-11-20 19:32] #1739 closed

[2020-11-23 14:12] saschagrunert commented on #1534
I think this can be closed now, since we have the logic in `krel release` in place.
/close

[2020-11-23 14:12] #1534 closed

[2020-11-23 14:14] saschagrunert commented on #1551
I think this is done
/close

[2020-11-23 14:14] #1551 closed

[2020-11-23 14:15] saschagrunert commented on #1630
This works now and is considered as finished.
/close

[2020-11-23 14:15] #1630 closed

[2020-11-23 14:20] saschagrunert commented on #829
@hasheddan I don't think that this is still relevant for us, right? Moving to krel seems already work in progress.

[2020-11-23 14:24] hasheddan commented on #829
@saschagrunert correct :)

/close

[2020-11-23 14:24] #829 closed

[2020-11-24 16:29] RobertKielty commented on #1546
I am continuing to work on this and will do so up to the end of the 1.20 release.

I will then put together a presentation of what went well what the next steps could be arising out of this work.

[2020-11-24 18:48] wilsonehusin opened #1786 "krel release-notes mapping to remove entry"
#### What would you like to be added:
With the new mapping feature of running `krel release-notes --fix`, would be nice if we can also override a release note entry to be removed.

#### Why is this needed:
One use case that came up is that PR was reverted and PR author isn't responsive. This will remove the extra manual step at the end of release notes collection.

#### Notes:
Conversation [was st

[2020-11-24 18:49] wilsonehusin commented on #1786
/assign

[2020-11-24 18:50] saschagrunert commented on #1786
Do you already have an idea how this would look like from a usability perspective?

[2020-11-24 19:00] puerco commented on #1786
My $0.02 from what I was writing:

I was working on adding a datafield to the map, marking the PR as overriding another. Like this:
[code]
Where 12345 is the old PR with the reverted change, which would not show up when rendering the doc.

[2020-11-24 19:02] wilsonehusin commented on #1786
(I wrote this before reading @puerco's comment above)

In my mind at the moment is to have an extra field as `ReleaseNotesMap.ReleaseNote.ForceNone bool`
https://github.com/kubernetes/release/blob/f2b80b72191a30935455009a2af8f069df293989/pkg/notes/notes_map.go#L80-L115

That said, I'm not sure how implementable that path would be. Ideally, I probably would want the user to be able to run `krel rel

[2020-11-25 08:30] saschagrunert commented on #1786
Adding a new field seems reasonable to me. I would stick to something less specific than `reverts`, because there could be other reasons to remove a note. How about just calling the field `removed: true`?

We could add a third option to the edit question "Fix note for PR #%d? (y/N)" about removing it, like: "Fix note for PR #%d? (y/N/r)". (`r` for delete)

[2020-11-25 17:54] #1673 closed

[2020-11-26 13:57] chinmay22897 commented on #1007
Facing the issue again in connecting to server, worked for a while then facing the problem, is it again due to different regions?

[2020-11-26 14:07] chinmay22897 commented on #1007
I think again the problem has re-occured, can not curl or get the keys from google cloud.

[2020-11-30 06:40] afbjorklund commented on #839
a.k.a. "give up"

Ultimately this comes down to **how** we want users to install and update minikube. Currently, the process is _quite_ awful.
The benefit of the packages is that they are compressed and checksummed, without requiring too much from the user.

Currently using LinuxBrew is actually a nicer experience for doing the installation, than the system package manager...
This is because there

[2020-11-30 12:38] cartyc commented on #1087
Sorry @saschagrunert I didn't get the notification for some reason. My initial test worked great I'm just stuck right now on getting my head wrapped around on typescript async. I have it so the call gets made but the difficulty I bumped into is exporting that var from `assets.ts` .

[code]

There might be a better approach and my newness to typescript is showing :)

[2020-11-30 14:07] saschagrunert commented on #1087
Hey @cartyc thank you for the update! Do you have something like a WIP PR to play around with? My idea is now that we have all the golang release cut logic in place, we could simply create the release notes JSON directly with the release. Then we can save the result with the release archive, for example there:

 https://console.cloud.google.com/storage/browser/kubernetes-release/archive/anago-v1.2

[2020-11-30 22:31] mgabeler-lee-6rs commented on #839
It is not a good look to your users for a project of this scale and large scale backing to conclude it is unable to stand up a simple pair of apt & yum repositories. I understand that things are complicated, esp. when dealing with large enterprises & code signing systems there, but having a _cloud hosting technology_ project give up on ... _setting up cloud hosting_ is incredibly bad optics.

Mayb

[2020-12-01 15:52] cartyc commented on #1087
@saschagrunert I do! I just need to clean it up and then I can push the changed to a work in progress branch. I'll try to have that done in the next couple of days. Is there any eta you're working with?

[2020-12-02 08:27] saschagrunert commented on #1087
Cool! Every release we cut from now on is creating a release notes JSON blob into the archive:
[code]

Now I'm wondering if we need to pre-fetch something like an index file which contains a list of existing releases… :thinking: Searching the bucket for those JSON files seems to be really slow.

[2020-12-02 10:48] saschagrunert commented on #1087
Working on the index file support now in https://github.com/kubernetes/release/pull/1812

[2020-12-03 10:06] saschagrunert commented on #1087
My target is to finish the process implementation within the next days that we can start consuming the new artifacts with v1.20.0, v1.19.5, v1.18.13 and v1.17.15.

[2020-12-03 12:08] saschagrunert commented on #1028
@justaugustus is this something we still need? We drastically changed the logging approach in krel stage/release. For example the `--log-level=debug` output will implicitly increase the git verbosity output, too.

[2020-12-03 12:13] justaugustus commented on #1028
@saschagrunert -- I think this might still be useful:

s/`anago`/`krel`

AND

s/`TOOL_BRANCH`/`TOOL_REF`

thoughts?

[2020-12-03 12:58] saschagrunert commented on #1028
Yes, this seems straight forward to implement.

[2020-12-03 13:02] justaugustus commented on #1028
updated the issue title

[2020-12-04 22:00] justaugustus opened #1819 "[RFC] Do we need an API package?"
As we start to build more and more tools, bake them into processes, and publicize them, it'll will become even more important that consumers are resilient to refactors, while having the opportunity to try out new functionality.

So, some questions for you all...

- Do you think we have an API?
- If so, what is it?
- Do you think we need an `api/` folder?
- If so, what goes in it?
- What does it me

[2020-12-05 04:59] puerco commented on #852
/remove-lifecycle rotten

[2020-12-05 05:18] puerco commented on #1521
/remove-lifecycle stale
/assign

[2020-12-06 18:30] cartyc commented on #1087
Hey @saschagrunert I opened a WIP PR https://github.com/kubernetes-sigs/release-notes/pull/215

[2020-12-07 08:26] saschagrunert commented on #1819
Yes, I already use k/release in some other projects as direct dependency.

Mostly CI automation about release branch forwarding/creating and release notes generation. So those packages are actively used:
- k8s.io/release/pkg/command
- k8s.io/release/pkg/git
- k8s.io/release/pkg/github
- k8s.io/release/pkg/util

If we think about kubetest2, then we also use the `k8s.io/release/pkg/build` package di

[2020-12-07 08:35] saschagrunert commented on #1087
Thank you! :pray: I'll give it a first quick review.

[2020-12-07 08:48] saschagrunert commented on #1521
We could do this as part of the Bill of Materials / artifact verification epic. We could try to read the elf header for the verification logic …

[2020-12-07 09:04] saschagrunert commented on #852
@justaugustus do we still see room for improvement in our CI images? I think this issue needs a re-triage to outline what we specifically wanna do now.

[2020-12-07 12:04] hasheddan commented on #1521
@saschagrunert SGTM!

[2020-12-07 12:24] dims commented on #1521
ooh! that's neat idea @saschagrunert

[2020-12-07 14:08] saschagrunert commented on #1521
Awesome! I think darwin and windows binaries are not written in the elf format, but let's discuss the technical solution as part of the artifact epic. :+1:

[2020-12-07 17:01] puerco commented on #1521
My thoughts exactly, I assigned it to myself because while researching the bom and figured I could solve it along with that.

[2020-12-07 21:24] afbjorklund commented on #839
I meant that the experience for users using `brew`, is nicer than the experience for users of `apt` and `yum`.
This is mostly because they _cannot_ just use "apt" or "yum", but have to download and use "dpkg" or "rpm".

If it had a **reasonable** amount of effort to add the repository and required keys, then it would compare...
Like https://kubernetes.io/docs/tasks/tools/install-kubectl/ when comp

[2020-12-07 21:33] mgabeler-lee-6rs commented on #839
This is, at best, an extremely misleading statement
1. `apt` uses `dpkg` under the hood. Nobody would ever have to "download" `dpkg`. You cannot remove `dpkg` from a Debian-based system
2. Similarly I don't think you can remove `rpm` from a RedHat-based system. `yum` fronts for `rpm` here AFAIK, much like `apt` fronts for `dpkg`
3. I don't know if you can use `yum` to directly install a downloaded

[2020-12-07 21:37] mgabeler-lee-6rs commented on #839
Check out how Chrome, VS-Code, and many other "third party" apps do this. The package itself has a post-install script which handles adding the repo, and a crontab to ensure the repo config is kept up to date. The user only needs to download and install the package ones, and thereafter the OS-driven regular system updates keep it up to date. :tada:

[2020-12-07 21:43] afbjorklund commented on #839
I meant that you have to 1) download the package file yourself and 2) run a command on the file.
Instead of just being able to install (and upgrade!), if we offered actual apt and yum repositories.

I think you are right that we _could_ use `apt install `and `yum localinstall` instead of dpkg and rpm.
I mostly meant the two-step CLI process, unfortunately using "double-click" doesn't work anymore.

[2020-12-07 21:48] mgabeler-lee-6rs commented on #839
Most users will have a DE installed and they'll just be able to (double) click to open the downloaded package which will open it in a graphical package manager with a nice big "install" button, or so I would think. That's certainly how things work on Gnome-ish systems, I'm assuming KDE behaves similarly.

Definitely agree this is preferred ... my earlier notes were more than the one-time install c

[2020-12-07 21:50] afbjorklund commented on #839
The feature was disabled in Ubuntu 20.04, in order to promote the Ubuntu Software app store...

It used to work like you say. We have similar issues with the Mac and Win downloads not working.

[2020-12-07 21:59] mgabeler-lee-6rs commented on #839
Aah, I wasn't aware of that change in Ubuntu. Seems rather user-hostile, which ... well that's part of why I use Debian :)

At any rate, if the package post-install script can setup the apt/yum repo, then the user would only need to do the CLI steps _once_, which would be a big improvement :)

[2020-12-07 22:00] afbjorklund commented on #839
Getting the software accepted into Debian is a much longer journey, especially with the insane amount of dependencies.

For other distributions we get away with static linking and providing binaries, but that's just not the way that Debian rolls.

[2020-12-07 22:02] mgabeler-lee-6rs commented on #839
Yes, was not suggesting trying to get this accepted into Debian, just that the type of user-hostile change you described from Ubuntu is why I don't use Ubuntu.

[2020-12-07 22:07] afbjorklund commented on #839
And of course the Snap wasn't updated either, because they were promoting Microk8s instead. :roll_eyes:

So in the end we ended up deleting it (put it out of its misery). See https://github.com/kubernetes/minikube/issues/7977

Which might be the way to "fix" the .deb and .rpm installations as well. Instead of fighting windmills.

The actual binary is the same either way, so we will just focus on p

[2020-12-08 15:14] neolit123 commented on #1636
i think it may be time to decouple our other packages from depending on cri-tools and make applications (like kubeadm) just fail at runtime with good error messages, but this may cause the same issues we saw earlier if we apply a change to packages across all PATCH releases.

[2020-12-11 09:25] saschagrunert commented on #628
Closing because of my previous comment. I do not see a way right now to solve this.
/close

[2020-12-11 09:25] #628 closed

[2020-12-11 09:27] saschagrunert commented on #959
Closing because I guess the process we're using right now is a great fit. I do not see a necessity to announce directly from krel.
/close

[2020-12-11 09:27] #959 closed

[2020-12-11 09:28] saschagrunert commented on #1320
@cpanato do you still consider to work on this? Seems a bit out of scope when comparing to our current roadmap planning…

[2020-12-11 09:29] saschagrunert commented on #1468
Closing since 1.16 is now end of life. Feel free to reopen if you still see a gap
/close

[2020-12-11 09:30] #1468 closed

[2020-12-11 09:30] saschagrunert commented on #1578
I consider this as done, since I'm not sure if the integration into kubetest (1) is still necessary and kubetest2 already uses the new implementation.
/close

[2020-12-11 09:31] saschagrunert commented on #1636
Hey @neolit123 are you actively working on this topic? Do you need anything from us to achieve the goal?

[2020-12-11 09:31] saschagrunert commented on #1645
@puerco any update on this? Is it still in your scope of planned work?

[2020-12-11 09:32] saschagrunert commented on #1694
@hasheddan when do we want to work on this issue? Seems not part of our roadmap planning but we may wire it into some side-effort.

[2020-12-11 09:35] #846 closed

[2020-12-11 10:10] saschagrunert commented on #857
Right now we're cutting releases if we think that we've got a fair amount of features in. I think we should not change that until we decide to cut a v1.0.0. Let's close this for now and decide how to move forward at a later point.
/close

[2020-12-11 10:10] #857 closed

[2020-12-11 14:10] cpanato commented on #1320
@saschagrunert I can finish those items, but we need to check if those still needed/make sense otherwise maybe we can close

[2020-12-12 15:15] cpanato commented on #1320
Ok, did this PR https://github.com/kubernetes/release/pull/1829

I'm not sure about the other items, Please let me know if we want those, or we can close this issue.

@justaugustus @saschagrunert

[2020-12-14 17:17] neolit123 commented on #1636
@saschagrunert

no, because it's tricky.

yes:
- the specs for kubelet and kubeadm must be versioned with the components they originate from:
see https://github.com/kubernetes/kubernetes/issues/88832
- the cri-tools package should be removed in the latest MINOR version only.
e need to stop pushing package changes to all PATCH releases in the MINOR skew.
currently if one removes https://github.com/

[2020-12-20 08:30] #1370 closed

[2020-12-28 23:48] puerco commented on #1384
/remove-lifecycle stale

[2021-01-07 22:47] sozercan opened #1833 "Patching for base images"
#### What would you like to be added:
Are there any plans to automatically patch actionable CVEs in base images, such as `debian-base`, and push new versions? Is this a manual process today?

#### Why is this needed:
It would be ideal if base image versions are automated when an actionable CVE is found so individual projects don't have to maintain OS level patching.

[2021-01-08 02:33] justaugustus opened #1834 "Dependency update - Golang 1.16"
### Tracking info

go1.16 was released on 2/16: https://groups.google.com/g/golang-announce/c/q-exD-8mG3w
go1.16rc1 was released on 1/28: https://groups.google.com/g/golang-announce/c/U_FUHY4wuSc
go1.16beta1 was released on 12/17: https://groups.google.com/g/golang-announce/c/2-Rj3P5uRLs

As Kubernetes 1.20 has already been released, we can get started on pulling in the Golang prereleases.

Golang

[2021-01-08 03:12] liggitt commented on #1834
cc @kubernetes/sig-scalability @wojtek-t in case there are any scale impacts we should be keeping an eye on

[2021-01-08 06:46] wojtek-t commented on #1834
There seem to be some regression in early December. We're working with golang folks to figure that out.
@tosi3k - can you please file an issue for that so that it's possible to track it?

[2021-01-08 10:10] tosi3k commented on #1834
Done: https://github.com/kubernetes/kubernetes/issues/97846.

[2021-01-08 10:59] #689 closed

[2021-01-10 23:35] dims commented on #914
/reopen

[2021-01-11 07:32] saschagrunert commented on #910
Nobody started working on this after 1 year. I'm closing, we probably have to re-evaluate what we can improve at a later point.
/close

[2021-01-11 07:32] #910 closed

[2021-01-11 08:30] saschagrunert commented on #1320
I'm tending towards closing this issue and re-evaluating the features if they're needed.

[2021-01-11 11:30] cpanato commented on #1320
@saschagrunert agree

[2021-01-11 15:49] hasheddan opened #1836 "Add machine readable description of platforms"
#### What would you like to be added:

A machine-readable file describing the platforms (OS / architecture) that each binary is expected to be released for (xref https://github.com/kubernetes/sig-release/pull/1360).

#### Why is this needed:

This description will allow krel to perform checks on produced artifacts and make sure that the artifacts that are intended to be released actually are being

[2021-01-11 15:52] hasheddan commented on #1836
@justaugustus @saschagrunert thinking about this a little more, I wonder if it may make sense for this to live in k/k. Krel theoretically should be able to run a release for any project, so it seems the project itself should indicate the artifacts that it intends to be released. This could be a standard that we define for "krel-releasable" projects, in which case maybe we add that standard in this

[2021-01-11 15:59] hasheddan commented on #1836
@dims in case you have any thoughts on this as well :)

[2021-01-11 16:12] hasheddan commented on #1836
This could also be related to #1819 if we want to have a formal specification.

[2021-01-11 16:46] dims commented on #1836
@hasheddan it would make sense to reach out to @swinslow from LF to have a chat as it looks like there is scanning to SPDX that's being done:
https://github.com/lfscanning/spdx-cncf/tree/master/kubernetes/2020-02

Also related:
https://github.com/cncf/foundation/issues/6

The license exceptions granted by CNCF for non-standard licenses are also in SPDX:
https://github.com/cncf/foundation/blob/mast

[2021-01-11 16:48] hasheddan commented on #1836
Thanks @dims! This looks pretty important in regards to the BOM effort, but I am not sure it directly relates the list of supported platforms that we intend to release

[2021-01-11 16:53] saschagrunert commented on #1836
`krel stage/release` is tightly scoped to Kubernetes, so it seems fine to me to stick to k/release. I can imagine that we have an API for checking binaries of different formats (like elf) against a set of criterias (like ABI or ISA).

[2021-01-11 18:58] dims commented on #1836
whoops! sorry my head was still in the BOM :)

[2021-01-11 20:46] puerco opened #1837 "[Umbrella] Bill of Materials"
We intend to ensure the quality and integrity of the artifacts produced on each release cut by adding a Bill of Materials (BOM). The BOM will be published in [SPDX](https://spdx.dev/) and will include integrity and licensing information for the artifacts we produce. Work on this area will lead to close other outstanding issues (linked here).

Following our road-mapping session, this umbrella issue

[2021-01-12 09:32] saschagrunert commented on #1384
@puerco I assume that this will be resolved with #1837 now.

[2021-01-12 09:33] saschagrunert commented on #1370
@puerco has this been closed unintentionally or do we move the work to other issues?

[2021-01-12 09:58] saschagrunert commented on #1087
Updating the website to consume the artifacts seems to be the final step before closing this.

[2021-01-12 10:38] saschagrunert opened #1838 "Update cri-tools in k/kubernetes to v1.20.0"
cri-tools v1.20.0 has been release a couple of days ago: https://github.com/kubernetes-sigs/cri-tools/releases/tag/v1.20.0

We now have to update it in the main Kubernetes repository, too. Before doing that, we also have to make sure that the cri-tools binaries from the GitHub release are available in the SIG Release production bucket.

Steps to be done:

1. Ask one of the @kubernetes/release-mana

[2021-01-12 10:39] saschagrunert commented on #1838
/priority important-soon
/kind cleanup

[2021-01-12 10:50] rajibmitra commented on #1838
/assign @rajibmitra

[2021-01-12 13:37] rajibmitra commented on #1838
#https://github.com/kubernetes/kubernetes/pull/97967

[2021-01-12 14:58] nishakm commented on #1837
cc @rnjudge and @kestewart for Tern

[2021-01-12 19:06] tsteenbe commented on #1837
@puerco If you need a tool to generate SPDX for Go and other languages, have a look at [OSS Review Toolkit](https://github.com/oss-review-toolkit/ort). I am both ORT and SPDX maintainer, happy to answer any questions you may have.

[2021-01-12 19:08] puerco commented on #1837
Thank you @tsteenbe I certainly will take a look at it :)

[2021-01-12 19:11] puerco commented on #1384
Yes, it's one of the tasks that should get resolved as a byproduct of the BOM :)

[2021-01-13 09:08] amwat opened #1840 "GCP "extra" staging files are always skipped for a make build"
#### What happened:
[code]
#### What you expected to happen:
`extra/` is staged
#### How to reproduce it (as minimally and precisely as possible):
`kubetest2 gce --build --strategy=make --stage=gs://my-bucket`
#### Anything else we need to know?:
looks like we only stage if `extra/` already exists under `_output/gcs_stage/$VERSION` whereas the files are actually coming from `_output/release-stage/

[2021-01-13 09:33] saschagrunert commented on #1840
Thank you for the report @amwat, it looks like that we can remove the corresponding code parts.
/priority important-soon

[2021-01-13 12:43] hasheddan commented on #1836
@saschagrunert this is definitely true today, but some of the original discussion when krel was started was around moving towards more generally applicable tooling, which I think could influence this decision if we still have that goal.

[2021-01-13 13:15] hakman opened #1842 "Error importing kube-poroxy.tar for ARM64 with containerd"
#### What happened:

Since switching the kOps for ARM64 periodic tests to containerd container runtime, they are failing, not being able to create the cluster:
https://testgrid.k8s.io/kops-misc#kops-aws-arm64-conformance

[kOps logs](https://storage.googleapis.com/kubernetes-jenkins/logs/e2e-kops-aws-misc-arm64-conformance/1349280720744353792/artifacts/ip-172-20-36-171.eu-west-1.compute.internal/k

[2021-01-13 13:15] hakman commented on #1842
/cc @BenTheElder

[2021-01-13 13:20] hakman commented on #1842
Seems this will be fixed by https://github.com/kubernetes/release/pull/1839

[2021-01-13 14:06] #1840 closed

[2021-01-14 13:42] saschagrunert commented on #1838
This is done
/close

[2021-01-14 13:42] #1838 closed

[2021-01-14 23:32] hasheddan commented on #1646
/remove-lifecycle stale

[2021-01-14 23:34] puerco commented on #1646
Related work:   https://github.com/kubernetes/release/pull/1795

[2021-01-15 18:21] #1786 closed

[2021-01-15 18:22] justaugustus opened #1850 "Image builds should be tested in presubmit"
#### What would you like to be added:

Image builds should be tested in presubmit.

Rough expectations:
- [x] new GCP project (`k8s-releng-test`): PR -> https://github.com/kubernetes/k8s.io/pull/1592
- [ ] new presubmits (in the [k/release job config](https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/release/release-config.yaml)) that mirror the postsubmits in:
  - https:

[2021-01-15 18:50] justaugustus opened #1851 "Dependency update - Golang 1.15.7"
### Tracking info

Golang 1.15.7 is a security release scheduled to come out on 1/19.
@kubernetes/release-engineering
/assign @ameukam @cpanato
cc: @RobertKielty

Link to any previous tracking issue:

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/KvrRblbXp_w, https://groups.google.com/g/golang-announce/c/mperVMGa98w

SIG Release Slack thread:  https://kubernetes.s

[2021-01-17 03:13] jimangel commented on #1204
déjà vu
/remove-lifecycle stale

[2021-01-18 10:47] LappleApple commented on #1837
/area release-eng

[2021-01-18 13:43] saschagrunert commented on #1836
@hasheddan I see your point. From a usability perspective, would it be better if the definitions live in k/k? Let's say we add/remove a binary, then it probably would make more sense for developers to modify the definition in k/k.

On the other hand: Let's assume that SIG Release owns the definitions. It's easier for us to change it in k/release rather than modifying k/k which might lead into a re

[2021-01-18 15:30] sladyn98 commented on #1850
Any way I can contribute to this ?

[2021-01-18 15:36] cpanato commented on #1850
@sladyn98 I started over the weekend (forgot to remove the help wanted), but I think you can work on that if you want.

Need to check how to create the new GCP project

[2021-01-18 15:53] sladyn98 commented on #1850
@cpanato So If I understand correctly this would involve creating the new gcp project and then mirroring the post submit steps in the release.yml right ?

[2021-01-18 15:57] cpanato commented on #1850
@sladyn98 the new jobs should go here https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/release/release-config.yaml

[2021-01-18 16:00] sladyn98 commented on #1850
Yeah :) however what about creating the new gcp project

[2021-01-18 16:02] cpanato commented on #1850
@sladyn98 this part i dont know either, we need to check in #test-infra or #wg-k8s-infra to see if there is a process or how to request that

[2021-01-18 16:03] cpanato commented on #1850
/assign @sladyn98
/remove-help

[2021-01-18 18:09] ameukam commented on #1850
@sladyn98 @cpanato AFAIC the GCP projects related to the release process are managed here : https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/ensure-release-projects.sh. However their access is limited to specific groups (https://github.com/kubernetes/k8s.io/blob/master/infra/gcp/ensure-release-projects.sh#L46-L48). The exiting project `k8s-release-test-prod` can also be used.

[2021-01-19 10:25] cpanato commented on #1850
@ameukam maybe @justaugustus can comment on that

[2021-01-20 00:37] brandond commented on #1851
New releases are out: https://groups.google.com/g/golang-announce/c/mperVMGa98w
* cmd/go: packages using cgo can cause arbitrary code execution at build time
* crypto/elliptic: incorrect operations on the P-224 curve

[2021-01-20 11:46] justaugustus commented on #1851
We've started up with this update in https://github.com/kubernetes/release/pull/1857, but just noting here that these security updates should be minimally impactful to kubernetes/kubernetes, as @brandond suggested in [Slack](https://kubernetes.slack.com/archives/C2C40FMNF/p1611103121051300?thread_ts=1610736817.029800&cid=C2C40FMNF).

[2021-01-20 13:29] justaugustus commented on #1850
Another example: https://github.com/kubernetes/release/pull/1853 / https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-release-push-image-kube-cross/1350255401592950784 / https://console.cloud.google.com/cloud-build/builds/2f761f3d-d532-43c0-903b-e385c6069b4c?project=960211007710

[2021-01-20 20:23] justaugustus commented on #631
/remove-lifecycle rotten
/lifecycle frozen
/milestone v1.22
/assign
/unassign @tpepper
/reopen

Part of https://github.com/kubernetes/sig-release/issues/1372.

[2021-01-20 20:25] justaugustus commented on #281
/milestone v1.22
/unassign @tpepper
/priority important-longterm

Part of https://github.com/kubernetes/sig-release/issues/1372.

[2021-01-21 07:46] stafot opened #1862 "Fail to get release-notes on MacOSX Big Sur"
#### What happened:

Running `GO111MODULE=on go get k8s.io/release/cmd/release-notes` failing and resulting the following errors
[code]

#### What you expected to happen:
Successfully get `release-notes`
#### How to reproduce it (as minimally and precisely as possible):
Run  `GO111MODULE=on go get k8s.io/release/cmd/release-notes`

#### Anything else we need to know?:
Other projects reported simil

[2021-01-21 09:14] saschagrunert commented on #1862
Hey @stafot, thank you for opening the issue! :pray:

I think this issue is not valid for the `master` any more. Adding a few tests around cross compilation and releasing a new version of this library should already solve the issue.

[2021-01-21 09:26] stafot commented on #1862
@saschagrunert Ack and thanks. So my alternative is to get the latast `master` instead of use `go get` for the latest release and build it through the tooling provided for my platform? Is my understanding correct?

[2021-01-21 11:38] saschagrunert commented on #1862
Yep, can you verify that this works for you?

[2021-01-21 11:57] stafot commented on #1862
@saschagrunert Yes, building it from `master` on my local did the trick. Thanks for the advice. Before your PR got merged.

[2021-01-21 12:00] saschagrunert commented on #1862
Thanks for the verification @stafot, lets close this for now. We can create a new release soon'ish.

/close

[2021-01-21 12:00] #1862 closed

[2021-01-22 12:47] cpanato opened #1869 "Increase the GCB quota limit"
#### What happened:

When some post jobs to build the images ran all together we are getting some quota limit in the GCB

[code]

We need to increase the limit in the google cloud platform for the google cloud build to allow more jobs to be submitted in parallel.

/cc @kubernetes/release-engineering @kubernetes/release-team-leads

[2021-01-22 13:16] justaugustus commented on #1869
/assign @justaugustus @cpanato
/priority critical-urgent

[2021-01-22 13:29] cpanato commented on #1869
checking if i have the appropriate permissions to increase the quota

[2021-01-22 13:34] justaugustus commented on #1869
The quota will probably need to be bumped through a change to the scripts in k/k8s.io.

Please hold off on any changes and let's discuss next week.

[2021-01-22 16:22] sladyn98 commented on #1850
@ameukam So if i understand correctly I can add the steps without creating a new project.
CC cpanato

[2021-01-22 23:08] spiffxp commented on #1869
We can't script most quota changes, but we definitely need to document what quota and why.

File a k8s.io issue with the name of the project and the problem you're running into.  If it's a quota we change, it shouldn't take too long

[2021-01-22 23:09] spiffxp commented on #1869
/wg k8s-infra

[2021-01-25 13:59] cpanato commented on #1850
Checking the project creation over slack: https://kubernetes.slack.com/archives/CCK68P2Q2/p1611581520009100

[2021-01-25 14:58] hasheddan commented on #1836
@saschagrunert @justaugustus I am leaning towards something like a `.krel.yml` file in repos that krel releases. I think we should add an API in the form of Go structs in k/release that defines the schema for declaring binaries / images that should be produced. We could start with a `kubernetes.krel.yml` in k/release and test this out for a while before moving it to k/k, how does that sound?

[2021-01-25 15:09] saschagrunert commented on #1836
Sounds good to me! :+1:

[2021-01-25 21:03] tpepper opened #1873 "relnotes: incorrect escaping of '#' in CHANGELOG files"
#### What happened:

https://github.com/kubernetes/kubernetes/pull/98209 noted one broken link.  That turned into a couple dozen broken links on closer inspection.  It looks like '#' is being escaped in the markdown file to "&#35;".

For normal html you can get a '#' from "&#35;" apparently and that works fine in some cases:
https://github.com/kubernetes/kubernetes/blame/master/CHANGELOG/CHANGELOG

[2021-01-25 21:27] puerco commented on #1873
I think sascha already fixed this in https://github.com/kubernetes/release/pull/1715. Have you seen more recent cases of this bug?

I still see some links encoded wrong in the 1.20 changelog but they date back to the alphas and none in the 1.21 changelog so far. Let's see if we get more instances after generating the notes for 1.21-alpha.2

/assign

[2021-01-25 22:58] spiffxp commented on #1711
Where do we stand on the "cut over jobs" part of this, will this happen in v1.21 timeframe?

[2021-01-25 23:00] spiffxp commented on #1693
Where do we stand on trying to make this happen in v1.21 timeframe?

[2021-01-26 17:24] spiffxp commented on #1869
tl;dr I cannot raise, only lower, quota for:
- GCB api requests per min (per project or per user)
- GCB concurrent builds (per project)

See https://github.com/kubernetes/k8s.io/issues/1576#issuecomment-767691409 and following comments for more details / suggestions

[2021-01-26 17:33] cpanato commented on #1665
job is running now, and some initial tweaks are done, closing this because we complete all items in the issue
/close

[2021-01-26 17:33] #1665 closed

[2021-01-27 13:15] saschagrunert commented on #1850
I think we could achieve the test cases without adding an additional project. We could just add a set of tests which run `make all-build` within the image/* directories. This way we do not have to push anything out and could succeed if the builds work. Any thoughts on that?

[2021-01-27 13:22] cpanato commented on #1850
If that is enough for now we can move on this direction

[2021-01-27 13:23] saschagrunert commented on #1850
Thought about the test approach and I think adding a new project might be the most clean way to test everything including the cloudbuild process.

[2021-01-27 13:27] justaugustus commented on #1850
Some of the failures we've seen have been distinct to running in GCB, so while I think a "local" test build could be good, we should also test in GCB.

[2021-01-27 13:33] justaugustus commented on #1850
@sladyn98 -- Unfortunately, this is going to require Release Manager access to configure and debug, so I need to unassign you.

/unassign @sladyn98

@kubernetes/release-engineering -- part of the intent for opening this issue was so that someone on the team (that wasn't me) could:
- get up-to-speed with the project creation process
- get more experience with the base image building
- start working

[2021-01-27 13:35] sladyn98 commented on #1850
@justaugustus No worries, I will pick up something else that I can work on. Thanks

[2021-01-27 13:35] cpanato commented on #1850
@justaugustus I started the discussion I think I can take it over

[2021-01-27 13:36] justaugustus commented on #1850
Thanks for being understanding! 💕

SGTM!
/assign @cpanato

[2021-01-27 17:45] justaugustus commented on #1834
(I'll start moving on this again once go1.16rc1 is out. signal: https://github.com/golang/go/issues/43253)

@wojtek-t @tosi3k -- Any updates re: this (👇🏾) regression?

[2021-01-28 13:42] cpanato commented on #1320
I will close this issue and if we want to add new things or fix any issue we can open a fresh one.

/close

[2021-01-28 13:42] #1320 closed

[2021-01-28 15:29] hakman commented on #1842
Ref: https://github.com/kubernetes/kubernetes/issues/98229

[2021-01-28 15:29] #1842 closed

[2021-01-28 22:24] spiffxp commented on #1869
I opened to describe what I think needs to be done to mitigate this going forward: https://github.com/kubernetes/test-infra/issues/20652

[2021-01-29 09:27] cpanato commented on #1869
closing this as well since the parent in k/k8s.io is closed as well https://github.com/kubernetes/k8s.io/issues/1576#issuecomment-769421693

/close

[2021-01-29 09:29] cpanato commented on #1869
reopening

[2021-01-29 09:30] cpanato commented on #1869
child issue: https://github.com/kubernetes/test-infra/issues/20652

[2021-01-29 12:41] saschagrunert opened #1883 "Trigger a full Kubernetes build manually"
Sometimes we change the build scripts in the k/kubernetes and would like to verify that everything works before merging and cutting a release. I mostly used a hacky version of `krel stage` to trigger such a build. We generally would not need the whole `stage` process, because copying the artifacts to the bucket or generating the release notes for a fork is out of scope of this issue.

I think we s

[2021-01-29 12:43] saschagrunert commented on #1883
cc @kubernetes/release-managers for discussion. Maybe we already have something like this in one of the test-infra jobs. I know that there were requests like "building Kubernetes for user forks", but this one should more focus on the build artifacts aspect.

[2021-01-29 16:36] justaugustus commented on #1711
https://github.com/kubernetes/test-infra/pull/20663

[2021-01-29 16:37] justaugustus commented on #1711
/milestone v1.21
/priority important-soon

[2021-01-29 20:26] justaugustus commented on #1834
Echoing the scalability update from https://github.com/kubernetes/kubernetes/issues/97846#issuecomment-768468960:

and https://github.com/kubernetes/kubernetes/issues/97846#issuecomment-769187674:

[2021-02-01 08:44] wilsonehusin opened #1886 "relnotes: duplicated content in k/k CHANGELOG"
#### What happened:

When we released 1.20, we had to manually edit and remove duplicates from CHANGELOG structure (https://github.com/kubernetes/kubernetes/pull/97134/). It appears that a similar kind of bug might still be there in 1.21 (https://github.com/kubernetes/kubernetes/pull/98349).

#### What you expected to happen:

CHANGELOG to be properly formatted without duplication.

#### How to re

[2021-02-01 20:37] justaugustus opened #1887 "[RFC] etcd images do not get consistently updated. Should RelEng manage?"
#### What happened:

I've noticed as a result of the Release Managers group working on base image updates, that we're usually the ones to make changes to the `cluster/images/etcd` in kubernetes/kubernetes: https://github.com/kubernetes/kubernetes/commits/master/cluster/images/etcd

However, while we have permissions to the etcd staging project, we're not the primary owners, so we don't take care o

[2021-02-01 21:13] wenjiaswe commented on #1887
@justaugustus thanks for bringing this up. I agree with you. I am not very familiar with RelEng team but for base image updates, RelEng probably knows better than etcd people, while etcd image owner could still be responsible for etcd image upgrade that's related to etcd change itself, like etcd version update when needed (e.g. https://github.com/kubernetes/kubernetes/pull/94287).

Could you pleas

[2021-02-01 22:22] justaugustus commented on #1887
@wenjiaswe -- Sure! Concretely, this would mean:
- moving `k/k/cluster/images/etcd` (and any other related etcd image directories) to k/release/images
- configuring the image building jobs to point at k/release instead of k/k
- keeping the etcd image version up to date in our dependencies.yaml, like this: https://github.com/kubernetes/release/blob/139ec19a4303f169f9f9935244b77f74f803becc/dependenc

[2021-02-01 23:02] spiffxp commented on #1869
/remove-wg k8s-infra

[2021-02-02 05:07] wilsonehusin opened #1889 "Collaborative Release Notes review"
### Intro
[Initial design document](https://docs.google.com/document/d/13SCA5HfjdJy5ZiEMPfhhZ2w25sqMS_QOcsxrJEwSLn4/edit?usp=sharing) was shared to `#release-notes`.

#### What would you like to be added:

Ability for release notes review and workflow to be more collaborative, instead of individuals running the tool and reviewing by themselves.

#### Why is this needed:

Increasing collaboration i

[2021-02-02 08:30] saschagrunert commented on #1887
Had a short look at the contents of `k/k/cluster/images/etcd` and the whole directory seems fairly isolated from the rest of k/k. So I'm in favor of moving it over here.

[2021-02-02 14:37] liggitt commented on #1887
I'm -1 on moving non-trivial images to kubernetes/release for the same reasons discussed in https://github.com/kubernetes/release/pull/1545#issuecomment-692192276

[2021-02-02 15:29] dims commented on #1887
Agree with @liggitt

[2021-02-02 15:59] xmudrii commented on #821
/remove-lifecycle stale

[2021-02-03 01:29] amwat opened #1891 "[KREL] Allow specifying the kubernetes repo root"
#### What would you like to be added:
Add a RepoRoot (or equivalent) attribute to the build `Options` to specify the kubernetes repo path.
#### Why is this needed:
Currently KREL needs to be run from the kubernetes repo root, making it customizable makes it easier to use from CI (e.g. kubetest2 https://github.com/kubernetes-sigs/kubetest2/pull/89/files/ab0692e57492ce18bfc8d6e8bc74b7d78c150de3#r569

[2021-02-03 08:23] saschagrunert commented on #1891
Hey @amwat, yeah I think this makes sense, right now we implicitly assume that we're already within a repository. Do you wanna work on that or should we take it over?

[2021-02-03 08:23] saschagrunert commented on #1891
/priority important-soon

[2021-02-03 08:33] amwat commented on #1891
Thanks for confirming! Yeah, I can work on it (unless someone gets to it before me).
I'll take a look at this tomorrow (PT)

[2021-02-03 08:51] saschagrunert commented on #1891
Sounds great, thank you! :pray:

[2021-02-03 09:03] saschagrunert opened #1892 "relnotes.k8s.io is missing the latest patches"
The [Kubernetes Release Notes](https://github.com/kubernetes-sigs/release-notes) website is missing the latest patch releases. We should give the website some love and add the missing ones for now.

/priority important-soon
/help
/cc @kubernetes/release-managers

[2021-02-03 09:11] mkorbi commented on #1892
/assign @mkorbi
happy to do that!

[2021-02-03 20:52] puerco commented on #1833
I'll start thinking about this. If anyone wants to sync with me on this issue let me know.
/help

[2021-02-03 22:09] mkorbi commented on #1892
https://github.com/kubernetes/sig-release/pull/1452
@saschagrunert

[2021-02-04 08:31] saschagrunert commented on #1833
Interesting topic. What would be the source of information for available CVEs?

[2021-02-04 09:08] #1891 closed

[2021-02-04 09:10] saschagrunert commented on #1892
This PR goes to the wrong repository :) We have to update the website, which lives in https://github.com/kubernetes-sigs/release-notes

[2021-02-04 23:32] justaugustus opened #1895 "Dependency update - Golang 1.15.8"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/1851

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/rUbPPotvaFM

SIG Release Slack thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1612480925169900

### Work items for `go1.15.8`

- [x] `kube-cross` image update: https://github.com/kubernetes/release/pull/

[2021-02-04 23:35] justaugustus commented on #1851
Golang 1.15.8 has been released.
We'll be tracking any remaining work here: https://github.com/kubernetes/release/issues/1895

/close

[2021-02-04 23:35] #1851 closed

[2021-02-05 12:03] cpanato commented on #1028
/assign

[2021-02-07 00:51] justaugustus commented on #1594
Yep, this should've been fixed in the last stretch images (`stretch-v1.1.0`).
For future readers, Debian base images using stretch are now deprecated: https://github.com/kubernetes/release/pull/1872

/remove-lifecycle stale
/close

[2021-02-07 00:51] #1594 closed

[2021-02-07 00:54] justaugustus commented on #1087
/unassign
/assign @saschagrunert
FYI @wilsonehusin

[2021-02-07 00:55] justaugustus commented on #1651
This is done.
go1.15.8 updates are being tracked here: https://github.com/kubernetes/release/issues/1895

/close

[2021-02-07 00:56] #1651 closed

[2021-02-07 01:00] justaugustus commented on #1027
/remove-priority critical-urgent
/priority important-soon

[2021-02-07 01:08] justaugustus opened #1898 "Add a check to ensure release binaries have the correct tag versions before publishing"
#### What would you like to be added:

From @kfox1111 in https://github.com/kubernetes/kubernetes/issues/97178#issuecomment-747606759:

#### Why is this needed:

See: https://github.com/kubernetes/kubernetes/issues/97178

/assign @hasheddan @puerco

[2021-02-07 01:22] justaugustus commented on #268
I'm closing this out, as I think we've served much of the intent of the original request.

- Container images are now build on community infrastructure: https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io
- `anago` has been [removed](https://github.com/kubernetes/release/pull/1765) and reimagined in Golang as [`krel`](https://github.com/kubernetes/release/tree/master/docs/krel)

For storie

[2021-02-07 01:22] #268 closed

[2021-02-07 02:04] BenTheElder commented on #268
And more importantly both have been executed by non-googlers, we have had releases without googlers for some time now *

\* Unlike the rest of the release, for debian / RPMs packages this is not the case. The community continues to rely on google's package host. https://github.com/kubernetes/release/issues/1027 is linked there, but doesn't seem to cover that. Currently a community member could bui

[2021-02-07 02:14] justaugustus commented on #268
Tracked on the Artifact Management project board as https://github.com/kubernetes/release/issues/281.

[2021-02-07 02:22] BenTheElder commented on #281
Super late reply but:

We host lots of stuff in the project that involve integration with specific vendor platforms, so I think that's fine.
Managed offerings like GKE should ideally consume images from their own hosting (I believe this is the case there now) though for various reasons, IMHO ...

----

For the record: While this issue is about the k8s packages, the conversation here veered off int

[2021-02-07 02:26] justaugustus commented on #281
(@BenTheElder -- working on a plan for this in 1.21)

[2021-02-07 02:29] BenTheElder commented on #268
Thanks Stephen! ❤️ That's exactly what I was looking for 👍

Also want to add: We don't mind doing this in the slightest, my team is happy to help! but I believe for the future of the project it is best to make sure releases in particular are a common effort with ~neutral access and publicly auditable infra (config in git like the rest of our wg-k8s-infra / SIG testing / release efforts).

(also fo

[2021-02-07 02:39] justaugustus commented on #268
@BenTheElder -- Right you are!

My biggest focus for v1.21 is refining the plan around artifact management on all axes (roughly in order of what's already been started):
- Cleaning up image promotion tooling/processes
- Continuing the file promotion work in earnest
- deb/rpm generation, signing, hosting

One of the first things I'm planning is making it faster/easier for the @kubernetes/build-admi

[2021-02-08 16:24] saschagrunert commented on #914
/remove-lifecycle rotten

[2021-02-08 17:04] nasirhm commented on #1833
I would like to work together on it.

[2021-02-09 12:19] RobertKielty commented on #1546
Summary of work done, challenges and suggested next steps

Code committed to https://github.com/RobertKielty/flake-tracker

It is easy to retrieve CI Status data by scraping TestGrid json

Generating reports is easy; reports are template driven.

It is currently too difficult to parse data from Github Issues logged for problems with Tests because

 - Issue data is entered manually
 - Resulting in

[2021-02-09 16:26] LappleApple commented on #1139
@cpanato and @RobertKielty, this item came up during today's SIG Release meeting while we were walking the project board — any updates?

[2021-02-10 04:16] justaugustus commented on #1694
Fun discussion w/ @wilsonehusin and some of the team on Twitter: https://twitter.com/stephenaugustus/status/1359354950019657730?s=20

Let's try and tackle this as a priority for v1.21.

[2021-02-10 22:23] justaugustus commented on #1837
Connecting some threads based on an OSS supply chain convo I had earlier in the week with folks across VMware, Red Hat, and Google (@ncdc, @dlorenc, @wattsteve, @lukehinds, @kimsterv, @jonjohnsonjr to name a few):

- https://github.com/opencontainers/image-spec/blob/master/spec.md
- https://github.com/opencontainers/distribution-spec/blob/master/spec.md
- https://github.com/opencontainers/artifact

[2021-02-11 07:53] lukehinds commented on #1837
Rekor could in particular be beneficial for 'Publish the SPDX manifests with the other release artifacts' - this would provide two key benefits off the top of my head.

1. immutability, making the BOMs tamper resistant.
2. Public and assured transparency, e.g. more eyes to monitor the BOMs for anything untoward

I will read up on SPDX (tagging @bobcallaway for types expertise). Do you know if ther

[2021-02-11 09:46] cpanato commented on #1139
@LappleApple @RobertKielty this is the first time I see this issue :/
I will sync with Rob (if is interested) to see how we can design a draft doc for this

[2021-02-11 10:34] LappleApple commented on #1139
/remove-lifecycle frozen

[2021-02-11 17:52] puerco commented on #1898
:+1: this is one of the two new checks to binaries coming with the Bill of Materials, I've added this issue to the BOM to track it there: https://github.com/kubernetes/release/issues/1837

[2021-02-11 23:05] vinayakankugoyal opened #1907 "Debian-iptables build fails"
#### What happened:
make sub-build-s309x failed.
#### What you expected to happen:
make sub-build-s390x succeeeds.
#### How to reproduce it (as minimally and precisely as possible):
1. Sync github.com/kubernetes/release
2. cd image/build/debian-iptables
3. run `make sub-build-s390x`
#### Anything else we need to know?:
Docker version:
[code]

buildx verions:
[code]

Error-log:
[code]
#### Environm

[2021-02-12 09:29] saschagrunert commented on #1907
This seems like one of those transient failures we hit in the past. I encountered something similar while developing https://github.com/kubernetes/release/pull/1909. Unfortunately

[code]

is not very helpful.

[2021-02-12 09:35] saschagrunert commented on #1907
Maybe this might help:
[code]
I'll give it a try in #1909

[2021-02-12 09:39] vinayakankugoyal commented on #1907
I tried that and that fixes it.

[2021-02-12 09:42] saschagrunert commented on #1907
Sounds great, if we're happy with #1909 then we should apply this pattern to all other images.

[2021-02-13 20:55] BenTheElder opened #1913 "packaging specs should be per-kubernetes version and in-tree (k/k)"
Having these out of tree means that:

- the systemd specs are not available with kubernetes as a reference to people not using the deb/rpm packages (e.g. ~all of the upstream cluster provisioning tools)  https://github.com/kubernetes/kubernetes/issues/88832
- we don't have an easy way to modify these with somewhat breaking changes without backporting them to previous releases, blocking fixes to "k

[2021-02-13 21:03] BenTheElder commented on #1913
I will contribute to this, but I want to make sure there is no objection first. At the very least I think it would be much more reasonable to move the systemd files back to k/k.

Once that is done, I intend to ship a solution to crashlooping upstream as well.
We're working on it ~downstream in https://github.com/kubernetes-sigs/kind/pull/2072 (the only downstream thing is the systemd specs, since

[2021-02-16 16:57] wilsonehusin opened #1919 "Release Notes Draft in k/sig-release to be submitted under release-notes/"
#### What would you like to be added:

The current `krel` behavior submits `release-notes-draft.{json,md}` to [`releases/release-1.21/` directory of `k/sig-release`](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.21). I'd like to propose a change that we move these two files to be under `release-notes` directory of each release, together with the maps and sessions files a

[2021-02-17 06:45] RobertKielty commented on #1139
@cpanato @LappleApple unfortunately I will not be able to contribute to this work.

[2021-02-17 10:17] saschagrunert commented on #1919
Yeah I think this makes sense :+1:

[2021-02-17 13:46] cpanato commented on #1895
all work for this update is done! 🚀

/close

[2021-02-17 13:46] #1895 closed

[2021-02-17 18:29] sladyn98 commented on #1833
@puerco I could help assist you with this. Let me know how : ) and would love to help

[2021-02-17 22:06] puerco commented on #1919
I agree completely. The idea behind the release-notes directory where the maps live was to delegate full ownership to the relnotes team. It males sense to have the draft in there :)

[2021-02-20 13:51] #1576 closed

[2021-02-22 13:36] justaugustus commented on #1494
/remove-lifecycle stale

[2021-02-22 17:16] LappleApple commented on #1139
@sethmccombs Hey, would you like to work on this?

[2021-02-22 22:45] puerco commented on #1873
I've been looking at the latest release notes runs and we have not seen another instance of this bug. I'm going to close this one for now, feel free to reopen if one shows up.
/close

[2021-02-22 22:45] #1873 closed

[2021-02-23 17:48] onlydole opened #1927 "krel shows incorrect tag when building with Go v1.15.8"
#### What happened:

After running `make release-tools` during the 1.21-beta.0 release, `krel version` was reporting an incorrect tag version (should have been `v0.7.0` but was showing `v0.5.0`)

[code]

#### What you expected to happen:

`krel version` was reporting an incorrect tag version and should have been `v0.7.0` but was showing `v0.5.0`

#### How to reproduce it (as minimally and precisel

[2021-02-23 17:51] justaugustus commented on #1927
xref: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1614102062019000?thread_ts=1614100459.010700&cid=CJH2GBF7Y, https://github.com/kubernetes/sig-release/issues/1475

[2021-02-23 18:38] onlydole commented on #1927
### Testgrid dashboards for master

Boards checked for FAILING:
- [sig-release-master-blocking](https://testgrid.k8s.io/sig-release-master-blocking)
- [sig-release-master-informing](https://testgrid.k8s.io/sig-release-master-informing)

<details><summary><tt>2021-02-23 18:38:32.21486 +0000 UTC</tt> FAILING <a href="https://testgrid.k8s.io/sig-release-master-informing#aks-engine-azure-windows-maste

[2021-02-24 00:09] puerco commented on #1927
Another thing to note is that on Linux with golang 1.15.8 the bug did not show up:
[code]
neither did it occur on macos with golang 1.15.7:
[code]

[2021-02-25 23:15] puerco commented on #1889
/cc

[2021-02-27 20:40] puerco commented on #1837
@lukehinds the first iteration of the SPDX BOM will not be signed as we have yet to set a key management mechanism before we start signing the manifests and other release artifacts. We hope to have it resolved soon(ish) as this is the main issue [blocking us from generating and hosting debs and rpms in community infra].(https://github.com/kubernetes/release/issues/281#issuecomment-774578036).

[2021-03-01 09:45] saschagrunert commented on #1927
Hm, we inject the `gitVersion` variable via a `git describe` command:
https://github.com/kubernetes/release/blob/a24975ee48384121e6d1f589586ea23daf8b2231/compile-release-tools#L82

Maybe the git version / configuration used has influence on that?

[2021-03-01 10:42] #1354 closed

[2021-03-02 17:57] nikhita commented on #1834
go 1.16 tripped the publishing-bot: https://github.com/kubernetes/kubernetes/issues/56876#issuecomment-789076331

Looks like it's hitting https://github.com/golang/go/issues/44129 or something similar. I'll take a look at this tomorrow.

[2021-03-02 18:11] justaugustus commented on #1834
Thanks @nikhita! Keep us posted :)

[2021-03-03 04:40] nikhita commented on #1834
Created to fix this https://github.com/kubernetes/kubernetes/pull/99674

[2021-03-04 11:58] justaugustus commented on #1819
https://github.com/kubernetes/release/pull/1934 is the current plan.

[2021-03-04 18:06] onlydole opened #1935 "Adjust Logging for Zeitgeist"
#### What happened:

We should either tweak zeitgeist logging or tweak the prow config because right now it outputs:

[code]

#### What you expected to happen:

`FATA`, `ERRO` are not highlighted in the log viewer (unlike error)
(and the job outputs many lines that are not errors)

#### How to reproduce it (as minimally and precisely as possible):

Run a task and view the highlighted logs.

#### A

[2021-03-04 18:48] justaugustus commented on #1935
Slack thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1614878190178700

[2021-03-04 18:48] justaugustus commented on #1935
/assign @onlydole @BenTheElder

[2021-03-04 21:08] puerco commented on #1646
Now that https://github.com/kubernetes/release/pull/1795 has merged, I wonder how much more time we would gain if we split the build into multiple GCB jobs.

It is a somewhat large task to write code to split the build, collect and verify the artifacts. Would we see a considerable improvement from splitting the build like ben suggests vs the parallel enabled by Sascha? If it represents just a marg

[2021-03-04 21:22] BenTheElder commented on #1935
so it seems the output is also breaking shell2junit (see thread above), so we don't get structured pass fail for `make verify`. we probably just want a mode to disable coloring etc. we should check if logrus has this OOTB with something like `TERM`

[2021-03-04 22:37] BenTheElder commented on #1935
https://github.com/kubernetes-sigs/release-utils/blob/82d28490440ddfd54696fd3803210850fcc688b8/log/log.go#L35 prevents `CLICOLORS` etc. from working.

[2021-03-04 22:39] BenTheElder commented on #1935
https://github.com/kubernetes-sigs/release-utils/pull/3

[2021-03-04 23:08] BenTheElder commented on #1935
https://github.com/kubernetes/kubernetes/pull/99810#issuecomment-791013609

Confirming that we get structured results again with the colors disabled.

Right now using a workaround to drop them externally to the process. To land this in zeitgeist we'll perhaps need a release-utils tag containing https://github.com/kubernetes-sigs/release-utils/pull/3, update the version used in zeitgeist, and then

[2021-03-05 02:24] spiffxp commented on #1646
Unless I'm misunderstanding the scope of this, I would be concerned that sharding builds may make it more likely we see an incomplete set of artifacts if not all jobs complete, ref https://github.com/kubernetes/test-infra/issues/18808

[2021-03-08 15:13] justaugustus opened #1936 "Dependency update - Golang 1.16.1 (security update)"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/1834

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/UERZo89zw8o

SIG Release Slack thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1615216589218000

### Work items for `go1.16.1`

- [x] `kube-cross` image update: https://github.com/kubernetes/release/pull/

[2021-03-08 15:18] justaugustus commented on #1834
We're all set here.
go1.16.1 tracking is here: https://github.com/kubernetes/release/issues/1936

/close

[2021-03-08 15:18] #1834 closed

[2021-03-09 02:11] justaugustus commented on #1935
Opened https://github.com/kubernetes-sigs/zeitgeist/pull/37 for this.

[2021-03-09 04:03] BenTheElder commented on #1935
Thank you!

In the meantime kubernetes is already using some clever bash (if I do say so myself) to strip out the terminal escape sequences so we can continue getting structured results from the wrapper, which helps surface failures. We can drop this when zeitgeist is ready (it's a single, easily revertable commit in https://github.com/kubernetes/kubernetes/pull/99810).

It would also still be nic

[2021-03-10 19:50] justaugustus opened #1940 "Dependency update - Golang 1.15.10"
### Tracking info

Link to any previous tracking issue:

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/MfiLYjG-RAw

SIG Release Slack thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1615405842039400

### Work items for `go1.15.10`

- [x] `kube-cross` image update: https://github.com/kubernetes/release/pull/1946

  - [x] image promotion: https://github.com

[2021-03-10 19:58] cpanato commented on #1940
@justaugustus i can work on that tomorrow my morning

Tgis is applied for release-1.19 and 1.20 rigth?

[2021-03-10 20:03] justaugustus commented on #1940
/assign @cpanato @xmudrii
/remove-help

[2021-03-11 03:59] justaugustus commented on #1936
All set here.
/close

[2021-03-11 03:59] #1936 closed

[2021-03-13 08:41] afbjorklund commented on #839
@tstromberg Can we close this ticket ? ("Wont Do")

We have called out for the web designers to make our workarounds look slightly less awful,
rather than hoping for support for any official packages. The old documentation was removed.

https://minikube.sigs.k8s.io/docs/start/

https://storage.googleapis.com/minikube/releases/latest/minikube_latest_amd64.deb
https://storage.googleapis.com/minikube

[2021-03-14 08:45] cpanato commented on #1850
I think we have all jobs in place 😄
will close this issue and if we need to do any followup we can open a fresh one!

/close

[2021-03-14 08:46] #1850 closed

[2021-03-17 20:23] dims commented on #281
https://github.com/kubernetes/kubernetes/issues/100348#issuecomment-801415789

[2021-03-17 23:12] puerco opened #1960 "Compiling krel in Cloud Build fails when using KUBE_CROSS_VERSION"
#### What happened:

When cutting new releases, Google Cloud Build jobs fail when trying to compile `krel`. Compiling `krel` now requires golang 1.16 and the kube-cross versions referenced in `release-*` branches in k/k are older. Example:
[code]

Output while trying to compile:
[code]
#### What you expected to happen:

`krel` should build successfully and the release process should finish success

[2021-03-18 08:32] saschagrunert commented on #1960
I guess a solution would be to build krel with one of our latest images while building kubernetes with the provided kube-cross version.

[2021-03-18 09:38] cpanato commented on #1960
Makes sense to me

[2021-03-18 18:05] ashnehete commented on #1087
It looks like the implementation on the website side as stalled due to some errors. After debugging @cartyc's PR (https://github.com/kubernetes-sigs/release-notes/pull/215) it seems we could take a different approach and directly fetch `release-notes-index.json` using a public URL i.e. https://gcsweb.k8s.io/gcs/kubernetes-release/release/release-notes-index.json

The only blocker here seems that t

[2021-03-18 22:31] chewong opened #1963 "Customizable BASEIMAGE for kube-cross image"
#### What would you like to be added:

The ability to customize BASEIMAGE for kube-cross instead of using the default `golang` BASEIMAGE.

#### Why is this needed:

Enables scenarios such as using FIPS-compliant-crypto `golang` to build Kubernetes binaries.

/cc @sozercan

[2021-03-19 09:16] saschagrunert commented on #1963
Hey @chewong, thank you for opening this request! Would it be enough to add the variable to the `images/build/cross/Makefile`?

[2021-03-19 16:49] chewong commented on #1963
Yes, that'd be enough. I can help open a PR

[2021-03-22 08:35] saschagrunert commented on #1963
Sounds great, thank you!
/assign @chewong

[2021-03-22 08:55] #1028 closed

[2021-03-23 02:56] newhuangchuan opened #1968 "carried out `make stage-ci`"
make stage-ci
#### What happened:
#    go get k8s.io/release/pkg/notes/document
go get: module k8s.io/release/pkg/notes/document: reading https://goproxy.cn/k8s.io/release/pkg/notes/document/@v/list: 404 Not Found
	server response: not found: module k8s.io/release/pkg/notes/document: no matching versions for query "latest"

Unable to pull the go package

[2021-03-23 08:25] #1963 closed

[2021-03-24 07:06] #1960 closed

[2021-03-24 18:32] justaugustus commented on #1694
/assign @puerco @wilsonehusin
/unassign @hasheddan @saschagrunert
/milestone v1.22

[2021-03-24 18:39] justaugustus commented on #852
/remove-lifecycle stale
/milestone v1.22
/unassign @alexeldeib

[2021-03-24 18:43] LappleApple commented on #852
**First step:** documentation (anyone in Rel Eng group who's touched image building recently would be best candidate); having clear steps about how to build each image will be most useful.
**Second step:** analyse the docs, which will give us opportunity to see where we can optimise

[2021-03-26 04:43] puerco opened #1976 "Building at version marker commit leaves out latest changes"
#### What happened:

When cutting a release, `krel` will fetch the version marker at https://dl.k8s.io/ci/latest-1.20.txt (the same thing applies to https://dl.k8s.io/ci/master.txt ) and cut the release (and possibly the branch) at that commit.

The commit contained in the version marker is not, however, the last in the branch, This leaves out the last 3-4 commits in the branch, potentially leavin

[2021-03-26 08:49] saschagrunert commented on #1976
I think we do not have a version marker which gets immediately updated on a merge. We would need a postsubmit job in any case, even if it just updates a marker. We can reduce this kind of racy window, but not completely eliminate it from what I can see right now.

I'm not completely sure about the implications, but how about retrieving the latest commits directly via `git`?

[code]

[2021-03-31 17:23] justaugustus commented on #1883
@saschagrunert -- We're tagging this as "needs more evidence" in the triage meeting.

I think we could assign some folks to do research, but I want to dial-in on how important this is for you at the moment.

[2021-03-31 17:35] LappleApple commented on #1699
/assign @sladyn98

[2021-04-01 07:48] saschagrunert commented on #1883
I don't see it as a high prio task and would be definiately a nice to have. Maybe it's a good first issue for a new release manager.
/priority backlog

[2021-04-01 09:19] david-caro opened #1982 "Expired key - "Google Cloud Packages Automatic Signing Key""
The current available key expired yesterday:
[code]

**What happened**: The key used to sign all the packages from the packages.cloud.google.com repos `https://packages.cloud.google.com/apt/dists/debian-buster-mirror/Release.gpg` has expired.

**What you expected to happen**: The key to be refreshed :)

**How to reproduce it (as minimally and precisely as possible)**:

**Please provide links to ex

[2021-04-01 18:57] spiffxp commented on #1982
/kind bug
/sig release
/priority critical-urgent
re-applying labels

[2021-04-01 18:57] spiffxp commented on #1982
/milestone v1.21
since I assume this may impact cutting 1.21 packages

[2021-04-02 09:21] BenTheElder commented on #1982
I no longer seen an expired key when importing it in debian, there is now this published as well: https://cloud.google.com/compute/docs/troubleshooting/known-issues#keyexpired

[2021-04-02 09:24] BenTheElder commented on #1982
https://cloud.google.com/compute/docs/troubleshooting/known-issues#keyexpired should probably be shared somewhere (perhaps the kubernetes.io install docs?) but I don't think there's anything else further to do here.

The keys have been updated, yum continues to have problematic behavior here but the workaround is published in the link above.

[2021-04-02 11:11] cpanato commented on #1940
work is done
/close

[2021-04-02 11:11] #1940 closed

[2021-04-02 12:15] cpanato opened #1984 "Dependency update - Golang 1.15.11"
### Tracking info

Link to any previous tracking issue:

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/wVRzkWSQpO0

SIG Release Slack thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1617365695206200

### Work items for `go1.15.11`

- [x] `kube-cross` image update: https://github.com/kubernetes/release/pull/1985

  - [x] image promotion: https://github.com

[2021-04-02 15:52] spiffxp commented on #1982
/remove-priority critical-urgent
/priority important-longterm

Downgrading priority. If we don't hear back from the author of this issue I would recommend we close unless anyone has any concrete follow ups they want to hold open for.

[2021-04-05 14:59] rhino5oh commented on #1982
This is still broken for people on at least CentOS 7. I dont think the priority should be downgraded. I dont know what the exact solution would be, but I dont think disabling a gpg check is the permanent solution.

[2021-04-05 15:19] spiffxp commented on #1982
Have you confirmed the steps at https://cloud.google.com/compute/docs/troubleshooting/known-issues#keyexpired repro the issue for you? Does your repo definitely use gpg instead of https for verification?

(I haven't checked on internal issue to confirm where rollout of the key is for yum, this info would help)

[2021-04-06 09:56] evankanderson opened #1987 "Release binaries?"
#### What would you like to be added:

Released binaries, particularly for `release-notes`. Alternatively, a [packaged GitHub Action] would be even more useful.

#### Why is this needed:

The Knative team is using the very helpful `release-notes` command. Currently, we build the command from source, but that seems:

1. Wasteful (running the go compiler many times)
2. Prone to breakage (e.g. with t

[2021-04-06 15:20] puerco commented on #1987
Sounds like a good idea to me. We don't release binaries for the releng tools (we compile them on the fly as well), but we could look into publishing them whenever we cut a new tag of `k/release`.  I'm currently building several actions at work perhaps I can look into this.
/cc @kubernetes/release-engineering

[2021-04-06 17:16] david-caro commented on #1982
This worked for me, though we are using the key with reprepro to mirror the repo, so not using the repo directly.

[2021-04-06 19:01] puerco commented on #1521
/remove-lifecycle rotten

[2021-04-07 08:17] saschagrunert commented on #1987
Personally I'd love to see this working in prow. This way we could put our artifacts to the release bucket and avoid GitHub API rate limits. We could also change our release process to directly download those artifacts without having a need to rebuild them everytime.

Beside that, I'm also happy to move on with GitHub actions if someone is seeing a blocker to utilize prow.

[2021-04-07 16:48] BenTheElder commented on #1982
To be clear the Kubernetes project does not own this apt/yum hosting nor does the Google team liasing. We can't do anything further about it except passing along the concern(s).

Further, there is a workable workaround now, and as noted in the guide having the signature here is unusual and poorly supported in the yum tooling (it assumes a single key ever which is obviously problematic ...).

The i

[2021-04-07 17:08] LappleApple commented on #816
Triage conclusion: closing as we've been developing in a different direction and the open items no longer seem to be relevant. If this is not the case, feel free to reopen or carve out the open items via new, updated, rescoped issues.

[2021-04-07 17:08] #816 closed

[2021-04-07 17:40] LappleApple commented on #821
@xmudrii Hey, checking in on this -- do your questions from December 2019 still stand/do you still need the help you requested back then? @sladyn98 is interested in this item as well.

/assign @sladyn98

[2021-04-07 17:44] evankanderson commented on #1987
I'm not sure this is a completely XOR situation between Prow and GitHub Actions, but in Knative we've found GitHub Actions generally easier to diagnose and debug using repo forks and the GitHub UI compared with Prow, particularly for non-Google employees. (We do have heavier automation that runs on a shared Google-donated Prow instance.)

[2021-04-08 12:40] xmudrii commented on #821
I've discussed this issue with @justaugustus a few months ago and I'll try to recap our conversation.

There are two ways to fix this issue: a simple and a complete way.

A simple way means that we move the old script to this repo and make it work. The script can be found here: https://github.com/kubernetes/kubeadm/blob/master/tests/e2e/packages/verify_packages_install_deb.sh

A complete way means

[2021-04-08 14:00] tstromberg commented on #839
While I still feel like minikube (as well as kubectl or other command-line utilities) should have an apt/yum repository to support automatic upgrades, it's clear that this request isn't going anywhere, so I'm going to close it for now.

I believe the right path going forward will be for minikube to establish its own repository.

[2021-04-08 14:00] #839 closed

[2021-04-08 14:05] dims commented on #839
@tstromberg if you want to use any GCP assets for your own repository, do please ask in kubernetes/k8s.io and we'll figure out a way to support you.

[2021-04-08 18:26] mikedanese commented on #305
/unassign

[2021-04-08 19:05] puerco commented on #1365
This is still a valid concern
/reopen

[2021-04-09 16:47] wilsonehusin opened #1993 "Remove duplicates in `krel release-notes` output"
#### What happened:

- Having headers in `krel release-notes` output caused the end result of k/k changelog to have duplicated headers. [We had to fix this in 1.20](https://github.com/kubernetes/kubernetes/pull/97134) and [again in 1.21](https://github.com/kubernetes/kubernetes/pull/100968) after the release.
- We also have duplicated `dependencies` section. In 1.21 we handled it in the same PR li

[2021-04-09 16:48] wilsonehusin commented on #1993
/priority backlog

heh `/cc` doesn't work on issues, so manually now -- cc: @pmmalinov01 @puerco

[2021-04-09 16:48] wilsonehusin commented on #1993
/milestone 1.21

[2021-04-09 16:49] wilsonehusin commented on #1993
/milestone v1.22

[2021-04-09 17:08] LappleApple commented on #1546
/area release-team

[2021-04-10 14:03] sladyn98 commented on #821
So if I understand correctly the steps we are likely to take are:
a) Move the sh file to this repo: I see a `verify-published.sh` inside the hacks/packages folder so would we be moving this script there as well.
b) Create a job that runs this sh file: Would we be adding a setp to the cloudbuild.yaml file which runs this after a certain step

[2021-04-11 13:04] xmudrii commented on #821
I would only add that we might want to slightly revisit the script. I see that it has a part for [verifying stable packages](https://github.com/kubernetes/kubeadm/blob/ead9b04ef8c8001d1b673dc1a3b04eb0b708bb58/tests/e2e/packages/verify_packages_install_deb.sh#L80-L125). I think that this might be covered by `verify-published.sh`, and in that case, we should drop that part from that script.

I'm not

[2021-04-13 07:56] sladyn98 commented on #821
So looking at current script, it  does not check the versions of the installed packages and does not check kubeadm, kubelet, kubectl etc
[code]
So would we be better off keeping the check or maybe adding it to the verify-published.sh and then dropping it from the new script.

[2021-04-13 12:09] sladyn98 commented on #1699
/assign

[2021-04-13 20:39] MarkusTeufelberger commented on #1636
/remove-lifecycle rotten

To please our robot overlords

[2021-04-14 07:34] saschagrunert commented on #1636
@MarkusTeufelberger this topic is no priority for SIG Release right now, hence we did not start working on it due to other ongoing topics. May I ask you if you wanna work on this topic?

[2021-04-14 08:32] MarkusTeufelberger commented on #1636
So SIG release does not package the tools from SIG node since December 2018 but that's not a priority?  I mean I can try to take a look, but I don't even know where to start looking: `cri-tools` doesn't seem to have any deb/rpm builds in its repository, `kubepkg` is written in go, not a language I'm very familiar with and I have no idea where and how this `kubepkg` ultimately gets called in variou

[2021-04-16 03:56] justaugustus opened #2005 "Dependency update - Golang 1.16.3"
### Tracking info

Link to any previous tracking issue:

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/wVRzkWSQpO0

SIG Release Slack thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1618545755031100

### Work items for `go1.16.3`

- [x] `kube-cross` image update: https://github.com/kubernetes/release/pull/2006, https://github.com/kubernetes/release/pull/2

[2021-04-17 15:25] justaugustus commented on #2005
Update PRs complete.
kubekins-e2e and krte image bumps will get picked up next week in the autobump PR approvals for test-infra.

/close

[2021-04-17 15:25] #2005 closed

[2021-04-19 07:13] cpanato commented on #1984
All work is done
/close

[2021-04-19 07:13] #1984 closed

[2021-04-21 07:52] jihoon-seo opened #2012 "Add missing 'Source Code' heading in `krel` output"
#### What happened:
'Source Code' heading is missing in `krel`-generated files.
Please refer to https://github.com/kubernetes/kubernetes/pull/101299/files .

[As-is]
[code]

#### What you expected to happen:

[To-be]

[code]

#### How to reproduce it (as minimally and precisely as possible):
Run `krel changelog` and/or `krel release-notes` commands, maybe..?

#### Anything else we need to know?:
-

[2021-04-21 08:19] wilsonehusin commented on #2012
possibly related -- https://github.com/kubernetes/release/issues/1993

/priority backlog
/milestone v1.22

[2021-04-21 09:34] jihoon-seo opened #2013 "'Just generate md or html' flag for `krel release-notes`"
#### What would you like to be added:

'Just generate md or html' flag for `krel release-notes`

#### Why is this needed:

[`krel changelog`](https://github.com/kubernetes/release/blob/master/docs/krel/changelog.md) generates Markdown file and HTML file.
It also provides the flag `--html-file` for users who want to drop the generated HTML file somewhere else than the default path.
[code]

---

[`k

[2021-04-21 10:12] jihoon-seo commented on #2013
I browsed the PRs created by `krel release-notes`, and found that the PRs do not contain just one file.

[PR created with `--create-draft-pr` flag]
- Example: https://github.com/kubernetes/sig-release/pull/1503/files
  - This PR adds and updates many `yaml`, `json`, and `md` files.

[PR created with `--create-website-pr` flag]
- Example: https://github.com/kubernetes-sigs/release-notes/pull/233/fi

[2021-04-21 10:28] jihoon-seo commented on #2012
It seems that this is caused from:

https://github.com/kubernetes/release/blob/c0d02130e78a83d0f7262cbb776cd9e9928686b5/pkg/notes/document/document.go#L380-L402

---

[Suggestion]

[code]

[2021-04-21 10:33] jihoon-seo commented on #2012
Note:

[Capitalization issue]
- `Client binaries`, `Server binaries`, `Node binaries`
  - pkg/changelog/const.go
  - pkg/notes/document/template.go
- `Client Binaries`, `Server Binaries`, `Node Binaries`
  - pkg/notes/document/document.go
  - pkg/notes/document/document_test.go

[2021-04-21 10:44] jihoon-seo commented on #1993
The code that generates the unwanted `# Release notes for` part:

https://github.com/kubernetes/release/blob/c0d02130e78a83d0f7262cbb776cd9e9928686b5/pkg/notes/document/template.go#L25-L27

---

The code that generates the unwanted `# Changelog since` (H1) part:

https://github.com/kubernetes/release/blob/c0d02130e78a83d0f7262cbb776cd9e9928686b5/pkg/notes/document/template.go#L64

(c.f. The codes

[2021-04-21 11:00] jihoon-seo commented on #1993
Note: This comment is Work In Progress.

[Call chains of appending-dependencies-changes functions]
- Call chain 1
  - ...
  - In `cmd/krel/cmd/release_notes.go`,
`func buildNotesResult()` calls `notes.NewDependencies().Changes()`
- Call chain 2
  - ...
  - In `pkg/changelog/changelog.go`,
  `func (c *Changelog) Run()` calls `c.impl.DependencyChanges(startRev, endRev)`
- Call chain 3
  - ...
  - In

[2021-04-21 17:17] LappleApple commented on #305
Hello @sdake and @kfox1111: Almost a year has passed since the last comment. What is your current view on this issue? If it's still needed, do you have bandwidth to help make a contribution that would push it along? If you need information about how to do that, please reach out here and we can offer some guidance.

[2021-04-21 17:24] LappleApple commented on #1645
From April 21, 2021 triage: @puerco will take a look at this again to decide what to do next

[2021-04-21 17:48] LappleApple commented on #1646
Triaged April 21, 2021: @puerco doesn't have time in the short-term to do anything here. After the formalisation of supported platforms work concludes would be a good time to revisit this. cc @hasheddan

[2021-04-21 18:32] kfox1111 commented on #305
For those sites that are big enough, they now mirror the repo and test on a test cluster before deploying to production.

For smaller sites, they may still point at upstream repos directly in prod and run into this issue. Its still an issue for them I think.

I've got enough clusters now I'm in the former category though. I don't currently have enough spare cycles to fix the issue when I don't per

[2021-04-21 19:38] xmudrii commented on #1646
We had a discussion about this on Slack: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1619032489004200

We already run builds in parallel since https://github.com/kubernetes/release/pull/1795 and turns out that this speeds up the stage step by ~10 minutes. Right now, this works only for 1.21 because https://github.com/kubernetes/kubernetes/pull/96882 was not cherry-picked to other release bran

[2021-04-22 02:17] jihoon-seo opened #2014 "`krel release-notes` prints wrong upstream repo URL"
#### What happened:

[code]

But actually, there is no [`kubernetes-sigs/sig-release`](https://github.com/kubernetes-sigs/sig-release) repo.
It should be [`kubernetes/sig-release`](https://github.com/kubernetes/sig-release).

#### What you expected to happen:

[code]

#### How to reproduce it (as minimally and precisely as possible):

[code]

#### Anything else we need to know?:

https://github.co

[2021-04-22 02:46] jihoon-seo commented on #2013
There are codes about `interactive mode` in [`release_notes.go`](https://github.com/kubernetes/release/blob/master/cmd/krel/cmd/release_notes.go),
but there is no mention about `interactive mode` in two `krel release-notes`-related documents:

- https://github.com/kubernetes/release/blob/master/docs/krel/release-notes.md
- https://github.com/kubernetes/release/blob/master/cmd/release-notes/README.

[2021-04-22 06:16] #2014 closed

[2021-04-22 10:23] xmudrii commented on #1646
Following up our discussion, I've created the following PRs to cherry-pick this change to other supported release branches:
* https://github.com/kubernetes/kubernetes/pull/101363
* https://github.com/kubernetes/kubernetes/pull/101365
* https://github.com/kubernetes/kubernetes/pull/101366

[2021-04-22 11:00] jihoon-seo commented on #1993
1. `const defaultReleaseNotesTemplate` in `release/pkg/notes/document/template.go` writes these lines:

https://github.com/kubernetes/release/blob/c0d02130e78a83d0f7262cbb776cd9e9928686b5/pkg/notes/document/template.go#L25-L27

https://github.com/kubernetes/release/blob/c0d02130e78a83d0f7262cbb776cd9e9928686b5/pkg/notes/document/template.go#L64

2. `func CreateDownloadsTable` in `release/pkg/notes

[2021-04-22 11:17] jihoon-seo commented on #1993
[Suggestion]

In `release/pkg/notes/document/template.go`,

[code]

[code]

---

Reflecting this suggestion will cause some changes on generated `release-notes-draft.md` file:

[As-is]
[code]

[To-be]
[code]

As you can see, some headings are removed.
So if someone opens the generated [`sig-release/releases/release-1.21/release-notes-draft.md`](https://github.com/kubernetes/sig-release/blob/master

[2021-04-22 11:25] jihoon-seo commented on #1993
[Suggestion 2]

In `release/pkg/notes/document/template.go`,

[code]

[code]

In `release/pkg/notes/document/document.go`,
[code]

[code]

[2021-04-23 04:58] wilsonehusin commented on #1993
woah this is awesome investigation @jihoon-seo!

I think I like the first suggestion which we simply remove them, including the dependency / import diff because they're also duplicated. the data in k/sig-release will be quite self-explanatory with _which directory_ they're located in.

in the scenario of people running `release-notes` tool (without `krel`, different binary), they can change the ou

[2021-04-23 05:00] wilsonehusin commented on #2012
good catch on capitalization too!

I wonder how we end up with `""` -- my gut feeling is that this might be due to an off-by-one fix at some point. just trying to make sure there are no side effect if we add the suggested changes (which I agree with)

[2021-04-23 08:09] jihoon-seo commented on #2012
@wilsonehusin Thank you for your comment.

To check the effect of suggestions ([here](https://github.com/kubernetes/release/issues/1993#issuecomment-824751873) and [here](https://github.com/kubernetes/release/issues/2012#issuecomment-823956368)),

I ran `krel release-notes --create-draft-pr --fork=jihoon-seo --tag v1.21.0 --fix`,
and the results are as follows.

[[Before](https://gist.github.com/j

[2021-04-23 08:27] pmmalinov01 commented on #1993
Amazing detective skillz!
+1 for going with the first suggestion. In my mind, it falls in the idiomatic way of golang.

[2021-04-23 09:11] RakhithaRR commented on #1982
I see a similar issue in Ubuntu 20.04.

`apt-get update` shows this error
[code]
Running the above two commands you've mentioned did not solve this.
I can still see that `Google Cloud Packages Automatic Signing Key` is expired (on 2021-03-31) when I run `apt-key list`.

[2021-04-23 15:51] laurenegerton commented on #1982
I see the same expiration as @RakhithaRR.

[2021-04-23 17:08] wilsonehusin commented on #2012
nice work! want to PR your changes and we can discuss there?

I never had to use `krel changelog`, so I'm not sure either 🤔 I'll give it a try

on links `/tmp/k8s` to your real path, you can use `--repo` to do that 😄

[2021-04-23 22:39] jihoon-seo commented on #2012
Okay, I will try --repo flag and open a PR, next week! 😄

[2021-04-25 04:08] justaugustus opened #2017 "hyperkube removal tracking (after v1.18 EOL)"
The next v1.18 release (v1.18.19) on 5/7/21 will bring v1.18 to End of Life: https://github.com/kubernetes/sig-release/pull/1532
With that, we'll need to remove any remaining references to hyperkube.

This issue tracks that work.

- [x] Remove debian-hyperkube-base image building:
  - [x] https://github.com/kubernetes/release/pull/2018
  - [x] https://github.com/kubernetes/test-infra/pull/21941
-

[2021-04-25 04:41] justaugustus commented on #1887
SGTM!
/close

[2021-04-25 04:41] #1887 closed

[2021-04-26 01:31] jihoon-seo commented on #2012
I tried `--repo` flag, but it did not give any difference. 😢

`krel changelog --branch release-1.21 --tag v1.21.0 --repo /root/go/src/github.com/kubernetes/kubernetes`

[code]

[2021-04-26 02:00] jihoon-seo commented on #2012
Instead of `krel changelog`, I could do the tests using the Go test functions of `krel`.

- `func TestCreateDownloadsTable` in `pkg/notes/document/document_test.go`
- `func TestDocument_RenderMarkdownTemplate` in `pkg/notes/document/document_test.go`

Ref: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/release/2020/pull-release-test/1386495494221467648

[2021-04-26 02:22] jihoon-seo opened #2021 "`krel` READMEs are outdated"
#### What happened:
`krel` READMEs are outdated.
- https://github.com/kubernetes/release/blob/master/docs/krel/changelog.md
- https://github.com/kubernetes/release/blob/master/docs/krel/ff.md
- https://github.com/kubernetes/release/blob/master/docs/krel/push.md
- https://github.com/kubernetes/release/blob/master/docs/krel/release-notes.md

#### What you expected to happen:
`krel` READMEs are up-to

[2021-04-26 02:43] #2021 closed

[2021-04-26 07:30] Greg0 commented on #1982
Same issue on my machine while `apt update`

[code]

[2021-04-26 18:07] bharrisaurora commented on #1982
I am also seeing this.  This seems to happen pretty regularly to be honest.  I'm not sure why it's such a struggle to keep the needed keys available to download.

[2021-04-26 18:34] dims commented on #1982
@kubernetes/release-team-leads can you please see if there are ways for us to avoid/reduce this barrier in the future?

[2021-04-26 18:44] justaugustus commented on #1982
cc: @kubernetes/release-engineering @kubernetes/build-admins @kubernetes/sig-release-leads

(Since this is RelEng)

[2021-04-26 19:28] mkorbi commented on #1693
looks like WIP
will we get this done in 1.22? 👍
/remove-lifecycle stale

[2021-04-27 07:49] saschagrunert commented on #1982
Can you confirm that something like this works for you or provide a more encapsulated reproducer:

[code]

[2021-04-29 12:29] xmudrii commented on #821
We've discussed this issue in the [#release-management channel on Slack](https://kubernetes.slack.com/archives/CJH2GBF7Y/p1619633605125300). I'll try to recap the most important points.

The original script from the kubeadm repo doesn't work anymore because we are no longer building debs and rpms for each CI build. Historically, we would build debs/rpms for each CI build and put them in a bucket,

[2021-04-30 07:59] #2012 closed

[2021-05-02 20:24] wilsonehusin commented on #1886
i'm going to close this one in favor of #1993 with more details (didn't even realize that i wrote duplicate of the same issue)

/close

[2021-05-02 20:24] #1886 closed

[2021-05-03 17:48] wilsonehusin commented on #2013
yeah `--fix` deserves some explanation. historical context on this is that `krel` would automate gathering of release notes then folks would manually fix them on markdown. now, with `--fix`, folks can edit YAML representation of notes before they even make it to markdown.

thoughts? cc @puerco

[2021-05-04 04:09] #1919 closed

[2021-05-06 03:51] wilsonehusin opened #2055 "Changelog document somehow converting `**` to `*-`"
#### What happened:

In the process of converting release notes from PR body to Markdown document, it seems that if there is an instance of `**`, they will be converted to `*-`.

#### What you expected to happen:

Things to remain.

#### How to reproduce it (as minimally and precisely as possible):

Generate release notes through krel.

#### Anything else we need to know?:

Most recently found in

[2021-05-06 07:22] saschagrunert commented on #2055
I think it's this one: https://github.com/kubernetes/release/blob/b6dd9aa61f79019382c2e97f3bbd84383dd1d25c/pkg/notes/notes.go#L808-L810

[2021-05-06 07:52] saschagrunert commented on #2055
Fix incoming in #2056

[2021-05-06 15:19] #2055 closed

[2021-05-07 08:36] tao12345666333 commented on #2005
We have just released Go versions 1.16.4 and 1.15.12, minor point releases.

This minor release includes a security fix according to the new security policy (#44918).

ReadRequest and ReadResponse in net/http can hit an unrecoverable panic when reading a very large header (over 7MB on 64-bit architectures, or over 4MB on 32-bit ones). Transport and Client are vulnerable and the program can be made

[2021-05-07 11:49] justaugustus opened #2060 "Dependency update - Golang 1.16.4 / 1.15.12"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2005#issuecomment-834174908
(FYI @tao12345666333)

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/cu9SP4eSXMc

SIG Release Slack thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1620388464296500

### Work items for `go1.16.4` / `go1.15.12`

- [x] `kube-cross

[2021-05-07 11:50] justaugustus commented on #2005
Thanks @tao12345666333! Tracking this work here: https://github.com/kubernetes/release/issues/2060

[2021-05-07 11:56] justaugustus commented on #2060
@cpanato -- I'll work on go1.16.4. Can you work on go1.15.12 once the images from https://github.com/kubernetes/release/pull/2059 get promoted?

/assign @cpanato

[2021-05-07 11:59] cpanato commented on #2060
@justaugustus roger that!

[2021-05-08 20:06] #1365 closed

[2021-05-10 10:02] saschagrunert commented on #1968
This should be fixed now, verified that `go get k8s.io/release/pkg/notes/document` works locally
/close

[2021-05-10 10:02] #1968 closed

[2021-05-11 17:49] jsoref commented on #1982
The problem with just adding the key is that you'll still get this: https://github.com/kubernetes/release/issues/1982#issuecomment-826582877

because the odds are tat your repository has pinned the key:
[code]

1. Someone (possibly me) needs to file a bug (and possibly a patch) to apt to change the error message:

[code]

2. Everyone else just needs to either edit the `/etc/apt/sources.list.d/goog

[2021-05-12 18:57] puerco commented on #1898
/remove-lifecycle stale

[2021-05-12 19:46] cpanato commented on #2060
all work is done

/close

[2021-05-12 19:46] #2060 closed

[2021-05-18 22:11] wilsonehusin opened #2073 "Predictable tag schedule"
#### What would you like to be added:

`k/release` repository to have a predictable tagging schedule.

#### Why is this needed:

While most of the consumption `k/release` is internal to Kubernetes as open-source project, we do have tools which are meant to be consumed outside of the open-source project context (e.g. [`release-notes` generator](https://github.com/kubernetes/release/tree/master/cmd/

[2021-05-19 07:19] saschagrunert commented on #2073
How about cutting a release monthly right before the k8s patch releases. Then we could use that krel version for cutting the release instead of the master.

[2021-05-19 10:15] saschagrunert commented on #1883
Playing around with a possible approach in https://github.com/kubernetes/release/pull/2074

[2021-05-19 14:15] wilsonehusin commented on #2073
🤔 that's a good idea -- I was initially under the impression that our releases are almost quarterly but it makes a lot of sense to do monthly with schedule of n days before patch releases.

which leads to... versioning scheme: should we do the YYYY.MM scheme? i.e. 2021.05 or 21.05 for short?

[2021-05-19 14:20] puerco commented on #2073
I'd stick with semver and discuss around the semantic part :)

[2021-05-19 14:48] saschagrunert commented on #2073
I’m also in favor of semver, but don’t want to raise the discussion about an stable API again at this point. 😅

[2021-05-19 18:52] wilsonehusin commented on #2073
hahaha I didn't mean to imply stable API -- my thought process was mostly "we're versioning things so it's easy to track and discern", but yeah I'm overall indifferent between the two, just a thought :)

[2021-05-20 07:19] saschagrunert commented on #2073
Do you have thoughts on writing a policy around pre-patch releases @kubernetes/sig-release-leads ?

[2021-05-20 09:02] justaugustus commented on #2073
Let's only consider SemVer here.
- _at least_ as frequently as the monthly patch releases
- whenever core dependencies have releases that address security vulnerabilities
- whenever the UX of a release tool has significantly changed
- whenever there are significant changes in dependencies
- whenever there is significant buildup of commits (hopefully this isn't a huge consideration if we're releasi

[2021-05-20 20:05] cici37 opened #2075 "`krel release-notes --create-draft-pr` create the PR without asking"
#### What happened:
Trying to run command `krel release-notes --create-draft-pr --fork=cici37` to create release notes draft PR.
The PR is created without providing option to manually create pr later and skipped the option of editing the release notes as well.
Ref: the [PR](https://github.com/kubernetes/sig-release/pull/1578) created accidentally.

#### What you expected to happen:
When it reaches

[2021-05-20 20:08] cici37 commented on #2075
cc @pmmalinov01
Pavel mentioned he also met with the same issue before.

[2021-05-20 21:27] Damans227 commented on #2075
Good catch @cici37

[2021-05-20 21:44] cici37 commented on #2075
After a little bit of digging, this behavior is triggered by flag `autoCreatePullRequest`:
[code]

This flag was introduced together with the edit flow of `--fix` in this PR: https://github.com/kubernetes/release/pull/1467

Which will cause `krel release-notes --create-draft-pr` exit from interactive mode:
Ref: https://github.com/kubernetes/release/blob/d01242d7df4189c666b8f5517ccbb9d75c391d59/cmd

[2021-05-21 00:59] puerco commented on #2075
Hey @cici37 yes, this was done like this not because it was the best flow but it was only the first iteration of that flow and we have not done a lot of improvements yet. In later tools I've added confirmation at every step because I went through the same feeling you are all experiencing :upside_down_face:  Check here in `krel promote-images` for example:

https://github.com/kubernetes/release/blo

[2021-05-21 04:55] cici37 commented on #2075
@puerco Thank you for sharing the information. I would like to contribute for sure. Let me try to raise the pr and that will be great if you could help with reviewing :)

[2021-05-21 07:54] saschagrunert opened #2076 "Automatically create image promotion PRs"
Right now we manually create an image promotion PR for every release, for example [this one](https://github.com/kubernetes/k8s.io/pull/2075). The tooling already provides the implementation for the automatism, but has to be executed by a release manger for now.

The idea is to bring this image promotion into `krel stage` to reduce the manual overhead when cutting releases.

What do you think, @kub

[2021-05-21 14:57] puerco commented on #2075
Of course, let me know if you have any questions :)

[2021-05-21 15:27] puerco commented on #2076
I had been holding on implementing this because there have been discussions around signing the images and I think we should automate this once we have a plan for that. WDYT?

[2021-05-23 18:31] justaugustus commented on #1139
/remove-lifecycle stale
/milestone v1.22

[2021-05-23 18:41] justaugustus commented on #1139
@kubernetes/release-engineering is pairing on the draft here: https://docs.google.com/document/d/1npm6aXRyXIgrgL1SRbFn16GkNGkTH7zWEYy4sO5JccU/edit?usp=drivesdk

Dan is point.
/assign @hasheddan

[2021-05-24 19:03] Damans227 opened #2079 "Using `krel release-notes --create-draft-pr` without`--fix` flag does not pulls down the maps"
#### What happened:

When trying to run`krel release-notes --create-draft-pr` command to create the release notes draft PR, maps are not being pulled down until the `--fix` flag is added to it.

#### What you expected to happen:

Regardless of `--fix` flag is set or not,  maps should always be pulled when running the `krel` command.

#### How to reproduce it (as minimally and precisely as possible

[2021-05-24 22:47] puerco commented on #2073
Well. this sounds like a nice rule set for a first draft :)

[2021-05-24 22:50] justaugustus commented on #2073
Awesome!
Wilson and Adolfo, can I ask you two to get a draft going for the team to review?

/assign @wilsonehusin @puerco

[2021-05-25 06:32] saschagrunert commented on #2076
I'm not sure if we have to make auto promotion dependent on signing. I see them as separate steps, whereas we could start working on the promotion part and add the signing later on. Thoughts on that?

[2021-05-25 06:34] saschagrunert commented on #1645
I think this is not done yet

/reopen

[2021-05-25 14:47] xmudrii commented on #1711
cc @saschagrunert to check the status with @justaugustus

[2021-05-25 14:52] xmudrii commented on #1087
This is blocked by https://github.com/kubernetes/k8s.io/issues/1810#issuecomment-804524844 until we don't move to the community GCP project.

[2021-05-25 14:52] xmudrii commented on #1087
/lifecycle frozen

[2021-05-25 16:50] puerco commented on #1836
/remove-lifecycle rotten

[2021-05-26 08:44] saschagrunert commented on #1711
@justaugustus can we carve-out the open points and hand it over to a release manager (associate)?

[2021-05-29 06:48] puerco opened #2094 "Release process breaks when cloning kubernetes/kubernetes"
#### What happened:

When staging a new kubernetes release, the release process stops with an error when cloning `kubernetes/kubernetes`.`

[code]

#### What you expected to happen:

The git clone of the repository should finish correctly and staging should proceed

#### How to reproduce it (as minimally and precisely as possible):

run `krel stage` it will break at _Preparing workspace step=5/9_

[2021-05-29 06:52] justaugustus commented on #2094
Is this transient or consistent?
Let's make this higher priority until we've proven it's not.

/remove-priority important-soon
/priority critical-urgent

[2021-05-29 06:53] puerco commented on #2094
It has been consistently failing for the last ~12 hrs or so

[2021-05-29 06:53] justaugustus commented on #2094
Got it. Let us know if you need any help.

[2021-05-29 23:34] puerco commented on #2094
I've been looking into this and it seems to be something in the way go-git interacts specifically with k/k. I've boiled down the cloning code to a POC:
[code]

From my machine, cloning k/k fails with the same message as the release process:
[code]

But cloning k/release works fine:
[code]
I'm still investigating.

[2021-05-29 23:55] puerco commented on #2094
OK, I found what broke it. Last week dependabot [bumped the go-git module from 5.3 to 5.4](https://github.com/kubernetes/release/commit/b36390eca788dd5b2e2a5c47315a30ba8185c80b). For some reason, 5.4.0 and 5.4.1 cannot clone k/k.

I downgraded it locally to 5.3.0 and it worked:
[code]
Looking at the go-git project I think it was this: issue:  https://github.com/go-git/go-git/issues/323  and the fi

[2021-05-30 23:34] puerco commented on #1927
Sorry @saschagrunert I missed your comment back then. Thanks for pointing this out. During the cut of v1.22.0-alpha.2, @Verolop had the same issue but in her case, we were getting version 0.3.3 instead of 0.8.0 (but at the right commit). Next time I see it happening I'll try to dig starting with the git tags.

I'm thinking that perhaps, for some reason, their git setup reports the tags in a differ

[2021-05-31 07:27] saschagrunert commented on #2094
Thank you for the investigations @puerco, I agree with your suggestion! :pray:

[2021-05-31 07:35] IKatsu opened #2099 "conflicting dependencies kubernetes-cni-0.8.7"
This is on a fresh install (last week from current time) on RHEL8.3
Running 'dnf update'

 Problem: cannot install both kubelet-1.18.4-0.x86_64 and kubelet-1.21.1-0.x86_64
  - cannot install the best update candidate for package kubernetes-cni-0.8.7-0.x86_64
  - cannot install the best update candidate for package kubelet-1.21.1-0.x86_64

# rpm -qa | grep -i kube
kubernetes-cni-0.8.7-0.x86_64
kube

[2021-05-31 07:37] saschagrunert commented on #2099
Thank you for the report, @IKatsu. Do you think you can share an encapsulated reproducer?

PTAL @kubernetes/release-engineering

[2021-05-31 10:15] IKatsu commented on #2099
I followed this guide: https://swapnasagarpradhan.medium.com/install-a-kubernetes-cluster-on-rhel8-with-conatinerd-b48b9257877a
It's a minimal install RHEL8.3 fully updated, then go through the kubernetes install and type 'dnf update' and it will error.

That's all there is really.
I just installed a 3 node test cluster and all nodes show this behaviour.

[2021-05-31 15:10] neolit123 commented on #2099
that is not an officially supported k8s guide.

have you tried following the steps from here?
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

[2021-05-31 16:14] puerco commented on #2094
/cc @wilsonehusin as Release Manager Associate performing the next release cut

[2021-05-31 17:30] IKatsu commented on #2099
I don't think it matters from which guide you copy/paste 'dnf install -y kubelet kubeadm kubectl'

The only difference is the exclude in the repo file but excluding kubernetes packages from updating without disabling excludes just hides the problem till you actually want to update.

[2021-05-31 17:43] neolit123 commented on #2099
the official guide has no `dnf intall`, it has `yum install`.
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

i do agree that potential conflicts should be resolved, but is the problem reproducible with `yum install`?

[2021-06-02 14:36] #2094 closed

[2021-06-04 06:29] cpanato opened #2107 "Dependency update - Golang 1.16.5 / 1.15.13"
### Tracking info

Link to any previous tracking issue: https://github.com/kubernetes/release/issues/2060

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/RgCMkAEQjSI/m/r_EP-NlKBgAJ

SIG Release Slack thread: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1623076353251200

### Work items for `go1.16.5` / `go1.15.13`

- [x] `kube-cross` image update: https://github

[2021-06-07 05:18] onlydole commented on #1935
/remove-lifecycle stale

[2021-06-07 13:10] thejoycekung opened #2110 "ci-kubernetes-build is failing (can't find spdx file)"
#### What happened:
The two most recent runs of ci-kubernetes-build have failed because they cannot find the related SPDX file (it does not exist)

#### What you expected to happen:
The SPDX file should exist and the job should pass

#### How to reproduce it (as minimally and precisely as possible):

- https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-build/1401819710797910016
- ht

[2021-06-07 13:32] thejoycekung commented on #2110
huh, on line 40: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-build/1401819710797910016#1:build-log.txt:40

[code]

[2021-06-07 14:58] cpanato commented on #2107
/assign @thejoycekung

[2021-06-07 15:24] #2110 closed

[2021-06-08 15:04] cpanato commented on #1819
@justaugustus @saschagrunert in the RelEng meeting today we said that can be closed and if needed we can open follow-up issues.

I will close this, but if I did that wrong just reopen it. thanks!

/close

[2021-06-08 15:04] #1819 closed

[2021-06-08 15:05] cpanato commented on #1935
@onlydole this still an issue?

[2021-06-08 17:40] BenTheElder commented on #1935
at kubernetes HEAD I still see that `CLICOLOR=0 CLICOLOR_FORCE=0` is not respected.

[2021-06-08 17:54] BenTheElder commented on #1935
I updated zeitgeist to v0.3.0 and it still doesn't work. The current pipe / sed workaround in kubernetes works but is a bit ugly. Ideally tools should have some way to disable escape codes, currently it seems anything using this log package cannot.

Besides shell2junit issues / desiring to process the log output easily there are CI environments that poorly emulate a terminal tty environment.

It w

[2021-06-09 13:46] cpanato commented on #1935
thanks @BenTheElder do you have a job execution that I can see, I will try my best to get this fixed, but I would like to understand what is going on.

thanks

[2021-06-09 18:07] BenTheElder commented on #1935
pull-kubernetes-verify

though I think it's easier to work with locally with running hack/verify-external-dependencies.sh

https://github.com/kubernetes/test-infra/blob/50cc7c5db83d7f21b70164ebbb080efe07039475/prow/spyglass/README.md#L92
https://github.com/kubernetes/test-infra/blob/9d41255bf9c00802cb02031e1e82cf21f15759c3/config/prow/config.yaml#L60
(note: we have to run these over all log lines

[2021-06-09 22:50] cici37 opened #2114 "`krel release-notes --create-draft-pr --fix` save original text into yaml file causing yaml parsing issue"
#### What happened:

I was trying to generate release notes for v1.22.0-alpha.3 release with command:
`krel release-notes --create-draft-pr --fix --fork=cici37 --tag v1.22.0-alpha.3` and go with `y` when was asked `Would you like to continue from the last session? (Y/n) (1/10)` follow release note [documentation](https://github.com/kubernetes/sig-release/blob/master/release-team/role-handbooks/rel

[2021-06-09 22:52] cici37 commented on #2114
cc @pmmalinov01

[2021-06-10 06:58] BenTheElder commented on #2017
cc @dims

[2021-06-10 13:59] pmmalinov01 commented on #2114
Thanks for reporting this, from my experience so far I just put "" around the value. This is exactly to prevent errors related to quotes.
[code]

As a side note could you please also use `--list-v2` parameter, it will speed up your initial download of the PRs and we should evaluate it. If it is working as expected it will be moved to default behaviour.

[2021-06-10 18:03] PushkarJ commented on #1833
@puerco has there been any progress on this? I am leading a new sub-group [sig-security-tooling](https://kubernetes.slack.com/archives/C01CUSVMHPY) and would like to give this more visibility in our upcoming meeting so we can collaborate on this. Let me know what you think :)

/sig security

[2021-06-11 13:48] thejoycekung commented on #2107
PR to update 1.19 with go1.15.13: https://github.com/kubernetes/kubernetes/pull/102809

[2021-06-11 15:56] pmmalinov01 commented on #2114
This is really strange, as we spoke the plan to take is:
1) @cici37  will create a PR to fix the broken map(101496) manually
2) run krel again to see if this will fix the issue
3) then a code change should be made to fix this issue from occurring.

cc @wilsonehusin @puerco We could use your super powers on this. Do you know any way to fix and prevent this from future runs?

[2021-06-11 15:59] cici37 commented on #2114
I raised a PR to manually fix the issue as of now. Please have a look when you have time. Thanks

Possible future plan:
Adding a yaml checking/validation process to prevent it from further happening.

[2021-06-11 19:39] cici37 commented on #2114
The script did a great job on checking/validating yaml files while auto editing. However, it would not prevent it from manual editing(after the PR is created). My suggestion would be to add an presubmit check under `https://github.com/kubernetes/sig-release` to check the yaml files under `sig-release/releases/release-[version]/release-notes/maps/`. So the PR failed yaml checking would not be able

[2021-06-13 07:29] cpanato commented on #2107
/priority important-soon

[2021-06-14 13:58] neolit123 commented on #1913
Like I have mentionion before I have no strong preference where the files are as long as they are versioned per k8s version. This would allow us to make changes in the latest version without affecting older versions.

/remove-lifecycle rotten

[2021-06-15 14:57] jeremyrickard opened #2121 "Write blog post outlining cadence changes"
Write a blog post to outline and communicate the release cadence changes.

[2021-06-16 04:23] #1204 closed

[2021-06-16 16:52] puerco opened #2125 "Ensuring up to date patches when building images"
When running an experimental kube-cross build, we ran into a non-fatal timeout when fetching the package indexes from ubuntu:

[code]
As we are building various images in parallel, this could result in an inconsistency where two images, with the same ubuntu base , have different patches as the timeout causes the failed build to read a stale version of the package index.

Should we think about a re

[2021-06-16 17:04] #2075 closed

[2021-06-17 06:04] #1645 closed

[2021-06-17 07:21] saschagrunert commented on #2125
For different architectures, right? If so, then we will have different package contents in any case.

Having a retry for the ubuntu remotes seems reasonable to me.

[2021-06-18 03:29] BenTheElder commented on #1913
yeah, at the very least I think that is an important blocker to improving the kubeadm experience and it should be a trivial problem + solution.

I really think they should also be in-tree in Kubernetes though as well because it's the most straightforward solution to ensuring they're versioned with kubernetes (they can even get small fixes between patches!), and people not using the debians/rpms st

[2021-06-20 21:17] justaugustus commented on #2017
Last piece: https://github.com/kubernetes/community/pull/5850
/assign
/area release-eng hyperkube
/sig release
/kind cleanup

[2021-06-20 21:19] justaugustus commented on #2107
It looks like we're all squared away here.
Thanks @thejoycekung and @cpanato! 🎉

/close

[2021-06-20 21:19] #2107 closed

[2021-06-21 07:36] #2017 closed

[2021-06-22 19:34] trishankatdatadog commented on #914
We're probably gonna go sigstore, no? @dlorenc @justaugustus

[2021-06-22 19:51] justaugustus commented on #914
Quite possibly! Would love if you and Dan had some time to pop by a RelEng meeting to discuss :)

cc: @kubernetes/release-engineering

[2021-06-22 20:23] trishankatdatadog commented on #914
Happy to join anytime, although Dan and @lukehinds can advise better here :)

[2021-06-23 00:12] onlydole opened #2141 "`krel announce send` is unable to retrieve release announcement form URL"
#### What happened:

When running `krel announce send --nomock --tag=v1.22.0-beta.0` I received an error about the announcement HTML not being found (404).

```FATA unable to retrieve release announcement form url: https://dl.k8s.io/archive/anago-v1.22.0-beta.0/announcement.html: HTTP error 404 Not Found for https://storage.googleapis.com/kubernetes-release/archive/anago-v1.22.0-beta.0/announcemen

[2021-06-23 00:14] justaugustus commented on #2141
/assign @puerco @justaugustus

[2021-06-23 05:57] lukehinds commented on #914
I am more than happy to jump on, is the topic marked for discussion on any particular date?

[2021-06-23 07:10] saschagrunert commented on #2141
This got introduced in https://github.com/kubernetes/release/pull/2130, which is now compressing the full archive which we probably do not want. Having a fix in mind,
/assign

[2021-06-23 12:46] #2141 closed

[2021-06-24 06:44] BenTheElder commented on #1636
AFAIK packages are actually still built with some shell scripts

https://github.com/kubernetes/release/tree/master/hack/rapture ->
https://github.com/kubernetes/release/blob/eff40a556b1f7ec298a7f376588bd8c4a16d0cf2/hack/rapture/k8s-rapture.sh#L178
https://github.com/kubernetes/release/blob/eff40a556b1f7ec298a7f376588bd8c4a16d0cf2/hack/rapture/k8s-rapture.sh#L123

->
https://github.com/kubernetes/r

[2021-07-01 04:58] puerco commented on #2013
Sorry, I missed this one @jihoon-seo I was browsing through open issues and noticed it.

Krel is not a general purpose tool, it is really meant to be run only by the release team and release managers. That is why it does not have more options like specifying a path. Likewise, the interactive mode started by `--fix` is only meant to edit the kubernetes release notes for the current cycle.  It certa

[2021-07-04 10:51] #1892 closed

[2021-07-05 19:31] puerco commented on #1521
/remove-lifecycle stale

[2021-07-08 08:36] xmudrii opened #2157 "Dependency update - Golang 1.16.6 / 1.15.14"
### Tracking info

Link to any previous tracking issue: #2107

Golang mailing list announcement: https://groups.google.com/g/golang-announce/c/JvWG9FUUYT0/m/VK1iHZosAgAJ

#release-management Slack thread: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1626164119119300

### Work items for `go1.16.6`

- [x] `kube-cross` image update: https://github.com/kubernetes/release/pull/2162

  - [x] image p

[2021-07-12 11:15] #1907 closed

[2021-07-13 07:20] #1521 closed

[2021-07-13 07:20] #1898 closed

[2021-07-13 08:33] mengjiao-liu commented on #2157
/assign
I wanted to try this work to see the process of updating the Go image.

[2021-07-14 15:44] justaugustus opened #2169 "Dependency update - Golang 1.17"
### Tracking info

Link to any previous tracking issue: N/A

Golang mailing list announcement:

- go1.17: https://groups.google.com/g/golang-announce/c/wB1fph5RpsE
- go1.17rc2: https://groups.google.com/g/golang-announce/c/yk30ovJGXWY
- go1.17rc1: https://groups.google.com/g/golang-announce/c/gJE7OtHlRbM

SIG Release Slack thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1626226473096200

[2021-07-14 17:04] justaugustus commented on #2169
FYI for go1.17 tracking.
No plan on landing this in kubernetes/kubernetes until after 1.22.0 has been been released.

cc: @thockin @liggitt @dims @kubernetes/sig-scalability

[2021-07-14 17:07] liggitt commented on #2169
https://github.com/kubernetes/kubernetes/issues/100895 needs to be resolved before updating to go1.17

[2021-07-15 15:51] jimangel opened #2172 "FATA processing the dashboards: failed to get the testgrid screenshot"
#### What happened:

The past few patch releases have failed during the `krel testgridshot` step that is automated to capture testgrid.

The error: `FATA processing the dashboards: failed to get the testgrid screenshot: HTTP status not OK (500) for ...`

xref: https://kubernetes.slack.com/archives/C2C40FMNF/p1626290498125000?thread_ts=1626290350.124700&cid=C2C40FMNF

xref: https://kubernetes.slack

[2021-07-16 07:38] saschagrunert commented on #2172
@jimangel did the retry work? Looks like we changed the implementation in https://github.com/kubernetes/release/commit/8b79779c7fb4ebb09625e243d0cb1af7f17824a5 to at least retry the connection if such an issue occurs.